{*
	Sliders Overview Table Row

	Represents a slider data table row indicating that there are no entries.
*}

{block name="admin_sliders_overview_table_row_empty"}
	<tr class="text-center">
		<td colspan="3">{$txt.NO_ENTRIES}</td>
	</tr>
{/block}