{load_language_text section="article_tabs"}

{block name="admine_article_tabs_delete"}
	<div class="article_tabs_container">
		<div class="row">
			<p class="tab_message">{$txt.delete_confirm_message}</p>
		</div>
	</div>
{/block}