{load_language_text section="sunnycash_checkout_success"}
{load_language_text section="buttons" name="button"}

{block name="module_checkout_success_sunnycash_coupons_container_coupon_code_modal_content"}
	<div class="modal-dialog">
		<div class="modal-content">
			{block name="module_checkout_success_sunnycash_coupons_container_coupon_code_modal_content_header"}
				<div class="modal-header">
					{block name="module_checkout_success_sunnycash_coupons_container_coupon_code_modal_content_header_close_btn"}
						<button type="button" class="close" data-dismiss="modal" aria-label="{$button.close}">
							<span aria-hidden="true">&times;</span>
						</button>
					{/block}
					
					{block name="module_checkout_success_sunnycash_coupons_container_coupon_code_modal_content_header_title"}
						<h4 class="modal-title">{$txt.sunnycash_coupon_modal_headline} "{$sunnycash_coupon->getName()}"</h4>
					{/block}
				</div>
			{/block}
			
			{block name="module_checkout_success_sunnycash_coupons_container_coupon_code_modal_content_body"}
				<div class="modal-body">
					<div class="row coupon-info-container">
						{block name="module_checkout_success_sunnycash_coupons_container_coupon_code_modal_content_body_coupon_logo_container"}
							<div class="coupon-logo col-xs-12 col-md-4">
								{block name="module_checkout_success_sunnycash_coupons_container_coupon_code_modal_content_body_coupon_logo"}
									<img class="img-responsive"
										 src="{$sunnycash_coupon->getShopLogo()}"
										 alt="{$sunnycash_coupon->getPartnerTitle()}"
										 onerror="$(this).hide().after('<span>{$sunnycash_coupon->getPartnerTitle()}</span>')">
								{/block}
							</div>
						{/block}

						{block name="module_checkout_success_sunnycash_coupons_container_coupon_code_modal_content_body_coupon_description"}
							<div class="coupon-description col-xs-12 col-md-8">{$sunnycash_coupon->getDescription()}</div>
						{/block}
					</div>

					{block name="module_checkout_success_sunnycash_coupons_container_coupon_code_modal_content_body_coupon_code_container"}
						<div class="row">
							<div class="coupon-code-container">
								{block name="module_checkout_success_sunnycash_coupons_container_coupon_code_modal_content_body_coupon_code_intro"}
									<div class="coupon-code-intro">{$txt.sunnycash_coupon_modal_code_info}</div>
								{/block}

								{block name="module_checkout_success_sunnycash_coupons_container_coupon_code_modal_content_body_coupon_code_box"}
									<input class="coupon-code-box" value="{$coupon_code}" readonly/>
								{/block}

								{block name="module_checkout_success_sunnycash_coupons_container_coupon_code_modal_content_body_coupon_code_copy_icon"}
									<div class="copy-coupon-icon">
										<i data-sunnycash-widget="copy"
										   data-copy-selector=".modal-body .coupon-code-box"
										   class="fa fa-copy"
										   title="{$txt.sunnycash_coupon_modal_copy_btn}"></i>
									</div>
								{/block}
							</div>
						</div>
					{/block}
				</div>
			{/block}
			
			{block name="module_checkout_success_sunnycash_coupons_container_coupon_code_modal_content_footer"}
				<div class="modal-footer">
					{block name="module_checkout_success_sunnycash_coupons_container_coupon_code_modal_content_footer_close_btn"}
						<button type="button" class="btn btn-default" data-dismiss="modal">{$button.close}</button>
					{/block}
					
					{block name="module_checkout_success_sunnycash_coupons_container_coupon_code_modal_content_footer_offer_link_btn"}
						<a class="btn btn-primary"
						   href="{$sunnycash_coupon->getUrl()}"
						   target="_blank">
							{$txt.sunnycash_coupon_modal_offer_btn}
						</a>
					{/block}
				</div>
			{/block}
		</div>
	</div>
{/block}