{load_language_text section="sunnycash_checkout_success"}

{block name="module_checkout_success_sunnycash_if"}
	{if $sunnycash_active}
		{block name="module_checkout_success_sunnycash"}
			{block name="module_checkout_success_sunnycash_headline"}
				<h2 class="sunnycash-headline">{$txt.sunnycash_coupon_headline}</h2>
			{/block}
			
			{block name="module_checkout_success_sunnycash_info_text"}
				<p class="coupon-info-text">{$txt.sunnycash_coupon_info}</p>
			{/block}
			
			{block name="module_checkout_success_sunnycash_coupon_wall_container"}
				<div class="coupon-wall-container" data-sunnycash-widget="pagination">
					{block name="module_checkout_success_sunnycash_coupon_wall"}
						<div id="sunnycash-coupon-wall" class="coupons-container row" data-sunnycash-namespace="GXModules/Gambio/SunnyCash/Shop/Templates/Honeygrid/Javascript/engine"><!-- Generated content --></div>
					{/block}
					
					{block name="module_checkout_success_sunnycash_coupon_wall_navigation_back_container"}
						<div class="sunnycash-coupon-wall-navigation-container back col-md-6 col-xs-6">
							{block name="module_checkout_success_sunnycash_coupon_wall_navigation_back"}
								<a class="sunnycash-coupon-wall-navigation back" href="#">&laquo; {$txt.sunnycash_coupon_navigation_back}</a>
							{/block}
						</div>
					{/block}
					
					{block name="module_checkout_success_sunnycash_coupon_wall_navigation_forward_container"}
						<div class="sunnycash-coupon-wall-navigation-container forward col-md-6 col-xs-6">
							{block name="module_checkout_success_sunnycash_coupon_wall_navigation_forward"}
								<a class="sunnycash-coupon-wall-navigation forward" href="#">{$txt.sunnycash_coupon_navigation_forward} &raquo;</a>
							{/block}
						</div>
					{/block}
				</div>
			{/block}
			
			{block name="module_checkout_success_sunnycash_scroller"}
				<a class="sunnycash-scroller" data-sunnycash-widget="scroller" title="{$txt.PAGE_UP}" href="#">
					<i class="fa fa-gift pull-left"></i>
					{$txt.sunnycash_coupon_scroller_text|unescape:"html" nofilter}
				</a>
			{/block}
		{/block}
	{/if}
{/block}