{load_language_text section="sunnycash_checkout_success"}

{foreach item=sunnycash_coupon from=$sunnycash_coupons}
	{block name="module_checkout_success_sunnycash_coupons_container_coupon"}
		<div class="coupon col-xs-6 col-sm-4">
			{block name="module_checkout_success_sunnycash_coupons_container_coupon_container"}
				<span class="coupon-container {if $sunnycash_coupon->getType() === 'coupon'}has-code{/if}"
				   href="{$sunnycash_coupon->getUrl()}">
					{block name="module_checkout_success_sunnycash_coupons_container_coupon_image_container"}
						<span class="coupon-image-container">
							{block name="module_checkout_success_sunnycash_coupons_container_coupon_image_container_image"}
								<span class="coupon-image">
									{block name="module_checkout_success_sunnycash_coupons_container_coupon_image_container_image_logo_if"}
										{if $sunnycash_coupon->getShopLogo()}
											{block name="module_checkout_success_sunnycash_coupons_container_coupon_image_container_image_logo"}
												<a class="{if $sunnycash_coupon->getType() === 'coupon'}has-code{/if}"
												   href="{$sunnycash_coupon->getUrl()}"
												   title="{$sunnycash_coupon->getDescription()}"
												   {if $sunnycash_coupon->getType() === "coupon"}
													   data-sunnycash-widget="coupon_modal"
													   data-coupon_id="{$sunnycash_coupon->getId()}"
													   data-modal_target="#coupon-{$sunnycash_coupon->getId()}"
												   {/if}
												   target="_blank">
													<img class="img-responsive"
													     src="{$sunnycash_coupon->getShopLogo()}"
														 alt="{$sunnycash_coupon->getPartnerTitle()}"
														 onerror="$(this).hide().after('<span>{$sunnycash_coupon->getPartnerTitle()}</span>')">
												</a>
										    {/block}
										{else}
											{block name="module_checkout_success_sunnycash_coupons_container_coupon_image_container_image_logo_text"}
												<span>
													{$sunnycash_coupon->getPartnerTitle()}
												</span>
											{/block}
										{/if}
									{/block}
								</span>
							{/block}
						</span>
					{/block}
					
					{block name="module_checkout_success_sunnycash_coupons_container_coupon_title_container"}
						<span class="coupon-title-container">
							{block name="module_checkout_success_sunnycash_coupons_container_coupon_title_container_title"}
								<span class="coupon-title">
									{$sunnycash_coupon->getName()}
								</span>
							{/block}
						</span>
					{/block}
					
					{block name="module_checkout_success_sunnycash_coupons_container_coupon_action_button_container"}
						<span class="coupon-action-button-container">
							{block name="module_checkout_success_sunnycash_coupons_container_coupon_action_button_container_button"}
								<a class="btn btn-primary btn-block {if $sunnycash_coupon->getType() === 'coupon'}has-code{/if}"
								   href="{$sunnycash_coupon->getUrl()}"
								   title="{$sunnycash_coupon->getDescription()}"
								   {if $sunnycash_coupon->getType() === "coupon"}
									   data-sunnycash-widget="coupon_modal"
									   data-coupon_id="{$sunnycash_coupon->getId()}"
									   data-modal_target="#coupon-{$sunnycash_coupon->getId()}"
								   {/if}
								   target="_blank">
									{$txt.sunnycash_coupon_choose_now}
								</a>
							{/block}
						</span>
					{/block}
				</span>
			{/block}

			{block name="module_checkout_success_sunnycash_coupons_container_coupon_code_modal_if"}
				{if $sunnycash_coupon->getType() === "coupon"}
					{block name="module_checkout_success_sunnycash_coupons_container_coupon_code_modal"}
						<div id="coupon-{$sunnycash_coupon->getId()}" class="modal fade coupon-redeem-modal" tabindex="-1" role="dialog">
							<!-- Generated content -->
						</div>
					{/block}
				{/if}
			{/block}
		</div>
	{/block}
{/foreach}