/*
	Slide Image Map Modal
    ==========================================================================

	Styles the image map edit modal in the slider details.
	
*/

$sliders-modal-width: 75%;

.image-map.modal {
	.modal-dialog {
		width: $sliders-modal-width;
		
		.row {
			&.link-target, &.info-text, &.actions {
				margin-bottom: $margin-large;
			}
			
			&.actions {
				padding-right: $padding-small;
				
				button {
					margin-left: $margin-small;
				}
			}
			
			&.image {
				margin:   0;
				border:   $border-color 1px solid;
				overflow: auto;
				height:   400px;
			}
			
			&.canvas {
				padding: 0 $padding-small 0 $padding-small;
				
				#canvas {
					border:   $border-color 1px solid;
					overflow: auto;
					height:   400px;
				}
			}
		}
	}
}

