/*
	Static SEO URL
    ==========================================================================
*/

.static-seo-urls-details {
	.form-group {
		.control-label {
			font-weight: normal !important;
		}
	}
	
	.panel {
		.panel-body {
			padding: $padding-small $padding-large;
		}
	}
	
	.toolbar {
		margin: $margin-small 0;
		
		.btn-margin {
			margin: 0 0 0 $margin-small;
		}
	}
	
	.static-seo-urls-contents-container {
		.tab-pane {
			padding: $padding-small 0;
		}
	}
}