#emails-toolbar {
	.span7 {
		padding: 0;
	}
}

#emails-modal {
	table {
		display:       table !important;
		margin-bottom: 24px;
	}
	
	.attachments {
		.responsive-file-manager {
			a.btn {
				padding: 7px 12px 8px 12px;
			}
		}
	}
}