.miscellaneous {
  // tooltip icon positioning fix
  .withdrawal_time_wrapper {
    .tooltip-icon {
      overflow: auto;
      display:  inline-block;
      float:    right;

      i {
        float: right !important;
      }
    }
  }
}