/*
	Message Stack 
    ==========================================================================

	Styling for the message-stack container. 

*/

.message-stack {
	width: 75.2%; 
	max-width: $breakpoint-width-large;
	padding: $padding-large;
	
	&:empty {
		margin-bottom: -$padding-large;
	}
}