{*
	Delete static seo url modal
	==================

	Is triggered when the user clicks on the delete button.
*}

{load_language_text section="admin_buttons" name="admin_buttons"}

{block name="admin_static_seo_urls_index_modals_delete"}
	<div class="delete-static-seo-url modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				{block name="admin_static_seo_urls_index_modals_delete_header"}
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="{$admin_buttons.BUTTON_CLOSE}">
							<span aria-hidden="true">&times;</span>
						</button>
						{block name="admin_static_seo_urls_index_modals_delete_header_title"}
							<h4 class="modal-title">{$txt.DELETE_STATIC_SEO_URL_MODAL_TITLE}</h4>
						{/block}
					</div>
				{/block}
				{block name="admin_static_seo_urls_index_modals_delete_body"}
					<div class="modal-body">
						<p>{$txt.DELETE_STATIC_SEO_URL_MODAL_TEXT}</p>
						<form class="form-horizontal">
							<fieldset>{* Dynamic Content *}</fieldset>
						</form>
					</div>
				{/block}
				{block name="admin_static_seo_urls_index_modals_delete_footer"}
					<div class="modal-footer">
						{block name="admin_static_seo_urls_index_modals_delete_footer_cancle"}
							<button type="button" class="btn btn-default" data-dismiss="modal">{$admin_buttons.BUTTON_CANCEL}</button>
						{/block}
						{block name="admin_static_seo_urls_index_modals_delete_footer_delete"}
							<button type="button" class="btn btn-primary confirm">{$admin_buttons.BUTTON_DELETE}</button>
						{/block}
					</div>
				{/block}
			</div>
		</div>
	</div>
{/block}