/* 
	Main Footer Bottom Save Bar
    ========================================================================== 

	Styling for the main footer bottom save bar.
	
*/

.bottom-save-bar {
	text-align:  right;
	margin:      -7px 12px 0 24px;
	white-space: nowrap;
	
	& > * {
		margin-left: 12px;
	}
	
	& > a {
		color: inherit;
	}
}