/* 
	Main Footer Copyright 
    ========================================================================== 

	Styling for the main footer copyright. 
	
*/

$footer-copyright-text-color: #A8A8A8;
$footer-copyright-bg-color: #5B5B5B;

.copyright {
	padding:    10px;
	background: $footer-copyright-bg-color;
	
	p {
		margin-bottom: 0;
		color:         $footer-copyright-text-color;
		text-align:    center;
		font-size:     $font-size-base - 1;
		
		a {
			color:           $footer-copyright-text-color;
			text-decoration: underline;
		}
	}
}