/* 
	Main Footer Version
    ========================================================================== 

	Styling for the main footer version. 
	
*/

.version {
	width: auto;
	max-width: 80%;
	padding:   0;
	
	i {
		margin-left: $margin-small / 2;
		
		&.shop-key-valid {
			color: $brand-success;
		}
		
		&.shop-key-invalid {
			color: $brand-danger;
		}
	}
}