{* Include this partial template to place the page navigation elements to the table header. *}

{block name="admin_quick_edit_partial_properties_datatables_page_navigation"}
	<div class="properties-page-navigation form-inline">
		<div class="form-group pull-right">
			<label class="control-label">
				{* Dynamically updated content from datatable.js (JSE library). *}
				# bis # (von #)
			</label>
			<button class="btn btn-default previous">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
			<select class="form-control">
				{* Dynamically updated content from datatable.js (JSE library). *}
				<option value="1">1 von 2</option>
				<option value="2">2 von 2</option>
			</select>
			<button class="btn btn-default next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</button>
		</div>
	</div>
{/block}