{if $PRODUCTS_FSK18 == 'true'}
	{block name="snippets_product_info_legal_age"}
		<dl class="dl-fsk18">
			<dt class="col-xs-2 fsk18-icon">
				<span>18</span>
			</dt>
			<dd class="col-xs-10 fsk18-text">
				{$txt.text_under_18}
			</dd>
		</dl>
	{/block}
{/if}
