{if $PRODUCTS_QUANTITY > 0 || $PRODUCTS_QUANTITY === "-"}
	{block name="snippets_product_info_stock"}
		<dt class="col-xs-4 text-left">
			{$txt.text_stock}
		</dt>
		<dd class="col-xs-8">
			{block name="snippets_product_info_stock_quantity"}
				<span class="products-quantity-value">
					{$PRODUCTS_QUANTITY}
				</span>
			{/block}
			{if $PRODUCTS_QUANTITY_UNIT}
				{block name="snippets_product_info_stock_unit"}
					{$PRODUCTS_QUANTITY_UNIT}
				{/block}
			{else}
				{block name="snippets_product_info_stock_pieces"}
					{$txt.text_pieces}
				{/block}
			{/if}
		</dd>
	{/block}
{/if}
