{load_language_text section="export_schemes"}

{block name="admin_export_scheme_preview"}
	{block name="admin_export_scheme_preview_headline"}
		<div class="preview_headline">
			{$txt.preview}
			<div class="tooltip" title="{$txt.tooltip_preview}"><!-- --></div>
		</div>
	{/block}
	<div class="clear_both"> <!-- --> </div>
	{block name="admin_export_scheme_preview_content"}
		<div style="width: 100%; height: 177px; overflow: auto; text-align: left;">
			{block name="admin_export_scheme_preview_content_table"}
				<table cellspacing="1">
					{block name="admin_export_scheme_preview_content_table_thead"}
						<tr>
							{foreach key=key item=value from=$content_data.headline_data}
								<th>{$value|htmlentities_wrapper}</th>
							{/foreach}
						</tr>
					{/block}
					{foreach item=row from=$content_data.export_data}
						{block name="admin_export_scheme_preview_content_table_row"}
							<tr>
								{foreach item=col from=$row}
									<td>{$col}</td>
								{/foreach}
							</tr>
						{/block}
					{/foreach}
				</table>
			{/block}
		</div>
	{/block}
	{block name="admin_export_scheme_preview_javascript"}
		<script type="text/javascript">
			// Re-enable tooltip plugin (does not work otherwise).
			$('.preview_headline .tooltip').tooltip_plugin();
		</script>
	{/block}
{/block}