{load_language_text section="export_schemes"}

{block name="admin_export_scheme_field_delete"}
	<div style="margin: 10px 0 0 0; font-weight: bold; text-align: center;">{$txt.delete_scheme_field_message}</div>
	<div style="margin: 0 0 20px 0; text-align: center;">{$txt.delete_scheme_field_notification}</div>
{/block}