{block name="admin_export_overview"}
	<div id="export_overview">
		{block name="admin_export_overview_headline"}
			<div id="export_tab_headline_container">
				{foreach from=$content_data.export_tabs key=type_id item=type name=export_tab_headline }
					{block name="admin_export_overview_headline_tab_headline"}
						<a href="#" onclick="return false;" class="export_tab_headline {if $smarty.foreach.export_tab_headline.first}active{/if}" rel="tab_container_{$type_id}">{$type.name}</a>
					{/block}
				{/foreach}
				<div class="clear_both"> <!-- --> </div>
			</div>
		{/block}
		{block name="admin_export_overview_content"}
			<div id="export_tab_content_container">
				{foreach from=$content_data.export_tabs key=type_id item=type name=export_tab_content }
					{block name="admin_export_overview_content_tab_content"}
						<div class="tab_container" id="tab_container_{$type_id}" {if !$smarty.foreach.export_tab_content.first}style="display: none;"{/if}>{$type.content}</div>
					{/block}
				{/foreach}
			</div>
		{/block}
	</div>
{/block}