{* 
	DataTables Header Template 
	
	This template will use the $content.columns variable which contains the serialized column definitions, 
	in order to generate the table headings row of the thead element.
*}

{block name="admin_layouts_main_partial_datatables_heading_row"}
	<tr role="row">
		<th data-column-name="checkbox"><input type="checkbox" class="bulk-selection" /></th>
	
		{foreach $content.columns as $column}
			{block name="admin_layouts_main_partial_datatables_heading_row_column"}
				<th data-column-name="{$column.name}">{$column.title}</th>
			{/block}
		{/foreach}
	
		<th data-column-name="actions">{include file="get_usermod:layouts/main/partial/datatables_page_navigation.html"}</th>
	</tr>
{/block}