{* 
	Define the template scripts that will be placed in the bottom of the layout (right before the body
	closing tag). 
*}

{block name="admin_layouts_main_partial_layout_scripts"}
	<script src="../JSEngine/build/vendor{$suffix}.js"></script>
	<script src="html/assets/javascript/admin-vendor{$suffix}.js"></script>
	<script src="../JSEngine/build/jse{$suffix}.js"></script>
{/block}