{load_language_text section="account_edit"}
{load_language_text section="buttons" name="button"}

{block name="module_account_edit"}
	{block name="module_account_edit_title"}
		<h1>{$txt.heading_account}</h1>
	{/block}

	{block name="module_account_edit_form"}
		<form id="{$FORM_ID}" action="{$FORM_ACTION_URL}" method="{$FORM_METHOD}" class="form-horizontal">
			
			{block name="module_account_edit_fieldset"}
				<fieldset>
					
					{block name="module_account_edit_legend"}
						<legend>
							{$txt.title_personal}
						</legend>
					{/block}
					
					{block name="module_account_edit_gender_if"}
						{if $gender == '1'}
							{block name="module_account_edit_gender"}
								<div class="form-group{if $form_data.gender.required == '1'} mandatory{/if}{if $error_gender} has-feedback has-error{/if}">
									
									{block name="module_account_edit_gender_label"}
										<label class="control-label col-sm-3">
											{$txt.label_gender}
										</label>
									{/block}
									
									{block name="module_account_edit_gender_container"}
										<div class="col-sm-9 input-container">
											
											{block name="module_account_edit_gender_span_m"}
												<span class="radio-inline">
													{block name="module_account_edit_gender_label_m"}
														<label for="{$form_data.gender.name}-m">
															{block name="module_account_edit_gender_radio_m"}
																<input type="radio" id="{$form_data.gender.name}-m"  name="{$form_data.gender.name}" value="{$form_data.gender.m.value}"
																	   {if ($form_data.gender.m.checked|intval) === 1} checked="checked" {/if}/>
																{$txt.gender_male}
															{/block}
														</label>
													{/block}
												</span>
											{/block}
							
											<span>&nbsp;</span>
											
											{block name="module_account_edit_gender_span_f"}
												<span class="radio-inline">
													{block name="module_account_edit_gender_label_f"}
														<label for="{$form_data.gender.name}-f">
															{block name="module_account_edit_gender_radio_f"}
																<input type="radio" id="{$form_data.gender.name}-f"  name="{$form_data.gender.name}" value="{$form_data.gender.f.value}"
																	   {if ($form_data.gender.f.checked|intval) === 1} checked="checked" {/if}/>
																{$txt.gender_female}
															{/block}
														</label>
													{/block}
												</span>
											{/block}
						
										</div>
									{/block}
									
									{block name="module_account_edit_gender_error_if"}
										{if $error_gender}
											{block name="module_account_edit_gender_error"}
												<div class="help-block">
													<span class="col-sm-3">
														&nbsp;
													</span>
													<span class="col-sm-9 help-block">
														{$error_gender}
													</span>
												</div>
											{/block}
										{/if}
									{/block}
								</div>
							{/block}
						{/if}
					{/block}
					
					{block name="module_account_edit_firstname"}
						<div class="form-group{if $form_data.firstname.required == '1'} mandatory{/if}{if $error_first_name} has-feedback has-error{/if}">
							{block name="module_account_edit_firstname_label"}
								<label for="{$form_data.firstname.name}" class="control-label col-sm-3">
									{$txt.label_firstname}
								</label>
							{/block}
							
							{block name="module_account_edit_firstname_container"}
								<div class="col-sm-9 col-lg-6 input-container">
									{block name="module_account_edit_firstname_input"}
										<input type="text"
											   placeholder="{$txt.label_firstname}"
											   id="{$form_data.firstname.name}"
											   name="{$form_data.firstname.name}"
											   class="form-control"
											   value="{$form_data.firstname.value}" />
									{/block}
									
									{block name="module_account_edit_firstname_error_if"}
										{if $error_first_name}
											{block name="module_account_edit_firstname_error"}
												<span class="help-block">
													{$error_first_name}
												</span>
											{/block}
										{/if}
									{/block}
								</div>
							{/block}
						</div>
					{/block}
					
					{block name="module_account_edit_lastname"}
						<div class="form-group{if $form_data.lastname.required == '1'} mandatory{/if}{if $error_last_name} has-feedback has-error{/if}">
							{block name="module_account_edit_lastname_label"}
								<label for="{$form_data.lastname.name}" class="control-label col-sm-3">
									{$txt.label_lastname}
								</label>
							{/block}
								
							{block name="module_account_edit_lastname_container"}
								<div class="col-sm-9 col-lg-6 input-container">
									{block name="module_account_edit_lastname_input"}
										<input type="text"
											   placeholder="{$txt.label_lastname}"
											   id="{$form_data.lastname.name}"
											   name="{$form_data.lastname.name}"
											   class="form-control"
											   value="{$form_data.lastname.value}" />
									{/block}
									
									{block name="module_account_edit_lastname_error_if"}
										{if $error_last_name}
											{block name="module_account_edit_lastname_error"}
												<span class="help-block">
													{$error_last_name}
												</span>
											{/block}
										{/if}
									{/block}
								</div>
							{/block}
						</div>
					{/block}
					
					{block name="module_account_edit_birthdate_if"}
						{if $birthdate=='1'}
							{block name="module_account_edit_birthdate"}
								<div class="form-group{if $form_data.birthdate.required == '1'} mandatory{/if}{if $error_birth_day != ''} has-feedback has-error{/if}">
									{block name="module_account_edit_birthdate_label"}
										<label for="{$id}" class="control-label col-sm-3">
											{$txt.label_birthdate}
										</label>
									{/block}
									
									{block name="module_account_edit_birthdate_container"}
										<div class="col-sm-9 col-lg-6 input-container">
											{block name="module_account_edit_birthdate_input"}
												<input type="text"
													   placeholder="{$txt.label_birthdate}"
													   id="{$form_data.birthdate.name}"
													   name="{$form_data.birthdate.name}"
													   class="form-control form-type-date" value="{$form_data.birthdate.value}"
													   data-jse-widget="datepicker"
													   data-datepicker-default-date="{$form_data.birthdate.default_value}"
													   data-datepicker-year-range="-110:+0"
												/>
											{/block}
											
											{block name="module_account_edit_birthdate_hint"}
												<span class="help-block">
													{$txt.birthday_example}
												</span>
											{/block}
											
											{block name="module_account_edit_birthdate_error_if"}
												{if $error_birth_day}
													{block name="module_account_edit_birthdate_error"}
														<span class="help-block">
															{$error_birth_day}
														</span>
													{/block}
												{/if}
											{/block}
										</div>
									{/block}
								</div>
							{/block}
						{/if}
					{/block}
					
					{block name="module_account_edit_email"}
						<div class="form-group{if $form_data.email.required == '1'} mandatory{/if}{if $error_mail} has-feedback has-error{/if}">
							{block name="module_account_edit_email_label"}
								<label for="{$form_data.email.name}" class="control-label col-sm-3">
									{$txt.label_email}
								</label>
							{/block}
							
							{block name="module_account_edit_email_container"}
								<div class="col-sm-9 col-lg-6 input-container">
									{block name="module_account_edit_email_input"}
										<input type="email"
											   placeholder="{$txt.label_email}"
											   id="{$form_data.email.name}"
											   name="{$form_data.email.name}"
											   class="form-control"
											   value="{$form_data.email.value}" />
									{/block}
									
									{block name="module_account_edit_email_error_if"}
										{if $error_mail}
											{block name="module_account_edit_email_error"}
												<span class="help-block">
													{$error_mail}
												</span>
											{/block}
										{/if}
									{/block}
								</div>
							{/block}
						</div>
					{/block}

					{if isset($form_data.telephone.name)}
						{block name="module_account_edit_tel"}
							<div class="form-group{if $form_data.telephone.required == '1'} mandatory{/if}{if $error_tel} has-feedback has-error{/if}">
								{block name="module_account_edit_tel_label"}
									<label for="{$form_data.email.name}" class="control-label col-sm-3">
										{$txt.label_tel}
									</label>
								{/block}

								{block name="module_account_edit_tel_container"}
									<div class="col-sm-9 col-lg-6 input-container">
										{block name="module_account_edit_tel_input"}
											<input type="tel"
												   placeholder="{$txt.label_tel}"
												   id="{$form_data.telephone.name}"
												   name="{$form_data.telephone.name}"
												   class="form-control" value="{$form_data.telephone.value}" />
										{/block}

										{block name="module_account_edit_tel_error_if"}
											{if $error_tel}
												{block name="module_account_edit_tel_error"}
													<span class="help-block">
														{$error_tel}
													</span>
												{/block}
											{/if}
										{/block}
									</div>
								{/block}
							</div>
						{/block}
					{/if}

					{if isset($form_data.fax)}
						{block name="module_account_edit_fax"}
							<div class="form-group">
								{block name="module_account_edit_fax_label"}
									<label for="{$form_data.fax.name}" class="control-label col-sm-3">
										{$txt.label_fax}
									</label>
								{/block}

								{block name="module_account_edit_fax_container"}
									<div class="col-sm-9 col-lg-6 input-container">
										{block name="module_account_edit_fax_input"}
											<input type="tel"
												   placeholder="{$txt.label_fax}"
												   id="{$form_data.fax.name}"
												   name="{$form_data.fax.name}"
												   class="form-control" value="{$form_data.fax.value}" />
										{/block}
									</div>
								{/block}
							</div>
						{/block}
					{/if}

					{block name="module_account_edit_var_if"}
						{if $vat == '1'}
							{block name="module_account_edit_var"}
								<div class="form-group{if $form_data.vat.required == '1'} mandatory{/if}{if $error_vat} has-feedback has-error{/if}">
									{block name="module_account_edit_var_label"}
										<label for="{$form_data.vat.name}" class="control-label col-sm-3">
											{$txt.label_vat}
										</label>
									{/block}
									
									{block name="module_account_edit_var_container"}
										<div class="col-sm-9 col-lg-6 input-container">
											{block name="module_account_edit_var_input"}
												<input type="text"
													   placeholder="{$txt.label_vat}"
													   id="{$form_data.vat.name}"
													   name="{$form_data.vat.name}"
													   class="form-control" value="{$form_data.vat.value}" />
											{/block}
											
											{block name="module_account_edit_var_error_if"}
												{if $error_vat}
													{block name="module_account_edit_var_error"}
														<span class="help-block">
															{$error_vat}
														</span>
													{/block}
												{/if}
											{/block}
										</div>
									{/block}
					
								</div>
							{/block}
						{/if}
					{/block}
			
				</fieldset>
			{/block}
			
			{block name="module_account_edit_privacy_if"}
				{if $GM_PRIVACY_LINK != '0'}
					{block name="module_account_edit_privacy"}
						<fieldset{if $error_privacy} class="has-error"{/if}>
			
							{block name="module_account_edit_privacy_legend_if"}
								{if $txt.title_privacy}
									{block name="module_account_edit_privacy_legend"}
										<legend>
											{$txt.title_privacy}
										</legend>
									{/block}
								{/if}
							{/block}
			
							{block name="module_account_edit_privacy_checkbox_if"}
								{if $show_privacy_checkbox}
									{block name="module_account_edit_privacy_checkbox"}
										<input id="privacy_accepted" type="checkbox" name="privacy_accepted" value="1"{if $form_data.privacy_accepted.value} checked="checked"{/if}/>
										<label for="privacy_accepted">{$GM_PRIVACY_LINK}</label>
									{/block}
								{else}
									{block name="module_account_edit_privacy_link"}
										<span>{$GM_PRIVACY_LINK}</span>
									{/block}
								{/if}
							{/block}
			
							{block name="module_account_edit_privacy_error_if"}
								{if $error_privacy}
									{block name="module_account_edit_privacy_error"}
										<span class="help-block">
											{$error_privacy}
										</span>
									{/block}
								{/if}
							{/block}
						</fieldset>
					{/block}
				{/if}
			{/block}
		
			<input type="hidden" name="{$HIDDEN_FIELD_NAME}" value="{$HIDDEN_FIELD_VALUE}" />
			
			{block name="module_account_edit_buttons"}
				<div class="row">
					<div class="col-xs-6 col-sm-4 col-md-3">
						{block name="module_account_edit_buttons_back"}
							<a class="btn btn-default btn-block" href="{$BUTTON_BACK_LINK}" title="{$button.back}">
								{$button.back}
							</a>
						{/block}
					</div>
					<div class="col-xs-6 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-6 text-right">
						{block name="module_account_edit_buttons_submit"}
							<button type="submit" class="btn btn-primary btn-block" title="{$button.save}">
								{$button.save}
							</button>
						{/block}
					</div>
				</div>
			{/block}
		
		</form>
	{/block}

	{block name="module_account_edit_mandatory_info_if"}
		{if $delete!='1'}
			{block name="module_account_edit_mandatory_info"}
				<p class="mandatory-info">
					{$txt.text_required}
				</p>
			{/block}
		{/if}
	{/block}
{/block}