/* RTL */਍ഀ
body.no-touch {਍ഀ
    font-family: Nubmer, Yekan, "Open Sans", Tahoma;਍ഀ
}਍ഀ
.container-fluid,.uploader,.row-fluid,input {direction: rtl;}਍ഀ
.row-fluid [class*=span] {਍ഀ
    text-align: left;਍ഀ
}਍ഀ
::-webkit-input-placeholder { /* Chrome/Opera/Safari */਍ഀ
    font-family: Nubmer, Yekan, "Open Sans", Tahoma;਍ഀ
}਍ഀ
::-moz-placeholder { /* Firefox 19+ */਍ഀ
    font-family: Nubmer, Yekan, "Open Sans", Tahoma;਍ഀ
}਍ഀ
:-ms-input-placeholder { /* IE 10+ */਍ഀ
    font-family: Nubmer, Yekan, "Open Sans", Tahoma;਍ഀ
}਍ഀ
:-moz-placeholder { /* Firefox 18- */਍ഀ
    font-family: Nubmer, Yekan, "Open Sans", Tahoma;਍ഀ
}਍ഀ
button, input, select, textarea {਍ഀ
    font-family: Nubmer, Yekan, "Open Sans", Tahoma;਍ഀ
}਍ഀ
.filters .types {਍ഀ
    text-align: right !important;਍ഀ
}਍ഀ
.pull-right {਍ഀ
    float: left;਍ഀ
}਍ഀ
.pull-left {਍ഀ
    float: right;਍ഀ
}਍ഀ
.sorter-container .file-date,਍ഀ
.sorter-container .file-extension,਍ഀ
.sorter-container .file-name,਍ഀ
.sorter-container .file-operations,਍ഀ
.sorter-container .file-size,਍ഀ
.sorter-container .img-dimension {਍ഀ
    text-align: right;਍ഀ
}਍ഀ
.sorter-container .file-name {਍ഀ
    width: 50px;਍ഀ
	left: auto;਍ഀ
    right: 52px;਍ഀ
}਍ഀ
.sorter-container .file-date {਍ഀ
    width: 70px;਍ഀ
	right: auto;਍ഀ
    left: 188px;਍ഀ
}਍ഀ
.sorter-container .file-size {਍ഀ
    width: 55px;਍ഀ
	right: auto;਍ഀ
    left: 258px;਍ഀ
}਍ഀ
.sorter-container .img-dimension {਍ഀ
    width: 65px;਍ഀ
    right: auto;਍ഀ
    left: 123px;਍ഀ
}਍ഀ
.sorter-container .file-extension {਍ഀ
    width: 40px;਍ഀ
    right: auto;਍ഀ
    left: 313px;਍ഀ
}਍ഀ
.sorter-container .file-operations {਍ഀ
    width: 110px;਍ഀ
    right: auto;਍ഀ
    left: 0;਍ഀ
}਍ഀ
.list-view1.grid .file-date, .list-view1.grid .file-extension, .list-view1.grid .file-size, .list-view1.grid .img-dimension {਍ഀ
    text-align: right;਍ഀ
}਍ഀ
.list-view1.grid li figure .box, .list-view2.grid li figure .box {਍ഀ
    margin-left: 0;਍ഀ
    margin-right: 50px;਍ഀ
}਍ഀ
.list-view1.grid figure .box {਍ഀ
    padding-right: 0;਍ഀ
    padding-left: 352px;਍ഀ
}਍ഀ
.list-view1.grid li figure .box h4, .list-view2.grid li figure .box h4 {਍ഀ
    padding-top: 1px;਍ഀ
    font-size: 13px;਍ഀ
    text-align: right;਍ഀ
}਍ഀ
.list-view1.grid figcaption, .list-view2.grid figcaption {਍ഀ
    right: auto;਍ഀ
    left: 0;਍ഀ
    text-align: left;਍ഀ
}਍ഀ
.list-view1.grid .file-date {਍ഀ
    width: 70px;਍ഀ
    right: auto;਍ഀ
    left: 185px;਍ഀ
}਍ഀ
.list-view1.grid .img-dimension {਍ഀ
    width: 65px;਍ഀ
    right: auto;਍ഀ
    left: 120px;਍ഀ
}਍ഀ
.list-view1.grid .file-extension {਍ഀ
    width: 40px;਍ഀ
    right: auto;਍ഀ
    left: 310px;਍ഀ
}਍ഀ
.list-view1.grid .file-size {਍ഀ
    width: 55px;਍ഀ
    right: auto;਍ഀ
    left: 255px;਍ഀ
}਍ഀ
#main-item-container {text-align: right;}਍ഀ
.list-view2.grid figure .box {਍ഀ
    padding-left: 115px;਍ഀ
    padding-right: 0;਍ഀ
}਍ഀ
.modal-scrollable {਍ഀ
    direction: rtl;਍ഀ
}਍ഀ
.modal-footer .btn+.btn {਍ഀ
    margin-left: 0;਍ഀ
    margin-right: 5px;਍ഀ
}਍ഀ
.close {਍ഀ
    float: left;਍ഀ
}਍ഀ
ul.sorting {਍ഀ
    padding: 5px 10px;਍ഀ
}਍ഀ
.dropdown-menu>li>a {਍ഀ
    padding: 5px 0px;਍ഀ
}਍ഀ
ul.sorting.dropdown-menu>li>a.descending {਍ഀ
    background-position: 0px 12px;਍ഀ
}਍ഀ
ul.sorting.dropdown-menu>li>a.ascending {਍ഀ
    background-position: 0px 12px;਍ഀ
}