<div class="modal fade edit-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{$vpe.TEXT_INFO_HEADING_EDIT_PRODUCTS_VPE}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<p class="vpe-modal-info">{$vpe.TEXT_INFO_EDIT_INTRO}</p>
						<form class="form-horizontal">
							{* data is provided by vpe/overview.js *}
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{$button.abort}</button>
				<button id="edit-vpe" type="button" class="btn btn-primary">{$button.update}</button>
			</div>
		</div>
	</div>
</div>