/* 
	Add Tracking Number Modal 
    ========================================================================== 

	Styles the add-tracking-number modal of the orders page. 
	
*/

.add-tracking-number.modal {
	.modal-body {
		fieldset.add-tracking-number-group {
			width: 75%;
			
			legend {
				color:          $text-color-light;
				font-size:      $font-size-base;
				font-weight:    bold;
				padding-bottom: $padding-small / 2;
			}
			
			ul.add-tracking-number {
				list-style: none;
				margin:     0;
				padding:    0;
				
				.form-control {
					margin-bottom: $margin-small;
				}
			}
		}
	}
	
	.modal-footer {
		span {
			float:       left;
			padding-top: $padding-small / 2;
		}
	}
}