{block name="box_login_dropdown_form_submit" append}
	{load_language_text section="SingleSignon" name="sso"}

	{if $content_data.sso}
		<div class="dropdown-sso">
			{if $content_data.sso.googleLoginUrl}
				<a class="sso-link sso-link-google" title="{$sso.login_with_google}" href="{$content_data.sso.googleLoginUrl}">
					<i class="ssoicon fa fa-google" aria-hidden="true"></i>
				</a>
			{/if}
			{if $content_data.sso.facebookLoginUrl}
				<a class="sso-link sso-link-facebook" title="{$sso.login_with_facebook}" href="{$content_data.sso.facebookLoginUrl}">
					<i class="ssoicon fa fa-facebook-official" aria-hidden="true"></i>
				</a>
			{/if}
			{if $content_data.sso.paypalLoginUrl}
				<a class="sso-link sso-link-paypal" title="{$sso.login_with_paypal}" href="{$content_data.sso.paypalLoginUrl}">
					<i class="ssoicon fa fa-paypal" aria-hidden="true"></i>
				</a>
			{/if}
			{if $content_data.sso.amazonLoginUrl}
				<a class="sso-link sso-link-amazon" title="{$sso.login_with_amazon}" href="{$content_data.sso.amazonLoginUrl}">
					<i class="ssoicon fa fa-amazon" aria-hidden="true"></i>
				</a>
			{/if}
		</div>
	{/if}
{/block}
