/* 
	DataTables Page Length Partial 
    ========================================================================== 

	Most of the markup is styled with Bootstrap and helper classes. 
	
*/

.page-length {
	select {
		display: inline;
		width:   auto;
	}
}