{block name="admin_layouts_main_header"}
	<header id="main-header">
		{* Logo *}
		{block name="admin_layouts_main_header_logo"}
			<div class="logo">
				<a href="start.php?{$shop_version}">
					<img src="html/assets/images/gx-admin/gambio-logo-white.png" />
					<h1>GAMBIO ADMIN</h1>
				</a>
			</div>
		{/block}
	
		{* Search *}
		{block name="admin_layouts_main_header_search_dpl"}
			<div class="search">
				{include file="get_usermod:layouts/main/header/search.html"}
			</div>
		{/block}
	
		{* Actions *}
		{block name="admin_layouts_main_header_actions_dpl"}
			<div class="actions">
				{include file="get_usermod:layouts/main/header/actions.html"}
			</div>
		{/block}
	</header>
{/block}