{*
	Admin Search
	============

	Admin search bar.

	Parameters:
		- $recent_search_area {String} Recent search area name (optional)
*}

{load_language_text section="admin_labels" name="admin_labels"}

{block name="admin_layouts_main_header_search"}
	<div data-gx-controller="layouts/main/header/search"
	     data-search-customer-id="{$_SESSION.customer_id}"
	     data-search-recent-search-area="{$recent_search_area}"
		 id="search-controller">
		{* Input field *}
		{block name="admin_layouts_main_header_search_input"}
			<input type="text" class="input dropdown-toggle" placeholder="" data-toggle="dropdown">
		{/block}
	
		{* Search entities list *}
		{block name="admin_layouts_main_header_search_list"}
			<ul class="list dropdown-menu">
				{block name="admin_layouts_main_header_search_list_orders"}
					<li class="list-item" data-search-area="orders">
						<a> <span class="placeholder"></span> <span>{$admin_labels.admin_search_in_label} {$admin_labels.admin_search_orders}</span>
						</a>
					</li>
				{/block}
				{block name="admin_layouts_main_header_search_list_invoices"}
					<li class="list-item" data-search-area="invoices">
						<a> <span class="placeholder"></span> <span>{$admin_labels.admin_search_in_label} {$admin_labels.admin_search_invoices}</span>
						</a>
					</li>
				{/block}
				{block name="admin_layouts_main_header_search_list_customers"}
					<li class="list-item" data-search-area="customers">
						<a> <span class="placeholder"></span> <span>{$admin_labels.admin_search_in_label} {$admin_labels.admin_search_customers}</span>
						</a>
					</li>
				{/block}
				{block name="admin_layouts_main_header_search_list_categories_products"}
					<li class="list-item" data-search-area="categories">
						<a> <span class="placeholder"></span> <span>{$admin_labels.admin_search_in_label} {$admin_labels.admin_search_categories}</span>
						</a>
					</li>
				{/block}
			</ul>
		{/block}
	</div>
{/block}