{extends file="get_usermod:layouts/main/layout.html"}

{block name="content"}
	{load_language_text section="buttons" name="button"}
	{load_language_text section="admin_labels" name="label"}
	{load_language_text section="admin_general" name="general"}
	{load_language_text section="products_vpe" name="vpe"}
	<div class="gx-container breakpoint-small" data-gx-controller="vpe/overview">
		<div class="grid">
			<div class="span12 remove-padding">
				<a id="add-vpe" class="btn btn-success btn-create pull-right" data-target=".create-modal">
					<i class="fa fa-plus"></i>
					<span>&nbsp;</span>
					{$button.create}
				</a>
			</div>
		</div>

		<table class="vpe-table table">
			<thead>
				<tr>
					<th>{$vpe.HEADING_TITLE}</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{foreach item=vpeEntity from=$content.vpeEntities}
					<tr>
						<td>
							{$vpeEntity->getName($content.languageCode)}
							{if $vpeEntity->isDefault()}
								({$general.TEXT_DEFAULT})
							{/if}
						</td>
						<td class="actions">
							<div class="pull-right action-list visible-on-hover">
								<i data-id="{$vpeEntity->getId()}" class="fa fa-pencil edit"></i>
								{if !$vpeEntity->isDefault()}
									<i data-id="{$vpeEntity->getId()}" class="fa fa-trash-o delete"></i>
								{/if}
							</div>
						</td>
					</tr>
				{/foreach}
			</tbody>
		</table>
		{include file="get_usermod:vpe/modals/creation_modal.html"}
		{include file="get_usermod:vpe/modals/edit_modal.html"}
		{include file="get_usermod:vpe/modals/remove_confirmation_modal.html"}
	</div>
{/block}
