/* --------------------------------------------------------------
   stylesheet.css 2017-12-15
   Gambio GmbH
   http://www.gambio.de
   Copyright (c) 2017 Gambio GmbH
   Released under the GNU General Public License (Version 2)
   [http://www.gnu.org/licenses/gpl-2.0.html]
   --------------------------------------------------------------
*/

/* === DEFAULT FONT DEFINITION ====================================================================================== */

* {
	font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* === BOOTSTRAP SPECIFIC STYLES ==================================================================================== */

p {
	margin: 0 0 15px;
}

.btn {
	background-image: none !important;
	border-width:     0;
	border-radius:    0 0 0 0;
	box-shadow:       inset 0 1px 1px rgba(0, 0, 0, 0.10);
	font-weight:      300;
}

.btn.btn-default {
	background-color: #EEEEEE;
}

a:hover.btn.btn-default, input:hover.btn.btn-default {
	background-color: #DDDDDD;
}

.form-control {
	border-radius: 0;
	border-width:  0;
	background:    #EEEEEE;
	box-shadow:    none;
	font-weight:   300;
}

.form-control:focus {
	box-shadow:       none;
	background-color: #DDDDDD;
}

.alert {
	display:    block;
	box-shadow: none;
	margin:     20px 0 0 0;
}

.alert:last-child {
	margin-bottom: 20px;
}

.alert.alert-danger {
	background-color: #E7C3C3;
	background-image: none;
	border-color:     #EBCCD1;
}

.alert.alert-warning {
	background-color: #F8EFC0;
	background-image: none;
	border-color:     #F5E79E;
}

/* === PAGE STYLES ================================================================================================== */

body {
	background-color: #2196F3;
}

body .page-header {
	border:  none;
	color:   #FFFFFF;
	margin:  0;
	padding: 0;
}

body .page-header #logo {
	display: inline-block;
	margin:  7px 12px;
	width:   32px;
}

body .page-header h1 {
	display:        inline-block;
	font-size:      16px;
	font-weight:    800;
	margin:         0;
	text-transform: uppercase;
}

body .container {
	min-height:      84vh;
	display:         flex;
	align-items:     center;
	justify-content: center;
}

body .container .row #main {
	background-color: #FFFFFF;
	box-shadow:       0 8px 7px -7px #000C;
	margin-bottom:    15px;
	padding:          45px;
	width:            60vw;
}

body .container .row #main h2 {
	font-size:      18px;
	font-weight:    normal;
	width:          100%;
	padding-bottom: 5px;
	border-bottom:  1px solid #E5E5E5;
}

body .container .notice_field h3 {
	font-size: 16px;
}

body .container .row #main #install_service {
	background-color: #EEEEEE;
	box-shadow:       inset 0 1px 1px rgba(0, 0, 0, 0.10);
	margin-bottom:    45px;
	padding:          15px;
}

body .container .row #main .robots_data {
	background-color: #EEEEEE;
	box-shadow:       inset 0 1px 1px rgba(0, 0, 0, 0.10);
	padding:          15px;
}

body .container .row #main .installation-text {
	margin-bottom: 15px;
}

body .container .row #main .error_field {
	background-color: #E7C3C3;
	box-shadow:       inset 0 1px 1px rgba(0, 0, 0, 0.10);
	color:            #A94442;
	margin:           15px 0;
	max-height:       30vh;
	overflow:         auto;
	padding:          10px 15px;
}

body .container .row #main .notice_field {
	background-color: #EEEEEE;
	box-shadow:       inset 0 1px 1px rgba(0, 0, 0, 0.10);
	margin-bottom:    15px;
	max-height:       20vh;
	overflow:         auto;
	padding:          5px 15px;
}

body .container .row #main .error_field .no-duplicate {
	color: #333333;
}

body .container .row #main .ftp-dir-listing {
	background-color: #EEEEEE;
	box-shadow:       inset 0 1px 1px rgba(0, 0, 0, 0.10);
	max-height:       30vh;
	overflow:         auto;
	padding:          10px 15px;
	margin:           15px 0;
}

body .container .row #main .ftp-dir-listing input[type="submit"]:not(.btn) {
	background: none;
	border:     none;
	padding:    0;
}

body .container .row #main legend {
	font-size: 18px;
}

body .container .row #main .ftp_data .skip {
	margin-top: 30px;
}

body .container .row #main .input_error,
body .container .row #main #http_server_error {
	line-height: 46px;
	color:       #A94442;
}

body .container .row #main .invalid {
	background-color: #E7C3C3;
	color:            #A94442;
}

body .container .row #main .valid {
	background-color: #C8E5BC;
	color:            #3C763D;
}

body .container .row #main #force_db {
	margin-right: 10px;
}

body .container .row #main .progress {
	background: none;
}

body .container .row #main #ajax .progress-bar-container {
	box-shadow:       inset 0 1px 1px rgba(0, 0, 0, 0.10);
	background-color: #EEEEEE;
}

body .container .row #main #ajax .progress-bar-container .progress-bar {
	height:      40px;
	line-height: 40px;
	text-align:  center;
	color:       #FFFFFF;
	font-weight: bold;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

body .container .row #main .loading-spinner {
	display:    block;
	text-align: center;
	margin:     30px 0;
}

body .container .row #main .loading-spinner i {
	color:     #2196F3;
	font-size: 100px;
}

body .container .row #main .final-settings-text {
	display:    block;
	text-align: center;
}

.input_error, #main .shop_data, #main .robots_data, #main .finish, #main .button.shop_data, #main .button.robots_data, #main .button.finish, .progress {
	display: none;
}

body footer #copyright {
	margin:     0 auto;
	width:      50%;
	color:      rgba(255, 255, 255, 0.25);
	font-size:  12px;
	text-align: center;
}

body footer #copyright a {
	color:           rgba(255, 255, 255, 0.25);
	text-decoration: underline;
}

body .loading-spinner .step-spin {
	animation-name:            spin;
	animation-duration:        900ms;
	animation-iteration-count: infinite;
	animation-timing-function: steps(8);
	transform-origin:          50% calc(50% + 0.5px);
	color:                     #2196F3;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}