{load_language_text section="admin_quick_edit" name="admin_quick_edit"}

{block name="admin_quick_edit_modals_settings"}
	<div class="settings modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				{block name="admin_quick_edit_modals_settings_header"}
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="{$btn.close}">
							<span aria-hidden="true">&times;</span>
						</button>
						{block name="admin_quick_edit_modals_settings_header_title"}
							<h4 class="modal-title">{$admin_quick_edit.MODAL_TITLE_SETTINGS}</h4>
						{/block}
					</div>
				{/block}
				
				{block name="admin_quick_edit_modals_settings_body"}
					<div class="modal-body"
						 data-gx-widget="switcher"
						 data-gx-controller="quick_edit/modals/settings"
						 data-settings-user-id="{$_SESSION.customer_id}">
						
						{block name="admin_quick_edit_modals_settings_body_form"}
							<form class="form-horizontal quick-edit-settings">
								{block name="admin_quick_edit_modals_settings_body_form_columns"}
									<fieldset class="settings-group">
										{block name="admin_quick_edit_modals_settings_body_form_columns_legend"}
											<legend>{$admin_quick_edit.COLUMNS}</legend>
										{/block}
										{block name="admin_quick_edit_modals_settings_body_form_columns_list"}
											<ul class="settings">
												{* Iterate over each available columns and set the sorting and visibility. *}
												{foreach $content.columns as $column}
													{block name="admin_quick_edit_modals_settings_body_form_columns_item"}
														<li id="setting-{$column.name}">
															<div class="form-group">
																{block name="admin_quick_edit_modals_settings_body_form_columns_item_label"}
																	<label for="setting-value-{$column.name}"
																		   class="col-xs-6">{$column.title}</label>
																{/block}
																<div class="col-xs-3 col-sm-2">
																	{block name="admin_quick_edit_modals_settings_body_form_columns_item_input"}
																		<input type="checkbox"
																			   id="setting-value-{$column.name}"
																			   class="form-control" />
																	{/block}
																</div>
																<div class="col-xs-3">
																	{block name="admin_quick_edit_modals_settings_body_form_columns_item_handle"}
																		<span class="sort-handle">
																			<i class="fa fa-caret-up"></i>
																			<i class="fa fa-caret-down"></i>
																		</span>
																	{/block}
																</div>
															</div>
														</li>
													{/block}
												{/foreach}
											</ul>
										{/block}
									</fieldset>
								{/block}
			
								{block name="admin_quick_edit_modals_settings_body_form_rows"}
									<fieldset class="settings-group">
										{block name="admin_quick_edit_modals_settings_body_form_rows_legend"}
											<legend>{$admin_quick_edit.ROWS}</legend>
										{/block}
				
										<div class="form-group">
											{block name="admin_quick_edit_modals_settings_body_form_rows_label"}
												<label for="setting-value-row-height"
													   class="col-xs-6 col-md-6 row-height">{$admin_quick_edit.ROW_HEIGHT_LABEL}</label>
											{/block}
											<div class="col-xs-4">
												{block name="admin_quick_edit_modals_settings_body_form_rows_input"}
													<select id="setting-value-row-height" class="SelectBox form-control">
														{* Iterate over each selectable row height. *}
														{foreach $content.row_heights as $row_height}
															<option value="{$row_height}">{$admin_quick_edit['ROW_HEIGHT_'|cat:$row_height|upper]}</option>
														{/foreach}
													</select>
												{/block}
											</div>
										</div>
									</fieldset>
								{/block}
			
								{block name="admin_quick_edit_modals_settings_body_form_footer"}
									<fieldset class="modal-footer">
										{block name="admin_quick_edit_modals_settings_body_form_footer_reset"}
											<a href="#" class="reset-action pull-left">{$admin_quick_edit.BUTTON_RESET_TO_DEFAULT_SETTINGS}</a>
										{/block}
										{block name="admin_quick_edit_modals_settings_body_form_footer_cancle"}
											<button type="button" class="btn btn-default" data-dismiss="modal">{$admin_quick_edit.BUTTON_CANCEL}</button>
										{/block}
										{block name="admin_quick_edit_modals_settings_body_form_footer_save"}
											<button type="button" class="btn btn-primary submit-button">{$admin_quick_edit.BUTTON_SAVE}</button>
										{/block}
									</fieldset>
								{/block}
							</form>
						{/block}
					</div>
				{/block}
			</div>
		</div>
	</div>
{/block}