/*
	---------------------------------------------------------------------------
	THIS FILE IS DEPRECATED - MODIFY IT ONLY FOR FIXES IN EXISTING STYLE RULES. 
	
	DO NOT APPEND IT WITH NEW STYLING RULES, USE THE GX-ADMIN FILES INSTEAD. 
	---------------------------------------------------------------------------
*/
#hidden_feature_set_box_container{
	display: none;
}



.feature_set_box{
	float: left;
	border: 2px solid #fff;
	padding: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 1px 1px #aaa;
	-webkit-box-shadow: 0 0 1px 1px #aaa;
	box-shadow: 0 0 1px 1px #aaa;
	margin: 0 0 10px 0;
}

#lightbox_package .feature_set_box{
	border: 0 solid #fff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-moz-box-shadow: 0 0 0 0 #aaa;
	-webkit-box-shadow: 0 0 0 0 #aaa;
	box-shadow: 0 0 0 0 #aaa;
}

.feature_box{
	width: 140px;
	background: #fff;
	float: left;
	margin: 0 10px 10px 0;
	border: 1px solid #aaa;
	padding: 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.feature_box_header {
	border-bottom: 1px solid #aaa;
	padding: 5px;
}

.feature_box_headline {
	overflow: hidden;
	white-space: nowrap;
	font-weight: bold;
	position: relative;
}

.feature_box_headline img {
	position: absolute;
	top: -1px;
	right: 0px;
}

#lightbox_package #feature_set_buttons{
	margin: 0 0 15px 0;
}

#lightbox_package #feature_set_buttons #feature_set_add_feature_select select{
	width: 250px;
}

#feature_set_text {
	margin: 10px 0;
	font-size: 12px;
}

.feature_values{
	width: 134px;
	height: 120px;
	margin: 3px;
	overflow: hidden;
	line-height: 18px;
	font-size: 11px;
}

.feature_values a {
	text-decoration: none;
	cursor: default;
	display: block;
	white-space: nowrap;
	padding: 0 8px 0 0;
}

.feature_values a:hover {
	text-decoration: none;
	cursor: pointer;
}

.editable_values .feature_values a.active {
	background-color: lightblue;
}

.feature_box_buttons {
	width: 80px;
	border: 0;
	text-align: center;
	padding-top: 7px;
	background: none;
	float: left;
}

.feature_box_buttons img {
	border: 0;
}







#feature_set_show_all{
	text-align: center;
	background: url(../../images/legacy/feature_set_show_all.png) center top no-repeat;
	height: 22px;
	line-height: 18px;
	font-size: 11px;
	cursor: pointer;
}

#feature_set_show_all span{
	cursor: pointer;
}

#feature_set_show_all.show .show,
#feature_set_show_all.hide .hide {
	display: inline;
}

#feature_set_show_all.show .hide,
#feature_set_show_all.hide .show {
	display: none;
}


body .admin_button_green {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7FE687), color-stop(1, #02830B) );
	background: -moz-linear-gradient( center top, #7FE687 5%, #02830B 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7FE687', endColorstr='#02830B');
	background-color: #02830B;
	border: 1px solid #03D012;
	display: inline-block;
	color: #ffffff !important;
	font-weight: bold !important;
	padding: 6px 20px;
	text-decoration: none !important;
	cursor: pointer;
}

body .admin_button_green:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7ED284), color-stop(1, #006B08) );
	background: -moz-linear-gradient( center top, #7ED284 5%, #006B08 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ED284', endColorstr='#006B08');
	background-color: #006B08;
}

.admin_button_green img {
	border: 0px;
	float: left;
	margin: 0 5px 0 -10px;
}