/* --------------------------------------------------------------
   shop_online_offline.css 2016-06-01
   Gambio GmbH
   http://www.gambio.de
   Copyright (c) 2016 Gambio GmbH
   Released under the GNU General Public License (Version 2)
   [http://www.gnu.org/licenses/gpl-2.0.html]
   --------------------------------------------------------------*/

/*
	---------------------------------------------------------------------------
	THIS FILE IS DEPRECATED - MODIFY IT ONLY FOR FIXES IN EXISTING STYLE RULES.

	DO NOT APPEND IT WITH NEW STYLING RULES, USE THE GX-ADMIN FILES INSTEAD.
	---------------------------------------------------------------------------
*/

.page_gm_offline {
	font-family: Arial, Verdana, sans-serif;
}

.page_gm_offline fieldset {
	margin: 0;
	padding: 10px 0;
	border: 0 solid transparent;
}
.page_gm_offline fieldset label {
	font-size: 10px;
	font-weight: bold;
	padding: 2px 0;
}

textarea {
	min-height: 200px;
	width: 100%;
}

.page_gm_offline button[disabled],
.page_gm_offline input[type="button"][disabled]{
	display: none !important;
}
.page_gm_offline input[disabled] {
	border-width: 0;
	color: #000000;
	background-color: transparent;
}
.page_gm_offline table {
	margin-bottom: 10px;
}
.page_gm_offline td {
	padding: 6px;
}
.page_gm_offline td.categories_view_data {
	text-align: left;
	white-space: nowrap;
}

.page_gm_offline .label_wrapper {
	margin-top: 10px;
	padding-bottom: 0;
	width: 300px;
}

.page_gm_offline .label_wrapper div {
	padding-left: 0;
}

input[type="button"].picker {
	background: linear-gradient(to bottom, #cbcbcb 5%, #616161 100%) repeat scroll 0 0 #616161;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcbcb', endColorstr='#616161',GradientType=0 ); /* IE6-9 */
	background-color: #616161;  /* For browsers without gradient support. */
	border: 1px solid #676767;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	margin: 0 5px 5px 0;
	padding: 4px;
	text-decoration: none;
}

input[type="button"]:hover.picker {
	background: linear-gradient(to bottom, #afafaf 5%, #494949 100%) repeat scroll 0 0 #494949;
}

.page_gm_offline .color-preview {
	border: 1px solid #cccccc;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	float: left;
	height: 25px;
	margin-right: 5px;
	width: 25px;
}


/*=========================== ONLINE-/OFFLINE-SWITCHER STYLING START ==============================*/

.page_gm_offline .checkbox_v2 {
	display: inline-block;
	padding-top: 5px;
}

.page_gm_offline .checkbox-switch {
	display: inline-block;
	cursor: pointer;
}

.switch-wrapper {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: inline-block;
	height: 15px;
	margin-right: 5px;
	padding: 2px;
	width: 35px;
}

.switch-state {
	border-radius: 3px;
	color: #ffffff;
	display: inline-block;
	font-family: Arial, Verdana, sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 15px;
	text-align: center;
	width: 21px;
}

.checkbox-switch.checked .on-label,
.stateContainer.online .checkbox-switch.checked .off-label,
.stateContainer.online .checkbox-switch .on-label {
	display: none;
}

.checkbox-switch.checked .off-label,
.stateContainer.online .checkbox-switch.checked .on-label,
.stateContainer.online .checkbox-switch .off-label {
	display: inline-block;
}

.switch-state.on-label {
	background-color: #008000;
}

.switch-state.off-label {
	background-color: #ff0000;
	display: none;
	margin-left: 14px;
}

/*======================== TABLE INLINE_EDIT STYLING START ============================*/

table.table_inlineedit {
	width: 100%;
}

table.table_inlineedit [disabled] {
	color: #5b666a !important;
}

table.table_inlineedit tr th:nth-child(+2) {
	min-width: 202px;
}

table.table_inlineedit tr th:nth-child(+6) {
	padding: 3px 5px;
	text-align: center;
}

table.table_inlineedit tr td {
	padding: 0 10px
}

input[type="text"].error {
	border: 1px solid #ff0000;
}

table.table_inlineedit tr td:last-child div.editmode {
	min-width: 150px;
}

table.table_inlineedit tr td:first-child,
table.table_inlineedit tr td:nth-child(+3),
table.table_inlineedit tr td:nth-child(+4),
table.table_inlineedit tr td:nth-child(+5),
table.table_inlineedit tr td:nth-child(+6),
table.table_inlineedit tr td:last-child {
	text-align: center;
}

table.table_inlineedit td.categories_view_data input[type="checkbox"] {
	margin-top: 12px;
}

table.table_inlineedit tr.add span.time,
table.table_inlineedit tr.edit span.time,
table.table_inlineedit td.categories_view_data input[type="checkbox"][disabled],
table.table_inlineedit select[disabled] {
	display: none;
}

table.table_inlineedit tr.default td.categories_view_data input[type="checkbox"][checked][disabled] {
	display: inline-block;
}

table.table_inlineedit  .dataTableHeadingContent {
	padding: 3px 8px 3px 8px;
}

table.table_inlineedit input[type="button"].edit,
table.table_inlineedit input[type="button"].row_edit {
	background: url(../../images/legacy/icon_edit.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	filter: none;
	border: 0;
	color: transparent;
	cursor: pointer;
	height: 18px;
	text-align: center;
	vertical-align: top;
	width: 18px;
}

table.table_inlineedit input[type="button"].edit {
	vertical-align: baseline;
}

table.table_inlineedit tr td:last-child input[type="button"].row_delete {
	background: url(../../images/legacy/icon_delete.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	filter: none;
	border: 0;
	color: transparent;
	height: 18px;
	text-align: center;
	vertical-align: top;
	width: 18px;
}

table.table_inlineedit tr td select {
	/*width: 100%;*/
}

table.table_inlineedit tr td:last-child input[type="button"].row_add,
table.table_inlineedit tr td:last-child input[type="button"].row_save {
	display: inline;
}

table.table_inlineedit select[disabled][name]:first-child {
	margin-left: -2px;
}

table.table_inlineedit select[disabled][name].source,
table.table_inlineedit select[disabled][name].target_1,
table.table_inlineedit select[disabled][name].target_2 {
	margin-left: 0;
}

table.table_inlineedit .status {
	display: inline-block;
	height: 16px;
	width: 16px;
}

/*=========================== LIGHTBOX STYLING START ==============================*/

div.lightbox_wrapper a:hover {
	text-decoration: none;
}

div.lightbox_wrapper .cke {
	margin-top: 15px !important;
	width: auto !important;
}

div.lightbox_wrapper .color-preview {
	border-radius: 5px;
	display: inline-block;
	float: left;
	height: 25px;
	margin-right: 5px;
	width: 25px;
}

div.lightbox_wrapper .lightbox_content_container .formfields select {
	margin-bottom: 10px;
}

div.lightbox_wrapper .lightbox_content_container label {
	font-weight: bold;
}

.colpick {
	z-index: 1110;
}

/*=========================== BUTTONBAR START ==============================*/
.buttonbar a,
.buttonbar a:visited,
.buttonbar a:link,
.buttonbar a:focus,
.buttonbar a:active,
.buttonbar a:hover {
	display: inline-block;
}
.buttonbar .active img {
	background-color: #d0d0d0;
	border: 1px solid #a0a0a0;
}

.popup_content_layer .buttonbar {
	float:right;
}

.popup_content_layer .formfields {
	clear: both;
}

.buttonbar a img {
	border: none; /* IE9 remove unnecessary border from image */
}

/*=========================== BUTTONBAR END ==============================*/
.page_gm_offline .clear {
	float: none;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
	display: block;
	width: 100%;
}
.page_gm_offline .lightbox_content_container .rowLeft {
	float: left;
	margin-right: 10px;
}
.page_gm_offline .lightbox_content_container .rowRight {
	float: right;
	text-align: right;
	width: 650;
}


.page_gm_offline .online .rowLeft {
	float: left;
	margin-right: 10px;
}
.page_gm_offline .online .rowRight {
	float: right;
	text-align: right;
	width: 690px;
}

.cronjob_url_container {
	font-weight: bold;
	font-family: Arial,sans-serif;
	font-size: 11px;
	color: #5B666A;
	margin-top: 20px;
}

.cronjob_url_container input {
	width: 800px;
}
