/* --------------------------------------------------------------
   textedit.css 2016-03-18
   Gambio GmbH
   http://www.gambio.de
   Copyright (c) 2016 Gambio GmbH
   Released under the GNU General Public License (Version 2)
   [http://www.gnu.org/licenses/gpl-2.0.html]
   --------------------------------------------------------------*/

/*
	---------------------------------------------------------------------------
	THIS FILE IS DEPRECATED - MODIFY IT ONLY FOR FIXES IN EXISTING STYLE RULES.

	DO NOT APPEND IT WITH NEW STYLING RULES, USE THE GX-ADMIN FILES INSTEAD.
	---------------------------------------------------------------------------
*/

body.textedit {
	margin: 0px;
	background-color: #FFFFFF;
}

body.textedit .hidden {
	display: none;
}

body.textedit .boxCenter{
	width: 100%;
	vertical-align: top;
}

body.textedit .boxCenter .pageHeading{
	background-image: url(../../images/legacy/gm_icons/gambio.png);
}

body.textedit .boxCenter .main{
	margin: 19px 0px;
}

body.textedit .boxCenter h3 {
	padding: 5px 7px;
	/*height: 19px;*/
	/*line-height: 19px;*/
	/*border-radius: 2px;*/
	/*margin-bottom: 5px;*/
}

body.textedit .templates {
	display: none;
}

body.textedit .boxCenter form fieldset {
	border: 1px solid #cccccc;
	border-radius: 2px;
	padding: 15px;
}

body.textedit .boxCenter form input {
	margin: 0px;
}

body.textedit .boxCenter form #needle {
	/*max-height: 25px;*/
	/*border-radius: 2px;*/
	/*font-size: 11px;*/
	float: left;
	margin-right: 12px;
	/*padding: 5px;*/
	/*color: #383838;*/
}

body.textedit .boxCenter form #action {
	/*height: 25px;*/
	/*display: inline-block;*/
	/*padding: 0px 4px;*/
	/*background-color: #FFF;*/
	/*border-radius: 2px;*/
	margin-right: 12px;
	/*color: #383838; */
	/*min-width: 120px;*/
	float: left;
}

body.textedit .boxCenter form #go_search {
	/*display: inline-block;*/
	/*height: 23px;*/
	/*float: left;*/
	margin: 0;
}

body.textedit .boxCenter form .filter {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	float: left;
	padding: 6px;
	line-height: 1;
}

body.textedit .boxCenter form .filter input[type=checkbox]{
	float: left;
	margin-right: 7px;
}

body.textedit .boxCenter .result_phrase_name {
	color: #275981;
	font-weight: bold;
	background-color: #9FC7E7;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 5px 10px;
	border-bottom: 1px solid #7CB4E0;
	overflow: auto;
}

body.textedit .boxCenter textarea.result_phrase_value {
	box-sizing: border-box;
	width: 100%;
	background-color: #FFFFFF;
	border-left: 1px solid #9FC7E7;
	border-bottom: 1px solid #9FC7E7;
	border-right: 1px solid #9FC7E7;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #395266;
	margin-top: 0;
	resize: vertical;
}

body.textedit .boxCenter textarea.result_phrase_value:disabled {
	color: #395266;
	background-color: #D6E6F3;
	resize: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top: 1px solid #AFC9DF;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-top: 0;
}

body.textedit .boxCenter textarea.result_phrase_value:enabled {
	background-color: #E8E8E8;
}

body.textedit .boxCenter textarea.result_phrase_value:focus {
	outline: 0;
	background-color: #FFFFFF;
}

body.textedit .boxCenter .actions {
	float: right;
	list-style-type: none;
	text-decoration: none;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
}

body.textedit .boxCenter .result_phrase_name label {
	display: inline-block;
	margin-top: 5px;
	float: left;
}

body.textedit .boxCenter .actions li {
	padding: 5px;
	border-radius: 2px;
	background: none;
	transition: background-color 0.2s linear;
	float: left;
	margin-right: 5px;
}

body.textedit .boxCenter .actions li:hover {
	background-color: #E2F2FF;
}


body.textedit .boxCenter label span {
	padding: 5px;
	border-radius: 2px;
	background: none;
	transition: background-color 0.2s linear;
	cursor: pointer;
}

body.textedit .boxCenter label span:hover {
	background-color: #E2F2FF;
}

body.textedit .boxCenter #results {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

body.textedit .boxCenter .dataTableRow {
	margin-bottom: 10px;
	display: block;
	overflow: auto;
	height: auto;
}

/* STYLE JQUERY DIALOG BOX */
body.textedit .ui-dialog {
	border-radius: 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	outline: none;
	background-color: white;
	min-width: 370px;
	border: 3px solid #9FC7E7;
	padding: 0;
}

body.textedit .ui-dialog-titlebar {
	padding: 8px 10px;
	background: #9FC7E7;
	border: none;
	color: #50718B;
	outline: none;
	overflow: auto;
	cursor: pointer;
	border-radius: 0px;
}

body.textedit .ui-dialog-titlebar .ui-dialog-title {
	float: left;
	font-weight: bold;
}

body.textedit .ui-dialog-titlebar button {
	background: none;
	float: right;
	border: none;
	cursor: pointer;
	color: #50718B;
	font-weight: bolder;
	font-size: 16px;
}

body.textedit .ui-dialog-content {
	padding: 0 11px;
	color: #363636;
}

body.textedit .ui-dialog-buttonpane {
	padding: 5px;
	overflow: auto;
	margin-bottom: 10px;
	margin-bottom: 0;
	border-top: none;
}

body.textedit .ui-dialog-buttonset {
	float: right;
}

body.textedit .ui-dialog-buttonpane button {
	padding: 4px 10px;
	margin-right: 10px;
	background: #9FC7E7;
	border: none;
	border-radius: 3px;
	color: #FFF;
	min-width: 66px;
	cursor: pointer;
	transition: background-color 0.2s linear;
	outline: none;
}

body.textedit .ui-dialog-buttonpane button:hover {
	background-color: #7AADD7;
}

body.textedit .ui-widget-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(135, 144, 153, 0.59);
	top: 0;
	left: 0;
}

body.textedit .dataTableRow.locked {
	opacity: 0.75;
}

.result_phrase_name ~ textarea:disabled {
	opacity: 1 !important;
}

