.order_payment #checkout_payment div.items div.gambio_hub-PayPalHub {
	background:     inherit;
	border-bottom:  0;
	margin-bottom:  -28px;
	padding-bottom: 0;
	padding-top:    0;
}

.order_payment #checkout_payment div.items div.gambio_hub-PayPalHub.module_option_checked {
	background-color: inherit;
}

.order_payment #checkout_payment div.items div.gambio_hub-PayPalHub .caption {
	margin-left: 0;
	width:       100%;
}

.order_payment #checkout_payment div.items div.gambio_hub-PayPalHub .caption p {
	display: none;
}

.order_payment #checkout_payment div.items div.gambio_hub-PayPalHub iframe {
	background-color: inherit;
	background-image: none;
	width:            100%;
}