{extends file="get_usermod:layouts/main/layout.html"}

{block name="content"}
    {load_language_text section="module_center_module"}
    <div class="breakpoint-small">
        <form action="{$content.action_save_configuration}" method="POST" class="form-configuration">
            <input type="hidden" name="pageToken" value="{$content.pageToken}">
			<div class="form-horizontal">
				<fieldset>
					<legend>{$txt.sso_login_with_google}</legend>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="">{$txt.sso_use_login_with_google}</label>
						<div class="col-sm-8" data-gx-widget="switcher">
							<input type="hidden" name="configuration[services/google/active]" value="0" />
							<input type="checkbox" id="configuration[services/google/active]" value="1" name="configuration[services/google/active]" class="form-control" {($content.configuration['services/google/active'] == '1') ? 'checked="checked"' : ''} />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="google_clientid">{$txt.sso_client_id}</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="configuration[services/google/clientId]"
								   id="google_clientid" value="{$content.configuration['services/google/clientId']}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="google_clientsecret">{$txt.sso_client_secret}</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="configuration[services/google/clientSecret]"
								   id="google_clientsecret" value="{$content.configuration['services/google/clientSecret']}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="google_redirect_uri">{$txt.sso_redirect_uri}</label>
						<div class="col-sm-8">
							<textarea class="form-control" readonly rows="3">{$content.configuration['services/google/redirectUri']}</textarea>
						</div>
					</div>
				</fieldset>

				<fieldset>
					<legend>{$txt.sso_login_with_facebook}</legend>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="">{$txt.sso_use_login_with_facebook}</label>
						<div class="col-sm-8" data-gx-widget="switcher">
							<input type="hidden" name="configuration[services/facebook/active]" value="0" />
							<input type="checkbox" id="configuration[services/facebook/active]" value="1" name="configuration[services/facebook/active]" class="form-control" {($content.configuration['services/facebook/active'] == '1') ? 'checked="checked"' : ''} />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="facebook_clientid">{$txt.sso_client_id}</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="configuration[services/facebook/clientId]"
								   id="facebook_clientid" value="{$content.configuration['services/facebook/clientId']}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="facebook_clientsecret">{$txt.sso_client_secret}</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="configuration[services/facebook/clientSecret]"
								   id="facebook_clientsecret" value="{$content.configuration['services/facebook/clientSecret']}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="facebook_redirect_uri">{$txt.sso_redirect_uri}</label>
						<div class="col-sm-8">
							<textarea class="form-control" readonly rows="3">{$content.configuration['services/facebook/redirectUri']}</textarea>
						</div>
					</div>
				</fieldset>

				<fieldset>
					<legend>{$txt.sso_login_with_paypal}</legend>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="">{$txt.sso_use_login_with_paypal}</label>
						<div class="col-sm-8" data-gx-widget="switcher">
							<input type="hidden" name="configuration[services/paypal/active]" value="0" />
							<input type="checkbox" id="configuration[services/paypal/active]" value="1" name="configuration[services/paypal/active]" class="form-control" {($content.configuration['services/paypal/active'] == '1') ? 'checked="checked"' : ''} />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="">{$txt.sso_use_paypal_sandbox}</label>
						<div class="col-sm-8" data-gx-widget="switcher">
							<input type="hidden" name="configuration[services/paypal/mode]" value="live" />
							<input type="checkbox" id="configuration[services/paypal/mode]" value="sandbox" name="configuration[services/paypal/mode]" class="form-control" {($content.configuration['services/paypal/mode'] == 'sandbox') ? 'checked="checked"' : ''} />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="paypal_clientid">{$txt.sso_client_id}</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="configuration[services/paypal/clientId]"
								   id="paypal_clientid" value="{$content.configuration['services/paypal/clientId']}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="paypal_clientsecret">{$txt.sso_client_secret}</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="configuration[services/paypal/clientSecret]"
								   id="paypal_clientsecret" value="{$content.configuration['services/paypal/clientSecret']}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="paypal_clientid_sandbox">{$txt.sso_client_id_sandbox}</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="configuration[services/paypal/clientIdSandbox]"
								   id="paypal_clientid_sandbox" value="{$content.configuration['services/paypal/clientIdSandbox']}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="paypal_clientsecret_sandbox">{$txt.sso_client_secret_sandbox}</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="configuration[services/paypal/clientSecretSandbox]"
								   id="paypal_clientsecret_sandbox" value="{$content.configuration['services/paypal/clientSecretSandbox']}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="paypal_redirect_uri">{$txt.sso_redirect_uri}</label>
						<div class="col-sm-8">
							<textarea class="form-control" readonly rows="3">{$content.configuration['services/paypal/redirectUri']}</textarea>
						</div>
					</div>
				</fieldset>

				<fieldset>
					<legend>{$txt.sso_login_with_amazon}</legend>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="">{$txt.sso_use_login_with_amazon}</label>
						<div class="col-sm-8" data-gx-widget="switcher">
							<input type="hidden" name="configuration[services/amazon/active]" value="0" />
							<input type="checkbox" id="configuration[services/amazon/active]" value="1" name="configuration[services/amazon/active]" class="form-control" {($content.configuration['services/amazon/active'] == '1') ? 'checked="checked"' : ''} />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="">{$txt.sso_use_amazon_sandbox}</label>
						<div class="col-sm-8" data-gx-widget="switcher">
							<input type="hidden" name="configuration[services/amazon/mode]" value="live" />
							<input type="checkbox" id="configuration[services/amazon/mode]" value="sandbox" name="configuration[services/amazon/mode]" class="form-control" {($content.configuration['services/amazon/mode'] == 'sandbox') ? 'checked="checked"' : ''} />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="amazon_clientid">{$txt.sso_client_id}</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="configuration[services/amazon/clientId]"
								   id="amazon_clientid" value="{$content.configuration['services/amazon/clientId']}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="amazon_clientsecret">{$txt.sso_client_secret}</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="configuration[services/amazon/clientSecret]"
								   id="amazon_clientsecret" value="{$content.configuration['services/amazon/clientSecret']}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="amazon_javascript_origin">{$txt.sso_javascript_origin}</label>
						<div class="col-sm-8">
							<textarea class="form-control" readonly rows="3">{$content.configuration['services/amazon/javascriptOrigin']}</textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="amazon_redirect_uri">{$txt.sso_redirect_uri}</label>
						<div class="col-sm-8">
							<textarea class="form-control" readonly rows="3">{$content.configuration['services/amazon/redirectUri']}</textarea>
						</div>
					</div>
				</fieldset>

				<div class="row">
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary pull-right">{$txt.sso_save_configuration}</button>
					</div>
				</div>
			</div>
        </form>
    </div>
{/block}
