/* 
	File Manager
    ========================================================================== 

	Contains specific styling for the file manager. 
	
*/

div.file-manager {
	#top {
		height:        48px;
		margin-bottom: 36px;
	}
	
	#mkdir {
		display:     inline-block;
		float:       right;
		padding-top: 16px;
	}
	
	label {
		display: block;
	}
	
	input[type="file"] {
		display: inline-block;
	}
	
	#file_drop_target {
		width:        50%;
		padding:      12px 12px;
		border:       4px dashed #CCCCCC;
		text-align:   center;
		float:        right;
		margin-right: 24px;
		
		&.drag_over {
			border: 4px dashed $brand-primary;
			color:  $brand-primary;
		}
	}
	
	#upload_progress {
		padding: 4px 0;
		
		.error {
			color: #AA0000;
		}
		
		& > div {
			padding: 3px 0;
		}
	}
	
	.no_write #mkdir, .no_write #file_drop_target {
		display: none;
	}
	
	.progress_track {
		display: inline-block;
		width:   200px;
		height:  12px;
		border:  1px solid #333333;
		margin:  0 4px 0 12px;
	}
	
	.progress {
		background-color: $brand-primary;
		height:           12px;
	}
	
	footer {
		font-size:  12px;
		color:      #BBBBC5;
		padding:    4em 0 0;
		text-align: left;
		
		a, a:visited {
			color: #BBBBC5;
		}
	}
	
	#breadcrumb {
		padding-top: 34px;
		font-size:   12px;
		display:     inline-block;
		float:       left;
		
		span {
			padding: 0 6px 0 6px;
		}
		
		a {
			color: $text-color;
		}
	}
	
	.sort_hide {
		display: none;
	}
	
	.indicator > i {
		font-size:    14px;
		color:        $brand-primary;
		padding-left: 6px;
	}
	
	th:not(.no_sort) {
		cursor: pointer;
	}
	
	#list {
		tr {
			height: 64px;
			
			td {
				&.first {
					width: 36px
				}
				
				&.name {
					font-size:   14px;
					white-space: normal;
				}
				
				&.empty {
					color:      #777777;
					font-style: italic;
					text-align: center;
					padding:    3em 0;
				}
				
				.delete {
					cursor: pointer;
				}
			}
		}
	}
	
	.is_dir {
		.size {
			color:     transparent;
			font-size: 0;
			
			&:before {
				content:   "--";
				font-size: 14px;
				color:     #333333;
			}
		}
		
		.download {
			visibility: hidden;
		}
	}
}

.filemanager-container {
	iframe {
		width:      100%;
		min-height: 785px;
		border:     1px solid #E4E4E4;
	}
	
	.error {
		&.no-filemanager {
			color: #E66554;
		}
	}
}