{load_language_text section="box_cart"}

{block name="box_cart_head"}
	<nav id="cart-container" class="navbar-cart" data-gambio-widget="menu cart_dropdown" data-menu-switch-element-position="false">
		{block name="box_cart_head_list"}
			<ul class="cart-container-inner">
				{block name="box_cart_head_list_item"}
					<li>
						<a href="{'shopping_cart.php'|xtc_href_link}" class="dropdown-toggle">
							{block name="box_cart_head_basket"}
								<i class="gm-cart-basket"></i>
								<span class="cart">
									{$txt.heading_cart}<br />
									<span class="products">
										{block name="box_cart_head_basket_total"}{$TOTAL}{/block}
									</span>
								</span>
							{/block}
							{block name="box_cart_head_products_count"}
								{if $showProductsCount == 'true'}
									<span class="cart-products-count{if $PRODUCTS == 0} hidden{/if}">
										{$PRODUCTS}
									</span>
								{else}
									<span class="cart-products-count{if $productsCount == 0} hidden{/if}">
										{$productsCount}
									</span>
								{/if}
							{/block}
						</a>
						
						{block name="box_cart_head_dropdown"}###SHOPPING_CART_DROPDOWN###{/block}
					</li>
				{/block}
			</ul>
		{/block}
	</nav>
{/block}