{load_language_text section="box_categories_top"}
{load_language_text section="general" name="general"}

{block name="box_categories_top"}
	<div id="categories">
		<div class="navbar-collapse collapse">
			{block name="box_categories_top_nav"}
				<nav class="navbar-default navbar-categories" data-gambio-widget="menu">
					{block name="box_categories_top_list"}
						<ul class="level-1 nav navbar-nav">
							{foreach name=cat_data item=categories_item from=$content_data.CATEGORIES_DATA}
								{block name="box_categories_top_list_item"}
									<li class="{if $categories_item.children|@count > 0}dropdown {/if}level-1-child{if $content_data.category_id == $categories_item.data.id} active{/if}{if $categories_item.children|@count > 0}{/if}" data-id="{$categories_item.data.id}">
										{block name="box_categories_top_category"}
											<a class="dropdown-toggle" href="{$categories_item.data.url}" title="{$categories_item.data.name|replace:"&amp;":"&"|replace:"&":"&amp;"|replace:'"':''|strip_tags}">
												{block name="box_categories_top_category_name"}
													{$categories_item.data.name|replace:"&amp;":"&"|replace:"&":"&amp;"}
												{/block}
												{if $categories_item.data.products_count}
													{block name="box_categories_top_category_count"}
														({$categories_item.data.products_count})
													{/block}
												{/if}
											</a>
										{/block}
										
										{block name="box_categories_top_sublist_if"}
											{if $categories_item.children|@count > 0}
												{block name="box_categories_top_sublist"}
													<ul data-level="2" class="level-2 dropdown-menu dropdown-menu-child">
														{block name="box_categories_top_sublist_item"}
															<li class="enter-category hidden-sm hidden-md hidden-lg {if 'CATEGORY_DISPLAY_SHOW_ALL_LINK'|gm_get_conf == 'true'}show-more{else}hide-more{/if}">
																{block name="box_categories_top_subcategory"}
																	<a class="dropdown-toggle" href="{$categories_item.data.url}" title="{$categories_item.data.name|replace:"&amp;":"&"|replace:"&":"&amp;"|replace:'"':''}">
																		{block name="box_categories_top_subcategory_name"}
																			{$general.ENTER_CATEGORY|replace:"%s":$categories_item.data.name}
																		{/block}
																	</a>
																{/block}
															</li>
														{/block}
														
														{foreach name=box_data item=box_elements from=$categories_item.children}
															{if $box_elements|@count > 0}
																{assign var="children_found" value="true"}
															{/if}
														{/foreach}
													
														{if $children_found}
															
															{foreach name=ele_data item=child_item from=$categories_item.children}
																{block name="box_categories_top_subcategory_child"}
																	<li class="{if $child_item.children|@count > 0}dropdown {/if}level-2-child{if $content_data.category_id == $child_item.data.id} active{/if}">
																		<a href="{$child_item.data.url}" title="{$child_item.data.name|replace:'"':''|strip_tags}">
																			{block name="box_categories_top_subcategory_child_name"}{$child_item.data.name}{/block}
																		</a>
																		{if $child_item.children|@count > 0}
																			<ul  data-level="3" class="level-3 dropdown-menu dropdown-menu-child">
																				<li class="enter-category">
																					<a href="{$child_item.data.url}" title="{$child_item.data.name|replace:'"':''}" class="dropdown-toggle">
																						{$general.ENTER_CATEGORY|replace:"%s":$child_item.data.name}
																					</a>
																				</li>
																				{foreach item=sub_item from=$child_item.children}
																					{block name="box_categories_top_subcategory_child_child"}
																						<li class="level-3-child{if $content_data.category_id == $sub_item.data.id} active{/if}">
																							<a href="{$sub_item.data.url}" title="{$sub_item.data.name|replace:'"':''|strip_tags}">
																								{block name="box_categories_top_subcategory_child_child_name"}{$sub_item.data.name}{/block}
																							</a>
																						</li>
																					{/block}
																				{/foreach}
																			</ul>
																		{/if}
																	</li>
																{/block}
															{/foreach}
														
														{else}
															{block name="box_categories_top_subcategory_no_child"}
																<li>
																	<ul>
																		{foreach name=cat_data item=categories_item from=$content_data.CATEGORIES_DATA}
																			<li class="{if $content_data.category_id == $categories_item.data.id} active{/if}">
																				<a href="{$categories_item.data.url}" title="{$categories_item.data.name|replace:'"':''|strip_tags}">
																					{$categories_item.data.name}
																				</a>
																			</li>
																		{/foreach}
																	</ul>
																</li>
															{/block}
						
														{/if}
														
														{block name="box_categories_top_sublist_items_close"}
															<li class="enter-category hidden-more hidden-xs">
																<a class="dropdown-toggle col-xs-6"
																   href="{$categories_item.data.url}"
																   title="{$categories_item.data.name|replace:"&amp;":"&"|replace:"&":"&amp;"|replace:'"':''}">{$general.ENTER_CATEGORY|replace:"%s":$categories_item.data.name}</a>
							
																<span class="close-menu-container col-xs-6">
																	<span class="close-flyout">
																		<i class="fa fa-close"></i>
																	</span>
																</span>
															</li>
														{/block}
													
													</ul>
												{/block}
											{/if}
										{/block}
										
									</li>
								{/block}
							{/foreach}
							
							{block name="box_categories_top_content"}###CONTENT_TOP###{/block}
							
							{block name="box_categories_top_items_close"}
								<li class="dropdown dropdown-more" style="display: none">
									<a class="dropdown-toggle" href="#" title="{$txt.CATEGORIES_NEXT|strip_tags}">
										{$general.CATEGORIES_NEXT}
									</a>
									<ul class="level-2 dropdown-menu ignore-menu"></ul>
								</li>
							{/block}
			
						</ul>
					{/block}
				</nav>
			{/block}
		</div>
	</div>
{/block}