/*
	Sliders details
    ==========================================================================

	Styles for the slider details page.

*/

.sliders-details {
	.form-group {
		border-bottom: 1px solid $border-color;
		margin:        0;
		padding:       $padding-small 0;
		
		&:last-child {
			border-bottom:  none;
			padding-bottom: 0;
		}
		
		.link-target-field {
			margin-bottom: $margin-small;
		}
		
		.control-label {
			font-weight: normal !important;
			
			span {
				padding:  0;
				min-width:     29px;
				text-align:    left;
				
				&.landscape {
					padding-left: 2px;
				}
			}
		}
		
		.action-list {
			.action-icon {
				margin: ($margin-small / 3) $margin-small 0 0;
				
				&.image-map {
					position:  relative;
					top:       2px;
					font-size: 2.1em;
				}
			}
		}
		
		.file-input {
			display: none;
		}
		
		.dropdown-input {
			opacity:    1;
			transition: opacity .25s ease-in-out;
			
			&.loading {
				opacity: 0.3;
			}
		}
		
		.image-map-data-list {
			display: none;
		}
	}
	
	.panel {
		.panel-heading {
			.collapser {
				cursor: pointer;
			}
			
			&.sortable {
				position: relative;
				
				.drag-bar {
					height:   100%;
					position: absolute;
					left:     0;
					top:      0;
					width:    100%;
					
					&.drag-handle {
						cursor: move;
					}
				}
			}
		}
		
		.panel-body {
			padding: $padding-small $padding-large;
		}
		
		&.master-data {
			.panel-heading {
				cursor: pointer;
			}
		}
	}
	
	.toolbar {
		margin: $margin-small 0;
		
		.btn-margin {
			margin: 0 0 0 $margin-small;
		}
	}
	
	.slides-container {
		.placeholder {
			border:        1px dashed $border-color;
			height:        $padding-large + $padding-small;
			margin-bottom: $margin-large;
		}
		
		.tab-pane {
			padding: $padding-small 0;
			
			.panel {
				.panel-heading {
					.collapser {
						cursor:   pointer;
						position: relative;
						right:    -25px;
					}
					
					.action-list {
						position: relative;
						right:    25px;
					}
				}
				
				.icon {
					margin-left: $margin-small;
					
					.fa {
						font-size: $font-size-base + 2;
					}
					
					&.drag-handle {
						cursor: move;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-md-min) {
	.form-group .action-list {
		padding-top: $padding-small;
	}
}