/*
	Sliders overview
    ==========================================================================

	Styles for the slider overview page.

*/

table {
	tr {
		td {
			&.name {
				width: 140px;
			}
		}
	}
}