/**
 * 888888ba                 dP  .88888.                    dP                
 * 88    `8b                88 d8'   `88                   88                
 * 88aaaa8P' .d8888b. .d888b88 88        .d8888b. .d8888b. 88  .dP  .d8888b. 
 * 88   `8b. 88ooood8 88'  `88 88   YP88 88ooood8 88'  `"" 88888"   88'  `88 
 * 88     88 88.  ... 88.  .88 Y8.   .88 88.  ... 88.  ... 88  `8b. 88.  .88 
 * dP     dP `88888P' `88888P8  `88888'  `88888P' `88888P' dP   `YP `88888P' 
 *
 *                          m a g n a l i s t e r
 *                                      boost your Online-Shop
 *
 * -----------------------------------------------------------------------------
 * $Id: magnalister.css 6832 2016-07-27 11:36:55Z tim.neumann $
 *
 * (c) 2010 RedGecko GmbH -- http://www.redgecko.de
 *     Released under the MIT License (Expat)
 * -----------------------------------------------------------------------------
 */

body.magna {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: #fff;
	color: #000;
}
body.magna.xonsoft {
	background: #d4d4d4;
}
body.magna table {
	font-family: Arial, sans-serif;
	font-size: 12px;
}
body.magna td,
body.magna th,
body.magna div, 
body.magna select,
body.magna option {
	font-family: Arial, sans-serif;
}

body.magna table td.boxCenter {
	font-family: sans-serif;
	font-size: 12px;
}

div.magnamain {
	font-family: sans-serif;
	font-size: 12px;
	background: inherit;
	color: #000;
	position: relative;
	padding-top: 5px;
	min-height: 150px;
}

/** Reset Shop CSS */
body.magna div.magnamain li {
    list-style-type: inherit;
    margin-left: auto;
}

body.ielt9 div.magnamain {
	background: #fff;
}
body.xtcmodified div.magnamain,
body.ielt9.xtcmodified div.magnamain,
body.ielt9.xtcommerce div.magnamain {
	background: #f7f7f7;
}
body.xonsoft div.magnamain {
	background: #e8e8e8;
}

div#pageContent {
	line-height: 1.5em;
	padding-bottom: 2em;
}
div#pageContent a {
	text-decoration: underline;
}
div#pageContent a img {
	border: none;
}
body.ielt9 div.magnamain {
	/*height: expression( this.scrollHeight < 181 ? "180px" : "auto" ); */
}
div#content.magnamain {
	background-color: #fff;
	margin-top: 0px;
	overflow: hidden;
}
body.xtcommerce div.magnamain {
	background: #F7F7F7;
}
body.oscommerce div.magnamain {
	background: #fff;
}
body.oscommerce table.columnLeft {
	border-collapse: separate;
	border-spacing: 1px;
}
body.oscommerce table.columnLeftOSC2010 div#adminAppMenu {
	padding: 0;
}
body.oscommerce table.columnLeftOSC2010 h3 {
	font-size: 85%;
}
body.xonsoft table.columnLeft {
	border-collapse: separate;
	border-spacing: 3px;
	padding: 0;
}
body.magna h1,
body.magna h2,
body.magna h3,
body.magna h4,
body.magna h5,
body.magna h6 {
	color: black;
	background: none;
	font-weight: normal;
	padding: .5em 0 0 0;
	margin: 0 0 .17em 0;
	border-bottom: 1px solid #aaa;
}
body.magna h1 { font-size: 188%; }
body.magna h1 span { font-size: 53%; }
body.magna h1#threeDots span { font-size: 100%; }
body.magna h2 { font-size: 150%; }
body.magna h2 span { font-size: 67%; }
body.magna h3,
body.magna h4,
body.magna h5,
body.magna h6 {
	border-bottom: none;
	font-weight: bold;
}
body.magna h3 { font-size: 132%; }
body.magna h3 span { font-size: 76%; font-weight: normal; }
body.magna h4 { font-size: 116%; }
body.magna h4 span { font-size: 86%; font-weight: normal; }
body.magna h5 { font-size: 100%; }
body.magna h5 span { font-weight: normal; }
body.magna h6 { font-size: 80%;  }
body.magna h6 span { font-size: 125%; font-weight: normal; }

body.magna hr {
	color: #fff;
	background: transparent;
	margin: 0 0 0.5em 0;
	padding: 0 0 0.5em 0;
	border: 0;
	border-bottom: 1px #aaa solid;
}

body.magna table th {
	text-align: left;
}
body.magna td.boxCenter a {
	font-family: sans-serif;
	font-size: inherit;
	color: inherit;
}
body.magna td.boxCenter a:hover,
body.magna.veyton a:hover {
	color: #46f;
}
body.magna td.boxCenter p a {
	text-decoration: underline;
}
body.magna input[type="text"],
body.magna select {
	color: #000;
	background-color: #fff;
}
/* reset */
body.magna input[type="text"],
body.magna select {
	color: #000;
	background-color: #fff;
}
body.magna label {
	margin-bottom: 0;
	font-weight: normal;
	display: inline;
}
body.magna td {
	padding: 1px;
}


/* General */
body.magna .bold {
	font-weight: bold !important;
}
body.magna  .italic {
	font-style: italic !important;
}
body.magna .center {
	text-align: center !important;
}
body.magna .underline,
body.magna a.underline,
body.magna .normaltext a {
	text-decoration: underline !important;
}
body.magna .notice {
	color: #900 !important;
}
body.magna .error {
	color: #fff !important;
}
body.magna .magnatext {
	color: #DC043D !important;
}
body.magna .larger {
	font-size: 120% !important;
}
body.magna .left {
	float: left;
	width: auto;
}
body.magna .textleft {
	text-align: left !important;
}
body.magna .right {
	float: right;
	width: auto;
}
body.magna .textright {
	text-align: right !important;
}
body.magna .textcenter {
	text-align: center !important;
}
body.magna .small {
	font-size: 80% !important;
}
body.magna .normal {
	font-weight: normal !important;
	font-style: normal !important;
	text-decoration: none !important;
}
body.magna .nowrap {
	white-space: nowrap !important;
}
body.magna .tt {
	font-family: monospace !important;
	margin: 0 !important;
}
body.magna .visualClear {
	clear: both !important;
}
body.magna .grey {
	color: #999 !important;
}
body.magna .fullWidth {
	width: 100% !important;
}
body.magna .autoWidth {
	width: auto !important;
} 
body.magna .inline {
	display: inline !important;
}
body.magna .paddingBottom {
	padding-bottom: 1em !important;
}
body.magna .paddingRight {
	padding-right: 1em !important;
}
body.magna .nopadding {
	padding: 0 !important;
}
body.magna .line15 {
	line-height: 1.5em;
}
body.magna .valigntop,
body.magna .valigntop th,
body.magna .valigntop td {
	vertical-align: top !important;
}
body.magna .valignmid {
	vertical-align: middle;
}
body.magna .valignbottom {
	vertical-align: bottom;
}
.successBox,
.successBoxBlue,
.noticeBox, 
.errorBox {
	padding: 9px 15px;
	margin: 0 0 1em 0;
	text-align: left;
	font-weight: bold;
}
.successBox {
	background: #59E28D;
	color: #fff;
}
.successBoxBlue {
	background: #AFC8E7;
	color: #fff;
}
.noticeBox {
	background: #FFF6B7;
	color: #727273;
}
.errorBox {
	background: #FC807B;
	color: #fff;
}
.errorBox .error {
	color: #FA2 !important;
}
input.fullwidth,
textarea.fullwidth {
	width: 100%;
}
span.cp_next {
	margin-top: -0.5em;
}
.strike {
	text-decoration: line-through !important;
}
.offer {
	color: #f00 !important;
}

textarea.resizableVert {
	resize: vertical;
}

h1#magnalogo {
	float: left;
	margin-top: 10px;
	margin-bottom: -10px;
	border: none;
	color: transparent;
}
h1#magnalogo a,
h1#magnalogo a img {
	padding: 0; 
	margin: 0;
	border: none;
}
div#antlogo {
	background-image: url('../images/ameise_logo.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 96px;
	height: 72px;
	float: right;
	margin-bottom: -40px;
}
div#globalButtonBox {
	float: right;
	height: 22px;
	margin-top: 32px;
	margin-right: 25px;
	text-align: right;
}

div#magnafooter {
	margin: 19px 0 0;
	border: none;
	line-height: 15px;
	border-collapse: collapse;
	background: #f6f6f6;
	color: #333;
	padding: 8px;
}
div#magnafooter,
body.magna div#magnafooter table td a {
	font-family: Arial, sans-serif;
}
div#magnafooter table {
	margin-bottom: 0;
	border: none;
}
div#magnafooter table td {
	position: relative;
}
div#magnafooter table td.ml-td-center {
	white-space: nowrap;
	width: 1px;
}
div#magnafooter table td.ml-td-left,
div#magnafooter table td.ml-td-right {
	width: 50%;
}
div#magnafooter table td.ml-td-left {
	text-align: left;
	padding-left: 27px;
}
div#magnafooter table td.ml-td-right {
	text-align: right;
	padding-right: 27px;
}
div#magnafooter table td a {
	text-decoration: underline;
}

div#magnafooter table div.copyleft {
	font-size: 9px;
	color: #555;
	position: relative;
	bottom: 2px;
}
div#magnafooter table span.build,
div#magnafooter table span.build a,
div#magnafooter table span.customerinfo {
	font-weight: normal;
	color: #8d8d8f;
	font-size: 10px;
}
div#magnafooter table span.customerinfo {
	right: auto;
	left: 0;
}
div#magnafooter table span.version-text,
div#magnafooter table span.version {
	font-size: 11.5px;
	position: relative;
	top: 2px;
}
div#magnafooter table div.debug {
	display: none;
	text-align: left;
	border: 2px solid #4a4a4a;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
	position: absolute;
	background: #f4f4f4;
	margin-top: -130px;
	margin-left: -30px;
	-moz-box-shadow: 0 0 30px -4px #000000;
	-webkit-box-shadow: 0 0 30px -4px #000000;
	box-shadow: 0 0 30px -4px #000000;
	z-index: 1;
	line-height: 1em;
}
div#magnafooter table:hover div.debug {
	display: block;
}
body.ielt8 div#magnafooter table div.debug {
	left: 0;
	width: 180px;
	margin-top: -154px;
}
body.magna div#content .ml-button,
body.magna .ui-dialog .ml-button {
    background-image: none;
    background-color: #f7f6f5;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35);
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);*/
    color: #333333 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    line-height: 17px;
    margin: 3px;
    padding: 2px 10px;
    text-align: center;
    /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
}
body.magna div#content a.ml-button,
body.magna .ui-dialog a.ml-button {
    padding: 4px 10px;
}
input#unprepare.ml-button, input#reset_description.ml-button {
	min-width: 320px;
}
input#unprepare.ml-button {
	margin-bottom: 4px !important;
} 
input#reset_description.ml-button{
	margin-top: 0px !important;
}
body.magna div#content .ml-button.plus,
body.magna div#content .ml-button.minus,
body.magna .ui-dialog .ml-button.plus,
body.magna .ui-dialog .ml-button.minus {
	font-size: 17px;
	height: 23px;
	width: 32px;
	margin: 3px 0 3px 3px;
	padding: 0;
}
body.magna div#content .ml-button:hover,
body.magna .ui-dialog .ml-button:hover,
body.magna div#content .ml-button:active,
body.magna .ui-dialog .ml-button:active {
    background-color: #666;
    color: #fff !important;
    border-color: #666;
    text-shadow: none;
}

body.magna div#content .ml-button:focus,
body.magna div#content .ml-button::-moz-focus-inner,
body.magna .ui-dialog .ml-button:focus,
body.magna .ui-dialog .ml-button::-moz-focus-inner {
	outline: none;
}

body.magna div#content .ml-button.smallmargin,
body.magna .ui-dialog .ml-button.smallmargin {
	margin: 1px;
}
body.magna div#content .ml-button img,
body.magna .ui-dialog .ml-button img {
	border: none;
	outline: none;
	vertical-align: text-top;
	margin-top: -3px;
}
body.magna div#content button.ml-button img {
	vertical-align: text-top;
	margin-top: -2px;
	margin-left: -2px;
	margin-bottom: -2px;
}
body.magna .ui-dialog span.ml-button {
	height: 1.3em;
	margin: 0;
	vertical-align: top;
	cursor: default;
}
body.magna div#content .ml-button.mlbtn-action,
body.magna .ui-dialog .ml-button.mlbtn-action {
    background-color: #e31a1c;
    border-color: #e31a1c;
    color: #ffffff !important;
    text-shadow: none;
}
body.magna div#content .ml-button.mlbtn-action:hover,
body.magna .ui-dialog .ml-button.mlbtn-action:hover,
body.magna div#content .ml-button.mlbtn-action:active,
body.magna .ui-dialog .ml-button.mlbtn-action:active {
    background-color: #666;
    color: #fff !important;
    border-color: #666;
    text-shadow: none;
}

/* GFX Buttons */
body.magna .gfxbutton {
	width: 18px;
	height: 18px;
	display: inline-block;
	border: none;
	outline: none;
	background-color: transparent;
	color: transparent;
	background-position: 0 0;
	background-repeat: no-repeat;
	padding: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid transparent;
	box-sizing: content-box;
}
body.magna.ielt9 .gfxbutton {
	color: #fff;
}
body.magna .gfxbutton:hover {
	border: 1px solid #aaa;
	background-color: #ddd;
	-moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
body.magna .gfxbutton:active {
	border: 1px solid #999;
	background-color: #ccc;
	outline: none;
}

body.magna .gfxbutton.small {
	background-position: -1px -1px;
	width: 16px;
	height: 16px;
	margin: 0 0 -5px !important;
}
body.magna .gfxbutton.medium {
	background-position: 3px 3px;
	width: 22px;
	height: 22px;
}
body.magna .gfxbutton.large {
	background-position: 7px 7px;
	width: 30px;
	height: 30px;
	margin: 0 0 -5px !important;
}
body.magna .gfxbutton::-moz-focus-inner {
	outline: none;
	border: none;
}
body.magna .gfxbutton.edit {
	background-image: url('../images/pencil.png');
}
body.magna .gfxbutton.delete {
	background-image: url('../images/cross.png');
}
body.magna .gfxbutton.magnifier {
	background-image: url('../images/magnifier.png');
}
body.magna .gfxbutton.refresh {
	background-image: url('../images/arrow_rotate_clockwise_top.png');
}
body.magna .gfxbutton.info {
	background-image: url('../images/information.png');
}
body.magna .gfxbutton.cog {
	background-image: url('../images/icons/cog.png');
}
/* GFX Buttons w Border */
body.magna .gfxbutton.border {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.07);

	-moz-box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.5), inset -1px -1px 2px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.5), inset -1px -1px 2px rgba(0, 0, 0, 0.06);
	box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.5), inset -1px -1px 2px rgba(0, 0, 0, 0.06);
}
body.magna .gfxbutton.border:hover {
	border: 1px solid #aaa;
	
	-moz-box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 1), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 1), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 1), inset -1px -1px 2px rgba(0, 0, 0, 0.2);
}
body.magna .gfxbutton.border:active {
	outline: none;

	border-width: 1px;
	border-style: solid;
	border-color: #999 #aaa #aaa #999;

	-moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}
body.magna .gfxbutton.border.inactive {
    opacity: 0.4;
}
body.magna .gfxbutton.visiblebg {
	background-color: rgba(0, 0, 0, 0.05);
}
body.magna div#globalButtonBox .gfxbutton {
	background-repeat: no-repeat;
	background-position: 3px 3px;
	width: 22px;
	height: 22px;
	background-color: rgba(0, 0, 0, 0.05);
	background-image: url('../images/icons/buttonbox.png');
	margin-left: 5px;
}
body.magna div#globalButtonBox .gfxbutton.cart {
	background-position: 0px 0;	
}
body.magna div#globalButtonBox .gfxbutton.sync {
	background-position: -22px 0;	
}
body.magna div#globalButtonBox .gfxbutton.upload {
	background-position: -44px 0;	
}
body.magna div#globalButtonBox .gfxbutton.update {
	background-position: -66px 0;
}
/* Update Error */
table.updateError td {
	padding: 1px 3px;
}
table.updateError thead td {
	border: 1px solid #999;
	background: #ccc;
	font-weight: bold;
	text-align: center
}
table.updateError tbody td {
	border: 1px solid #bbb;
	background: #eee;
}

/* MagnaError */
div#magnaErrors {
	display: none;
	position: relative;
}
div#magnaErrors table {
	border-collapse: separate;
	border-spacing: 2px;
	width: 100%;
	position: relative;
	border: 2px solid #f00;
}
div#magnaErrors table th,
div#magnaErrors table td {
	padding: 3px 5px;
	vertical-align: top;
}
div#magnaErrors table thead th {
	background: #444;
	color: #fff;
	font-weight: bold;
}
div#magnaErrors table tbody.odd td {
	background: #aaa;
	color: #000;
}
div#magnaErrors table tbody.even td {
	background: #ccc;
	color: #000;
}
div#magnaErrors table tbody td.level {	
	font-weight: bold;
}
div#magnaErrors table tbody td.level.notice {	
	background: #C9FF48;
	color: #000;
}
div#magnaErrors table tbody td.level.warning {	
	background: #FFB548;
	color: #000;
}
div#magnaErrors table tbody td.level.fatal {	
	background: #FF4848;
	color: #000;
}
div#magnaErrors table tbody td.message {
	position: relative;
}
div#magnaErrors table tbody td.message.pre {
	font: 10px/9px monospace;
	white-space: pre;
}
div#magnaErrors table tbody td.action textarea,
div#magnaErrors table tbody td.message pre {
	display: none;
	position: absolute;
	background: #fff;
	color: #000;
	border: 2px solid #999;
	z-index: 2;
	padding: 3px;
	margin-top: -2px;
	left: 0;
	width: 100%;
	overflow: auto;
}
div#magnaErrors table tbody td.message:hover pre {
	display: block;
	max-height: 450px;
}
div#magnaErrors table tbody td.action:hover textarea {
	display: block;
	color: #333333;
	height: 300px !important;
	overflow: auto;
	padding: 3px 3px 0 !important;
	width: 100% !important;
	font: 11px/1em monospace;
}

div.magnamain table {
	font-size: 12px;
}
table.matching,
table.amazon_properties {
	font-size: 11px;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 100%;
}
table.amazon_properties {
	margin-bottom: 2em;
}
table.matching th,
table.matching td,
table.amazon_properties th,
table.amazon_properties td {
	padding: 4px 6px;
	margin: 0;
}
table.matching tbody.product th,
table.amazon_properties thead th {
	border: 1px solid #000;
	font-size: 14px;
	background: #555;
	color: #fff;
	text-align: left;
}
table.amazon_properties thead th {
	text-align: center;
}
table.matching tbody.product th div.title {
	color: #fff;
	float: left;
	padding-top: 1px;
}
table.matching tbody.product th div.title span.darker {
	color: #ccc;
	font-size: 14px;
}
table.matching tbody.product th span {
	font-weight: normal;
	font-size: 12px;
}
table.matching tbody.headline th {
	background: #ddd url('../images/grid.gif') repeat-x 50% 0;
	color: #000;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	white-space: nowrap;
}
table.matching tbody.headline th.input {
	text-align: center;
	width: 1%;
	white-space: nowrap;
}
table.matching tbody.headline th.asin {
	text-align: center;
}
table.matching tbody.options tr td,
table.amazon_properties tbody tr td {
	background: #fff;
	color: #000;
	border-bottom: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
}
table.matching tbody.options tr.odd td,
table.amazon_properties tbody tr.odd td {
	background: #f6f6f6;
	color: #000;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}
table.matching tbody.options td.input {
	text-align: center;
	vertical-align: middle;
	padding: 0;
}
table.matching tbody.options td.input input {
	margin: 0 2px;
	padding: 0;
}
table.matching tbody.options td.title {

}
table.matching tbody.options tr.searchFailed td {
	color: #000;
	background: #ffd3d3;
	border-bottom: 1px solid #888888;
}
table.matching tbody.options tr.searchFailed td.title {
	border-left: 2px solid #f00;
	border-right: 1px solid #bfbfbf;
}
table.matching tbody.options tr.noItem td {
	background: #f2f8ff;
}
table.matching tbody.options tr.noItem td.title {
	color: #2153A2;
	border-left: 2px solid #00f;
	border--right: 1px solid #000000;
}
table.matching tbody.options td.lowestprice,
table.matching tbody.options td.productGroup {
	white-space: nowrap;
}
table.matching tbody.options td.asin {
	text-align: left;
	width: 1%;
	white-space: nowrap;
}
table.matching tbody.options td.asin a {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
}
table.matching tbody.clear {
	border-top: 1px solid #000;
}
table.matching tbody.headline th.input,
table.matching tbody.options tr td.input,
table.matching tbody.options tr.odd td.input,
table.amazon_properties tbody tr td.label {
	border-left: 1px solid #000;
}
table.matching tbody.headline th.asin,
table.matching tbody.options tr td.asin,
table.matching tbody.options tr.odd td.asin,
table.amazon_properties tbody tr td.options {
	border-right: 1px solid #000;
}
table.matching tbody.options tr.last td {
	border-bottom: 1px solid #888;
}
table.amazon_properties tbody tr.last td {
	border-bottom: 1px solid #000;
}
table.matching tbody.func td {
	background: #eee;
	color: #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	padding: 5px 5px;
}
table.matching tbody.func td div {
	float: left;
	margin-right: 1em;
	
}
/*
table.matching tbody.product div.productDescBtn {
	background: transparent url('../images/page_white_magnify.png') no-repeat 0 0;
	width: 16px;
	height: 16px;
	cursor: pointer;
	float: right;
}
*/
table.matching tbody.product div.productDescBtn {
	display: block;
	float: right;
	padding: 3px 4px 3px 22px;
	color: #fff;
	background: #888 url('../images/page_white_magnify.png') no-repeat 2px 1px;
	font-weight: normal;
	text-decoration: none;
	font-size: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #eee #bbb #aaa #bbb;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 0px 3px #000;
	-webkit-box-shadow: 0px 0px 3px #000;
	box-shadow: 0px 0px 3px #000;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	margin-top: -1px;
	margin-bottom: -1px;
	line-height: 1em;
	cursor: pointer;
}

table.matchingDetailInfo {
	border-collapse: separate;
	border-spacing: 2px;
	width: 100%;
}
table.matchingDetailInfo tbody tr th,
table.matchingDetailInfo tbody tr td {
	padding: 4px;
	-webkit-border-radius: 3px;	
	border-radius: 3px;
}
table.matchingDetailInfo tbody tr th {
	background: #eee;
	border: 1px solid #d0d0d0;
}
table.matchingDetailInfo tbody tr td {
	border: 1px solid #e0e0e0;
}
table.matchingDetailInfo tbody tr th.smallwidth {
	white-space: nowrap;
	width: 5em;
}
table.matchingDetailInfo tbody tr.desc td div.mlDesc {
	height: 300px;
	overflow-y: auto;
	border: 1px solid #aaa;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
table.matchingDetailInfo tbody tr.images td div.main {
	height: 75px;
	overflow-y: auto;
	border: 1px solid #aaa;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
table.matchingDetailInfo tbody tr.images td div.main table {
	border: 1px solid #ccc;
	padding: 3px;
	float: left;
	margin: 0 3px 3px 0;
}
table.matchingDetailInfo tbody tr.images td div.main div img {
	vertical-align: middle;
}
table.matchingDetailInfo tbody tr.desc td,
table.matchingDetailInfo tbody tr.images td {
	border: none;
	padding: 0;
}
table.matchingDetailInfo tbody tr.desc td div,
table.matchingDetailInfo tbody tr.images td div.main {
	padding: 4px;
}
table.amazon_properties td.top {
	vertical-align: top;
}
table.amazon_properties td.label {
	width: 1%;
	white-space: nowrap;
	font-weight: bold;
}
table.amazon_properties tr td table.image tr td {
	border: none;
	padding: 2px;
	margin: 0;
}
table.amazon_properties tr td table.image tr.top td {
	padding-bottom: 0;
}
table.amazon_properties tr td table.image tr.bottom td {
	padding-top: 0;
}
table td.infoBoxContent div.separator {
	padding-top: 5px;
	font-weight: bold;
	width: 90%;
	border-top: 1px solid black;
	margin-top: 5px;
}

table.amazon_properties td.small_cell {
	width: 7em;
}

table.amazon_properties table.image {
	float: left;
	border: 1px solid #bbb;
	margin-right: 2px;
	margin-bottom: 2px;
}
table.noborders tbody tr td {
	border: none;
}

table.nospacing {
	border-collapse: collapse;
	border-spacing: 0px;
}
table.nospacing.nopadding td {
	padding: 0px;
}
input.refresh {
	height: 20px;
	width: 20px;
	background: url('../images/resultset_first.png') no-repeat 50% 50%;
	border-width: 1px;
	margin-right: 2px;
	cursor: help;
}
body.magna div#content input.ml-button.refresh {
	height: 20px;
	width: 20px;
	background-image: url('../images/resultset_first.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border-width: 1px;
	margin: 0px 6px 0px 2px;
	vertical-align: top;
	cursor: help;
}

/**
 * Configuration form
 */
form.config table.conftbl {
	width: 100%;
	margin: -1em 0 2.5em 0;
	border-collapse: collapse;
	border-spacing: 0px;
}
form.config table.conftbl.tabident {
	margin-top: -6px;
}
form.config table.conftbl tr.text h3 {
	margin-top: 0.7em;
}
form.config table.conftbl tr.text p {
	margin: 0 0 0.7em 0;
}
form.config table.conftbl tr.text.noheadline p {
	margin: 0.5em 0;
}
form.config table.conftbl tr.conf {
	border-top: 1px solid #999;	
}
form.config table.conftbl tr.conf td,
form.config table.conftbl tr.conf th {
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
}
form.config table.conftbl tr.conf th.ml-label label {
	font-weight: bold;
}
form.config table.conftbl tr.conf th label.missing {
	color: #a00000;
}
form.config table.conftbl tr.conf th label.expert {
	color: #004090;
	font-style: italic;
}
form.config table.conftbl tr.conf th,
form.config table.conftbl tr td.externalDesc {
	padding: 3px 5px;
	width: 3em;
	white-space: nowrap;
	background: #e0e0e0;
	text-align: left;
}
form.config table.conftbl tr td.externalDesc {
	vertical-align: top;
	white-space: normal;
	padding: 3px 8px;
	width: 18em;
}
form.config table.conftbl tr.conf th.desc {
	width: 1px;
}
body.ielt9 form.config table.conftbl tr.invisible td {
	border: none;
	height: 1px;
	color: transparent;
	background: transparent;
}
form.config table.conftbl tr td.externalDesc dl {
	font-size: 11px;
}
form.config table.conftbl tr td.externalDesc dl dt {
	font-weight: bold;
}
form.config table.conftbl tr td.externalDesc dl dd {
	margin-left: 1em;
	margin-bottom: 4px;
	color: #444;
}
body.magna div#content form.config table.conftbl tr th.space .ml-button {
	margin-top: 0;
	margin-bottom: 0;
}
body.magna div#content form.config table.conftbl tr th.space .ml-button:last-child {
	margin-right: 0;
}
/*
form.config table.conftbl tr.conf td {
	padding: 0 0 0 5px;
	background: #fff url('../images/inputLeft.png') no-repeat 0 0;
	border-right: 1px solid #f0f0f0;
}
form.config table.conftbl tr.conf td input {
	/* -moz-box-shadow: 2px 2px 3px #ccc inset; * /
	background: #fff url('../images/inputTop.png') repeat-x 0 -1px;
	border: 1px solid transparent;
	padding: 4px 5px 4px 0px;
	margin: 0;
	width: 100%;
	top: 0;
	left: 5px;
}
*/
form.config table.conftbl tr.conf td,
form.config table.conftbl tr td.editor {
	-moz-box-shadow: inset 2px 2px 3px #ccc;
	-webkit-box-shadow: inset 2px 2px 3px #ccc;
	box-shadow: inset 2px 2px 3px #ccc;
	padding: 4px 5px;
	background: #fff;
}
form.config table.conftbl tr td.editor,
form.config table.conftbl tr td.externalDesc {
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
}
form.config table.conftbl tr td.editor {
	vertical-align: top;
}
form.config table.conftbl tr.conf td[colspan="3"] {
	border-right: 1px solid #f0f0f0;
}
form.config table.conftbl tr.conf td input[type="text"],
form.config table.conftbl tr.conf td input[type="password"] {
	width: 100%;
}
form.config table.conftbl tr.conf table.inlinetable td input[type="text"],
form.config table.conftbl tr.conf table.inlinetable td input[type="password"] {
	width: auto;
}
form.config table.conftbl tr.conf td input[type="text"],
form.config table.conftbl tr.conf td input[type="password"],
form.config table.conftbl tr.conf td select,
form.config table.conftbl tr.conf td textarea {
	font-size: 11px;
	border: 1px solid #818181;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
form.config table.conftbl tr.conf td input[type="text"],
form.config table.conftbl tr.conf td input[type="password"] {
	padding: 2px 0 2px 2px;
}
form.config table.conftbl tr.conf td input[type="text"].missing,
form.config table.conftbl tr.conf td input[type="password"].missing,
form.config table.conftbl tr.conf td select.missing,
form.config table.conftbl tr.conf td textarea.missing {
	border: 1px solid #ff8181;
}
form.config table.conftbl tr.conf td input[type="radio"],
form.config table.conftbl tr.conf td input[type="checkbox"] {
	margin: 1px;
	vertical-align: sub;
}
body.mac form.config table.conftbl tr.conf td input[type="radio"],
body.mac form.config table.conftbl tr.conf td input[type="checkbox"],
body.webkit form.config table.conftbl tr.conf td input[type="radio"],
body.webkit form.config table.conftbl tr.conf td input[type="checkbox"] {
	margin: 0 1px;
	vertical-align: text-top;
}
body.mac.webkit form.config table.conftbl tr.conf td input[type="checkbox"] {
	margin-top: 1px;
}
body.mac.gecko form.config table.conftbl tr.conf td input[type="checkbox"] {
	margin-top: -1px;
}
body.mac.gecko form.config table.conftbl tr.conf td input[type="radio"] {
	margin-top: 0px;
}
body.windows.gecko form.config table.conftbl tr.conf td input[type="radio"],
body.windows.gecko form.config table.conftbl tr.conf td input[type="checkbox"] {
	margin: 2px -2px 2px 1px;
}
form.config table.conftbl tr.conf td.input label {
	padding-left: 3px;
}
form.config table.conftbl tr.conf td span {
	margin-right: 1em;
    line-height: 21px;
}
form.config table.conftbl tr.conf td label.savedPassword {
	padding: 0;
}
form.config table.conftbl tr.conf td label.savedPassword span {
	color: #808080;
	font-style: italic;
	opacity: 1;
	padding: 1px 1px 1px 5px;
	position: absolute;
	z-index: 5;
}
form.config table.conftbl tr.conf td .rightSpacer {
	margin-right: 1em;
}
form.config table.conftbl tr.conf td .leftSpacer {
	margin-left: 1em;
}

form.config table.conftbl tr.conf td .smalltext {
	font-size: smaller;
}

tr.bottomDashed {
    border-bottom: 1px dashed #ccc;
}

body.mac form.config table.conftbl tr.conf td label.savedPassword span,
body.webkit form.config table.conftbl tr.conf td label.savedPassword span {
	padding-top: 3px;
}
form.config table.conftbl tr.conf td label.savedPassword.partial span {
	color: #c0c0c0;
}
form.config table.conftbl tr.conf td label.savedPassword.hidden span {
	display: none;
}
form.config table.conftbl tr.conf td.hint,
form.config table.conftbl tr.conf td.error {
	white-space: nowrap;
	width: 1%;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #eee;
	color: #000;
	border-left: 1px solid #eaeaea;
}
form.config table.conftbl tr.conf td.error {
	color: #900;
}
form.config p {
	margin-bottom: 0;
}

form.config table.conftbl tr.conf td.subtable,
form.config table.conftbl tr td.subconf,
form.config table.conftbl tr table.inlinetable td {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
	border-bottom: 1px solid #999999;
}
form.config table.conftbl tr table.inlinetable td {
	border-top: none;
	border-bottom: none;
}
form.config table.conftbl tr table.nostyle td {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px solid #999999;
	border-top: none;
	border-bottom: none;	
}
form.config table.conftbl tr table.inlinetable td.nowrap {
	white-space: nowrap;
}
form.config table.conftbl tr.conf td.subtable table,
form.config table.conftbl tr td.subconf table.subtable,
form.config table.conftbl tr table.inlinetable {
	width: 100% !important;
	border-collapse: collapse;
	border-spacing: 0;
}
form.config table.conftbl tr.conf td.subtable table td, 
form.config table.conftbl tr.conf td.subtable table th,
form.config table.conftbl tr td.subconf table.subtable td.noborder, 
form.config table.conftbl tr td.subconf table.subtable th.noborder,
form.config table.conftbl tr table.inlinetable {
	border-top: none;
	border-bottom: none;
}
form.config table.conftbl tr.conf td.subtable table th.desc {
	width: 3em;
	text-align: center;
}
table.magnaframe div.desc,
table.actions div.desc,
form.config div.desc {
	width: 16px;
	height: 17px;
	background: transparent url('../images/information.png') no-repeat 0 0;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
}
form.config table.conftbl tr.conf td.input div.desc {
	background-position: 0px 1px;
	margin-top: 1px;
}
body.ielt9 table.magnaframe div.desc,
body.ielt9 table.actions div.desc,
body.ielt9 form.config div.desc {
	display: block;
}
table.magnaframe div.desc span,
table.actions div.desc span,
form.config div.desc span {
	display: none;
}
/* Fixes fuer den <ironie>besten</ironie> Browser der Welt! */
body.ielt8 form.config table.conftbl tr.conf th,
body.ielt8 form.config table.conftbl tr.conf th.desc,
body.ielt8 form.config table.conftbl tr.conf td.hint,
body.ielt8 form.config table.conftbl tr.conf td.error {
	width: auto;
}
body.ielt8 form#conf_general table.conftbl tr.conf th,
body.ielt8 form#conf_general table.conftbl tr.conf th.desc {
	width: 20px;
}

form.config table.conftbl tr table.shippingDetails {
	margin-bottom: 0.7em;
}
form.config table.conftbl tr table.shippingDetails:last-child {
	margin-bottom: 0;
}
form.config table.conftbl tr table.shippingDetails tr.row1 td {
	padding-bottom: 3px;
}

table.magnaframe {
	border: 1px solid #999;
	border-collapse: separate;
	border-spacing: 1px;
	width: 100%;
	margin-bottom: 1.5em;
}
table.magnaframe thead td,
table.magnaframe thead th {
	padding: 4px 6px;
	background: #ccc;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	line-height: 23px;
}
table.magnaframe tbody td {
	background: #f6f6f7;
}
table.magnaframe tbody td p {
	margin: 5px;
}

/**
 * Listing Table & Category View Table
 */
div.magnamain form.categoryView table {
	padding: 0;
	width: 100%;
}
div.magnamain form.categoryView table.main {
	border-collapse: collapse;
}
div.magnamain table.datagrid,
div.magnamain form.categoryView table.list,
table.actions {
	width: 100%;
	font-size: 10px;
	border: 1px solid #999;
	margin: 0 0 1em 0;
	border-collapse: separate;
	border-spacing: 1px;
}
table.datagrid thead tr td,
table.datagrid thead tr th,
table.datagrid tbody tr td,
table.datagrid tbody tr th,
form.categoryView table.list thead tr td,
form.categoryView table.list tbody tr td,
table.actions tr th,
table.actions tr td {
	padding: 4px 6px;
}
table.datagrid tbody tr td pre {
	margin: 0;
	font-size: 11px;
}
table.datagrid thead tr td,
table.datagrid thead tr th,
form.categoryView table.list thead tr td,
table.actions th {
	font-size: 110%;
	background: #ccc;
	border-bottom: 1px solid #b8b8b8;
	font-weight: bold;
	/*line-height: 23px;*/
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 1em;
	/*white-space: nowrap;*/
}
table.datagrid thead tr td.smallCell,
table.datagrid tbody tr td.smallCell {
 	width: 1%;
 	white-space: nowrap;
}
table.datagrid thead tr th span.lighter,
table.datagrid thead tr td span.lighter {
	color: #555;
}
table.datagrid thead tr td input,
form.categoryView table.list thead tr td input {
	vertical-align: baseline;
	padding: 0;
	margin-top: -2px;
	margin-bottom: -2px;
}
table.datagrid thead tr td input[type="checkbox"],
form.categoryView table.list thead tr td input[type="checkbox"] {
	margin: -1px 4px 0 4px;
	vertical-align: sub;
}
table.datagrid thead tr td a.sorting,
table.datagrid thead tr td a.sorting:active,
table.datagrid thead tr td a.sorting:hover,
table.datagrid thead tr td a.sorting img,
table.datagrid thead tr td a.sorting:active img,
table.datagrid thead tr td a.sorting:hover img,
form.categoryView table.list thead tr td a.sorting,
form.categoryView table.list thead tr td a.sorting:active,
form.categoryView table.list thead tr td a.sorting:hover,
form.categoryView table.list thead tr td a.sorting img,
form.categoryView table.list thead tr td a.sorting:active img,
form.categoryView table.list thead tr td a.sorting:hover img {
	outline: none !important;
	border: none !important;
	text-decoration: none;
}
table.datagrid tr td a.sorting img,
form.categoryView table.list thead tr td a.sorting img {
	margin-top: 0px;
	vertical-align: text-bottom;
}
table.datagrid tbody tr.odd td,
table.datagrid tbody tr.odd th,
form.categoryView table.list tbody tr.odd td,
table.actions tr td {
	background: #eaeaea;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}
/* IE lt 9 stinkt ab und ignoriert gleich die ganze deklaration... wtf. */
table.datagrid.autoOddEven tbody tr:nth-child(odd) td,
table.datagrid.autoOddEven tbody tr:nth-child(odd) th {
	background: #eaeaea;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;	
}
table.actions tr td {
	background: #eaeaea;
	border: none;
}
table.datagrid tbody tr.even td,
table.datagrid tbody tr.even th,
form.categoryView table.list tbody tr.even td {
	background: #fff;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #fafafa;
}
table.datagrid.autoOddEven tbody tr:nth-child(even) td,
table.datagrid.autoOddEven tbody tr:nth-child(even) th {
	background: #fff;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #fafafa;
}
table.datagrid tbody tr.odd:hover td,
table.datagrid tbody tr.even:hover td,
form.categoryView table.list tbody tr.odd:hover td,
form.categoryView table.list tbody tr.even:hover td {
	background: #fff;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
table.datagrid.hover.autoOddEven tbody tr:nth-child(odd):hover td,
table.datagrid.hover.autoOddEven tbody tr:nth-child(even):hover td {
	background: #fff;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
table.datagrid tbody tr td.fail {
	cursor: help;
}
table.datagrid tbody tr.failed.odd td {
	background: #e3c1c1;
}
table.datagrid tbody tr.failed.even td {
	background: #ffe0e0;
}
table.datagrid tbody tr.flast td {
	border-bottom: 2px solid #a00 !important;
}
table.datagrid tbody tr td ul.reason {
	display: none;
}
form.categoryView table.list tbody tr td.image {
	width: 20px;
	text-align: center;
}
form.categoryView table.list tbody tr td img {
	vertical-align: bottom;
	border: none;
}
form.categoryView table.list tbody tr td.edit {
	width: 3.5em;
}
form.categoryView table.list thead tr td.katProd {

}
form.categoryView table.list thead tr td.price,
form.categoryView table.list thead tr td.lowestprice,
form.categoryView table.list thead tr td.amazonPrice {
	width: 12.5em;
	white-space: nowrap;
}
body.ielt8 form.categoryView table.list thead tr td.price {
	width: 13em;
}
body.ielt8 form.categoryView table.list thead tr td.amazonPrice {
	width: 13.5em;
}
form.categoryView table.list thead tr td.matched {
	width: 6em;
}
form.categoryView table.list thead tr td.add {
	width: 3em;
}
form.categoryView table.list tbody tr td.add {
	text-align: center;
	padding-top: 0;
	padding-bottom: 0;
	white-space: nowrap;
}
form.categoryView table.list input.checkbox {
	display: inline-block;
	width: 17px;
	height: 17px;
	background: transparent url('../images/checkbox2.png') no-repeat 0 0;
	border: none;
	outline: none;
	padding: 0;
	vertical-align:baseline;
	margin-right: 3px;
}
form.categoryView table.list input.checkbox:active,
form.categoryView table.list input.checkbox::-moz-focus-inner {
	outline-style: none;
	border-style: none;
}

form.categoryView table.list input.checkbox.checked	    { background-position: 0 -34px; }
form.categoryView table.list input.checkbox.semichecked { background-position: 0 -17px; }
form.categoryView table.list input.checkbox.unchecked   { background-position: 0  0;    }

form.categoryView table.list input.checkbox.checked:hover     { background-position: -17px -34px; }
form.categoryView table.list input.checkbox.semichecked:hover { background-position: -17px -17px; }
form.categoryView table.list input.checkbox.unchecked:hover   { background-position: -17px  0;    }

body.magna table.actions tbody tr:first-child td:first-child {
	padding: 0 3px;
}
body.magna table.actions tbody tr.firstChild td.firstChild {
	padding: 0 3px;
}
body.magna table.actions table {
	width: 100%;
}
body.magna table.actions table table {
	width: auto;
}
body.magna table.actions table td {
	padding: 0;
}
body.magna table.actions table td:first-child {
	padding-right: 2px;
	text-align: left;
	width: 30%;
}
body.magna table.actions table td.firstChild {
	padding-right: 2px;
	text-align: left;
	width: 30%;
}
body.magna table.actions table td table td:first-child {
	width: auto;
}
body.magna table.actions table td table td.firstChild {
	width: auto;
}
body.magna table.actions table td:last-child {
	padding-left: 2px;
	text-align: right;
}
body.magna table.actions table td.lastChild {
	padding-left: 2px;
	text-align: right;
}
body.magna table.actions table td.inputCell {
	padding-left: 3px;
	padding-right: 3px;
}
body.magna table.actions table td.bottom {
	vertical-align: bottom;
}
table.actions tr td[colspan="2"] {
	padding: 3px;
}
table.actions tr td[colspan="2"] > div:first-child {
	font-weight: bold;
	font-size: 116%;
}

div.magnamain table.datagrid a,
div.magnamain form.categoryView table.list a {
	text-decoration: none;
}
div.magnamain table.datagrid a.underline,
div.magnamain form.categoryView table.list a.underline {
	text-decoration: underline;
}
table.nostyle {
	padding: 0;
	margin: 0;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	background: transparent;
	color: inherit;
	font: inherit;
}
table.datagrid table.nostyle,
form.categoryView table.list table.nostyle {
	font-size: 10px;
}
table.nostyle tr td,
table.datagrid tbody tr td table.nostyle tr td,
table.datagrid tbody tr:hover td table.nostyle tr td,
form.categoryView table.list tbody tr td table.nostyle tr td,
form.categoryView table.list tbody tr:hover td table.nostyle tr td {
	font: inherit;
	background: transparent;
	color: inherit;
	border: none;
	padding: 0;
	margin: 0;
}
form.categoryView table.list td.icoWidth {
	width: 19px;
}
form.categoryView table.list table.nostyle tr td.artNr,
table.datagrid tbody table.nostyle tr td.artNr,
form.categoryView table.list table.nostyle tr span.artNr,
table.datagrid tbody tr span.artNr {
	color: #666;
}
table.datagrid .gfxbutton,
form.categoryView table.list .gfxbutton,
body.magna table.actions .gfxbutton {
	margin-bottom: -7px;
	margin-top: -3px;
}

table.datagrid table.nostyle.addData th, 
table.datagrid table.nostyle.addData td {
	border-bottom: 1px solid #FAFAFA;
	border-top: 1px solid #FAFAFA;
}
table.datagrid tr.odd table.nostyle.addData th, 
table.datagrid tr.odd table.nostyle.addData td,
table.datagrid tr:hover td table.nostyle.addData tr td,
table.datagrid tr:hover td table.nostyle.addData tr th {
	border-bottom: 1px solid #E0E0E0;
	border-top: 1px solid #E0E0E0;
}
table.datagrid tr:hover td table.nostyle.addData tr th {
	background: #EAEAEA;
}
table.datagrid table.nostyle.addData td,
table.datagrid tr:hover td table.nostyle.addData tr td {
	padding-left: 3px;
	padding-right: 5px;
}
table.datagrid table.nostyle.addData th {
	width: 1px;
	padding-right: 3px;
}
table.datagrid table.nostyle.addData td a {
	color: #1431AD;
	text-decoration: underline;
}
table.datagrid table.nostyle.addData td a:hover {
	color: #4466FF;
}
table.nostyle td.label,
table.nostyle th.label {
	white-space: nowrap;
	width: 1px;
}
table.nosytle td.paddingRight,
table.nosytle th.paddingRight {
	padding-right: 3px;
}
table.attributesTable {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
}
table.attributesTable th,
table.attributesTable td {
	border-width: 1px;
	border-style: solid dashed;
	border-color: #747474 #c4c4c4;
	padding: 3px 5px;
	vertical-align: top;
}
table.attributesTable > tbody > tr > th,
table.attributesTable > tbody > tr > td {
	background: #fafafa;
}
table.attributesTable tr.even th,
table.attributesTable tr.even td {
	background: #eee;
}
table.attributesTable th {
	width: 10em;
	border-left: 1px solid #747474;
}
table.attributesTable th span,
span.bull {
	font-size: 120%;
	line-height: 0.83%;
	vertical-align: super;
	color: #f00;
}
table.attributesTable td.info {
	width: 20em;
	color: #555;
	font-size: 90%;
	border-right: 1px solid #747474;
}
table.attributesTable tr.headline td {
	background: #aaa;
	border: 1px solid #555;
}
table.attributesTable tr.headline td h4 {
	padding: 0;
	margin: 0.2em 0;
}
table.attributesTable tr.desc td {
	background: #ddd;
	border: 1px solid #555;
}
table.attributesTable tr.spacer td {
	background: transparent;
	border: none;
}
table.attributesTable td input.fullwidth {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
table.attributesTable table.imageBox {
	border: 1px solid #555;
	margin: 0 5px 5px 0;
	float: left;
	border-spacing: 0px;
	border-collapse: collapse;
}
table.attributesTable table.imageBox td {
	border: 1px solid #555;
	text-align: center;
	vertical-align: middle;
	padding: 0;
}
table.attributesTable table.imageBox td.image {
	width: 60px;
	height: 61px !important;
	overflow: hidden;
}
table.attributesTable table.imageBox td.cb {
	background: #eee;
}
table.attributesTable table.attrTable {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
	border: none !important;
	padding: 0;
	margin: 0;
}
table.attributesTable table.attrTable td {
	border-width: 1px;
	border-style: solid dashed;
	border-color: #747474 #c4c4c4;
}
table.attributesTable table.attrTable td.first {
	padding-left: 0;
}
table.attributesTable table.attrTable td.last {
	padding-right: 0;
}
table.attributesTable table.attrTable tr.first td {
	border-top: none;
}
table.attributesTable table.attrTable tr.last td {
	border-bottom: none;
}
table.attributesTable table.attrTable td.key {
	width: 5em;
	white-space: nowrap;
	border-left: none;
}
table.attributesTable table.attrTable td.input {
	padding-right: 4px;
}
table.attributesTable table.attrTable td.info {
	border-right: none;
}
table.attributesTable table.attrTable td select,
table.attributesTable table.attrTable td input[type="text"] {
	width: 100%;
}
table.attributesTable table.attrTable.noborder tr td {
	border: none;
}
table.attributesTable tr#additionalAttributes > td.input {
	border-right: 1px solid #747474;
	padding: 0;
}
table.attributesTable td input[type="text"],
table.attributesTable td input[type="password"],
table.attributesTable td select,
table.attributesTable td textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #818181;
	font-size: 11px;
}
table.attributesTable td input[type="text"].wrong,
table.attributesTable td select.wrong,
table.attributesTable td textarea.wrong {
	border-color: #d30;
	background-color: #fff0d8;
}
table.attributesTable td input.blocked,
table.attributesTable td select.blocked,
table.attributesTable td textarea.blocked {
	background-color: #eee;
	color: #808080;
}
table.attributesTable td input.blocked.wrong,
table.attributesTable td select.blocked.wrong,
table.attributesTable td textarea.blocked.wrong {
	border-color: #dc8e76;
	background-color: #eee5d6;
	color: #908070;
}

table.attributesTable table.inner
table.attributesTable table.inlinetable {
	border: none;
	border-spacing: 0px;
	border-collapse: collapse;
}
table.attributesTable td.fullwidth {
	width: 100%;
}
table.attributesTable table.fullwidth {
	width: 100%;
}
table.attributesTable table.inner tr td {
	border: none;
	padding: 1px 2px;
}
table.attributesTable table.inner.middle tr td {
	vertical-align: middle;
}
table.attributesTable table.categorySelect tr td.buttons {
	width: 6em;
}
table.attributesTable table.categorySelect tr td.label {
	width: 1em;
	white-space: nowrap;
}
table.attributesTable table.categorySelect td div.catVisual {
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 1.5em;
	background: #fff;
	color: #000;
	border: 1px solid #999;
}

table.attributesTable table.inlinetable tr td {
	border: none;
	padding: 0;
}
table.attributesTable table.shippingDetails {
	margin-bottom: 0.7em;
}
table.attributesTable table.shippingDetails:last-child {
	margin-bottom: 0;
}



/* TinyMCE fixes */
table.attributesTable td table span.o2k7Skin iframe {
	border: 1px solid #bbb;
}
table.attributesTable td table span.o2k7Skin table td.mceIframeContainer {
	padding: 0 4px 0 2px;
}
table.attributesTable td table span.o2k7Skin table.mceToolbar table.mceSplitButton td.mceFirst span {
	border-top: 1px solid #bbb;
}
table.attributesTable .o2k7SkinSilver .mceToolbar,
table.attributesTable .o2k7SkinSilver .mceStatusbar {
	border-style: solid none;
}
table.attributesTable .o2k7SkinSilver .mceIframeContainer {
	border-style: none;
}

/* not as hard as .nostyle */
table.lightstlye {
	border-collapse: collapse;
}
table.lightstlye td {
	border-left: none;
	border-right: none;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
}
table.lightstlye tr:first-child td {
	border-top: none;
}
table.lightstlye tr:last-child td {
	border-bottom: none;
}


/**
 * productLists
 */
body.magna div.productList {
	padding-top: 5px;
}
body.magna div.productList form.categoryView table.list {
	margin-top: 0px;
	margin-bottom: 0px;
}

body.magna div.productList table.actions {
	margin-top: 1em;
}
body.magna div.productList table.actions tbody tr td.actionswrap {
	padding: 4px;
}

/* Pagination */
body.magna div.productList table.ml-pagination {
	width: 100%;

	margin-top: 4px;
	margin-bottom: 4px;

	border-collapse: collapse;
	border-spacing: 0px;
}
body.magna div.productList table.ml-pagination td {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background: #f3f3f3;
	padding: 2px 5px;
}
body.magna div.productList table.ml-pagination input,
body.magna div.productList table.ml-pagination a {
	border: none;
	padding: 0;
	margin: 0;
	background: transparent;
	color: #000;
	font: 11px sans-serif;
	text-decoration: none;
}

/* Filter GUI */
body.magna div.productList button.n, 
body.magna div.productList input.n, 
body.magna div.productList select.n,
body.magna div.productList textarea.n {
	margin: 0;
}
body.magna div.productList select.n,
body.magna div.productList input[type="text"].n {
	border: 1px solid #9C9C9C;
	border-radius: 3px;
	
	padding: 2px 2px 2px 4px;

	font-size: 12px;
	
	line-height: 17px;
	height: 17px;
	background-color: #f9f9f9;
}
body.magna div.productList select.n {
	line-height: 23px;
	height: 23px;
	
	box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2) inset, 1px 1px 3px -1px #fff inset;
}
body.magna div.productList input[type="text"].n {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset, -1px -1px 3px -1px #fff inset;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
body.magna div.productList select.n:focus,
body.magna div.productList input[type="text"].n:focus {
	background-color: #fff;
	border-color: rgba(82, 168, 236, 0.8);
}

body.magna div.productList table.topControls {
	margin-bottom: -4px;
}
body.magna div.productList table.topControls select.n , body.magna div.productList table.topControls #editTemplates.n {
	margin-bottom: 4px;
}
body.magna div.productList table.topControls td.filterLeft {
	padding-left: 8px;
}
body.magna div.productList table.topControls td.filterRight div.filterWrapper {
	text-align: right;
}
body.magna div.productList table.topControls td.filterRight .filter,
body.magna div.productList table.topControls td.filterRight select.n {
	display: inline-block;
	width: 200px;
	vertical-align: 1px;
}

/* new template selector*/
.actionLeft > form {
    float: left;
    margin-right: 3px;
}
/* Neue Suche */
body.magna div.productList div.newSearch {
	font-size: 0;
	white-space: nowrap;
	display: inline-block;
	padding-right: 0px;
	margin-bottom: 4px;
}
body.magna div.productList div.newSearch input[type="text"] {
	border-radius: 3px 0 0 3px;
	width: 160px;
}
body.magna div.productList div.newSearch button.mlbtn {
	vertical-align: top;
	border-radius: 0 3px 3px 0;
	margin-left: -1px;
	height: 23px;
	padding: 2px 6px;
}
body.magna div.productList div.newSearch button {
	position: relative;
	width: 33px;
}
body.magna div.productList div.newSearch button span {
	background-image: url('../images/search_icon.png');
	background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGJhc2VQcm9maWxlPSJmdWxsIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpldj0iaHR0cDovL3d3dy53My5vcmcvMjAwMS94bWwtZXZlbnRzIj4NCjxnPg0KCTxjaXJjbGUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2NjY2IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgY3g9IjUuNjg2IiBjeT0iNC43OTYiIHI9IjQuMiIvPg0KCTxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzY2NjY2NiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHgxPSI4LjM2OCIgeTE9IjguMDIxIiB4Mj0iMTEuNTgzIiB5Mj0iMTEuMjM3Ii8%2BDQo8L2c%2BDQo8L3N2Zz4=);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	
	width: 13px;
	height: 13px;
	display: block;
	
	position: relative;
	left: 0px;
	top: 1px;
	
	margin: 0 auto;
}
body.magna div.productList div.newSearch button.mlbtn.action span {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGJhc2VQcm9maWxlPSJmdWxsIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpldj0iaHR0cDovL3d3dy53My5vcmcvMjAwMS94bWwtZXZlbnRzIj4NCjxnPg0KCTxjaXJjbGUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgY3g9IjUuNjg2IiBjeT0iNC43OTYiIHI9IjQuMiIvPg0KCTxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHgxPSI4LjM2OCIgeTE9IjguMDIxIiB4Mj0iMTEuNTgzIiB5Mj0iMTEuMjM3Ii8%2BDQo8L2c%2BDQo8L3N2Zz4=);
}

body.magna div.productList body.gecko div.newSearch button span {
	top: 0px;
}

/* products list fields */
body.magna div.productList table.price td {
	white-space: nowrap;
}

/* A button */
.mlbtn {
	display: inline-block;
	*display: inline;
	padding: 2px 10px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 12px;
	line-height: 17px;
	*line-height: 17px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
	*border: 0;
	border-color: #9C9C9C;
	border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35);
	border-radius: 3px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	*zoom: 1;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.mlbtn:hover,
.mlbtn:active,
.mlbtn.active,
.mlbtn.disabled,
.mlbtn[disabled] {
	color: #333333;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
}
.mlbtn:active,
.mlbtn.active {
	background-color: #cccccc \9;
	border-color: #666;
	border-color: rgba(0, 0, 0, 0.45) rgba(0, 0, 0, 0.45) rgba(0, 0, 0, 0.55);
}
.mlbtn:first-child {
	*margin-left: 0;
}
.mlbtn:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
	/* Buttons in IE7 don't get borders, so darken on hover */
	
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	   -moz-transition: background-position 0.1s linear;
	     -o-transition: background-position 0.1s linear;
	        transition: background-position 0.1s linear;
}
.mlbtn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.mlbtn.active,
.mlbtn:active {
	background-color: #e6e6e6;
	background-color: #d9d9d9 \9;
	background-image: none;
	outline: 0;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.mlbtn.disabled,
.mlbtn[disabled] {
	cursor: default;
	background-color: #e6e6e6;
	background-image: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	box-shadow: none;
}

/* Button colours */
.mlbtn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	*background-color: #0044cc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.mlbtn-primary:hover, .mlbtn-primary:active, .mlbtn-primary.active, .mlbtn-primary.disabled, .mlbtn-primary[disabled] {
	color: #ffffff;
	background-color: #0044cc;
	*background-color: #003bb3;
}
.mlbtn-primary:active, .mlbtn-primary.active {
	background-color: #003399 \9;
}
.mlbtn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	*background-color: #f89406;
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.mlbtn-warning:hover, .mlbtn-warning:active, .mlbtn-warning.active, .mlbtn-warning.disabled, .mlbtn-warning[disabled] {
	color: #ffffff;
	background-color: #f89406;
	*background-color: #df8505;
}
.mlbtn-warning:active, .mlbtn-warning.active {
	background-color: #c67605 \9;
}
.mlbtn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	*background-color: #bd362f;
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.mlbtn-danger:hover, .mlbtn-danger:active, .mlbtn-danger.active, .mlbtn-danger.disabled, .mlbtn-danger[disabled] {
	color: #ffffff;
	background-color: #bd362f;
	*background-color: #a9302a;
}
.mlbtn-danger:active, .mlbtn-danger.active {
	background-color: #942a25 \9;
}
.mlbtn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	*background-color: #51a351;
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.mlbtn-success:hover, .mlbtn-success:active, .mlbtn-success.active, .mlbtn-success.disabled, .mlbtn-success[disabled] {
	color: #ffffff;
	background-color: #51a351;
	*background-color: #499249;
}
.mlbtn-success:active, .mlbtn-success.active {
	background-color: #408140 \9;
}
.mlbtn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #49afcd;
	*background-color: #2f96b4;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.mlbtn-info:hover, .mlbtn-info:active, .mlbtn-info.active, .mlbtn-info.disabled, .mlbtn-info[disabled] {
	color: #ffffff;
	background-color: #2f96b4;
	*background-color: #2a85a0;
}
.mlbtn-info:active, .mlbtn-info.active {
	background-color: #24748c \9;
}
.mlbtn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	*background-color: #222222;
	background-image: -moz-linear-gradient(top, #444444, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
	background-image: -webkit-linear-gradient(top, #444444, #222222);
	background-image: -o-linear-gradient(top, #444444, #222222);
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.mlbtn-inverse:hover, .mlbtn-inverse:active, .mlbtn-inverse.active, .mlbtn-inverse.disabled, .mlbtn-inverse[disabled] {
	color: #ffffff;
	background-color: #222222;
	*background-color: #151515;
}
.mlbtn-inverse:active, .mlbtn-inverse.active {
	background-color: #080808 \9;
}
.mlbtn-action {
    background-color: #e31a1c;
    border-color: #e31a1c;
    color: #ffffff !important;
    text-shadow: none;
}



/** Listings table*/
form.listings {
	position: relative;
}
form.listings div {
	padding: 0.5em 0;
}
table.datagrid ul {
	margin: 0;
	padding: 0 0 0 1em;
	list-style: none;
	text-indent: -1em;
}
table.datagrid ul li {
	margin: 0;
	padding: 0;
}
table.datagrid ul li:before {
	content: "\00BB \0020";
}

div#listingsBar {
	position: relative;
	border: 1px solid #333;
	height: 15px;
	background: #555 url('../images/barBG.png') repeat-x 0 0;
	color: #fff;
	width: 100%;
}
div#listingsBar img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;	
	width: 100%;
}
div#listingsBar div.bar {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background: #555 url('../images/barBG.png') repeat-x 0 0;
}
div#listingsBar div.bar_sep {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: transparent url('../images/listingsbar_seperator.png') repeat-x 0 0;
}
div#listingsBar div.percent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;
	cursor: help;
	line-height: 15px;
	color: #fff;
	text-shadow: 0 0 1px #000000, 0 0 1px #000000;
}

#managerUIElements {
	padding-bottom: 6px;
}
form#templateSelection {
	display: inline;
	margin-bottom: 0.5em;
}
form#templateSelection label .gfxbutton.info {
	background-position: 1px 1px;
	vertical-align: middle;
}
form#deletedArticlesSelection {
	display: block;
    margin-top: 0.6em;
}
form#deletedArticlesSelection label .gfxbutton.info {
	background-position: 1px 1px;
	vertical-align: middle;
}
#editTemplates {
	line-height: 1em;
}
#editTemplates img {
	margin: 0.5em 0em -0.6em 0em;
	border: none;
}

/**
 * Debug Box
 */
div#debugBox {
	height: 300px;
	overflow: auto;
	border: 1px solid #999;
	background: #fff;
	padding: 5px;
	position: relative;
	margin: 2em 5px 5px 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div#debugBox pre {
	width: 100%;
	margin-top: 0;
	overflow: visible;
	display: block;
	display: -moz-box;
}
textarea#debugBox,
textarea.debugBox {
	height: 300px;	
	border: 1px solid #999;
	background: #fff;
	position: relative;
	width: 100%;
	font: 12px monospace;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 1em;
}


/* Dialogs v2 */
div.dialog2 {
	display: none;
	margin-top: 5px;
	line-height: 1.5em;
}
div.dialog2 dl dt {
	font-weight: bold;
}
div.dialog2 dl dd {
	margin-bottom: 1.4em;
}


/* Tabs */
body.magna div.magnaTabs2 ul {
	border-bottom: 1px solid #aeaeae;
	margin: 10px 0 0 0;
	padding: 0 1em 0 1em;
}
body.magna.ielt9 div.magnaTabs2 ul {
	padding-bottom: 0.5em;
}
body.magna div.magnaTabs2 ul li {
	display: inline;
	line-height: 2em;
	position: relative;
}
body.magna.ielt9 div.magnaTabs2 ul li {
	background: #fff;
	line-height: 1em;
}
body.magna div.magnaTabs2 ul li a,
body.magna div.magnaTabs2 ul li span {
	font-size: 10px;
	background-color: #C8C8C8;
	background: -moz-linear-gradient(
		center bottom,
		rgb(220,220,220) 80%,
		rgb(255,255,255) 100%
	);
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.8, rgb(220,220,220)),
		color-stop(1, rgb(255,255,255))
	);
	background: linear-gradient(
		to top,
		rgb(220,220,220) 80%,
		rgb(255,255,255) 100%
	);
	border-color: #c9c9c9;
	border-style: solid;
	border-width: 1px;
	color: #555;
	padding: 5px 7px 100px 7px;
	text-decoration: none;
	font-weight: bold;
	white-space: nowrap;
	outline: none;
	/* white-space:nowrap causes bugs in IE 6 */

	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
body.magna.ielt10 div.magnaTabs2 ul li a,
body.magna.ielt10 div.magnaTabs2 ul li span {
	background: #dcdcdc url('../images/gradient_inactive.png') repeat-x 0 0;
}
body.magna div.magnaTabs2 ul li a img,
body.magna div.magnaTabs2 ul li span img {
	border: none;
	margin-bottom: -6px;
}
body.magna div.magnaTabs2 ul li a img[src$="bepado.png"],
body.magna div.magnaTabs2 ul li span img[src$="bepado.png"],
body.magna div.magnaTabs2 ul li a img[src$="dawanda.png"],
body.magna div.magnaTabs2 ul li span img[src$="dawanda.png"] {
	margin-bottom: -5px;
}
body.magna div.magnaTabs2 ul li.inactive span {
	color: #555;
	background: #ddd;
	cursor: not-allowed;
}
body.magna div.magnaTabs2 ul li.selected a,
body.magna div.magnaTabs2 ul li a:hover {
	background-color: #fff;
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.8, #fff),
		color-stop(1, #d0d0d0)
	);
	background: linear-gradient(
		to top,
		#fff 80%,
		#d0d0d0 100%
	);
	border-color: #aeaeae;
	border-bottom-width: 0;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}
body.magna div.magnaTabs2 ul li.selected a,
body.magna div.magnaTabs2 ul li.selected span {
	position: relative;
	top: -5px;
	box-shadow: 2px -1px 4px -1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px -1px 4px -1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 2px -1px 4px -1px rgba(0, 0, 0, 0.2);
}
body.magna.ielt10 div.magnaTabs2 ul li.selected a,
body.magna.ielt10 div.magnaTabs2 ul li a:hover {
	background: #fff url('../images/gradient_active.png') repeat-x 0 0;
}

body.magna.xtcmodified div.magnaTabs2 ul li.selected a,
body.magna.xtcmodified div.magnaTabs2 ul li a:hover,
body.magna.xtcommerce div.magnaTabs2 ul li.selected a,
body.magna.xtcommerce div.magnaTabs2 ul li a:hover {
	background-color: #f7f7f7;
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.8, #f7f7f7),
		color-stop(1, #d0d0d0)
	);
	background: linear-gradient(
		to top,
		#f7f7f7 80%,
		#d0d0d0 100%
	);
}
body.magna.xonsoft div.magnaTabs2 ul li.selected a,
body.magna.xonsoft div.magnaTabs2 ul li a:hover {
	background-color: #e8e8e8;
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.8, #e8e8e8),
		color-stop(1, #cbcbcb)
	);
	background: linear-gradient(
		to top,
		#e8e8e8 80%,
		#cbcbcb 100%
	);
}
body.magna.ielt10.xtcmodified div.magnaTabs2 ul li.selected a,
body.magna.ielt10.xtcmodified div.magnaTabs2 ul li a:hover,
body.magna.ielt10.xtcommerce div.magnaTabs2 ul li.selected a,
body.magna.ielt10.xtcommerce div.magnaTabs2 ul li a:hover {
	background: #f7f7f7 url('../images/gradient_active_xtc.png') repeat-x 0 0;
}

body.magna div.magnaTabs2 ul li a:visited {
	font-weight: bold;
}
/* Amazon Prepare */
input#removeapply.ml-button, input#resetapply.ml-button {
	min-width: 320px;
}
input#removeapply.ml-button {
	margin-bottom: 0 !important;
}
input#resetapply.ml-button {
	margin-top: 4px !important;
}

/* Amazon Listings */
table#inventory tbody tr {
	color: #555;
}
table#inventory tbody tr.inventory {
	color: #000;
}
table#inventory tbody tr.incomplete {
	color: #555;
	font-style: italic;
}
table.listingInfo {
	width: 100%;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin-bottom: 1em;
}
table.listingProcessDetails {
	width: 100%;
	vertical-align: middle;
}
table.listingProcessDetails p {
	margin: 0;
}
body.magna div#content table.listingProcessDetails a.ml-button {
	margin: 0 0 0 5px;
}

table#errorlog tbody td.errormessage span {
	display: none;
}
table#errorlog tbody td.errormessage span[title].inline {
	cursor: help;
}
/* Datepicker fixes */
body.magna.jqueryui .ui-widget {
	font-family: sans-serif;
	font-size: 13px;
	background: #F5F5F5;
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 8px 26px 23px;
}
body.magna.jqueryui .ui-widget div.ui-widget-content {
	font-size: 13px;
}
body.magna.jqueryui .ui-slider {
	border: 1px solid #a6c9e2;
	padding: 0;
}
body.magna.jqueryui .ui-slider a {
	top: -2px;
}
body.magna.jqueryui .ui-slider.ui-corner-all {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
body.magna.jqueryui .ui-widget a {
	font-family: sans-serif !important;
}
body.magna.jqueryui .ui-dialog-titlebar {
	background: none;
	border: 0;
	padding-top: 2em;
}
body.magna.jqueryui .ui-dialog-titlebar span {
	color: #E31A1C;
	font-size: 15px;
}
body.magna.jqueryui .ui-dialog a {
	text-decoration: underline;
	font-size: 13px;
}
body.magna.jqueryui .ui-widget .ui-widget-header a:hover,
body.magna.jqueryui .ui-widget .ui-widget-header a.ui-state-hover,
body.magna.jqueryui .ui-widget .ui-widget-header a:focus {
	font-size: inherit;
	border: 0;
	background: transparent;
}
body.magna.jqueryui .ui-dialog p {
	color: #333334;
}
body.magna.jqueryui .ui-dialog .ui-dialog-titlebar-close {
	top: 15px;
	right: -9px;
	border: 0;
	background: none;
	padding: 0;
}
body.magna.jqueryui .ui-dialog .ui-dialog-titlebar-close span.ui-icon-closethick {
	background: url("../images/icons/closethick.png");
	width: 19px;
	height: 18px;
	display: none;
}
body.magna.jqueryui .ui-dialog a.ui-icon-arrowrefresh-wrap {
	height: 24px;
	width: 24px;
	padding: 0;
	border: 0;
	background: none;
	position: relative;
	top: 8px;
}
body.magna.jqueryui .ui-dialog span.ui-icon-arrowrefresh-1-n {
	background-image: url("../images/icons/buttonbox.png");
	background-position: -66px 0;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.05);
	height: 22px;
	width: 22px;
	float: right;
	padding: 0;
	position: relative;
	top: 30px;
	right: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.07);
	box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.5), inset -1px -1px 2px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.5), inset -1px -1px 2px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.5), inset -1px -1px 2px rgba(0, 0, 0, 0.06);
}
body.magna.jqueryui .ui-dialog a.ui-icon-arrowrefresh-wrap span.ui-icon-arrowrefresh-1-n {
	top: 0;
	right: 0;
}
body.magna.jqueryui .ui-dialog .ui-resizable-se {
	display: none !important;
}

/* Pagination */
body.magna table.ml-pagination {
	width: 100%;
}
body.magna table.ml-pagination input {
	border: none;
	padding: 0;
	margin: 0;
	background: transparent;
	color: #000;
	font: 11px sans-serif;
}

/* Einstellvorgang */
div#checkinSubmit {
	width: 475px;
	padding-top: 53px;
	padding-bottom: 36px;
	margin: 0 auto;
}
div#checkinSubmit h1#threeDots {
	font-weight: bold;
	font-size: 15.4px;
	margin-bottom: 0.3em;
	border: none;
	color: #e31a1c;
}
div#checkinSubmit h1#threeDots span#headline {

}
div#checkinSubmit h1#threeDots span.alldots {
	display: inline-block;
	width: 1.5em;
	text-align: left;
}
div#checkinSubmit p#checkinSubmitProductsNotice {
	line-height: 16px;
	margin-bottom: 24px;
	font-size: 12px;
}
div#checkinSubmit div#checkinSubmitStatus {
	line-height: 24px;
	font-size: 12px;
}
div#checkinSubmit div#checkinSubmitStatus button {
	margin-left: 8px;
}
div#checkinSubmit h1#threeDots span.alldots span.dot {
	display: inline;
}

/* Yatego Category Matching */
table#catMatch {
	width: 100%;
	font-size: 12px;
	line-height: 1em;
}
table#catMatch td {
	width: 33%;
}
table#catMatch td.spacer {
	width: 1em;
}
table#catMatch td.catView {
	vertical-align: top;
	border: 1px solid #666;
	background: #fff;
	padding: 0 0 2px 0;
}
table#catMatch td div.catView {
	height: 440px;
	overflow: auto;
	padding: 7px 0 0 7px;
	margin: 0 0 -2px 0;
	overflow: auto;
}
table#catMatch td#yategoCustomCats div.catView {
	height: 150px;
}
table#catMatch span.toggle {
	width: 34px;
	height: 16px;
	vertical-align: text-bottom;
	background: transparent url("../images/togglebuttons.png") no-repeat 0 0;
	display: inline-block;
	cursor: pointer;
}
table#catMatch span.toggle.minus {
	background-position: 0 -16px;
}
table#catMatch span.toggle.leaf {
	background-position: 0 -32px;
}
table#catMatch span.toggle.tick {
	background-position: 0 -48px;
}
table#catMatch span.toggle.minus.tick {
	background-position: 0 -64px;
}
table#catMatch span.toggle.leaf.tick {
	background-position: 0 -80px;
}
table#catMatch span.catname {
	cursor: pointer;
}
table#catMatch td#selectedShopCategory {
	height: 100px;
}
table#catMatch td#selectedShopCategory div.catView {
	height: 100px;
}
table#catMatch td#selectedYategoCategories {
	height: 315px;
}
table#catMatch td#selectedYategoCategories div.catView {
	height: 315px;
}
table#catMatch td.headline {
	height: 15px;
}
table#catMatch td div.catname {
	display: inline;
}
table#catMatch td div.catname div.catelem {
	margin-left: 1em;
}
table#catMatch td#selectedYategoCategories div.yategoCategory div.y_rm_handle {
	width: 16px;
	background: transparent url("../images/bullet_cross.png") no-repeat 0 0;
	display: inline-block;
	cursor: pointer;
	display: block;
	float: left;
}
table#catMatch td#selectedYategoCategories div.yategoCategory div.ycpath {
	margin-left: 16px;
}
table#catMatch td#selectedYategoCategories div.yategoCategory div.ycpath span.invalid {
	color: #755;
	font-style: italic;
}
table#catMatch td.catVisual {
	display: inline-block;
	width: 100%;
	height: 2em;
	line-height: 1.5em;
	background: #fff;
	color: #000;
	border: 1px solid #999;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* Additional CSS for blockUIProgress */
div.progressBarContainer {
	height: 17px;
	width: 100%;
	padding: 0;
	position: relative;
	text-align: center;
	background-color: #e2dede;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.progressBarContainer div.progressBar {
	position: relative;
	left: 0;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 0%;
	transition-property: width;
	background-color: #e31a1c;
}
div.progressBarContainer div.progressPercent {
	position: relative;
	left: 0;
	top: -15px;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-weight: bold;
	font-size: 11px;
	line-height: 14px;
	color: #fff;
	text-align: center;
}

/* Global Stats */
div#stats {
	padding-top: 8px;
	margin-bottom: -8px;
}
div#stats div.stat {
	float: left;
	border: 1px solid #ddd;
	padding: 8px;
	margin: 0 8px 8px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: inset 3px 3px 10px -4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 3px 3px 10px -4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 3px 3px 10px -4px rgba(0, 0, 0, 0.2);
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #f0f0f0),
		color-stop(1, #ffffff)
	);
	background: linear-gradient(
		to top,
		#f0f0f0 0%,
		#ffffff 100%
	);
}

textarea.apiRequestTime {
	border: 2px solid #ccc;
	background: #f8f8f8;
	color: #f8f8f8;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 5px !important;
	height: 5px !important;
	padding: 0 !important;
	margin: 0 0 3px 0;
	overflow: hidden;
	font: 11px/1em monospace;
	display: block;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	resize: none;
}
textarea.apiRequestTime:hover {
	color: #333;
	width: 100% !important;
	height: 300px !important;
	margin-top: -298px;
	position: relative;
	overflow: auto;
	padding: 3px 3px 0 3px !important;
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.7), 0 0 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.7), 0 0 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.7), 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

/* Gambio Fixes */
#gm_fav_dropzone {
	z-index: 4;
}

/* jqueryui und tinyMCE fixes */
body.jqueryui .ui-widget-overlay,
body.magna div#mceModalBlocker { 
	background: #000; 
	opacity: .50;
	filter:Alpha(Opacity=50);
}
body.jqueryui .ui-dialog .ui-dialog-buttonpane {
	border: 0;
	padding: 0;
	margin: 0 11px 0 0;
	background: transparent;
}
body.jqueryui .ui-dialog .ui-dialog-buttonpane button.ui-widget {
	padding: 0;
	margin-bottom: 0;
	margin-right: 4px;
	background-color: #E31A1C;
	border: 1px solid #E31A1C;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #fff;
	outline: none;
}
body.jqueryui .ui-dialog .ui-dialog-buttonpane button.ui-widget.abort{
	background-color: #f7f6f5;
	border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35);
	color: #000;
}
body.jqueryui .ui-dialog .ui-dialog-buttonpane button.ui-widget.abort:hover,
body.jqueryui .ui-dialog .ui-dialog-buttonpane button.ui-widget.abort:active {
	color: #fff;
}

#ebayCategorySelector ~ div button, #modal-dawanda_prepare_form_field_primarycategory ~ div button {
	margin-right: 4px;
	text-transform: uppercase;
}
body.jqueryui .ui-dialog .ui-dialog-buttonpane button.ui-widget:hover,
body.jqueryui .ui-dialog .ui-dialog-buttonpane button.ui-widget:active {
    background-color: #666666;
    border-color: #666666;
}
body.jqueryui .ui-dialog .ui-dialog-buttonpane button.ui-widget .ui-button-text {
	font-size: 10px;
	padding: 0.3em 1.3em;
	text-transform: uppercase;
}
/* Removes the white gap at the bottom of the page where the datepicker is used. */
body.magna .ui-datepicker.ui-helper-hidden-accessible {
    top: 0;
}

/* eBay prepare view */
.iceCrystal {
	display: inline-block;
	width: 16px;	
	height: 16px;
	background: transparent url('../images/icons/ice_crystal.png') no-repeat 0px 0px;
}
.iceCrystal.active {
	background-position: 0 -16px;
}

#freezePrice {
	vertical-align: text-bottom;
}

div.ebay .errPanel {
	padding: 10px 10px 5px 10px;
}
div.ebay .errPanel .panel-head {
    background: rgba(255, 255, 230, 0.3);
    padding: 5px 5px 0px 5px;
    border-radius: 5px;
    border: 1px solid #500;
}
div.ebay .errPanel .panel-head .error {
    color: #FFD300 !important;
    text-shadow: 0px 0px 2px #000;
}
div.ebay div.itemident {
	font-style: italic;
	color: #EBE6E6;
	margin-bottom: 0.5em;
}
div.ebay div.itemident span.label {
	font-weight: bold;
	color: #fff;
}

.mce-btn.mce-menubtn[role="button"]>button{
	/*quirks fix tinymce, dropdowns (Format, Fonttype, Fontsize, ...)*/
	padding-top: 2px;
	padding-bottom: 2px;
}

/*amazon css*/
input.ml-shippinglabel-size {
    width: 50px;
}
div.magnamain a.breadcrumb {
    pointer-events: none;
}
select.shopAttrSelector {
	margin-bottom: 10px;
}

.disabled {
	color: #d3d3d3;
}

.actionLeft > * {
    float: left;
    margin-right: 3px;
}

body.magna table#variationMatcher tr#mpVariationSelector td.input {
    white-space: nowrap;
}
body.magna table#variationMatcher tr#mpVariationSelector td.input div#newCustomGroup {
    display: inline;
}
body.magna table#variationMatcher tbody tr th {
    min-width: 150px;
}
body.magna table#variationMatcher table.attrTable.matchingTable {
    margin-top: 10px;
    margin-bottom: 1.5em;
    margin-left: -6px;
    width: -moz-calc(100% + 12px);
    width: -webkit-calc(100% + 12px);
    width: calc(100% + 12px);
    border-bottom: 2px solid #888;
}
body.magna table#variationMatcher table.attrTable.matchingTable tr.headline td {
    font-weight: bold;
}
body.magna table#variationMatcher table.attrTable.matchingTable tr td {
    width: 50%;
}
body.magna table#variationMatcher table.attrTable.matchingTable tr td.input {
    border-right: none;
}

body.magna table#variationMatcher select.shopAttrSelector {
    margin-bottom: 10px;
}

body.magna .list td {
	position: relative;
}

body.magna span.ml-warning {
    display: inline-block;
    margin-left:10px;
    margin-right:5px;
    background: url("../images/warning-exclamation-triangle.png") no-repeat scroll 0 3px transparent;
    height: 20px;
    width: 16px;
    padding-top: 4px;
}

body.magna .productList span.ml-warning {
	position: absolute;
	top: 5px;
	right: 5px;
}

body.magna .ml-collapse {
	border: none;
	background: transparent;
}

body.magna span.ml-collapse {
	display: inline-block;
	background: url("../images/collapseIcon.png") no-repeat scroll 0 3px transparent;
	height: 25px;
	width: 25px;
	padding-top: 4px;
	float: right;
}

body.magna.jqueryui .ui-dialog p.ml-catinfo {
	color: #FFF;
	background-color: #AFC8E7;
	padding-left: 40px;
}

body.jqueryui .ui-dialog .ui-dialog-buttonpane button.ml-btnreset {
	border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35);
	background-color: #f7f6f5;
	color: #333333;
}

body.jqueryui .ui-dialog .ui-dialog-buttonpane button.ml-btnreset:hover,
body.jqueryui .ui-dialog .ui-dialog-buttonpane button.ml-btnreset:active {
	color: #f7f6f5;
}