<div class="form-group visibility_switcher">
	<label class="col-sm-7 control-label" for="{$field}">{$config.label}</label>
	<div class="col-sm-4">
		<input type="hidden" name="{$field}" value="0" />
		<input type="{$config.type}"
		       id="{$field}"
		       name="{$field}"
		       class="form-control"

		value="1"
		{($config.default_value ==
		true) ? 'checked="checked"' : ''}
		{if $config.required} required{/if}
		/>
	</div>
	<span class="col-sm-1 tooltip-icon" style="margin: 0px;" data-gx-widget="tooltip_icon" data-tooltip_icon-type="{$config.tooltip.type}">{$config.tooltip.text}</span>
</div>