<div class="form-group visibility_switcher">
	<label class="col-sm-7 control-label" for="{$field}">{$config.label}</label>
	<div class="col-sm-4">
		<input data-gx-widget="datetimepicker" class="form-control datetimepicker" id="{$field}" name="{$field}" type="text" value="{$config.default_value}" placeholder="##.##.#### ##:##" />
	</div>
	<span class="col-sm-1 tooltip-icon" style="margin: 0px;" data-gx-widget="tooltip_icon" data-tooltip_icon-type="{$config.tooltip.type}">{$config.tooltip.text}</span>
</div>