<div class="form-group visibility_switcher">
	<label class="col-sm-7 control-label" for="{$field}">{$config.label}</label>
	<div class="col-sm-4">
		<input id="{$field}" class="form-control" name="{$field}" value="{$config.default_value}" type="text" data-jse-widget="datepicker" data-datepicker-show-On="focus" data-datepicker-gx-container placeholder="##.##.####" />
	</div>
	<span class="col-sm-1 tooltip-icon" style="margin: 0px;" data-gx-widget="tooltip_icon" data-tooltip_icon-type="{$config.tooltip.type}">{$config.tooltip.text}</span>
</div>