<div class="form-group visibility_switcher">
	<label style="float: none" class="col-sm-8 control-label" for="{$field}">{$config.label}</label>
	<textarea style="max-width: inherit" rows="10" id="{$field}"
	          class="form-control
				          {if $content.USE_WYSIWYG == 'true'} wysiwyg"
	          data-editor-identifier="editor-{$content.module_name}-{$field}"
	          data-editor-type="{$config.editor_type}"
	          {/if}
	name="{$field}"
	{if $config.readonly == true}readonly="readonly"{/if}
	>{$config.default_value}</textarea></div>