<div class="form-group visibility_switcher">
	<label class="col-sm-7 control-label" for="{$field}">{$config.label}</label>
	<div class="col-sm-4">
		<select class="form-control" style="max-width: 340px" name="{$field}">
			{foreach from=$config.values key=key item=value}
			<option {if $config.default_value == $value.id} selected{/if} value="{$value.id}">{$value.name}</option>
			{/foreach}
		</select>
	</div>
	<span class="col-sm-1 tooltip-icon" style="margin: 0px;" data-gx-widget="tooltip_icon" data-tooltip_icon-type="{$config.tooltip.type}">{$config.tooltip.text}</span>
</div>