/* 
	Content Manager Overview
    ========================================================================== 

	Contains specific styling for the new content manager overview.
	
*/

.admin_access_container {
	float:         left;
	margin-bottom: 48px;
	width:         100%;
	
	.headline {
		margin-bottom: 12px;
		
		.fa.btn-icon {
			margin-right: 6px;
		}
	}
	
	.overview-list-container {
		margin: 0;
		
		.overview-list {
			list-style: none;
			padding:    0;
			
			.list-headline {
				padding:       12px 12px;
				font-weight:   bolder;
				border-bottom: 3px solid #2196F3;
				color:         #737373;
				
				.list-element-text {
					line-height: 28px;
				}
			}
			
			.list-element {
				position: static;
				clear:    both;
				padding:  12px 12px;
				
				&:nth-child(even) {
					background-color: #F9F9F9;
				}
				
				.list-element-text {
					line-height: 28px;
					
					&.list-element-sub-group {
						padding-left:  48px;
					}
				}
				
				.list-element-collapse-handler {
					cursor: pointer;
				}
				
				.list-element-switcher {
					padding-top: 3px;
				}
				
				.list-element-tooltip {
					padding: 0;
				}
				
				.list-element-badge {
					line-height: 26px;
					padding:     0;
					
					span {
						background-color: #2196F3;
						color:            #FFFFFF;
						padding:          3px 8px;
						border-radius:    3px;
					}
				}
				
				.list-element-actions {
					text-align: right;
					visibility: hidden;
					
					a {
						margin-right: 24px;
						
						&:last-child {
							margin-right: 0;
						}
						
						.fa {
							color:     #737373;
							cursor:    pointer;
							font-size: 24px;
							
							&:hover {
								color: #2196F3;
							}
						}
					}
					
					.tooltip-icon i {
						color: #737373;
					}
				}
			}
		}
	}
}

.create-edit-role-modal {
	label {
		padding: 6px 15px;
	}
	
	.tab-content {
		padding: 24px 12px 0 12px;
	}
	
	.tooltip-icon i {
		color: #737373 !important;
	}
	
	.mandatory {
		color: #E66554;
	}
	
	input{
		&.error {
			border-color: #E66554;
			outline: #E66554;
			box-shadow: 0 0 5px #E66554;
		}
	}
}

.delete-role-modal {
	fieldset {
		padding-top: 12px;
	}
}

.sort-placeholder {
	border: 2px dashed #E4E4E4 !important;
	margin: 12px 0;
	height: 40px;
}

.qtip.gx-qtip .qtip-content {
	max-width: 350px;
}