div.gkv-label-prepare {
	max-width: 70em;
	
	h2 {
		padding-top: 13px;
	}

	span.gkv-fsk18 {
		background: #ff2222;
		color: #ffffff;
		padding: 1ex 1em;
		margin: 0 12px 12px 0;
		font-weight: bold;
		display: inline-block;
		vertical-align: middle;
	}

	label,
	span.blocklabel {
		font-weight: bold;
	}

	div.grid:first-child {
		margin-top: 1em;
	}

	div.grid div:first-child {
		padding-left: 12px;
	}

	div.grid:first-of-type {
		padding-top: 6px;
	}

	input[type="text"], select {
		width: 98%;
	}

	div.grid.small-margin {
		margin-bottom: 1px;
	}

	div.span2.linelabel {
		padding: 5px 0;
	}

	div.customize-shipper,
	div.customize-returnreceiver {
		display: none;
	}

	table.gkv-shipments {
		margin-bottom: 2em;
	}

	table.exportpositions {
		input[type="number"] {
			max-width: 7em;
		}

		input[name="exportpos[customstariffnumber][]"] {
			max-width: 8em;
		}

		tr.template_row {
			display: none;
		}

		button.remove_row {
			max-width: 3em;
			min-width: 1em;
			margin: 0;
		}

		select[name="exportpos[countrycodeorigin][]"] {
			min-width: 4em;
		}

		td, th {
			padding: 2px;
		}
	}
	
	button#cod_helper {
		margin: 0 1em;
	}
}

