body.page-checkout-payment .list-group.paypal3-plus-checkout .list-group-item {
	display: inherit;
}

body.page-checkout-payment .list-group.paypal3-plus-checkout .list-group-item:not(.paypal3-plus) {
	top: -34px;
}

body.page-checkout-payment .list-group.paypal3-plus-checkout .list-group-item:not(.paypal3-plus).above {
	top: 25px;
}

body.page-checkout-payment .list-group.paypal3-plus-checkout .list-group-item.gambio_hub-PayPalHub pre {
	color: #333333;
}

body.page-checkout-payment .list-group.paypal3-plus-checkout .list-group-item.gambio_hub-PayPalHub .title.payment_item {
	padding: 0;
}

body.page-checkout-payment .list-group.paypal3-plus-checkout .list-group-item.gambio_hub-PayPalHub .title.payment_item label {
	padding:       0 7px 0 8px;
	margin-bottom: 4px;
	margin-top:    -21px;
}

body.page-checkout-payment .list-group.paypal3-plus-checkout .list-group-item.gambio_hub-PayPalHub .title.payment_item label .module-name {
	display: none;
}

body.page-checkout-payment .list-group.paypal3-plus-checkout .list-group-item.gambio_hub-PayPalHub .title.payment_item label .module-description {
	color:     transparent;
	font-size: 0;
}

body.page-checkout-payment .list-group.paypal3-plus-checkout .list-group-item.gambio_hub-PayPalHub .title.payment_item label .module-description img {
	display: none;
}

body.page-checkout-payment .list-group.paypal3-plus-checkout .list-group-item.gambio_hub-SofortHub .title.payment_item label .module-description img {
	display: none;
}

body.page-checkout-payment .list-group.paypal3-plus-checkout .list-group-item[class^='gambio_hub-Klarna'].active .payment_item label .module-icon,
body.page-checkout-payment .list-group.paypal3-plus-checkout .list-group-item[class*=' gambio_hub-Klarna'].active .payment_item label .module-icon {
	margin-top: 2px;
}
body.page-checkout-payment .list-group.paypal3-plus-checkout .list-group-item[class^='gambio_hub-Klarna'].active .payment_item label .module-info .module-description,
body.page-checkout-payment .list-group.paypal3-plus-checkout .list-group-item[class*=' gambio_hub-Klarna'].active .payment_item label .module-info .module-description {
	margin-bottom: 5px;
}
body.page-checkout-payment .list-group.paypal3-plus-checkout .list-group-item[class^='gambio_hub-Klarna'].active .payment_item label .module-info .module-description .hub-logo,
body.page-checkout-payment .list-group.paypal3-plus-checkout .list-group-item[class*=' gambio_hub-Klarna'].active .payment_item label .module-info .module-description .hub-logo {
	display: none;
}
body.page-checkout-payment .list-group.paypal3-plus-checkout .list-group-item[class^='gambio_hub-Klarna'].active .payment_item label .control,
body.page-checkout-payment .list-group.paypal3-plus-checkout .list-group-item[class*=' gambio_hub-Klarna'].active .payment_item label .control {
	margin-top: 2px;
	right: unset !important;
}

body.page-checkout-payment .list-group .list-group-item.gambio_hub-PayPalHub .title.payment_item label .payment-module-description img {
	display: none;
}