/* 
	QuickEdit Graduated Prices Modal
    ========================================================================== 

	Styling for the graduated prices modal. 
	
*/

.graduated-prices.modal {
	.tab-content {
		padding: $padding-large 0;
		min-height: 350px;
	}
}