/* 
	QuickEdit Properties Table
    ========================================================================== 

	Styling for the properties table. 
	
*/

.properties.modal {
	.modal-dialog {
		width: 95vw;
		z-index: 0;
	}
	
	.modal-body {
		height:     80vh;
		min-height: 720px;
		overflow-y: scroll
	}
	
	.properties {
		.table {
			thead {
				tr {
					&:first-child {
						th:last-child {
							padding-right: 0;
							width:         425px;
						}
						
						th {
							&.edit-mode {
								border-bottom: 3px solid $gray-light;
							}
						}
					}
					
					&.properties-filter {
						th {
							background: $table-filter-bg-color;
						}
						
						.properties-page-length select {
							display: inline; 
							width: auto;
						}
					}
					
					&.properties-edit {
						th {
							background: $gray-lighter;
						}
					}
					
					th {
						&.status {
							text-align: center;
						}
						
						span {
							~ i {
								&.fa {
									&.fa-caret-down {
										position:    absolute;
										color:       $text-color-light;
										margin-left: $margin-small / 2;
										cursor:      pointer;
										
										&:before {
											vertical-align: middle;
										}
									}
								}
							}
						}
					}
				}
			}
			
			tbody {
				tr {
					td {
						i {
							&.fa-caret-down {
								display:  none;
								position: absolute;
								color:    $text-color-light;
								cursor:   pointer;
								margin:   $margin-small/6 0 0 $margin-small/2;
								
								&:before {
									vertical-align: middle;
								}
							}
						}
						
						&.status {
							text-align: center;
						}
						
						&.actions {
							i {
								&.fa {
									vertical-align: middle;
								}
							}
						}
						
						&.editable {
							& > input {
								margin-top: 6px;
								text-align: right;
							}
						}
						
						&:not(.numeric) {
							& > input {
								text-align: left;
							}
						}
						
						&.combi-price {
							.form-horizontal .control-label {
								font-size:   10px;
								padding-top: 0;
							}
							
							.form-group {
								margin-bottom: 0;
							}
							
							.form-control-static {
								padding-top: 0;
								min-height:  16px;
							}
							
							.form-control {
								> input {
									text-align: right;
								}
								
								margin-top: -2px;
								text-align: right;
								color:      $gray-dark;
							}
							
							padding-top: 0;
						}
						
						> select.select-properties-price-type, > select.select-properties-shipping-time {
							margin-top: 6px;
						}
						
						padding-top: 9px;
					}
					
					&:hover {
						i {
							&.fa-caret-down {
								display: inline-block;
							}
						}
					}
				}
			}
		}
	}
	
	.properties-bulk-action {
		ul.dropdown-menu {
			z-index: 2000;
		}
		
		.btn {
			min-width: 33px !important;
			
			&:not(.dropdown-toggle) {
				width:         120px;
				text-overflow: ellipsis;
				overflow:      hidden;
			}
		}
	}
}




	