/* 
	QuickEdit Special Prices Table
    ========================================================================== 

	Styling for the special prices table. 
	
*/

.special-prices.modal {
	width:        100%;
	min-width:    768px;
	padding-left: 17px;
	top:          15px;
	right:        0;
	bottom:       0;
	left:         0;
	
	.modal-dialog {
		width:   90%;
		z-index: 0;
	}
	
	.modal-body {
		height:     720px;
		min-height: 720px;
		overflow-y: scroll
	}
	
	.special-price {
		.table {
			thead {
				tr {
					&:first-child {
						th:last-child {
							padding-right: 0;
							width:         425px;
						}
						
						th {
							&.edit-mode {
								border-bottom: 3px solid $gray-light;
							}
						}
					}
					
					&.special-price-filter {
						th {
							background: $table-filter-bg-color;
						}
						
						.special-price-page-length select {
							display: inline; 
							width: auto;
						}
					}
					
					&.special-price-edit {
						th {
							background: $gray-lighter;
						}
					}
					
					th {
						&.status {
							text-align: center;
						}
						
						span {
							~ i {
								&.fa {
									&.fa-caret-down {
										position:    absolute;
										color:       $text-color-light;
										margin-left: $margin-small / 2;
										cursor:      pointer;
										
										&:before {
											vertical-align: middle;
										}
									}
								}
							}
						}
					}
				}
			}
			
			tbody {
				tr {
					td {
						i {
							&.fa-caret-down {
								display:  none;
								position: absolute;
								color:    $text-color-light;
								cursor:   pointer;
								margin:   $margin-small/6 0 0 $margin-small/2;
								
								&:before {
									vertical-align: middle;
								}
							}
						}
						
						&.status {
							text-align: center;
						}
						
						&.actions {
							i {
								&.fa {
									vertical-align: middle;
								}
							}
						}
						
						&.editable {
							& > input {
								text-align: right;
							}
							
							& > button.ui-datepicker-trigger {
								display:    none;
								visibility: hidden;
							}
						}
						
						&:not(.numeric) {
							& > input {
								text-align: left;
							}
						}
					}
					
					&:hover {
						i {
							&.fa-caret-down {
								display: inline-block;
							}
						}
					}
					
					&.special-new-entry td:first-child {
						& > .single-checkbox {
							margin-left: -2px;
						}
					}
				}
			}
		}
	}
	
	.special-price-bulk-action {
		ul.dropdown-menu {
			z-index: 2000;
		}
		
		.btn {
			min-width: 33px !important;
			
			&:not(.dropdown-toggle) {
				width:         120px;
				text-overflow: ellipsis;
				overflow:      hidden;
			}
		}
	}
}
