{load_language_text section="properties" name="properties"}

{block name="admin_properties_edit"}
	<div class="lightbox_properties_edit_content" style="display: block; width: 100%;">
		{block name="admin_properties_edit_list"}
			{foreach item=properties_name from=$content_data.properties.properties_names}
				{block name="admin_properties_edit_item"}
					{block name="admin_properties_edit_item_name"}
						<div class="row">
							<div class="span_1_4">
								{block name="admin_properties_edit_item_name_label"}
									<label for="properties_name[{$properties_name.code}]">{$properties.name} ({$properties_name.code}):</label>
								{/block}
							</div>
							<div class="span_3_4">
								{block name="admin_properties_edit_item_name_input"}
									<input id="properties_name[{$properties_name.code}]" name="properties_name[{$properties_name.code}]" type="text" value="{$properties_name.properties_name|escape}" size="30" />
								{/block}
							</div>
							<div class="clear_both"> <!-- &nbsp; --> </div>
						</div>
					{/block}
					{block name="admin_properties_edit_item_admin_name"}
						<div class="row">
							<div class="span_1_4">
								{block name="admin_properties_edit_item_admin_name_label"}
									<label for="properties_admin_name[{$properties_name.code}]">{$properties.admin_name} ({$properties_name.code}):</label>
								{/block}
							</div>
							<div class="span_3_4">
								{block name="admin_properties_edit_item_admin_name_input"}
									<input id="properties_admin_name[{$properties_name.code}]" name="properties_admin_name[{$properties_name.code}]" type="text" value="{$properties_name.properties_admin_name|escape}" size="30" />
								{/block}
							</div>
							<div class="clear_both"> <!-- &nbsp; --> </div>
						</div>
					{/block}
				{/block}
			{/foreach}
		{/block}
		{block name="admin_properties_edit_sort_order"}
			<div class="row">
				<div class="span_1_4">
					{block name="admin_properties_edit_sort_order_label"}
						<label for="properties_sort_order">{$properties.sort_order}:</label>
					{/block}
				</div>
				<div class="span_3_4">
					{block name="admin_properties_edit_sort_order_input"}
						<input id="properties_sort_order" name="sort_order" type="text" value="{$content_data.properties.sort_order|escape}" size="6" />
					{/block}
				</div>
				<div class="clear_both"> <!-- &nbsp; --> </div>
			</div>
		{/block}
		<div class="clear_both"> <!-- &nbsp; --> </div>
	</div>
{/block}