{load_language_text section="lightbox_buttons"}
{load_language_text section="combis" name="combis"}

{block name="admin_properties_combis_delete_selected"}
	<div class="lightbox_properties lightbox_properties_combis_delete_selected">
	    <div class="lightbox_properties_combis_delete_selected_content">
	        <div class="row">
		        {block name="admin_properties_combis_delete_selected_text"}
					{$combis.want_to_delete_all_combis}
		        {/block}
	        </div>
	        <div class="row">
		        {block name="admin_properties_combis_delete_selected_checkbox"}
					<input type="checkbox" id="delete_all_products_combis" style="float: left; width: 20px;" /> <label for="delete_all_products_combis" style="display: block; height: 26px; line-height: 26px;">{$combis.delete_all_products_combis}</label>
		        {/block}
	        </div>
	        <div class="clear_both"> <!-- &nbsp; --> </div>
	    </div>
	</div>
{/block}