{load_language_text section="properties" name="properties"}

{block name="admin_properties_delete"}
	<div class="lightbox_properties_delete_content">
		{block name="admin_properties_delete_text"}
			<div class="row">{$properties.want_to_delete_property}</div>
		{/block}
		{block name="admin_properties_delete_list"}
			{foreach item=properties_name from=$content_data.properties.properties_names}
				{block name="admin_properties_delete_item"}
					<div class="row">
						<div class="span_1_4">
							<label>{$properties.name} ({$properties_name.code}):</label>
						</div>
						<div class="span_3_4">
							<input type="text" value="{$properties_name.properties_name|escape}" disabled="disabled" />
						</div>
						<div class="clear_both"> <!-- &nbsp; --> </div>
					</div>
					<div class="row">
						<div class="span_1_4">
							<label>{$properties.admin_name} ({$properties_name.code}):</label>
						</div>
						<div class="span_3_4">
							<input type="text" value="{$properties_name.properties_admin_name|escape}" disabled="disabled" />
						</div>
						<div class="clear_both"> <!-- &nbsp; --> </div>
					</div>
				{/block}
			{/foreach}
		{/block}
		{block name="admin_properties_delete_sort_order"}
			<div class="row">
				<div class="span_1_4">
					{block name="admin_properties_delete_sort_order_label"}
						<label>{$properties.sort_order}:</label>
					{/block}
				</div>
				<div class="span_3_4">
					{block name="admin_properties_delete_sort_order_input"}
						<input type="text" value="{$content_data.properties.sort_order}" disabled="disabled" />
					{/block}
				</div>
				<div class="clear_both"> <!-- &nbsp; --> </div>
			</div>
		{/block}
		{if $content_data.properties.properties_in_combis_count > 0}
			{block name="admin_properties_delete_attention"}
				<div class="row attention">{$properties.attention_properties_in_combis_count|replace:"%count%":$content_data.properties.properties_in_combis_count}</div>
			{/block}
		{/if}
		<div class="clear_both"> <!-- &nbsp; --> </div>
	</div>
{/block}