{load_language_text section="properties" name="properties"}
{load_language_text section="admin_menu" name="title"}

{block name="admin_properties_main"}
	{block name="admin_properties_main_title"}
		<div class="pageHeading" style="background-image:url(html/assets/images/legacy/gm_icons/artkatalog.png)">{$title.BOX_PROPERTIES|@ucfirst}</div>
	{/block}
	
	{block name="admin_properties_main_wrapper"}
		<div id="box_properties" class="gx-container breakpoint-large" data-gx-extension="toolbar_icons" data-toolbar_icons-large="true" data-toolbar_icons-fixedwidth="true">
			{block name="admin_properties_main_top_area"}
				<div id="properties_area_top" class="grid">
					<a href="properties/properties_edit.html?properties_id=0"
							title="{$properties.property_add}"
							class="lightbox_open button_propertie_add btn btn-success pull-right">
						<i class="fa fa-plus"></i>
						{$properties.property}
					</a>
				</div>
			{/block}
		
			{block name="admin_properties_main_main_area"}
				<div id="properties_area_content">
					{block name="admin_properties_main_main_area_heading"}
						<div class="properties_table_headline">{$properties.properties}</div>
					{/block}
					
					{if $content_data.properties_tables}
						{block name="admin_properties_main_main_area_properties"}
							{foreach item=properties_table from=$content_data.properties_tables}
								{block name="admin_properties_main_main_area_property"}
									<div id="properties_table_container_{$properties_table.properties_id}" class="properties_table_container">
										{block name="admin_properties_main_main_area_property_heading"}
											<div class="properties_container_headline">
												{block name="admin_properties_main_main_area_property_heading_button"}
													<a href="#" class="properties_button button_display_container"></a>
												{/block}

												{block name="admin_properties_main_main_area_property_heading_text"}
													<div class="text-container">
														{foreach item=properties_name from=$properties_table.properties_names name=properties_names_array}
															{if $properties_name.properties_admin_name || $properties_name.properties_name}
																{if !$smarty.foreach.properties_names_array.first}
																	<div class="properties_container_headline_placeholder">/</div>
																{/if}
															{/if}
															{if $properties_name.properties_admin_name}
																<div class="properties_container_headline_text">{$properties_name.properties_admin_name|escape} ({$properties_name.properties_name|escape})</div>
															{else}
																<div class="properties_container_headline_text">{$properties_name.properties_name|escape}</div>
															{/if}
														{/foreach}
													</div>
												{/block}

												{block name="admin_properties_main_main_area_property_heading_options"}
													<div style="display: inline-block;">
														<a href="properties/properties_edit.html?properties_id={$properties_table.properties_id}" title="{$properties.property_edit}" class="icon btn-edit properties_button button_propertie_edit button_edit_pencil lightbox_open" style="margin-left: 24px;"></a>
														<a href="properties/properties_delete.html?properties_id={$properties_table.properties_id}" title="{$properties.property_delete}" class="icon btn-delete properties_button button_propertie_delete button_cancel_red_cross lightbox_open"></a>
														<a href="properties/properties_values_edit.html?properties_id={$properties_table.properties_id}&amp;properties_values_id=0" title="{$properties.property_value_add}" class="icon btn-add properties_button button_propertie_value_add button_add_green_plus lightbox_open"></a>
													</div>
												{/block}

												<div class="properties_sort_order_value">{$properties_table.sort_order}</div>
												<div class="properties_sort_order_text">#</div>
												<div style="clear: both;"> <!-- --> </div>
											</div>
										{/block}
										{block name="admin_properties_main_main_area_property_content"}
											<div class="properties_container_content">
												{block name="admin_properties_main_main_area_property_content_table"}
													<table cellpadding="2" cellspacing="0" id="properties_table">
														{block name="admin_properties_main_main_area_property_content_table_thead"}
															<tr>
																{block name="admin_properties_main_main_area_property_content_table_thead_ths"}
																	{foreach item=properties_name from=$properties_table.properties_names}
																		<th class="properties_table_name">{$properties.value} ({$properties_name.code})</th>
																	{/foreach}

																	<th>{$properties.sort_order_short}</th>
																	<th>{$properties.products_model_short}</th>
																	<th colspan="3">{$properties.price}</th>
																{/block}
															</tr>
														{/block}

														{block name="admin_properties_main_main_area_property_content_table_body"}
															{foreach item=properties_values from=$properties_table.properties_values}
																{block name="admin_properties_main_main_area_property_content_table_row"}
																	<tr class="properties_values_id_{$properties_values.properties_values_id}">
																		{block name="admin_properties_main_main_area_property_content_table_row_tds"}
																			{foreach item=values_name from=$properties_values.values_names}
																				<td class="properties_table_name">
																					{$values_name.values_name|escape}&nbsp;
																				</td>
																			{/foreach}

																			<td class="properties_table_sortnr">{$properties_values.sort_order}&nbsp;</td>
																			<td class="properties_table_artnr">{$properties_values.value_model|escape}&nbsp;</td>
																			<td class="properties_table_price">{$properties_values.value_price_formatted}&nbsp;</td>
																			<td class="properties_table_button"><a href="properties/properties_values_edit.html?properties_id={$properties_table.properties_id}&amp;properties_values_id={$properties_values.properties_values_id}" title="{$properties.property_value_edit}" class="icon btn-edit no-margin properties_button button_propertie_value_edit button_edit_pencil lightbox_open"> <!-- --> </a></td>
																			<td class="properties_table_button"><a href="properties/properties_values_delete.html?properties_id={$properties_table.properties_id}&amp;properties_values_id={$properties_values.properties_values_id}" title="{$properties.property_value_delete}" class="icon btn-delete no-margin properties_button button_propertie_value_delete button_cancel_red_cross lightbox_open"> <!-- --> </a></td>
																		{/block}
																	</tr>
																{/block}
															{/foreach}
														{/block}
													</table>
												{/block}
											</div>
										{/block}
									</div>
								{/block}
							{/foreach}
						{/block}
					{else}
						<div class="properties_table_container">
							<div class="properties_container_headline">
								<div class="text-container">
									<div class="properties_container_headline_text">
										{$properties.no_properties_message}
									</div>
								</div>
							</div>
						</div>
					{/if}
				</div>
			{/block}
			
			{block name="admin_properties_main_bottom_area"}
				<div id="properties_area_bottom"></div>
			{/block}
		</div>
	{/block}

	{block name="admin_properties_main_javascript"}
		{literal}
			<script type='text/javascript' src='../gm_javascript.js.php?page=Section&amp;globals=off&amp;section=properties_main'></script>
		{/literal}

		<div class="properties_table_container no-properties hidden">
			<div class="properties_container_headline">
				<div class="text-container">
					<div class="properties_container_headline_text">
						{$properties.no_properties_message}
					</div>
				</div>
			</div>
		</div>
	{/block}
{/block}