{load_language_text section="properties" name="properties"}

{block name="admin_properties_values_delete"}
	<div class="lightbox_properties_values_delete_content">
		{block name="admin_properties_values_delete_heading"}
			<div class="row">{$properties.want_to_delete_property_value}</div>
		{/block}
		
		{block name="admin_properties_values_delete_properties"}
			{foreach item=properties_values_name from=$content_data.properties_values.values_names}
				{block name="admin_properties_values_delete_property"}
					<div class="row">
						<div class="span_1_4">
							{block name="admin_properties_values_delete_property_label"}
								<label>{$properties.name} ({$properties_values_name.code}):</label>
							{/block}
						</div>
						<div class="span_3_4">
							{block name="admin_properties_values_delete_property_input"}
								<input type="text" value="{$properties_values_name.values_name|escape}" disabled="disabled" />
							{/block}
						</div>
						<div class="clear_both"> <!-- &nbsp; --> </div>
					</div>
				{/block}
			{/foreach}
		{/block}
		{block name="admin_properties_values_delete_sort_order"}
			<div class="row">
				<div class="span_1_4">
					{block name="admin_properties_values_delete_sort_order_label"}
						<label>{$properties.sort_order}:</label>
					{/block}
				</div>
				<div class="span_3_4">
					{block name="admin_properties_values_delete_sort_order_input"}
						<input type="text" value="{$content_data.properties_values.sort_order}" disabled="disabled" />
					{/block}
				</div>
				<div class="clear_both"> <!-- &nbsp; --> </div>
			</div>
		{/block}
		{block name="admin_properties_values_delete_products_model"}
			<div class="row">
				<div class="span_1_4">
					{block name="admin_properties_values_delete_products_model_label"}
						<label>{$properties.products_model}:</label>
					{/block}
				</div>
				<div class="span_3_4">
					{block name="admin_properties_values_delete_products_model_input"}
						<input type="text" value="{$content_data.properties_values.value_model|escape}" disabled="disabled" />
					{/block}
				</div>
				<div class="clear_both"> <!-- &nbsp; --> </div>
			</div>
		{/block}
		{block name="admin_properties_values_delete_price"}
			<div class="row">
				<div class="span_1_4">
					{block name="admin_properties_values_delete_price_label"}
						<label>{$properties.price}:</label>
					{/block}
				</div>
				<div class="span_3_4">
					{block name="admin_properties_values_delete_price_input"}
						<input type="text" value="{$content_data.properties_values.value_price_formatted}" disabled="disabled" />
					{/block}
				</div>
				<div class="clear_both"> <!-- &nbsp; --> </div>
			</div>
		{/block}
		{if $content_data.properties_values.properties_values_in_combis_count > 0}
			{block name="admin_properties_values_delete_attention"}
				<div class="row attention">{$properties.attention_properties_values_in_combis_count|replace:"%count%":$content_data.properties_values.properties_values_in_combis_count}</div>
			{/block}
		{/if}
		<div class="clear_both"> <!-- &nbsp; --> </div>
	</div>
{/block}