{load_language_text section="properties" name="properties"}

{block name="admin_properties_values_edit"}
	<div class="lightbox_properties_values_edit_content">
		{block name="admin_properties_values_edit_properties"}
			{foreach item=properties_values_name from=$content_data.properties_values.values_names}
				{block name="admin_properties_values_edit_property"}
					<div class="row">
						<div class="span_1_4">
							{block name="admin_properties_values_edit_property_label"}
								<label for="propertie_value_name[{$properties_values_name.code}]">{$properties.name} ({$properties_values_name.code}):</label>
							{/block}
						</div>
						<div class="span_3_4">
							{block name="admin_properties_values_edit_property_input"}
								<input id="propertie_value_name[{$properties_values_name.code}]" name="values_name[{$properties_values_name.code}]" type="text" value="{$properties_values_name.values_name|escape}" size="60" />
							{/block}
						</div>
						<div class="clear_both"> <!-- &nbsp; --> </div>
					</div>
				{/block}
			{/foreach}
		{/block}
		{block name="admin_properties_values_edit_sort_order"}
			<div class="row">
				<div class="span_1_4">
					{block name="admin_properties_values_edit_sort_order_label"}
						<label for="properties_values_sort_order">{$properties.sort_order}:</label>
					{/block}
				</div>
				<div class="span_3_4">
					{block name="admin_properties_values_edit_sort_order_input"}
						<input id="properties_values_sort_order" name="sort_order" type="text" value="{$content_data.properties_values.sort_order}" size="10" />
					{/block}
				</div>
				<div class="clear_both"> <!-- &nbsp; --> </div>
			</div>
		{/block}
		{block name="admin_properties_values_edit_products_model"}
			<div class="row">
				<div class="span_1_4">
					{block name="admin_properties_values_edit_products_model_label"}
						<label for="properties_values_model">{$properties.products_model}:</label>
					{/block}
				</div>
				<div class="span_3_4">
					{block name="admin_properties_values_edit_products_model_input"}
						<input id="properties_values_model" name="value_model" type="text" value="{$content_data.properties_values.value_model|escape}" size="40" />
					{/block}
				</div>
				<div class="clear_both"> <!-- &nbsp; --> </div>
			</div>
		{/block}
		{block name="admin_properties_values_edit_gross_price"}
			<div class="row">
				<div class="span_1_4">
					{block name="admin_properties_values_edit_gross_price_label"}
						<label for="properties_values_price">{$properties.gross_price}:</label>
					{/block}
				</div>
				<div class="span_3_4">
					{block name="admin_properties_values_edit_gross_price_input"}
						<input id="properties_values_price" name="value_price" type="text" value="{$content_data.properties_values.value_price|string_format:"%.2f"}" size="16" />
					{/block}
				</div>
				<div class="clear_both"> <!-- &nbsp; --> </div>
			</div>
		{/block}
		<div class="clear_both"> <!-- &nbsp; --> </div>
	</div>
{/block}