{load_language_text section="properties" name="properties"}

{block name="admin_properties_table"}
	{block name="admin_properties_table_heading"}
	    <div class="properties_container_headline">
		    {block name="admin_properties_table_heading_button"}
		        <a href="#" class="properties_button button_display_container"></a>
		    {/block}
	    
		    {block name="admin_properties_table_heading_properties"}
	            {foreach item=properties_name from=$content_data.properties_table.properties_names name=properties_names_array}
				    {block name="admin_properties_table_heading_property"}
		                {if $properties_name.properties_admin_name || $properties_name.properties_name}
		                    {if !$smarty.foreach.properties_names_array.first}
			                    <div class="properties_container_headline_placeholder">/</div>
		                    {/if}
		                {/if}
		    
		                {if $properties_name.properties_admin_name}
	                        <div class="properties_container_headline_text">{$properties_name.properties_admin_name|escape} ({$properties_name.properties_name})</div>
		                {else}
	                        <div class="properties_container_headline_text">{$properties_name.properties_name|escape}</div>
		                {/if}
				    {/block}
	            {/foreach}
		    {/block}
	    
		    {block name="admin_properties_table_heading_options"}
		        <div style="display: inline-block;">
			        <a href="properties/properties_edit.html?properties_id={$content_data.properties_table.properties_id}" title="{$properties.property_edit}" class="icon btn-edit properties_button button_propertie_edit button_edit_pencil lightbox_open" style="margin-left: 24px;">
				        <i class="fa fa-pencil fa-lg fa-fw"></i>
			        </a>
			        <a href="properties/properties_delete.html?properties_id={$content_data.properties_table.properties_id}" title="{$properties.property_delete}" class="icon btn-delete properties_button button_propertie_delete button_cancel_red_cross lightbox_open">
				        <i class="fa fa-trash-o fa-lg fa-fw"></i>
			        </a>
			        <a href="properties/properties_values_edit.html?properties_id={$content_data.properties_table.properties_id}&amp;properties_values_id=0" title="{$properties.property_value_add}" class="icon btn-add properties_button button_propertie_value_add button_add_green_plus lightbox_open">
				        <i class="fa fa-plus fa-lg fa-fw"></i>
			        </a>
		        </div>
		    {/block}
		    
		    <div class="properties_sort_order_value">{$content_data.properties_table.sort_order}</div>
	        <div class="properties_sort_order_text">#</div>
	        <div style="clear: both;"> <!-- --> </div>
	    </div>
	{/block}
	
	{block name="admin_properties_table_content"}
	    <div class="properties_container_content">
		    {block name="admin_properties_table_content_table"}
		        <table cellpadding="2" cellspacing="0">
			        {block name="admin_properties_table_content_table_thead"}
				        <tr>
					        {block name="admin_properties_table_content_table_thead_ths"}
						        {foreach item=properties_name from=$content_data.properties_table.properties_names}
						            <th class="properties_table_name">{$properties.value} ({$properties_name.code})</th>
						        {/foreach}
						    
						        <th>{$properties.sort_order_short}</th>
						        <th>{$properties.products_model_short}</th>
						        <th colspan="3">{$properties.price}</th>
					        {/block}
				        </tr>
			        {/block}
			    
			        {block name="admin_properties_table_content_table_tbody"}
				        {foreach item=properties_values from=$content_data.properties_table.properties_values}
					        {block name="admin_properties_table_content_table_row"}
						        <tr class="properties_values_id_{$properties_values.properties_values_id}">
								    {block name="admin_properties_table_content_table_row_tds"}
							            {foreach item=values_name from=$properties_values.values_names}
								            <td class="properties_table_name">
									            {$values_name.values_name}&nbsp;
								            </td>
							            {/foreach}
							    
							            <td class="properties_table_sortnr">{$properties_values.sort_order}&nbsp;</td>
							            <td class="properties_table_artnr">{$properties_values.value_model}&nbsp;</td>
							            <td class="properties_table_price">{$properties_values.value_price_formatted}&nbsp;</td>
							            <td class="properties_table_button">
								            <a href="properties/properties_values_edit.html?properties_id={$content_data.properties_table.properties_id}&amp;properties_values_id={$properties_values.properties_values_id}" title="{$properties.property_value_edit}" class="icon btn-edit no-margin properties_button button_propertie_value_edit button_edit_pencil lightbox_open"><i class="fa fa-pencil fa-lg fa-fw"></i> <!-- --> </a>
							            </td>
							            <td class="properties_table_button">
								            <a href="properties/properties_values_delete.html?properties_id={$content_data.properties_table.properties_id}&amp;properties_values_id={$properties_values.properties_values_id}" title="{$properties.property_value_delete}" class="icon btn-delete no-margin properties_button button_propertie_value_delete button_cancel_red_cross lightbox_open"><i class="fa fa-trash-o fa-lg fa-fw"></i> <!-- --> </a>
							            </td>
							        {/block}
						        </tr>
					        {/block}
				        {/foreach}
			        {/block}
		        </table>
		    {/block}
	    </div>
	{/block}
{/block}