{*
    Template representing the edit view
    Parameters:
        $url Link to the deactivation callback
*}

{load_language_text section="twofactorauth" name="twofactorauth_text"}

{block name="twofactorauth_edit"}
    {block name="twofactorauth_edit_heading"}
        {include file="get_usermod:GXModules/Gambio/TwoFactorAuth/Shop/Html/partials/heading.html"}
    {/block}

    {block name="twofactorauth_edit_content"}
        {block name="twofactorauth_edit_content_text"}
            {$twofactorauth_text.edit_content_text}
        {/block}

        {block name="twofactorauth_edit_content_buttons"}
            <p>
                <a href="{$url}" class="btn btn-primary">{$twofactorauth_text.deactivate}</a>
            </p>
        {/block}
    {/block}
{/block}