/*
	---------------------------------------------------------------------------
	THIS FILE IS DEPRECATED - MODIFY IT ONLY FOR FIXES IN EXISTING STYLE RULES. 
	
	DO NOT APPEND IT WITH NEW STYLING RULES, USE THE GX-ADMIN FILES INSTEAD. 
	---------------------------------------------------------------------------
*/
#db_backup_wrapper {
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

#db_backup_wrapper .db_backup_list {
	width: 100%; 
	border-radius: 5px; 
	border: 1px solid #717171;
	font-family: Verdana,sans-serif;
}

#db_backup_wrapper .db_backup_list .db_backup_list_headline {
	font-size: 14px;	
	color: #fff;
	background: #717171;
	font-weight: bold;
}

#db_backup_wrapper .db_backup_list .db_backup_list_headline div {
	float: left;
}

#db_backup_wrapper .db_backup_list .db_backup_list_headline, 
#db_backup_wrapper .db_backup_list .db_backup_list_row {
	padding-left: 20px;
	height: 30px;
	line-height: 30px;		
	font-size: 11px;
}

#db_backup_wrapper .db_backup_list .db_backup_list_row:last-child {
	border-bottom-left-radius: 5px; 
	border-bottom-right-radius: 5px; 
}

#db_backup_wrapper .db_backup_list .db_backup_list_row:nth-child(even) {
	background: #eee;
}

#db_backup_wrapper .db_backup_list .db_backup_list_row.error {
	background: #eee;
	color: red;
	border-radius: 5px; 
	height: auto;
	line-height: 20px;
	padding: 10px 0 10px 20px;
}

#db_backup_wrapper .db_backup_list .db_backup_list_content {
	display: block;
	width: 300px;
	float: left;
	height: 30px;
	line-height: 30px;
}

#db_backup_wrapper .db_backup_list .db_backup_list_filedate {
	width: 180px;
}

#db_backup_wrapper .db_backup_list .db_backup_list_filename {
	width: 520px;
}

#db_backup_wrapper .db_backup_list .db_backup_list_filesize {
	width: 290px;
}

#db_backup_wrapper .db_backup_list .db_backup_list_buttons {
	width: 45px;
}

#db_backup_wrapper .db_backup_list .db_backup_list_buttons a {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 6px 3px 0 0;
}

#db_backup_wrapper .db_backup_list .db_backup_list_buttons img {
	border:none;
}

#db_backup_wrapper .db_backup_path {
	font-size: 11px;
	text-align: right;
	margin: 5px 0;
}

#db_backup_lightbox .db_backup_lightbox_message {
	margin: 0 0 15px 0;
}

#db_backup_lightbox .db_backup_lightbox_error_message {
	display: none;
	color: red;
	margin: 0 0 15px 0;
	text-align: center;
	font-weight: bold;
}

#db_backup_lightbox .db_backup_lightbox_backup_select div {
	font-weight: bold;
	margin: 5px 0;
}

#db_backup_lightbox .db_backup_lightbox_backup_select select {
	width: 100%;
}

#db_backup_lightbox .db_backup_lightbox_process {
	visibility: hidden;
}

#db_backup_lightbox .progress_bar {
	display: block;
	height: 10px;
	width: 250px;
	background: #272C32;
	margin: 0 auto;
	border: 1px solid #272C32;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#db_backup_lightbox .progress_job {
	font-size: 10px;
	color: #333;
	text-align: center;
}

#db_backup_lightbox .progress_marker {
	display: block;
	height: 10px;
	width: 0%;
	background: url('../../images/legacy/icon_progress_marker.png') repeat-x;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#db_backup_lightbox .progress_text {
	font-size: 10px;
	color: #333;
	text-align: center;
}