/*
	---------------------------------------------------------------------------
	THIS FILE IS DEPRECATED - MODIFY IT ONLY FOR FIXES IN EXISTING STYLE RULES. 
	
	DO NOT APPEND IT WITH NEW STYLING RULES, USE THE GX-ADMIN FILES INSTEAD. 
	---------------------------------------------------------------------------
*/

/* --------------------------------------------------------------
   lightbox.css 2014-11-08 tb@gambio
   Gambio GmbH
   http://www.gambio.de
   Copyright (c) 2014 Gambio GmbH
   Released under the GNU General Public License (Version 2)
   [http://www.gnu.org/licenses/gpl-2.0.html]
   --------------------------------------------------------------*/

.lightbox_package {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  filter: Alpha(opacity=0);
  margin: 30px 0 30px 0;
}

.lightbox_shadow {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	filter: Alpha(opacity=0);
}

.lightbox_loading {
	display: block;
	position: fixed;
}

.lightbox_package .lightbox_border_top b,
.lightbox_package .lightbox_border_bottom b {
	height: 1px;
	display: block;
}

.lightbox_package .lightbox_border_top b:nth-child(1),
.lightbox_package .lightbox_border_bottom b:nth-child(4) {
	margin: 0px 5px;
}

.lightbox_package .lightbox_border_top b:nth-child(2),
.lightbox_package .lightbox_border_bottom b:nth-child(3) {
	margin: 0px 3px;
}

.lightbox_package .lightbox_border_top b:nth-child(3),
.lightbox_package .lightbox_border_bottom b:nth-child(2) {
	margin: 0px 2px;
}

.lightbox_package .lightbox_border_top b:nth-child(4),
.lightbox_package .lightbox_border_bottom b:nth-child(1) {
	margin: 0px 1px;
	height: 2px;
}

.lightbox_package .lightbox_wrapper {
	padding: 5px 15px;
}

.lightbox_package .lightbox_header {
	position: relative;
	overflow: hidden;
}

.lightbox_package .lightbox_headline {
	float: left;
	height: 25px;
	line-height: 25px;
    display: block;
	cursor: default;
	overflow: hidden;
}

.lightbox_package .lightbox_navigation {
	margin: 0 auto;
	height: 25px;
	line-height: 25px;
	width: 140px;
	overflow: hidden;
}

.lightbox_package .lightbox_navigation .navigation_button_prev,
.lightbox_package .lightbox_navigation .navigation_button_next {
	display: block;
	float: left;
	margin: 0 5px;
}

.lightbox_package .lightbox_navigation .navigation_button_next {
	float: right;
}

.lightbox_package .lightbox_navigation .navigation_button_prev:hover,
.lightbox_package .lightbox_navigation .navigation_button_next:hover {
	background-position: left center;
}

.lightbox_package .lightbox_navigation .navigation_button_prev.disabled,
.lightbox_package .lightbox_navigation .navigation_button_next.disabled {
	background-position: left bottom;
	cursor: default;
}

.lightbox_package .lightbox_navigation .navigation_text {
	margin: 0 auto;
	width: 80px;
	display: block;
	cursor: default;
	text-align: center;
}

.lightbox_package .lightbox_navigation .navigation_actual_index,
.lightbox_package .lightbox_navigation .navigation_group_size {
	display: inline;
	margin: 0 5px;
}

.lightbox_package .image_loading {
	display: block;
	position: absolute;
}

.lightbox_package .lightbox_close_button {
	float: right;
	display: block;
	cursor: pointer;
	margin-top: 5px;
}

.lightbox_package .lightbox_close_button:hover {
	background-position: left bottom;
}

.lightbox_package .lightbox_content_container {
	padding: 5px 0 5px 0;
}

.lightbox_package div.lightbox_content_error {
	text-align: center;
	color: #cc0000;
	font-weight: bold;
	margin: 10px 0;
	display: none;
}

.lightbox_package span.lightbox_content_error {
	color: #cc0000;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 10px;
}

.lightbox_package .lightbox_footer {
	position: relative;
	overflow: hidden;
}

.clear_both{
    clear: both;
}


/* +++++++++++++++++++++       Lightbox Content (global)       +++++++++++++++++++++++++++*/

.lightbox_package .button_container {
	margin-top: 10px;
}

.lightbox_package .button_container .active {
	opacity: 0.3;
	filter: Alpha(opacity=30);
}

.lightbox_package .lightbox_confirm_content {
	text-align: center;
}

.lightbox_package .lightbox_content_container p {
	margin: 0;
}

.lightbox_package .lightbox_content_container pre {
	margin: 0;
}

.row
{
	width: 100%;
	padding-bottom: 10px;
	position: relative;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


.row > div
{
	padding: 0 5px;
}

div[class^="span"]
{
	position: relative;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
	float: left;
}

.row label
{
	display: block;
	font-size: 11px;
	font-weight: bold;
	vertical-align: middle;
	width: 100%;
	min-height: 25px;
	line-height: 25px;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.row label[for]
{
	cursor: pointer;
}

.row label img
{
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
}

.row input[type='text'],
.row select,
.row textarea
{
	height: 25px;
	line-height: 25px;
	font-size: 11px;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
	vertical-align: middle;
	width: 100%;
}

.row select
{
	height: 25px;
	padding: 2px 0;
}

.row input[type='file']
{
	font-size: 13px;
	margin: 2px 0;
	box-sizing:content-box;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.row input[type='checkbox'],
.row input[type='radio']
{
	margin: 5px 3px 6px 0;
	display: inline-block;
	vertical-align: middle;
	float: left;
}

.row textarea
{
	height: 120px;
	line-height: inherit;
}

.row.attention
{
	color: red;
	font-weight: bold;
	text-align: center;
}

.row.error label {
	color: #990000;
}

.row.error input[type='text'] {
	color: #990000;
	border-color: #990000;
}

.row.error input[type='file'] {
	color: #990000;
	border-color: #990000;
}

.row.error input[type='checkbox'] {
	border-color: #990000;
}

.row.error select {
	color: #990000;
	border-color: #990000;
}

.span_1
{
	width: 100%;
}

.span_1_2
{
	width: 50%;
}

.span_1_3
{
	width: 33.33333333333%;
}

.span_2_3
{
	width: 66.66666666666%;
}

.span_1_4
{
	width: 25%;
}

.span_2_4
{
	width: 50%;
}

.span_3_4
{
	width: 75%;
}

.span_1_5
{
	width: 20%;
}

.span_2_5
{
	width: 40%;
}

.span_3_5
{
	width: 60%;
}

.span_4_5
{
	width: 80%;
}

.span_1_6
{
	width: 16.666666666666%;
}

.span_2_6
{
	width: 33.333333333333%;
}

.span_3_6
{
	width: 50%;
}

.span_4_6
{
	width: 66.666666666666%;
}

.span_5_6
{
	width: 83.333333333333%;
}

/* ++++++++++++++++++++ Eigenschaften +++++++++++++++++++++ */

.lightbox_package .lightbox_properties_combis_edit_content .button.left {
	float: left;
}

.lightbox_package .lightbox_properties_combis_edit_content .button.right {
	float: right;
}

/* ++++++++++++++++++++++++++++++++   Lightbox Progress   ++++++++++++++++++++++++++++++++ */

.lightbox_progress .progress_bar {
	display: block;
	height: 10px;
	width: 250px;
	background: #272C32;
	margin: 0 auto;
	border: 1px solid #272C32;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.lightbox_progress .progress_marker {
	display: block;
	height: 10px;
	width: 1%;
	background: url('../../images/legacy/lightbox_icons/lightbox_progress_marker.png') repeat-x;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.lightbox_progress .progress_text {
	font-size: 10px;
	color: #989898;
}

.lightbox_progress .message {
	font-weight: bold;
	line-height: 15px;
}