{extends file="get_usermod:layouts/main/layout.html"}

{block name="content"}
	{load_language_text section="update_downloader"}
	
	<div class="breakpoint-small">
		<div class="update-downloader-container">
			<h3 class="headline">{$txt.DATA_PRIVACY_TITLE}</h3>
			
			<p>{$txt.DATA_PRIVACY_TEXT|unescape:"html" nofilter}</p>
			<a class="btn btn-primary pull-right" href="admin.php?do=AutoUpdater/acceptDataPrivacy">{$txt.DATA_PRIVACY_AGREE_BUTTON}</a>
		</div>
	</div>
{/block}