{load_language_text section="update_downloader"}
{load_language_text section="admin_buttons" name="admin_buttons"}

<div class="download-updates modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{$txt.ACTION_DOWNLOADING_UPDATES}</h4>
			</div>
			<div class="modal-body">
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" role="progressbar"
					     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
						0%
					</div>
				</div>
				<h4 class="errors">{$txt.ERROR|unescape:"html" nofilter}:</h4>
				<div class="errors">
					<span></span>
					<ul></ul>
				</div>
				<h4 class="installed-updates">{$txt.ERROR_SUBTEXT_SOME_SUCCESSFUL}:</h4>
				<ul class="installed-updates"></ul>
			</div>
			<div class="modal-footer">
				{*<button type="button" class="btn btn-default cancel">{$admin_buttons.BUTTON_CANCEL}</button>*}
				<button type="button" class="btn btn-default close-button" data-dismiss="modal">{$admin_buttons.BUTTON_CLOSE}</button>
			</div>
		</div>
	</div>
</div>