{load_language_text section="update_downloader"}
{load_language_text section="admin_buttons" name="admin_buttons"}

<div class="info modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{$txt.INFO_MODAL_TITLE}</h4>
			</div>
			<div class="modal-body">{$txt.INFO_MODAL_TEXT|unescape:"html" nofilter}</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{$admin_buttons.BUTTON_CLOSE}</button>
			</div>
		</div>
	</div>
</div>