{extends file="get_usermod:layouts/main/layout.html"}

{block name="content"}
	{load_language_text section="update_downloader"}
	
	<div class="breakpoint-small">
		<div class="update-downloader-container" data-show-info="{if $content.showInfo}true{else}false{/if}">
			{if count($content.updateStatus.body.updates) > 0}
				<h3 class="headline">
					{$txt.UPDATES_AVAILABLE}
					
					<span class="tooltip-icon" data-gx-widget="tooltip_icon" data-tooltip_icon-type="info">
						{$txt.NOTICE_TEXT}
					</span>
				</h3>
				
				<form id="auto-updater-form"
				      method="post"
				      action="admin.php?do=AutoUpdater/installUpdates"
				      data-gx-widget="single_checkbox">
					<ul class="update-downloader-list row">
						{foreach item=update key=key from=$content.updateStatus.body.updates}
							<li class="col-sm-4">
								<div class="update-wrapper active" data-id="{$key}" data-receipt="{$update.receipt}">
									<div class="update-selection">
										<input class="update-selection"
										       type="checkbox"
										       name="selectedUpdates[{$update.receipt}]"
										       value="{$update.receipt}"
										       {if $update.required}required disabled{/if} checked>
									</div>
									<h4 class="update-title">
										{$update.name[$language_code]|unescape:"html" nofilter}
									</h4>
									<div class="update-icon">
										{if $update.icon[$language_code]}
											<i class="fa {$update.icon[$language_code]}"aria-hidden="true"></i>
										{elseif $update.image[$language_code]}
											<img src="{$update.image[$language_code]}" />
										{/if}
									</div>
									<div class="update-description hidden">
										{$update.description.long[$language_code]|unescape:"html" nofilter}
									</div>
									<div class="update-description-short">
										{$update.description.short[$language_code]|truncate:55:" ..."}
									</div>
									<div class="update-details">
										<a class="btn btn-default update-details" data-id="{$key}" href="#">{$txt.ACTION_DETAILS}</a>
									</div>
								</div>
							</li>
						{/foreach}
					</ul>
					
					<br/>
					<div class="text-right">
						<a class="btn btn-default pull-left" href="admin.php?do=AutoUpdater/dissentDataPrivacy">{$txt.DATA_PRIVACY_DISAGREE_BUTTON}</a>
						<input type="submit"
						       form="auto-updater-form"
						       class="btn btn-primary download-updates"
						       data-text-single="{$txt.ACTION_DOWNLOAD_UPDATE}"
						       data-text-plural="{$txt.ACTION_DOWNLOAD_UPDATES}"
						       value="{$content.updateStatus.body.updates|count|string_format:$txt.ACTION_DOWNLOAD_UPDATES}" />
					</div>
				</form>
				
				{include file="get_usermod:Gambio/UpdateDownloader/Admin/Html/update_details_modal.html"}
				{include file="get_usermod:Gambio/UpdateDownloader/Admin/Html/download_updates_modal.html"}
			{else}
				<h3 class="headline">
					{$txt.UPDATES_AVAILABLE}
				</h3>
				
				<br />
				<p>{$txt.NO_UPDATES}</p>
				<br />
				
				<p>
					<a class="btn btn-default pull-left" href="admin.php?do=AutoUpdater/dissentDataPrivacy">{$txt.DATA_PRIVACY_DISAGREE_BUTTON}</a>
				</p>
			{/if}
			
			{include file="get_usermod:Gambio/UpdateDownloader/Admin/Html/info_modal.html"}
			{if $content.uninstalledUpdates}
				{include file="get_usermod:Gambio/UpdateDownloader/Admin/Html/uninstalled_updates_modal.html"}
			{/if}
		</div>
	</div>
{/block}