{extends file="get_usermod:layouts/main/layout.html"}

{block name="content"}
	{load_language_text section="google_analytics"}
	<div class="gx-container breakpoint-large">

		<div data-gx_google_analytics-namespace="../GXModules/Gambio/GoogleECommerce/Build/Admin/Javascript"
			 data-gx_google_analytics-widget="charts_iframe"
		></div>

	</div>
{/block}
