{block name="admin_layouts_main_footer_copyright"}
	<div class="copyright row">
		<p>
			<strong>
				<a href="https://www.gambio.de" target="_blank"><strong>Gambio.de</strong></a>
				- Gambio Admin © {'Y'|date} Gambio GmbH
			</strong>
			Gambio GmbH provides no warranty. The Shopsoftware is redistributable under the
			<a href="http://www.gnu.org/licenses/gpl-2.0.html" target="_blank">GNU General Public License (Version 2)</a>
			based on: E-Commerce Engine Copyright © 2006
			<a href="http://www.xt-commerce.com" target="_blank">xt:Commerce</a>,
			<a href="http://www.xt-commerce.com" target="_blank">xt:Commerce</a> provides no warranty. &nbsp;
			<a href="./credits.php">Credits</a>
		</p>
	</div>
{/block}