{block name="admin_layouts_main_footer_menu_trigger"}
	<div class="menu-trigger col-xs-1">
		{* Menu Trigger *}
		{include file="get_usermod:layouts/main/footer/menu_trigger.html"}
	</div>
{/block}

{block name="admin_layouts_main_footer_version"}
	<div class="version col-xs-6">
		{* Version *}
		{include file="get_usermod:layouts/main/footer/version.html"}
	</div>
{/block}

{block name="admin_layouts_main_footer_language_selection"}
	<div class="language-selection col-xs-2" data-gx-controller="layouts/main/footer/language_selection">
		{* Language Selection *}
		{include file="get_usermod:layouts/main/footer/language_selection.html"}
	</div>
{/block}