{block name="admin_layouts_main_footer_version"}
	<span>Gambio Version: {$shop_version}</span>
	<a href="admin.php?do=ShopKey">
		{if $shop_key_state == true}
			<i class="fa fa-check fa-lg shop-key-valid"></i>
		{else}
			<i class="fa fa-exclamation-triangle fa-lg shop-key-invalid"></i>
		{/if}
	</a>
{/block}