{load_language_text section="parcel_services"}
{load_language_text section="lightbox_buttons" name="buttons"}

{block name="admin_tracking_parcel_services_overview"}
	{block name="admin_tracking_parcel_services_overview_table_wrapper"}
		<div class="table_wrapper">
			{block name="admin_tracking_parcel_services_overview_table"}
				<table cellpadding="0" cellspacing="0">
					{block name="admin_tracking_parcel_services_overview_table_thead"}
						<tr>
							{block name="admin_tracking_parcel_services_overview_table_thead_ths"}
								<th>{$txt.parcel_services}</th>
								<th class="button_col">&nbsp;</th>
							{/block}
						</tr>
					{/block}
					{if count($content_data.parcel_services_array) == 0}
						{block name="admin_tracking_parcel_services_overview_no_services_created"}
							<tr>
								<td colspan="2">{$txt.no_parcel_services_created}</td>
							</tr>
						{/block}
					{/if}
					{foreach item=parcel_service from=$content_data.parcel_services_array}
						{block name="admin_tracking_parcel_services_overview_table_row"}
							<tr>
								{block name="admin_tracking_parcel_services_overview_table_row_tds"}
									<td>{$parcel_service->getName()} {if $parcel_service->getDefault() == 1}({$txt.default}){/if}</td>
									<td>
										<div class="icon_buttons">
											<a href="tracking/parcel_service_edit.html?parcel_service_id={$parcel_service->getId()}" data-lightbox-lightbox_width="800px" data-close_button_position="none" data-shadow_close_onclick="false" data-background_color="#EFEFEF" class="open_lightbox"><img alt="" border="0" title="{$buttons.edit}" src="html/assets/images/legacy/icon_edit.png" /></a>
											<a href="lightbox_confirm.html?buttons=cancel-delete&amp;section=parcel_services&amp;message=delete_parcel_service_confirm" data-lightbox-controller="tracking/delete_parcel_service" data-lightbox-setting_lightbox_width="460px" title="{$parcel_service->getName()|escape}" data-lightbox-param_parcel_service_id="{$parcel_service->getId()}" data-lightbox-param_page_token="{$content_data.page_token}" class="open_lightbox"><img alt="" border="0" title="{$buttons.delete}" src="html/assets/images/legacy/icon_delete.png" /></a>
										</div>
									</td>
								{/block}
							</tr>
						{/block}
					{/foreach}
				</table>
			{/block}
		</div>
	{/block}
	<br />
	{block name="admin_tracking_parcel_services_overview_buttons"}
		<div class="button_container">
			{block name="admin_tracking_parcel_services_overview_buttons_left"}
				<div class="button_left_container"></div>
			{/block}
			{block name="admin_tracking_parcel_services_overview_buttons_right"}
				<div class="button_right_container">
					<a class="admin_button green open_lightbox" data-close_button_position="none" data-lightbox-lightbox_width="800px" data-shadow_close_onclick="false" data-background_color="#EFEFEF" href="tracking/parcel_service_edit.html?parcel_service_id=0">{$buttons.add}</a>
				</div>
			{/block}
			<div class="clear_both"> <!-- &nbsp; --> </div>
		</div>
	{/block}
{/block}