{block name="admin_manufacturers_overview_remove_confirmation_modal"}
	<div class="modal fade remove-confirmation-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				{block name="admin_manufacturers_overview_remove_confirmation_modal_header"}
					<div class="modal-header">
						{block name="admin_manufacturers_overview_remove_confirmation_modal_header_close_button"}
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						{/block}
						
						{block name="admin_manufacturers_overview_remove_confirmation_modal_header_title"}
							<h4 class="modal-title">{$manufacturers.TEXT_HEADING_DELETE_MANUFACTURER}</h4>
						{/block}
					</div>
				{/block}
				
				{block name="admin_manufacturers_overview_remove_confirmation_modal_body"}
					<div class="modal-body">
						<div class="col-md-12">
							{block name="admin_manufacturers_overview_remove_confirmation_modal_body_intro_text"}
								<p class="manufacturer-modal">{$manufacturers.TEXT_DELETE_INTRO}</p>
							{/block}
							
							{block name="admin_manufacturers_overview_remove_confirmation_modal_body_content"}
								<p class="manufacturer-modal-remove-info">{* Data is provided by manufacturers/overview.js *}</p>
							{/block}
							
							{block name="admin_manufacturers_overview_remove_confirmation_modal_body_hidden_input"}
								<input type="hidden" class="manufacturer-remove-id">
							{/block}
						</div>
					</div>
				{/block}
				
				{block name="admin_manufacturers_overview_remove_confirmation_modal_footer"}
					<div class="modal-footer">
						{block name="admin_manufacturers_overview_remove_confirmation_modal_footer_abort_button"}
							<button type="button" class="btn btn-default" data-dismiss="modal">{$button.abort}</button>
						{/block}
						
						{block name="admin_manufacturers_overview_remove_confirmation_modal_footer_delete_button"}
							<button id="remove-manufacturer" type="button" class="btn btn-danger">{$button.delete}</button>
						{/block}
					</div>
				{/block}
			</div>
		</div>
	</div>
{/block}