{*	Email Invoice Modal *}

{load_language_text section="admin_buttons" name="admin_buttons"}

{block name="admin_invoices_modals_email_invoice"}
	<div class="email-invoice modal fade" tabindex="-1" role="dialog"
		 data-gx-controller="invoices/modals/email_invoice">
		<div class="modal-dialog">
			<div class="modal-content">
				{block name="admin_invoices_modals_email_invoice_header"}
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="{$admin_buttons.BUTTON_ClOSE}">
							<span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">{$gm_order_menu.TITLE_INVOICE}</h4>
					</div>
				{/block}
	
				{block name="admin_invoices_modals_email_invoice_body"}
					<div class="modal-body">
						<div class="form-group remove-border">
							{block name="admin_invoices_modals_email_invoice_body_text"}
							<span class="confirm-question">
								{$gm_order_menu.TITLE_INVOICE_CONFIRM}
								<span class="customer-info">{* Dynamic Content *}</span>
								{$gm_order_menu.TITLE_INVOICE_CONFIRMED}
							</span>
							{/block}
						</div>
		
						<br>
		
						{block name="admin_invoices_modals_email_invoice_body_form"}
							<form class="form-horizontal">
								<fieldset>
									{* Subject Field*}
									{block name="admin_invoices_modals_email_invoice_body_form_subject"}
										<div class="form-group">
											<label for="invoice-subject" class="col-md-2 control-label">
												{$gm_order_menu.TITLE_SUBJECT}
											</label>
											<div class="col-md-10">
												<input id="invoice-subject"
													   type="text"
													   class="subject form-control"
													   value="MAIL_SUBJECT" />
											</div>
										</div>
									{/block}
			
									{* E-Mail Address Field *}
									{block name="admin_invoices_modals_email_invoice_body_form_mail"}
										<div class="form-group">
											<label for="invoice-email-address" class="col-md-2 control-label">
												{$gm_order_menu.TITLE_MAIL}
											</label>
											<div class="col-md-10">
												<input id="invoice-email-address"
													   type="text"
													   class="email-address form-control"
													   value="CUSTOMER_EMAIL_ADDRESS" />
											</div>
										</div>
									{/block}
								</fieldset>
							</form>
						{/block}
					</div>
				{/block}
	
				{block name="admin_invoices_modals_email_invoice_footer"}
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							{$admin_buttons.BUTTON_CANCEL}</button>
						<button type="button" class="btn btn-primary send">{$admin_buttons.BUTTON_SEND}</button>
					</div>
				{/block}
			</div>
		</div>
	</div>
{/block}