{load_language_text section="buttons" name="buttons"}
{load_language_text section="admin_buttons" name="admin_buttons"}

{block name="admin_invoices_modals_settings"}
	<div class="settings modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				{block name="admin_invoices_modals_settings_header"}
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="{$btn.close}">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">{$admin_invoices.SETTINGS}</h4>
					</div>
				{/block}
				{block name="admin_invoices_modals_settings_body"}
					<div class="modal-body"
						 data-gx-widget="switcher"
						 data-gx-controller="invoices/modals/settings"
						 data-settings-user-id="{$_SESSION.customer_id}"
						 data-settings-default-column-settings="{','|implode:$content.default_column_settings}"
					>
						<form class="form-horizontal order-settings">
							{block name="admin_invoices_modals_settings_body_fieldset"}
								<fieldset class="settings-group">
									{block name="admin_invoices_modals_settings_body_fieldset_legend"}
										<legend>{$admin_invoices.COLUMNS}</legend>
									{/block}
									{block name="admin_invoices_modals_settings_body_fieldset_list"}
										<ul class="settings">
											{* Iterate over each available columns and set the sorting and visibility. *}
											{foreach $content.columns as $column}
												{block name="admin_invoices_modals_settings_body_fieldset_list_item"}
													<li id="setting-{$column.name}">
														<div class="form-group">
															<label for="setting-value-{$column.name}" class="col-xs-6">{$column.title}</label>
															<div class="col-xs-3 col-sm-2">
																<input type="checkbox" id="setting-value-{$column.name}" class="form-control" />
															</div>
															<div class="col-xs-3">
																<span class="sort-handle">
																	<i class="fa fa-caret-up"></i>
																	<i class="fa fa-caret-down"></i>
																</span>
															</div>
														</div>
													</li>
												{/block}
											{/foreach}
										</ul>
									{/block}
								</fieldset>
							{/block}
		
							{block name="admin_invoices_modals_settings_body_fieldset2"}
								<fieldset class="settings-group">
									{block name="admin_invoices_modals_settings_body_fieldset2_legend"}
										<legend>{$admin_invoices.ROW}</legend>
									{/block}
			
									{block name="admin_invoices_modals_settings_body_fieldset2_container"}
										<div class="form-group">
											<label for="setting-value-row-height" class="col-xs-6 col-md-6 row-height">{$admin_invoices.ROW_HEIGHT_LABEL}</label>
											<div class="col-xs-4">
												{block name="admin_invoices_modals_settings_body_fieldset2_container_input"}
													<select id="setting-value-row-height" class="SelectBox form-control">
														{* Iterate over each selectable row height. *}
														{foreach $content.row_heights as $row_height}
															<option value="{$row_height}">{$admin_invoices['ROW_HEIGHT_'|cat:$row_height|upper]}</option>
														{/foreach}
													</select>
												{/block}
											</div>
										</div>
									{/block}
								</fieldset>
							{/block}
		
							{block name="admin_invoices_modals_settings_footer"}
								<fieldset class="modal-footer">
									<a href="#" class="reset-action pull-left">{$admin_buttons.BUTTON_RESET_TO_DEFAULT_SETTINGS}</a>
									{block name="admin_invoices_modals_settings_footer_cancle"}
										<button type="button" class="btn btn-default" data-dismiss="modal">{$buttons.cancel}</button>
									{/block}
									{block name="admin_invoices_modals_settings_footer_save"}
										<button type="button" class="btn btn-primary submit-button">{$buttons.save}</button>
									{/block}
								</fieldset>
							{/block}
						</form>
					</div>
				{/block}
			</div>
		</div>
	</div>
{/block}