{block name="admin_customer_group_overview_remove_confirmation_modal"}
	<div class="modal fade remove-confirmation-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				{block name="admin_customer_group_overview_remove_confirmation_modal_header"}
					<div class="modal-header">
						{block name="admin_customer_group_overview_remove_confirmation_modal_header_close_button"}
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						{/block}

						{block name="admin_customer_group_overview_remove_confirmation_modal_header_title"}
							<h4 class="modal-title">{$customers_status.TEXT_INFO_HEADING_DELETE_CUSTOMERS_STATUS}</h4>
						{/block}
					</div>
				{/block}

				{block name="admin_customer_group_overview_remove_confirmation_modal_header_modal_body"}
					<div class="modal-body">
						<div class="col-md-12">
							{block name="admin_customer_group_overview_remove_confirmation_modal_header_modal_body_hiden_id_input"}
								<input type="hidden" class="customer-group-remove-id">
							{/block}

							{block name="admin_customer_group_overview_remove_confirmation_modal_header_modal_body_intro_text"}
								<p class="customer-group-modal">{$customers_status.TEXT_INFO_DELETE_INTRO}</p>
							{/block}

							{block name="admin_customer_group_overview_remove_confirmation_modal_header_modal_body_content"}
								<p class="remove-info">{$customer_status.TABLE_HEADING_CUSTOMERS_STATUS}{* Data is provided by customer-groups/overview.js *}</p>
								<br>
								<br>
							{/block}
						</div>
					</div>
				{/block}

				{block name="admin_customer_group_overview_remove_confirmation_modal_footer"}
					<div class="modal-footer">
						{block name="admin_customer_group_overview_remove_confirmation_modal_footer_abort_button"}
							<button type="button" class="btn btn-default" data-dismiss="modal">{$button.abort}</button>
						{/block}

						{block name="admin_customer_group_overview_remove_confirmation_modal_footer_delte_button"}
							<button id="remove-customer-group"
									type="button"
									class="btn btn-danger">{$button.delete}</button>
						{/block}
					</div>
				{/block}
			</div>
		</div>
	</div>
{/block}