span.category-checkbox
{
	display: inline-block;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background-image: url(../../../Admin/Images/icon-checkboxes.png);
}

span.category-checkbox.self_all_sub_checked
{
	background-position: 0px 36px;
	
}

span.category-checkbox.self_some_sub_checked
{
	background-position: 0px 54px;
}

span.category-checkbox.self_no_sub_checked
{
	background-position: 0px 18px;
	
}

span.category-checkbox.no_self_all_sub_checked
{
	background-position: 0px 72px;
}

span.category-checkbox.no_self_some_sub_checked
{
	background-position: 0px 72px;
}

span.category-checkbox.no_self_no_sub_checked
{
	background-position: 0px 0px;
}

ul.subtree
{
	list-style: none;
	padding-left: 21px;
}

ul.subtree.first
{
	padding-left: 0;
}

.select-all-categories {
	display: inline-block;
}

.google-export-categories .subtree li {
	padding-top: 6px;
}

.category-folder .fa {
	position: relative;
	top: -2px;
	margin-right: 2px;
}

.category-folder {
	cursor: pointer;
}

.categories-selection {
	margin-top: 24px;
}

.google-export-categories .form-group {
	background-color: transparent !important;
}