form.ks-interval {
	text-align: right;
}

form.ks-pagination {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

td.actions a {
	visibility: hidden;
}

td.actions:hover a {
	visibility: visible;
}
