{*
	Static seo urls Overview Table Row

	Represents a static seo url data table row indicating that there are no entries.
*}

{block name="admin_static_seo_urls_index_table_row_empty"}
	<tr class="text-center">
		<td colspan="4">{$txt.NO_ENTRIES}</td>
	</tr>
{/block}