{extends file="get_usermod:layouts/main/partial/tooltip.html"}

{block name="content"}

	{load_language_text section="content_manager" name="content_manager"}
	
	{block name="admin_invoices_tooltips_items"}
		{block name="admin_invoices_tooltips_items_table"}
			<table class="order-items">		<tbody>
					{foreach $products as $product}
						{block name="admin_invoices_tooltips_items_table_row"}
							<tr class="product">
								{block name="admin_invoices_tooltips_items_table_row_tds"}
									<td>{$product.quantity} {$product.unit_name}</td>
									<td>
										{$product.name}
										
										{if !empty($product.attributes)}
											<ul>
												{foreach $product.attributes as $attribute}
													<li>- {$attribute.name}: {$attribute.value}</li>
												{/foreach}
											</ul>
										{/if}
									</td>
									<td>{$product.model}</td>
									<td class="price">{$product.price}</td>
								{/block}
							</tr>
						{/block}
					{/foreach}
			
					{block name="admin_invoices_tooltips_items_table_tfoot"}
						<tr>
							<td class="total-price" colspan="4">{$total_price}</td>
						</tr>
					{/block}
				</tbody>
			</table>
		{/block}
		
		{block name="admin_invoices_tooltips_items_buttons"}
			<div class="edit-button-container">
				{block name="admin_invoices_tooltips_items_buttons_edit"}
					<a class="btn btn-primary pull-right" href="orders_edit.php?edit_action=products&oID={$id}">
						{$content_manager.TEXT_EDIT}
					</a>
				{/block}
			</div>
		{/block}
	{/block}

{/block}