{block name="snippets_gift_card_content_gv_amount"}
	<div class="row">
		<div class="col-xs-12">
			<span class="gift-balance-lbl">{$txt.voucher_balance}</span>
			<span class="gift-balance">{$GV_AMOUNT}</span>.<br>
			{if !isset($smarty.session.cot_gv) || $smarty.session.cot_gv === true}
				<span class="gift-info-msg">{$txt.text_info_balance_will_be_used}</span>
				<a href="{$GV_LINK_DONOTUSEBALANCE}">{$txt.text_link_donotusebalance}</a>
			{else}
				<span class="gift-info-msg">{$txt.text_info_balance_will_not_be_used}</span>
				<a href="{$GV_LINK_USEBALANCE}">{$txt.text_link_usebalance}</a>
			{/if}
		</div>
		<div class="col-xs-12">
			<br />
			{$txt.text_send_to_friend} <a href="{$GV_SEND_TO_FRIEND_LINK}">{$txt.box_send_to_friend}</a>
			<br />
			<br />
		</div>
	</div>
{/block}
