/* 
	General CSS Animations
    ========================================================================== 

	Define animations that can be used by many files and are abstract enough. If this is 
	not he case then place the new animation into a specific file. 
	
*/

.step-spin {
	animation-name:            spin;
	animation-duration:        900ms;
	animation-iteration-count: infinite;
	animation-timing-function: steps(8);
	transform-origin:          50% calc(50% + 0.5px);
	color:                     #2196F3;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}