/* 
	Boilerplate
    ===========================================================================

	Contains the base styling of the Gambio Admin pages. 
	
*/

// ----------------------------------------------------------------------------
// LAYOUTS
// ----------------------------------------------------------------------------

// The new Admin layout system supports the use of multiple layouts which will 
// make the maintenance and migration much easier in the future. Include the main
// layout files in this section.

@import "layouts/main/layout";

// ----------------------------------------------------------------------------
// COMPONENTS
// ----------------------------------------------------------------------------

// Components are elements that can be formed without the use of JavaScript, 
// just by using the required classes and HTML structure. Use plural names for
// component files.

@import "components/action_lists";
@import "components/button_groups";
@import "components/buttons";
@import "components/configuration_box";
@import "components/dropdowns";
@import "components/forms";
@import "components/labels";
@import "components/panels";
@import "components/tables";
@import "components/toolbars";
@import "components/type";

// ----------------------------------------------------------------------------
// JAVASCRIPT
// ----------------------------------------------------------------------------

// This section must include elements that only work with the help of JavaScript
// code. Try to use the same name with the corresponding JavaScript file you want
// to style.

@import "javascript/collapser";
@import "javascript/datepicker";
@import "javascript/daterangepicker";
@import "javascript/datatable";
@import "javascript/dialog";
@import "javascript/editor";
@import "javascript/modal";
@import "javascript/multi_select";
@import "javascript/pace";
@import "javascript/responsive_filemanager";
@import "javascript/single_checkbox";
@import "javascript/switcher";
@import "javascript/tab";
@import "javascript/quickselect";
@import "javascript/tooltip";
@import "javascript/tooltip_icon";

// ----------------------------------------------------------------------------
// PAGES
// ----------------------------------------------------------------------------

// This section contains page-specific styling. Each page must have its own directory 
// and should follow the overview - details structure schema.

@import "invoices/invoices";
@import "orders/orders";
@import "sliders/sliders";
@import "static_seo_urls/static_seo_urls";
@import "quick_edit/quick_edit";
@import "version_history/version_history";
@import "file_manager/file_manager";
@import "content_manager/overview";
@import "content_manager/edit_pages";

// ----------------------------------------------------------------------------
// GENERAL STYLES
// ----------------------------------------------------------------------------

// Avoid adding styling in this section. It must only include styling that cannot
// be placed in a specific component or layout file.

body {
	padding-top: $header-height;
}

.wrapper {
	overflow: auto;
	
	& > .container-fluid > .row {
		display: flex; // This will keep #main-menu and #main-content heights equal.
		display: -ms-flexbox;
		-ms-flex-direction: row;
		-ms-flex-align: stretch;
	}
}
