/*
	Helpers
	===========================================================================
	
	Define re-usable style helper classes.
	
	Important: If a helper is part of an existing component then place the helper directly 
	to the component file (e.g. .table-modules must be placed in _tables.scss). This file 
	must only include the fixes that do not belong to any other file. 
	
	Use the "force" prefix for helpers that contain the !important annotation.

*/

// ----------------------------------------------------------------------------
// TYPOGRAPHY - POSITION
// ----------------------------------------------------------------------------

// Force the text alignment to be to the left.
.force-text-left {
	text-align: left !important;
}

// ----------------------------------------------------------------------------
// TYPOGRAPHY - TRANSFORMATIONS
// ----------------------------------------------------------------------------

// Forces the bold font weight.
.text-bold {
	font-weight: bold;
}

// Forces the normal font weight.
.force-text-normal-weight {
	font-weight: 400 !important;
}

// ----------------------------------------------------------------------------
// TYPOGRAPHY - COLORS
// ----------------------------------------------------------------------------

// Forces the colorization of the text to light gray.
.force-text-color-light {
	color: $text-color-light !important;
}

// Forces the colorization of the text to black.
.force-text-color-black {
	color: black !important;
}

// display cursor as pointer
.cursor-pointer {
	cursor: pointer;
}
