{load_language_text section="admin_buttons" name="admin_buttons"}
{load_language_text section="gambio_hub_account" name="gambio_hub_account"}

<div id="account-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{$admin_buttons.BUTTON_ClOSE}">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{$gambio_hub_account.PAGE_TITLE}</h4>
			</div>

			<div class="modal-body">
				<div id="account-iframe-container" class="hub-iframe-container"
					 data-target="{$content.account_iframe_source_url}" data-autostart></div>
			</div>
		</div>
	</div>
</div>
