{if count($content.pages) > 1}
	<form class="form-inline ks-pagination breakpoint-large" action="" method="GET" id="{$form_id}">
		<input type="hidden" name="do" value="KlarnaHubSettlements">
		<input type="hidden" name="start_date" value="{$content.start_date}">
		<input type="hidden" name="end_date" value="{$content.end_date}">
		<div class="form-group">
			<button class="btn btn-default" name="offset" value="0"><span class="glyphicon glyphicon-backward"></span></button>
			<button class="btn btn-default" name="offset" value="{$content.prevpage}" {if $content.prevpage === false}disabled{/if}><span class="glyphicon glyphicon-chevron-left"></span></button>
			<select name="skip_to_offset" class="form-control" onchange="this.form.submit()">
				{foreach from=$content.pages item=page}
					<option value="{$page.offset}" {if $content.offset == $page.offset}selected{/if}>
						{$page.page}&nbsp;{$txt.pages_of}&nbsp;{$content.maxpage}
					</option>
				{/foreach}
			</select>
			<button class="btn btn-default" name="offset" value="{$content.nextpage}" {if $content.nextpage === false}disabled{/if}><span class="glyphicon glyphicon-chevron-right"></span></button>
			<button class="btn btn-default" name="offset" value="{$content.lastpage}"><span class="glyphicon glyphicon-forward"></button>
		</div>
	</form>
{/if}
