{extends file="get_usermod:layouts/main/layout.html"}
{load_language_text section="klarna_settlements"}

{block name="content"}
	{block name="klarnasettlements_pagination_top"}
		{if count($content.pages) > 1}
			<form class="form-inline ks-pagination" action="" method="GET" id="form_klarnasettlements_pagination_top">
				<input type="hidden" name="do" value="KlarnaHubSettlements/Payout">
				<input type="hidden" name="payment_reference" value="{$content.payment_reference}">
				<div class="form-group">
					<button class="btn btn-default" name="offset" value="0">{$txt.page_first}</button>
					<button class="btn btn-default" name="offset" value="{$content.prevpage}" {if $content.prevpage === false}disabled{/if}>{$txt.page_prev}</button>
					<select name="skip_to_offset" class="form-control" onchange="this.form.submit()">
						{foreach from=$content.pages item=page}
							<option value="{$page.offset}" {if $content.offset == $page.offset}selected{/if}>
								{$page.page}
							</option>
						{/foreach}
					</select>
					<button class="btn btn-default" name="offset" value="{$content.nextpage}" {if $content.nextpage === false}disabled{/if}>{$txt.page_next}</button>
					<button class="btn btn-default" name="offset" value="{$content.lastpage}">{$txt.page_last}</button>
				</div>
			</form>
		{/if}
	{/block}

	{block name="klarna_settlements_hub_output"}
		%hub_output%
	{/block}
{/block}

