{extends file="get_usermod:layouts/main/layout.html"}

{block name="content"}
	<div id="money-order-plus-iframe-container" class="hub-iframe-container">
		<iframe id="money-order-plus-iframe" src="{$content.iframe_source_url}" frameborder="0" width="100%"></iframe>
	</div>
	
	<script>
		(function() {
			'use strict'; 
			
			var init = function() {
				window.iFrameResize({
					heightCalculationMethod: 'grow',
					checkOrigin: false
				}, '#money-order-plus-iframe');
			};
			
			if (document.attachEvent ? document.readyState === 'complete' : document.readyState !== 'loading'){
				init();
			} else {
				document.addEventListener('DOMContentLoaded', init);
			}
		})(); 
	</script>
{/block}
