{block name="admin_layouts_main_content_header"}
	<div class="content-header" data-gx-controller="layouts/main/content/content_header">
		{block name="admin_layouts_main_content_header_title"}
			<h2 class="content-title">{$page_title}</h2>
		{/block}
		
		{block name="admin_layouts_main_content_header_navigation"}
			<div class="content-navigation">
				{foreach $content_navigation as $name => $url}
					{if $url !== ''}
						<div class="nav-item">
							<a href="{$url}">{$name}</a>
						</div>
					{else}
						<div class="nav-item no-link">
							{$name}
						</div>
					{/if}
				{/foreach}
			</div>
		{/block}
	</div>
{/block}