{*
	Static Seo Urls Layout 
*}

{extends file="get_usermod:layouts/main/layout.html"}

{block name="content"}
	{load_language_text section="static_seo_urls" name="txt"}
	{load_language_text section="buttons" name="btn"}

	{block name="admin_static_seo_urls_index"}
		<div class="static-seo-urls overview breakpoint-small"
			 data-gx-controller="static_seo_urls/static_seo_urls_index_delete static_seo_urls/static_seo_urls_index_checkboxes">
			{block name="admin_static_seo_urls_index_toolbar"}
				<div class="toolbar">
					{block name="admin_static_seo_urls_index_toolbar_create"}
						<a href="admin.php?do=StaticSeoUrl/details" class="btn btn-success btn-create">
							<i class="fa fa-plus"></i>
							{$btn.create}
						</a>
					{/block}
				</div>
			{/block}
	
			{block name="admin_static_seo_urls_index_table"}
				<table class="table table-main table-striped" data-gx-widget="switcher">
					{block name="admin_static_seo_urls_index_table_thead"}
						<thead>
							{block name="admin_static_seo_urls_index_table_thead_ths"}
								<th width="25%">{$txt.NAME}</th>
								<th width="10%">{$txt.SITEMAP_ENTRY_OVERVIEW}</th>
								<th width="20%">{$txt.ROBOTS_ENTRY_OVERVIEW}</th>
								<th width="20%" class="actions"></th>
							{/block}
						</thead>
					{/block}
					{block name="admin_static_seo_urls_index_table_tbody"}
						<tbody>
							{if count($content.staticSeoUrls) > 0}
								{foreach $content.staticSeoUrls as $staticSeoUrl}
									{include file="get_usermod:static_seo_urls/index/table_row.html" staticSeoUrl=$staticSeoUrl}
								{/foreach}
							{else}
								{include file="get_usermod:static_seo_urls/index/table_row_empty.html"}
							{/if}
						</tbody>
					{/block}
				</table>
			{/block}
		</div>
	{/block}
	
	{* Include Modal Templates *}
	{include file="get_usermod:static_seo_urls/index/modals/delete.html"}
{/block}