{extends file="get_usermod:layouts/main/layout.html"}

{block name="head"}
	{include file="get_usermod:layouts/main/partial/order_status_styles.html"}
{/block}

{block name="content"}
	{load_language_text section="admin_invoices" name="admin_invoices"}
	{load_language_text section="admin_orders" name="admin_orders"}
	{load_language_text section="orders" name="orders"}
	{load_language_text section="gm_order_menu" name="gm_order_menu"}
	
	<div class="invoices overview">
		{block name="admin_invoices_overview_toolbar"}
			<div class="toolbar">
				<i class="fa fa-cogs fa-lg" data-toggle="modal" data-target=".settings.modal"></i>
			</div>
		{/block}
		
		{block name="admin_invoices_overview_table"}
			<table class="table table-main table-striped table-row-{$content.active_row_height}"
				   data-gx-widget="single_checkbox multi_select"
				   data-gx-controller="invoices/overview/init invoices/overview/actions invoices/overview/filter
									   invoices/overview/state invoices/overview/events invoices/overview/tooltips"
				   data-gx-extension="datatable_checkbox_mapping datatable_fixed_header datatable_custom_sorting
									  datatable_fixed_row_actions datatable_loading_spinner datatable_responsive_columns
									  datatable_custom_pagination datatable_normalize_overflow datatable_default_actions"
				   data-init-active-columns="{$content.active_columns}"
				   data-init-page-length="{$content.page_length}"
				   data-actions-is-pdf-creator-installed="{$content.is_pdf_creator_installed}"
				   data-events-max-amount-invoices-bulk-pdf="{$content.max_amount_invoices_bulk_pdf}"
				   data-datatable_default_actions-row="{$content.default_row_action}"
				   data-datatable_default_actions-bulk="{$content.default_bulk_action}"
				   data-resize-layout="draw.dt">
				{block name="admin_invoices_overview_table_thead"}
					<thead>
						{include file="get_usermod:layouts/main/partial/datatables_heading_row.html"}
						{include file="get_usermod:layouts/main/partial/datatables_filtering_row.html"}
					</thead>
				{/block}
				{block name="admin_invoices_overview_table_tbody"}
					<tbody>
						{* Content will be loaded dynamically (invoices/overview/init.js) *}
					</tbody>
				{/block}
			</table>
		{/block}

		{* Button Dropdown *}
		{block name="admin_invoices_overview_dropdown"}
			<div class="bulk-action btn-group dropdown">
				<button type="button" class="btn btn-default disabled">{* Dynamic Content *}</button>
				<button type="button" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu">
					{* Dynamic Content *}
				</ul>
			</div>
		{/block}

		{* Include Modal Templates *}
		{include file="get_usermod:orders/modals/change_status.html"}
		{include file="get_usermod:invoices/modals/bulk_email_invoice.html"}
		{include file="get_usermod:invoices/modals/bulk_error.html"}
		{include file="get_usermod:invoices/modals/email_invoice.html"}
		{include file="get_usermod:invoices/modals/delete.html"}
		{include file="get_usermod:invoices/modals/settings.html"}
	</div>
{/block}