<meta charset="UTF-8" />
<div style="height: 100%; margin: 0 !important; padding: 0 !important; max-width: 9000px !important; background-color: #E5E5E5;">
	<div style="margin-left: auto; margin-right: auto; width: 720px; padding-bottom: 5px; padding-top: 5px; font-size: 9pt; color: #999999; text-align: right;">
		&nbsp;</div>

	<div style="margin-left: auto; margin-right: auto; width: 630px; padding: 25px 45px 25px; background-color: white; margin-top: 15px; margin-bottom: 15px; display: block;">
		<table align="center" border="0" cellpadding="4" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<td>
						{if $gm_logo_mail}
							<div style="overflow: hidden; margin-bottom: 25px; display: block; float: right;">
								{$gm_logo_mail}
							</div>
						{/if}
					</td>
				</tr>
				<tr>
					<td>
						<span style="font-size:13px;"><span style="font-family: verdana,geneva,sans-serif;">
							{if $CUSTOMER_GENDER == 'f'}Dear Mrs.{elseif $CUSTOMER_GENDER == 'm'}Dear Mr.{else}Hello{/if} {$CUSTOMER},<br />
							<br />
							{if $INVOICE_NUMBERS && $INVOICE_NUMBERS|@count > 0}
								With this e-mail you receive the following invoices of your order no. {$ORDER_ID} from {$DATE}: <br />
								<br />								
								{foreach from=$INVOICE_NUMBERS item=invoice_number}
								{$invoice_number.number} from {$invoice_number.date}<br />
							{/foreach}
								<br />
							{else}
								With this e-mail you receive your invoice no. {$INVOICE_ID} of order no. {$ORDER_ID} from {$DATE}.<br /><br />
							{/if}
							</span></span>
					</td>
				</tr>
			</tbody>
		</table>
		<br />
		&nbsp;
	</div>

	<div style="padding-bottom: 5px; padding-top: 5px; font-size: 9pt; color: #444444; font-family: arial; text-align: center;">
		<br />
		<br />
		<span style="font-size:13px;"><span style="font-family: verdana,geneva,sans-serif;">{$EMAIL_SIGNATURE_HTML}</span></span>
		<br />
		<br />
	</div>
</div>
