{load_language_text section="admin_info_boxes"}

{block name="admin_admin_infobox"}
	<div id="admin_info_wrapper">
		<div id="admin_info_inner_wrapper">
			{block name="admin_admin_infobox_content"}
				<div class="content">
					{foreach name=messages item=message from=$content_data.messages_array}
						{block name="admin_admin_infobox_content_message"}
							<div class="admin_info_box{if $message.type != 'info'} {$message.type}{/if}{if $message.status == 'hidden'} hidden{/if}{if $message.status == 'read'} read{/if}">
								{if $message.visibility == 'hideable' || $message.visibility == 'removable'}
									{block name="admin_admin_infobox_content_message_hideable"}
										<a href="request_port.php?module=AdminInfobox&action=hide_info_box&id={$message.infobox_messages_id}" class="info_close ajax" rel="hide_info_box"><i class="fa fa-minus"></i></a>
									{/block}
								{/if}
								{if $message.visibility == 'removable'}
									{block name="admin_admin_infobox_content_message_removeable"}
										<a href="request_port.php?module=AdminInfobox&action=remove_info_box&id={$message.infobox_messages_id}" class="info_remove ajax" rel="remove_info_box"><i class="fa fa-times"></i></a>
									{/block}
								{/if}
								{if $message.headline != ''}
									{block name="admin_admin_infobox_content_message_headline"}
										<p class="info_headline">{$message.headline}</p>
									{/block}
								{/if}
								<p class="info_text">{$message.message}</p>
								<!--<i class="info_loading fa fa-spinner fa-spin fa-lg" title="{$txt.IN_PROGRESS}"></i>-->
								{if $message.button_label != ''}
									{block name="admin_admin_infobox_content_message_button"}
										<a href="{$message.button_link}" class="btn pull-right add-margin-10 info_action_button{if $message.ajax == 1} ajax{/if}" title="{$message.button_label}" rel="{$message.identifier}">{$message.button_label}</a>
									{/block}
								{/if}
								{block name="admin_admin_infobox_content_message_text"}
									<span class="admin_info_box_id hidden">{$message.infobox_messages_id}</span>
									<div style="clear: both;"> <!-- --> </div>
								{/block}
							</div>
						{/block}
					{/foreach}
					{block name="admin_admin_infobox_content_no_messages"}
						<div class="no_messages">
							{$txt.NO_MESSAGES}
						</div>
					{/block}
					{block name="admin_admin_infobox_content_show_all"}
						<div class="show_all">
							<input type="checkbox" class="show_all_info_boxes" /> {$txt.SHOW_ALL}
						</div>
					{/block}
				</div>
			{/block}
				
			{block name="admin_admin_infobox_content_triangle"}
				<div class="triangle-with-shadow-wrapper"><div class="triangle-with-shadow-container"><div class="triangle-with-shadow"></div></div></div>
			{/block}
		</div>
	</div>
{/block}