{extends file="./layouts/main/layout.html"}

{block name="content"}
{load_language_text section="amazonadvancedpayment"}

<form action="{$content.form_action}" method="POST" class="form-configuration" style="max-width: 60em;">
	<input type="hidden" name="page_token" value="{$page_token}">
	<div class="form-horizontal">
		<fieldset>
			<legend>{$txt.credentials}</legend>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="quickconfig">{$txt.quickconfig}</label>
				<div class="col-sm-8">
					<textarea name="quickconfig" id="quickconfig" class="form-control" placeholder="{$txt.quickconfig_placeholder}" style="height: 10em;"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="seller_id">{$txt.seller_id}</label>
				<div class="col-sm-8">
					<input type="text" placeholder="{$txt.slowconfig_placeholder}" id="seller_id" class="form-control" name="seller_id" value="{$content.seller_id}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="aws_access_key">{$txt.aws_access_key}</label>
				<div class="col-sm-8">
					<input type="text" placeholder="{$txt.slowconfig_placeholder}" id="aws_access_key" class="form-control" name="aws_access_key" value="{$content.aws_access_key}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="secret_key">{$txt.secret_key}</label>
				<div class="col-sm-8">
					<input type="text" placeholder="{$txt.slowconfig_placeholder}" id="secret_key" class="form-control" name="secret_key" value="{$content.secret_key}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="ipn_url">{$txt.ipn_url}</label>
				<div class="col-sm-8">
					<textarea id="ipn_url" class="form-control" readonly rows="4">{$content.ipn_url}</textarea>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>{$txt.appearance}</legend>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="button_color">{$txt.button_color}</label>
				<div class="col-sm-8">
					<select class="form-control" id="button_color" name="button_color">
						<option value="orange" {if $content.button_color === "orange"}selected="selected"{/if}>
							{$txt.button_color_orange}
						</option>
						<option value="tan" {if $content.button_color === "tan"}selected="selected"{/if}>
							{$txt.button_color_tan}
						</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="button_size">{$txt.button_size}</label>
				<div class="col-sm-8">
					<select class="form-control" id="button_size" name="button_size">
						<option value="medium" {if $content.button_size === "medium"}selected="selected"{/if}>
							{$txt.button_size_medium}
						</option>
						<option value="large" {if $content.button_size === "large"}selected="selected"{/if}>
							{$txt.button_size_large}
						</option>
						<option value="x-large" {if $content.button_size === "x-large"}selected="selected"{/if}>
							{$txt.button_size_x_large}
						</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="hidden_button" class="col-sm-4 control-label">{$txt.hidden_button_mode}</label>
				<div class="col-sm-8" data-gx-widget="switcher">
					<input type="hidden" name="hidden_button" value="0" />
					<input type="checkbox" id="hidden_button" value="1" name="hidden_button" class="form-control" {($content.hidden_button == true) ? 'checked="checked"' : ''} />
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>{$txt.settings}</legend>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="mode">{$txt.mode}</label>
				<div class="col-sm-8">
					<select class="form-control" id="mode" name="mode">
						<option value="sandbox" {if $content.mode === "sandbox"}selected="selected"{/if}>
							{$txt.mode_sandbox}
						</option>
						<option value="production" {if $content.mode === "production"}selected="selected"{/if}>
							{$txt.mode_production}
						</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="location">{$txt.location}</label>
				<div class="col-sm-8">
					<select class="form-control" id="location" name="location">
						<option value="de" {if $content.location === "de"}selected="selected"{/if}>
							{$txt.location_de}
						</option>
						<option value="uk" {if $content.location === "uk"}selected="selected"{/if}>
							{$txt.location_uk}
						</option>
						<option value="us" {if $content.location === "us"}selected="selected"{/if}>
							{$txt.location_us}
						</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="authorization_mode">{$txt.authorization_mode}</label>
				<div class="col-sm-8">
					<select class="form-control" id="authorization_mode" name="authorization_mode">
						<option value="auto-sync" {if $content.authorization_mode === "auto-sync"}selected="selected"{/if}>
							{$txt.auth_mode_auto_sync}
						</option>
						<option value="auto-async" {if $content.authorization_mode === "auto-async"}selected="selected"{/if}>
							{$txt.auth_mode_auto_async}
						</option>
						<option value="manual" {if $content.authorization_mode === "manual"}selected="selected"{/if}>
							{$txt.auth_mode_manual}
						</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="capture_mode">{$txt.capture_mode}</label>
				<div class="col-sm-8">
					<select class="form-control" id="capture_mode" name="capture_mode">
						<option value="manual" {if $content.capture_mode === "manual"}selected="selected"{/if}>
							{$txt.capture_mode_manual}
						</option>
						<option value="immediate" {if $content.capture_mode === "immediate"}selected="selected"{/if}>
							{$txt.capture_mode_immediate}
						</option>
					</select>
					{$txt.note_immediate_capture}
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="erp_mode">{$txt.erp_mode}</label>
				<div class="col-sm-8">
					<select class="form-control" id="erp_mode" name="erp_mode">
						<option value="0" {if (bool)$content.erp_mode !== true}selected="selected"{/if}>
							{$txt.erp_mode_off}
						</option>
						<option value="1" {if (bool)$content.erp_mode === true}selected="selected"{/if}>
							{$txt.erp_mode_on}
						</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="ipn_enabled">{$txt.ipn_enabled}</label>
				<div class="col-sm-8">
					<select class="form-control" id="ipn_enabled" name="ipn_enabled">
						<option value="0" {if (bool)$content.ipn_enabled !== true}selected="selected"{/if}>
							{$txt.ipn_enabled_off}
						</option>
						<option value="1" {if (bool)$content.ipn_enabled === true}selected="selected"{/if}>
							{$txt.ipn_enabled_on}
						</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="orders_status_auth_open">{$txt.orders_status_auth_open}</label>
				<div class="col-sm-8">
					<select class="form-control" id="orders_status_auth_open" name="orders_status_auth_open">
						{foreach from=$content.orders_statuses item=orders_status}
							<option value="{$orders_status->orders_status_id}" {if (int)$content.orders_status_auth_open === (int)$orders_status->orders_status_id}selected="selected"{/if}>
								{$orders_status->orders_status_name}
							</option>
						{/foreach}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="orders_status_auth_declined">{$txt.orders_status_auth_declined}</label>
				<div class="col-sm-8">
					<select class="form-control" id="orders_status_auth_declined" name="orders_status_auth_declined">
						{foreach from=$content.orders_statuses item=orders_status}
							<option value="{$orders_status->orders_status_id}" {if (int)$content.orders_status_auth_declined === (int)$orders_status->orders_status_id}selected="selected"{/if}>
								{$orders_status->orders_status_name}
							</option>
						{/foreach}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="orders_status_auth_declined_hard">{$txt.orders_status_auth_declined_hard}</label>
				<div class="col-sm-8">
					<select class="form-control" id="orders_status_auth_declined_hard" name="orders_status_auth_declined_hard">
						{foreach from=$content.orders_statuses item=orders_status}
							<option value="{$orders_status->orders_status_id}" {if (int)$content.orders_status_auth_declined_hard === (int)$orders_status->orders_status_id}selected="selected"{/if}>
								{$orders_status->orders_status_name}
							</option>
						{/foreach}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="orders_status_captured">{$txt.orders_status_captured}</label>
				<div class="col-sm-8">
					<select class="form-control" id="orders_status_captured" name="orders_status_captured">
						{foreach from=$content.orders_statuses item=orders_status}
							<option value="{$orders_status->orders_status_id}" {if (int)$content.orders_status_captured === (int)$orders_status->orders_status_id}selected="selected"{/if}>
								{$orders_status->orders_status_name}
							</option>
						{/foreach}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="orders_status_captured">{$txt.orders_status_capture_failed}</label>
				<div class="col-sm-8">
					<select class="form-control" id="orders_status_capture_failed" name="orders_status_capture_failed">
						{foreach from=$content.orders_statuses item=orders_status}
							<option value="{$orders_status->orders_status_id}" {if (int)$content.orders_status_capture_failed === (int)$orders_status->orders_status_id}selected="selected"{/if}>
								{$orders_status->orders_status_name}
							</option>
						{/foreach}
					</select>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="col-sm-12">
		<button type="submit" class="btn btn-primary pull-right">{$txt.config_save}</button>
	</div>
</form>

<form action="{$content.form_action_orderstatus}" method="POST" class="form-configuration" style="max-width: 60em; clear: both;">
	<input type="hidden" name="page_token" value="{$page_token}">
	<div class="form-horizontal">
		<fieldset>
			<legend>{$txt.use_default_orders_status}</legend>
			<div class="form-group">
				<label class="col-sm-4 control-label">
					{$txt.use_default_orders_status_note}
				</label>
				<div class="col-sm-8">
					<ul>
						<li>{$txt.orders_status_name_payment_authorized}</li>
						<li>{$txt.orders_status_name_authorization_declined}</li>
						<li>{$txt.orders_status_name_authorization_declined_hard}</li>
						<li>{$txt.orders_status_name_payment_captured}</li>
						<li>{$txt.orders_status_name_capture_failed}</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12">
				<button type="submit" class="btn btn-primary pull-right">{$txt.use_default_orders_status_btn}</button>
			</div>
		</fieldset>
	</div>
</form>

<form action="{$content.form_action_checkconnection}" method="POST" class="form-configuration" style="max-width: 60em; clear: both;">
	<input type="hidden" name="page_token" value="{$page_token}">
	<div class="form-horizontal">
		<fieldset>
			<legend>{$txt.check_connection}</legend>
			<div class="form-group">
				<div class="col-sm-12">
					{$txt.check_connection_note}
				</div>
			</div>
			<div class="col-sm-12">
				<button type="submit" class="btn btn-primary pull-right">{$txt.check_connection}</button>
			</div>
		</fieldset>
	</div>
</form>

{/block}
