{load_language_text section="module_center_module"}
{load_language_text section="countries" name="txt_countries"}

{block name="admin_geschaeftskundenversand_form_single"}
	<div class="gx-container gkv-label-prepare" data-gx-widget="checkbox">
		{if $shipments}
			{block name="admin_geschaeftskundenversand_form_single_shipments"}
				<table class="gkv-shipments">
					{block name="admin_geschaeftskundenversand_form_single_shipments_thead"}
						<thead>
							<tr>
								<th>{$txt.gkv_shipmentnumber}</th>
								<th>{$txt.gkv_labels}</th>
								<th>{$txt.gkv_delete}</th>
							</tr>
						</thead>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_shipments_tbody"}
						<tbody>
							{foreach from=$shipments item=shipment}
								{block name="admin_geschaeftskundenversand_form_single_shipments_row"}
									<tr>
										{block name="admin_geschaeftskundenversand_form_single_shipments_row_number"}
											<td>
												{$shipment['shipmentnumber']}
												({$shipment['last_modified']})
											</td>
										{/block}
										{block name="admin_geschaeftskundenversand_form_single_shipments_row_links"}
											<td>
												{if $shipment['labelurl']}<a target="{$label_target}" href="{$shipment['labelurl']}">{$txt.gkv_shippinglabel}</a>{/if}
												{if $shipment['returnlabelurl']}<br><a target="{$label_target}" href="{$shipment['returnlabelurl']}">{$txt.gkv_returnlabel}</a>{/if}
												{if $shipment['exportlabelurl']}<br><a target="{$label_target}" href="{$shipment['exportlabelurl']}">{$txt.gkv_exportlabel}</a>{/if}
												{if $shipment['codlabelurl']}<br><a target="{$label_target}" href="{$shipment['codlabelurl']}">{$txt.gkv_codlabel}</a>{/if}
											</td>
										{/block}
										{block name="admin_geschaeftskundenversand_form_single_shipments_row_delete"}
											<td>
												<form action="{$action_delete_label}" method="POST">
													<input type="hidden" name="pageToken" value="{$pageToken}">
													<input type="hidden" name="orders_id" value="{$orders_id}">
													<input type="hidden" name="shipmentnumber" value="{$shipment['shipmentnumber']}">
													<button class="btn">{$txt.gkv_delete}</button>
												</form>
											</td>
										{/block}
									</tr>
								{/block}
							{/foreach}
						</tbody>
					{/block}
				</table>
			{/block}
		{/if}
		{block name="admin_geschaeftskundenversand_form_single_form"}
			<form action="{$action_create_label}" method="POST" novalidate>
				<input type="hidden" name="pageToken" value="{$pageToken}">
				<input type="hidden" name="orders_id" value="{$orders_id}">
		
				{block name="admin_geschaeftskundenversand_form_single_form_extend_button"}
					<div class="grid">
						<div class="span12 text-right">
							{if $isAdultContent}<span class="gkv-fsk18">{$txt.gkv_note_adultcontent}</span>{/if}
							<a class="btn" href="" id="toggle-extd-view">{$txt.gkv_config_extd_view}</a>
							<a class="btn" href="{$order_url}">{$txt.gkv_back_to_order}</a>
						</div>
					</div>
				{/block}
				
				{* == SHIPPER ============================================================================================ *}
				
				{block name="admin_geschaeftskundenversand_form_single_form_shipper"}
					<div class="extd-view">
						{block name="admin_geschaeftskundenversand_form_single_form_shipper_config"}
							<div class="grid small-margin customize-shipper-button">
								{block name="admin_geschaeftskundenversand_form_single_form_shipper_config_label"}
									<div class="span3"><span class="blocklabel">{$txt.gkv_config_shipper}</span></div>
								{/block}
								{block name="admin_geschaeftskundenversand_form_single_form_shipper_config_button"}
									<div class="span9">
										<button class="btn" id="customize_shipper">{$txt.gkv_customize_shipper}</button>
									</div>
								{/block}
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_shipper_name"}
							<div class="grid small-margin customize-shipper">
								<div class="span3"><span class="blocklabel">{$txt.gkv_config_shipper}</span></div>
								<div class="span2 linelabel">{$txt.gkv_config_shipper_name1}</div>
								<div class="span7">
									<input type="text" name="shipper/name1"         value="{$configuration['shipper/name1']|substr:0:35}" maxlength="35">
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_shipper_name2"}
							<div class="grid small-margin customize-shipper">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_shipper_name2}</div>
								<div class="span7">
									<input type="text" name="shipper/name2"         value="{$configuration['shipper/name2']|substr:0:35}" maxlength="35">
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_shipper_name3"}
							<div class="grid small-margin customize-shipper">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_shipper_name3}</div>
								<div class="span7">
									<input type="text" name="shipper/name3"         value="{$configuration['shipper/name3']|substr:0:35}" maxlength="35">
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_shipper_streetname"}
							<div class="grid small-margin customize-shipper">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_shipper_streetname}</div>
								<div class="span7">
									<input type="text" name="shipper/streetname"    value="{$configuration['shipper/streetname']|substr:0:35}" maxlength="35">
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_shipper_streetnumber"}
							<div class="grid small-margin customize-shipper">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_shipper_streetnumber}</div>
								<div class="span7">
									<input type="text" name="shipper/streetnumber"  value="{$configuration['shipper/streetnumber']|substr:0:5}" maxlength="5">
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_shipper_addressaddition"}
							<div class="grid small-margin customize-shipper">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_shipper_addressaddition}</div>
								<div class="span7">
									<input type="text" name="shipper/addressaddition"    value="{$configuration['shipper/addressaddition']|substr:0:35}" maxlength="35">
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_shipper_zip"}
							<div class="grid small-margin customize-shipper">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_shipper_zip}</div>
								<div class="span7">
									<input type="text" name="shipper/zip"           value="{$configuration['shipper/zip']|substr:0:10}" maxlength="10">
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_shipper_city"}
							<div class="grid small-margin customize-shipper">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_shipper_city}</div>
								<div class="span7">
									<input type="text" name="shipper/city"          value="{$configuration['shipper/city']|substr:0:35}" maxlength="35">
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_shipper_country"}
							<div class="grid small-margin customize-shipper">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_shipper_origincountry}</div>
								<div class="span7">
									<select name="shipper/origincountry" class="country shipper_country">
										{foreach from=$countries item=country}
											<option value="{$country.countries_iso_code_2}" {if $configuration['shipper/origincountry'] == $country.countries_iso_code_2}selected="selected"{/if}>
												{$txt_countries[$country.countries_iso_code_2]}
											</option>
										{/foreach}
									</select>
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_shipper_email"}
							<div class="grid small-margin customize-shipper">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_shipper_email}</div>
								<div class="span7">
									<input type="text" name="shipper/email"         value="{$configuration['shipper/email']|substr:0:50}" maxlength="50">
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_shipper_phone"}
							<div class="grid customize-shipper">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_shipper_phone}</div>
								<div class="span7">
									<input type="text" name="shipper/phone"         value="{$configuration['shipper/phone']|substr:0:20}" maxlength="20">
								</div>
							</div>
						{/block}
					</div>
				{/block}
		
				{* == RETURNRECEIVER ===================================================================================== *}
		
				{block name="admin_geschaeftskundenversand_form_single_form_returnreceiver"}
					<div class="extd-view">
						{block name="admin_geschaeftskundenversand_form_single_form_returnreceiver_config"}
							<div class="grid small-margin customize-returnreceiver-button">
								<div class="span3"><span class="blocklabel">{$txt.gkv_config_returnreceiver}</span></div>
								<div class="span9">
									<button class="btn" id="customize_returnreceiver">{$txt.gkv_customize_returnreceiver}</button>
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_returnreceiver_name"}
							<div class="grid small-margin customize-returnreceiver">
								<div class="span3"><span class="blocklabel">{$txt.gkv_config_returnreceiver}</span></div>
								<div class="span2 linelabel">{$txt.gkv_config_returnreceiver_name1}</div>
								<div class="span7">
									<input type="text" name="returnreceiver/name1"         value="{$configuration['returnreceiver/name1']|substr:0:35}" maxlength="35">
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_returnreceiver_name2"}
							<div class="grid small-margin customize-returnreceiver">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_returnreceiver_name2}</div>
								<div class="span7">
									<input type="text" name="returnreceiver/name2"         value="{$configuration['returnreceiver/name2']|substr:0:35}" maxlength="35">
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_returnreceiver_name3"}
							<div class="grid small-margin customize-returnreceiver">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_returnreceiver_name3}</div>
								<div class="span7">
									<input type="text" name="returnreceiver/name3"         value="{$configuration['returnreceiver/name3']|substr:0:35}" maxlength="35">
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_returnreceiver_streetname"}
							<div class="grid small-margin customize-returnreceiver">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_returnreceiver_streetname}</div>
								<div class="span7">
									<input type="text" name="returnreceiver/streetname"    value="{$configuration['returnreceiver/streetname']|substr:0:35}" maxlength="35">
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_returnreceiver_streetnumber"}
							<div class="grid small-margin customize-returnreceiver">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_returnreceiver_streetnumber}</div>
								<div class="span7">
									<input type="text" name="returnreceiver/streetnumber"  value="{$configuration['returnreceiver/streetnumber']|substr:0:5}" maxlength="5">
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_returnreceiver_addressaddition"}
							<div class="grid small-margin customize-returnreceiver">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_returnreceiver_addressaddition}</div>
								<div class="span7">
									<input type="text" name="returnreceiver/addressaddition"    value="{$configuration['returnreceiver/addressaddition']|substr:0:35}" maxlength="35">
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_returnreceiver_zip"}
							<div class="grid small-margin customize-returnreceiver">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_returnreceiver_zip}</div>
								<div class="span7">
									<input type="text" name="returnreceiver/zip"           value="{$configuration['returnreceiver/zip']|substr:0:10}" maxlength="10">
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_returnreceiver_city"}
							<div class="grid small-margin customize-returnreceiver">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_returnreceiver_city}</div>
								<div class="span7">
									<input type="text" name="returnreceiver/city"          value="{$configuration['returnreceiver/city']|substr:0:35}" maxlength="35">
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_returnreceiver_country"}
							<div class="grid small-margin customize-returnreceiver">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_returnreceiver_origincountry}</div>
								<div class="span7">
									<select name="returnreceiver/origincountry" class="country returnreceiver_country">
										{foreach from=$countries item=country}
											<option value="{$country.countries_iso_code_2}" {if $configuration['returnreceiver/origincountry'] == $country.countries_iso_code_2}selected="selected"{/if}>
												{$txt_countries[$country.countries_iso_code_2]}
											</option>
										{/foreach}
									</select>
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_returnreceiver_email"}
							<div class="grid small-margin customize-returnreceiver">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_returnreceiver_email}</div>
								<div class="span7">
									<input type="text" name="returnreceiver/email"         value="{$configuration['returnreceiver/email']|substr:0:50}" maxlength="50">
								</div>
							</div>
						{/block}
						{block name="admin_geschaeftskundenversand_form_single_form_returnreceiver_phone"}
							<div class="grid customize-returnreceiver">
								<div class="span3">&nbsp;</div>
								<div class="span2 linelabel">{$txt.gkv_config_returnreceiver_phone}</div>
								<div class="span7">
									<input type="text" name="returnreceiver/phone"         value="{$configuration['returnreceiver/phone']|substr:0:20}" maxlength="20">
								</div>
							</div>
						{/block}
					</div>
				{/block}
		
				{* == RECEIVER =========================================================================================== *}
		
				{block name="admin_geschaeftskundenversand_form_single_form_receiver"}
					{block name="admin_geschaeftskundenversand_form_single_form_receiver_name1"}
						<div class="grid small-margin">
							<div class="span3"><span class="blocklabel">Empfänger</span></div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_name1}</div>
							<div class="span7">
								<input type="text" name="receiver/name1"         value="{$delivery_name|substr:0:50}" maxlength="50">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_receiver_type"}
						<div class="grid">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_receiver_type}</div>
							<div class="span7">
								<select name="receiver_type" id="receiver_type">
									<option value="address">{$txt.gkv_receiver_type_address}</option>
									<option value="packstation" {if $delivery_packstation}selected="selected"{/if}>{$txt.gkv_receiver_type_packstation}</option>
									<option value="postfiliale" {if $delivery_postfiliale}selected="selected"{/if}>{$txt.gkv_receiver_type_postfiliale}</option>
									<option value="parcelshop" {if $delivery_parcelshop}selected="selected"{/if}>{$txt.gkv_receiver_type_parcelshop}</option>
								</select>
							</div>
						</div>
					{/block}
				{/block}
		
				{* -- Address -------------------------------------------------------------------------------------------- *}
				
				{block name="admin_geschaeftskundenversand_form_single_form_address"}
					{block name="admin_geschaeftskundenversand_form_single_form_address_name2"}
						<div class="grid receiver_data receiver_address small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_name2}</div>
							<div class="span7">
								<input type="text" name="receiver_address/name2"         value="{$delivery['company']|substr:0:35}" maxlength="35">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_address_name3"}
						<div class="grid receiver_data receiver_address small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_name3}</div>
							<div class="span7">
								<input type="text" name="receiver_address/name3"         value="{$delivery['additional_address_info']|substr:0:35}" maxlength="35">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_address_streetname"}
						<div class="grid receiver_data receiver_address small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_streetname}</div>
							<div class="span7">
								<input type="text" name="receiver_address/streetname"    value="{$delivery_street|substr:0:35}" maxlength="35">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_address_streetnumber"}
						<div class="grid receiver_data receiver_address small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_streetnumber}</div>
							<div class="span7">
								<input type="text" name="receiver_address/streetnumber"  value="{$delivery_house_no|substr:0:5}" maxlength="5">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_address_addressaddition"}
						<div class="grid receiver_data receiver_address small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_addressaddition}</div>
							<div class="span6">
								<input type="text" name="receiver_address/addressaddition"    value="" maxlength="35">
							</div>
							<div class="span1">
								<span data-gx-widget="tooltip_icon" data-tooltip_icon-type="info">{$txt.gkv_addressaddition_note}</span>
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_address_zip"}
						<div class="grid receiver_data receiver_address small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_zip}</div>
							<div class="span7">
								<input type="text" name="receiver_address/zip"           value="{$delivery['postcode']|substr:0:10}" maxlength="10">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_address_city"}
						<div class="grid receiver_data receiver_address small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_city}</div>
							<div class="span7">
								<input type="text" name="receiver_address/city"          value="{$delivery['city']|substr:0:35}" maxlength="35">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_address_country"}
						<div class="grid receiver_data receiver_address small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_origincountry}</div>
							<div class="span7">
								<select name="receiver_address/origincountry" class="country receiver_country">
									{foreach from=$countries item=country}
										<option value="{$country.countries_iso_code_2}" {if $delivery['country_iso_code_2'] == $country.countries_iso_code_2}selected="selected"{/if}>
											{$txt_countries[$country.countries_iso_code_2]}
										</option>
									{/foreach}
								</select>
							</div>
						</div>
					{/block}
				{/block}
		
				{* -- Packstation ---------------------------------------------------------------------------------------- *}
				
				{block name="admin_geschaeftskundenversand_form_single_form_packstation"}
					{block name="admin_geschaeftskundenversand_form_single_form_packstation_postnumber"}
						<div class="grid receiver_data receiver_packstation small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_postnumber}</div>
							<div class="span7">
								<input type="text" name="receiver_packstation/postnumber" value="{$delivery_postnumber|substr:0:10}" maxlength="10">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_packstation_packstationnumber"}
						<div class="grid receiver_data receiver_packstation small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_packstationnumber}</div>
							<div class="span7">
								<input type="text" name="receiver_packstation/packstationnumber" value="{$delivery_packstation|substr:0:3}" maxlength="3">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_packstation_zip"}
						<div class="grid receiver_data receiver_packstation small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_zip}</div>
							<div class="span7">
								<input type="text" name="receiver_packstation/zip"           value="{$delivery['postcode']|substr:0:10}" maxlength="10">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_packstation_city"}
						<div class="grid receiver_data receiver_packstation small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_city}</div>
							<div class="span7">
								<input type="text" name="receiver_packstation/city"          value="{$delivery['city']|substr:0:35}" maxlength="35">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_packstation_country"}
						<div class="grid receiver_data receiver_packstation small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_origincountry}</div>
							<div class="span7">
								<select name="receiver_packstation/origincountry" class="receiver_country">
									{foreach from=$countries item=country}
										<option value="{$country.countries_iso_code_2}" {if $delivery['country_iso_code_2'] == $country.countries_iso_code_2}selected="selected"{/if}>
											{$txt_countries[$country.countries_iso_code_2]}
										</option>
									{/foreach}
								</select>
							</div>
						</div>
					{/block}
				{/block}
		
				{* -- Postfiliale ---------------------------------------------------------------------------------------- *}
				
				{block name="admin_geschaeftskundenversand_form_single_form_postfiliale"}
					{block name="admin_geschaeftskundenversand_form_single_form_postfiliale_postnumber"}
						<div class="grid receiver_data receiver_postfiliale small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_postnumber}</div>
							<div class="span7">
								<input type="text" name="receiver_postfiliale/postnumber" value="{$delivery_postnumber|substr:0:10}" maxlength="10">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_postfiliale_postfilialnumber"}
						<div class="grid receiver_data receiver_postfiliale small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_postfilialnumber}</div>
							<div class="span7">
								<input type="text" name="receiver_postfiliale/postfilialnumber" value="{$delivery_postfiliale|substr:0:3}" maxlength="3">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_postfiliale_zip"}
						<div class="grid receiver_data receiver_postfiliale small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_zip}</div>
							<div class="span7">
								<input type="text" name="receiver_postfiliale/zip"           value="{$delivery['postcode']|substr:0:10}" maxlength="10">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_postfiliale_city"}
						<div class="grid receiver_data receiver_postfiliale small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_city}</div>
							<div class="span7">
								<input type="text" name="receiver_postfiliale/city"          value="{$delivery['city']|substr:0:35}" maxlength="35">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_postfiliale_country"}
						<div class="grid receiver_data receiver_postfiliale small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_origincountry}</div>
							<div class="span7">
								<select name="receiver_postfiliale/origincountry" class="country receiver_country">
									{foreach from=$countries item=country}
										<option value="{$country.countries_iso_code_2}" {if $delivery['country_iso_code_2'] == $country.countries_iso_code_2}selected="selected"{/if}>
											{$txt_countries[$country.countries_iso_code_2]}
										</option>
									{/foreach}
								</select>
							</div>
						</div>
					{/block}
				{/block}
		
				{* -- Parcelshop ---------------------------------------------------------------------------------------- *}
				
				{block name="admin_geschaeftskundenversand_form_single_form_parcelshop"}
					{block name="admin_geschaeftskundenversand_form_single_form_parcelshop_parcelshopnumber"}
						<div class="grid receiver_data receiver_parcelshop small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_parcelshopnumber}</div>
							<div class="span7">
								<input type="text" name="receiver_parcelshop/parcelshopnumber" value="{$delivery_parcelshop|substr:0:3}" maxlength="3">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_parcelshop_streetname"}
						<div class="grid receiver_data receiver_parcelshop small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_streetname}</div>
							<div class="span7">
								<input type="text" name="receiver_parcelshop/streetname"    value="{$delivery_street|substr:0:35}" maxlength="35">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_parcelshop_streetnumber"}
						<div class="grid receiver_data receiver_parcelshop small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_streetnumber}</div>
							<div class="span7">
								<input type="text" name="receiver_parcelshop/streetnumber"  value="{$delivery_house_no|substr:0:5}" maxlength="5">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_parcelshop_zip"}
						<div class="grid receiver_data receiver_parcelshop small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_zip}</div>
							<div class="span7">
								<input type="text" name="receiver_parcelshop/zip"           value="{$delivery['postcode']|substr:0:10}" maxlength="10">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_parcelshop_city"}
						<div class="grid receiver_data receiver_parcelshop small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_city}</div>
							<div class="span7">
								<input type="text" name="receiver_parcelshop/city"          value="{$delivery['city']|substr:0:35}" maxlength="35">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_parcelshop_country"}
						<div class="grid receiver_data receiver_parcelshop small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_origincountry}</div>
							<div class="span7">
								<select name="receiver_parcelshop/origincountry" class="country receiver_country">
									{foreach from=$countries item=country}
										<option value="{$country.countries_iso_code_2}" {if $delivery['country_iso_code_2'] == $country.countries_iso_code_2}selected="selected"{/if}>
											{$txt_countries[$country.countries_iso_code_2]}
										</option>
									{/foreach}
								</select>
							</div>
						</div>
					{/block}
				{/block}
		
				{* -- Communication -------------------------------------------------------------------------------------- *}
				{block name="admin_geschaeftskundenversand_form_single_form_communication"}
					{block name="admin_geschaeftskundenversand_form_single_form_communication_email"}
						<div class="grid receiver_address small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_email}</div>
							<div class="span7">
								{if $prefill_email === true}
									<input type="text" name="receiver/email"         value="{$order->customer['email_address']|substr:0:50}" maxlength="50">
								{else}
									<input type="text" name="receiver/email"         value="" maxlength="50">
								{/if}
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_communication_phone"}
						<div class="grid receiver_address">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_config_shipper_phone}</div>
							<div class="span7">
								{if $prefill_phone === true}
									<input type="text" name="receiver/phone"         value="{$order->customer['telephone']|substr:0:20}" maxlength="20">
								{else}
									<input type="text" name="receiver/phone"         value="" maxlength="20">
								{/if}
							</div>
						</div>
					{/block}
				{/block}
				
				{* ======================================================================================================= *}
		
				{block name="admin_geschaeftskundenversand_form_single_form_order"}
					{block name="admin_geschaeftskundenversand_form_single_form_order_products"}
						<div class="grid">
							<div class="span3">
								<label for="gkv_product_index">Produkt</label>
							</div>
							<div class="span9">
								<select name="product_index" id="gkv_product_index">
									{foreach from=$products item=product key=product_index}
										<option
										   value="{$product_index}"
										   {if $products_default == $product_index}selected="selected"{/if}
										   data-dhl_product="{$product->getType()}"
										   data-dhl_targetarea="{$product->getTargetArea()}">
											{$product->getAlias()} ({$product_names[$product->getType()]}/{$product->getAttendance()})
											{if $product->isDeprecated()} -- {$txt.gkv_product_deprecated}{/if}
										</option>
									{/foreach}
								</select>
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_order_shipping_weight"}
						<div class="grid">
							<div class="span3"><label for="gkv_weight">{$txt.gkv_shipping_weight}</label></div>
							<div class="span9">
								<input type="number" name="shipping_weight" id="gkv_weight" value="{$shipping_weight}" min="0.100" max="31.5" step="0.001">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_order_shipment_date"}
						<div class="grid extd-view">
							<div class="span3"><label for="gkv_shipment_date">{$txt.gkv_shipment_date}</label></div>
							<div class="span9">
								<input
									type="date"
									name="shipment_date"
									id="gkv_shipment_date"
									value="{$shipment_date}"
									min="{$shipment_date}"
									placeholder="YYYY-MM-DD"
									data-gx-widget="datetimepicker"
									data-datetimepicker-lang="de"
									data-datetimepicker-format="Y-m-d"
									data-datetimepicker-day-of-week-start="1"
									data-datetimepicker-min-date="{$shipment_date}"
									data-datetimepicker-timepicker="false"
								>
							</div>
						</div>
					{/block}
			
					{block name="admin_geschaeftskundenversand_form_single_form_order_customer_reference"}
						<div class="grid extd-view">
							<div class="span3"><label for="gkv_customer_reference">{$txt.gkv_customer_reference}</label>
							</div>
							<div class="span9">
								<input type="text" name="customer_reference" id="gkv_customer_reference" value="{$customer_reference|substr:0:35}" maxlength="35">
							</div>
						</div>
					{/block}
				{/block}
		
				{* == EXPORT ============================================================================================= *}
		
				{block name="admin_geschaeftskundenversand_form_single_form_export"}
					{block name="admin_geschaeftskundenversand_form_single_form_export_type"}
						<div class="grid exportdoc">
							<div class="span3"><label>{$txt.gkv_export_data}</label></div>
							<div class="span2 linelabel">{$txt.gkv_export_type}</div>
							<div class="span7">
								<select name="exportdoc/exporttype">
									<!-- <option value="NONE"             >{$txt.gkv_exporttype_none}             </option> -->
									<option value="EU"               >{$txt.gkv_exporttype_eu}               </option>
									<option value="OTHER"            >{$txt.gkv_exporttype_other}            </option>
									<option value="PRESENT"          >{$txt.gkv_exporttype_present}          </option>
									<option value="COMMERCIAL_SAMPLE">{$txt.gkv_exporttype_commercial_sample}</option>
									<option value="DOCUMENT"         >{$txt.gkv_exporttype_document}         </option>
									<option value="RETURN_OF_GOODS"  >{$txt.gkv_exporttype_return_of_goods}  </option>
								</select>
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_export_description"}
						<div class="grid exportdoc small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_export_type_description}</div>
							<div class="span7">
								<input type="text" name="exportdoc/exporttypedescription" maxlength="256">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_export_invoicenumber"}
						<div class="grid exportdoc small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_export_invoicenumber}</div>
							<div class="span7">
								<input type="text" name="exportdoc/invoicenumber" maxlength="35" value="{$orders_id}">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_export_termsoftrade"}
						<div class="grid exportdoc small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_export_termsoftrade}</div>
							<div class="span7">
								<select name="exportdoc/termsoftrade">
									<option value="">-</option>
									<option value="DDP">{$txt.gkv_export_termsoftrade_ddp}</option>
									<option value="DXV">{$txt.gkv_export_termsoftrade_dxv}</option>
									<option value="DDU">{$txt.gkv_export_termsoftrade_ddu}</option>
									<option value="DDX">{$txt.gkv_export_termsoftrade_ddx}</option>
								</select>
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_export_placeofcommital"}
						<div class="grid exportdoc small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_export_placeofcommital}</div>
							<div class="span7">
								<input type="text" name="exportdoc/placeofcommital" maxlength="35">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_export_additionalfee"}
						<div class="grid exportdoc small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_export_additionalfee}</div>
							<div class="span7">
								<input type="text" name="exportdoc/additionalfee" maxlength="10">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_export_permitnumber"}
						<div class="grid exportdoc small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_export_permitnumber}</div>
							<div class="span7">
								<input type="text" name="exportdoc/permitnumber" maxlength="10">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_export_attestation_number"}
						<div class="grid exportdoc small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_export_attestationnumber}</div>
							<div class="span7">
								<input type="text" name="exportdoc/attestationnumber" maxlength="35">
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_export_with_electronic_export_ntfctn"}
						<div class="grid exportdoc small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_export_withelectronicexportntfctn}</div>
							<div class="span7">
								<input type="checkbox" name="exportdoc/withelectronicexportntfctn" value="1" data-single_checkbox>
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_export_add_postions"}
						<div class="grid exportdoc small-margin">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_export_positions}</div>
							<div class="span7">
								<button id="add_export_position">{$txt.gkv_add_export_position}</button>
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_export_positions"}
						<div class="grid exportdoc">
							<div class="span3">&nbsp;</div>
							<div class="span9">
								{block name="admin_geschaeftskundenversand_form_single_form_export_positions_table"}
									<table class="exportpositions">
										{block name="admin_geschaeftskundenversand_form_single_form_export_positions_table_thead"}
											<thead>
												<tr>
													<th>{$txt.gkv_export_description}</th>
													<th>{$txt.gkv_export_countrycodeorigin}</th>
													<th>{$txt.gkv_export_customstariffnumber}</th>
													<th>{$txt.gkv_export_amount}</th>
													<th>{$txt.gkv_export_netweightkg}</th>
													<th>{$txt.gkv_export_customsvalue}</th>
													<th>&nbsp;</th>
												</tr>
											</thead>
										{/block}
										{block name="admin_geschaeftskundenversand_form_single_form_export_positions_table_tbody"}
											<tbody>
												{block name="admin_geschaeftskundenversand_form_single_form_export_positions_table_tbody_template_now"}
													<tr class="template_row">
														<td><input name="exportpos[description][]" type="text" maxlength="256" value=""></td>
														<td>
															<select name="exportpos[countrycodeorigin][]">
															{foreach from=$countries item=country}
																<option value="{$country.countries_iso_code_2}" {if $configuration['shipper/origincountry'] == $country.countries_iso_code_2}selected="selected"{/if}>
																	{$country.countries_iso_code_2}
																</option>
															{/foreach}
															</select>
														</td>
														<td><input name="exportpos[customstariffnumber][]"  type="text" maxlength="10"></td>
														<td><input name="exportpos[amount][]"               type="number" min="0" max="1000"  step="0.001"    value="1"></td>
														<td><input name="exportpos[netweightkg][]"          type="number" min="0" max="1000"  step="0.001" value="0.000"></td>
														<td><input name="exportpos[customsvalue][]"         type="number" min="0" max="10000" step="0.01" value="0.00"></td>
														<td><button class="remove_row"><i class="fa fa-trash" aria-hidden="true" style="font-size: 1.2em;"></i></button></td>
													</tr>
												{/block}
												{foreach from=$order->products item=product key=productindex}
													{block name="admin_geschaeftskundenversand_form_single_form_export_positions_table_tbody_row"}
														<tr>
															<td><input name="exportpos[description][]" type="text" maxlength="256" value="{$product.name|substr:0:256}"></td>
															<td>
																<select name="exportpos[countrycodeorigin][]">
																{foreach from=$countries item=country}
																	<option value="{$country.countries_iso_code_2}" {if $configuration['shipper/origincountry'] == $country.countries_iso_code_2}selected="selected"{/if}>
																		{$country.countries_iso_code_2}
																	</option>
																{/foreach}
																</select>
															</td>
															<td><input name="exportpos[customstariffnumber][]"  type="text" maxlength="10"></td>
															<td><input name="exportpos[amount][]"               type="number" min="0" max="1000"  step="0.001"    value="{$product.qty}"></td>
															<td><input name="exportpos[netweightkg][]"          type="number" min="0" max="1000"  step="0.001" value="{$products_weight[$productindex]}"></td>
															<td><input name="exportpos[customsvalue][]"         type="number" min="0" max="10000" step="0.01" value="{$product.price}"></td>
															<td><button class="remove_row"><i class="fa fa-trash" aria-hidden="true" style="font-size: 1.2em;"></i></button></td>
														</tr>
													{/block}
												{/foreach}
											</tbody>
										{/block}
									</table>
								{/block}
							</div>
						</div>
					{/block}
				{/block}
		
		
				{* == SERVICES =========================================================================================== *}
				
				{* -- Kernleistungen ------------------------------------------------------------------------------------- *}
				{block name="admin_geschaeftskundenversand_form_single_form_services_core_services"}
					<div class="grid extd-view">
						<div class="span12"><h2>{$txt.gkv_services_core}</h2></div>
					</div>
					<div class="grid dhl_service dhl_paket dhl_paket_tag extd-view">
						<div class="span3"><label for="gkv_preferredlocation">{$txt.gkv_preferredlocation}</label></div>
						<div class="span9">
							<input type="text" name="preferredlocation" value="" id="gkv_preferredlocation" maxlength="100">
						</div>
					</div>
					<div class="grid dhl_service dhl_paket dhl_paket_tag extd-view">
						<div class="span3"><label for="gkv_preferredneighbour">{$txt.gkv_preferredneighbour}</label></div>
						<div class="span9">
							<input type="text" name="preferredneighbour" value="" id="gkv_preferredneighbour" maxlength="100">
						</div>
					</div>
					<div class="grid extd-view">
						<div class="span3"><span class="blocklabel">{$txt.gkv_notification_address}</span></div>
						<div class="span9">
							{if $prefill_email === true}
								<input type="text" name="notification" value="{$order->customer['email_address']|substr:0:50}" maxlength="50">
							{else}
								<input type="text" name="notification" value="" maxlength="50">
							{/if}
						</div>
					</div>
				{/block}
				
				{* -- Personenbezogene Zustellvorgaben ------------------------------------------------------------------- *}
				{block name="admin_geschaeftskundenversand_form_single_form_services_personal_services"}
					<div class="grid extd-view">
						<div class="span12"><h2>{$txt.gkv_services_personal}</h2></div>
					</div>
					<div class="grid dhl_service dhl_paket dhl_paket_tag extd-view">
						<div class="span3"><label for="gkv_visualcheckofage">{$txt.gkv_visualcheckofage}</label></div>
						<div class="span9">
							<select name="visualcheckofage" id="gkv_visualcheckofage">
								<option value="">{$txt.gkv_no_selection}</option>
								<option value="a16">{$txt.gkv_visualcheckofage_a16}</option>
								<option value="a18"{if ($isAdultContent && $configuration['age_check'] == 'visualage18')} selected="selected"{/if}>{$txt.gkv_visualcheckofage_a18}</option>
							</select>
						</div>
					</div>
					<div class="extd-view">
						<div class="grid dhl_service dhl_paket dhl_paket_tag">
							<div class="span3"><label for="gkv_identcheck">{$txt.gkv_identcheck}</label></div>
							<div class="span9">
								<input type="checkbox" name="identcheck" value="1" data-single_checkbox{if ($isAdultContent && $configuration['age_check'] == 'identcheck18')} checked="checked"{/if}>
							</div>
						</div>
						<div class="grid dhl_service dhl_service_identcheck dhl_paket dhl_paket_tag">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_identcheck_surname}</div>
							<div class="span7">
								<input type="text" name="identcheck_surname" value="{$identcheck.surname}" maxlength="255">
							</div>
						</div>
						<div class="grid dhl_service dhl_service_identcheck dhl_paket dhl_paket_tag">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_identcheck_givenname}</div>
							<div class="span7">
								<input type="text" name="identcheck_givenname" value="{$identcheck.givenname}" maxlength="255">
							</div>
						</div>
						<div class="grid dhl_service dhl_service_identcheck dhl_paket dhl_paket_tag">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_identcheck_dateofbirth}</div>
							<div class="span7">
								<input
									type="date"
									name="identcheck_dateofbirth"
									id="gkv_identcheck_dateofbirth"
									value="{$identcheck.dob}"
									min="1900-01-01"
									placeholder="YYYY-MM-DD"
									data-gx-widget="datetimepicker"
									data-datetimepicker-lang="de"
									data-datetimepicker-format="Y-m-d"
									data-datetimepicker-day-of-week-start="1"
									data-datetimepicker-min-date="1900-01-01"
									data-datetimepicker-timepicker="false"
								>
							</div>
						</div>
						<div class="grid dhl_service dhl_service_identcheck dhl_paket dhl_paket_tag">
							<div class="span3">&nbsp;</div>
							<div class="span2 linelabel">{$txt.gkv_identcheck_minimumage}</div>
							<div class="span7">
								<select name="identcheck_minimumage">
									<option value="">{$txt.gkv_no_selection}</option>
									<option value="A16">{$txt.gkv_visualcheckofage_a16}</option>
									<option value="A18"{if ($isAdultContent && $configuration['age_check'] == 'identcheck18')} selected="selected"{/if}>{$txt.gkv_visualcheckofage_a18}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="grid dhl_service dhl_paket dhl_paket_tag extd-view">
						<div class="span3"><label for="gkv_namedpersononly">{$txt.gkv_namedpersononly}</label></div>
						<div class="span9">
							<input type="checkbox" name="namedpersononly" value="1" data-single_checkbox>
						</div>
					</div>
				{/block}
				
				{* -- Zeitliche und örtliche Zustellvorgaben ------------------------------------------------------------- *}
				{block name="admin_geschaeftskundenversand_form_single_form_services"}
					<div class="grid extd-view">
						<div class="span12"><h2>{$txt.gkv_services_timeandplace}</h2></div>
					</div>
				
					{block name="admin_geschaeftskundenversand_form_single_form_services_dayofdelivery"}
						<div class="grid dhl_service dhl_paket dhl_paket_tag extd-view">
							<div class="span3"><label for="gkv_preferredday">{$txt.gkv_preferredday}</label></div>
							<div class="span9">
								<input
									type="date"
									name="preferredday"
									id="gkv_preferredday"
									value="{$preferredday}"
									min="{date('Y-m-d')}"
									placeholder="YYYY-MM-DD"
									data-gx-widget="datetimepicker"
									data-datetimepicker-lang="de"
									data-datetimepicker-format="Y-m-d"
									data-datetimepicker-day-of-week-start="1"
									data-datetimepicker-min-date="{$preferredday_min}"
									data-datetimepicker-max-date="{$preferredday_max}"
									data-datetimepicker-timepicker="false"
									data-datetimepicker-disabled-week-days="[0]"
								>
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_services_preferred_time"}
						<div class="grid dhl_service dhl_paket dhl_paket_tag extd-view">
							<div class="span3"><label for="gkv_preferredtime">{$txt.gkv_preferredtime}</label></div>
							<div class="span9">
								<select name="preferredtime">
									<option value="0"        {if empty($preferredtime)       }selected="selected"{/if}>-</option>
									<option value="10001200" {if $preferredtime == "10001200"}selected="selected"{/if}>10:00 - 12:00</option>
									<option value="12001400" {if $preferredtime == "12001400"}selected="selected"{/if}>12:00 - 14:00</option>
									<option value="14001600" {if $preferredtime == "14001600"}selected="selected"{/if}>14:00 - 16:00</option>
									<option value="16001800" {if $preferredtime == "16001800"}selected="selected"{/if}>16:00 - 18:00</option>
									<option value="18002000" {if $preferredtime == "18002000"}selected="selected"{/if}>18:00 - 20:00</option>
									<option value="19002100" {if $preferredtime == "19002100"}selected="selected"{/if}>19:00 - 21:00</option>
								</select>
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_services_preferred_no_neight_delivery"}
						<div class="grid dhl_service dhl_paket dhl_paket_tag extd-view">
							<div class="span3"><label for="gkv_noneighbourdelivery">{$txt.gkv_noneighbourdelivery}</label></div>
							<div class="span9">
								<input type="checkbox" name="noneighbourdelivery" value="1" data-single_checkbox>
							</div>
						</div>
					{/block}
				
				{* -- Weitere Services und Leistungen -------------------------------------------------------------------- *}
				
					<div class="grid extd-view">
						<div class="span12"><h2>{$txt.gkv_services_misc}</h2></div>
					</div>
					{block name="admin_geschaeftskundenversand_form_single_form_services_packaging_return"}
						<div class="grid dhl_service dhl_paket dhl_paket_tag extd-view">
							<div class="span3"><label for="gkv_packagingreturn">{$txt.gkv_packagingreturn}</label></div>
							<div class="span9">
								<input type="checkbox" name="packagingreturn" value="1" data-single_checkbox>
								<span data-gx-widget="tooltip_icon" data-tooltip_icon-type="info">{$txt.gkv_packagingreturn_note}</span>
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_services_return_immediately"}
						<div class="grid dhl_service dhl_paket_tag extd-view">
							<div class="span3"><label for="gkv_returnimmediately">{$txt.gkv_returnimmediately}</label></div>
							<div class="span9">
								<input type="checkbox" name="returnimmediately" value="1" data-single_checkbox>
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_services_premiun"}
						<div class="grid dhl_service dhl_paket_intl extd-view">
							<div class="span3"><label for="gkv_premium">{$txt.gkv_premium}</label></div>
							<div class="span9">
								<input type="checkbox" name="premium" value="1" data-single_checkbox {if $premium_preselect}checked="checked"{/if}>
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_services_bulkgoods"}
						<div class="grid dhl_service dhl_paket dhl_paket_tag dhl_paket_intl dhl_paket_at dhl_paket_connect dhl_paket_at_intl extd-view">
							<div class="span3"><label for="gkv_bulkygoods">{$txt.gkv_bulkygoods}</label></div>
							<div class="span9">
								<input type="checkbox" name="bulkygoods" value="1" data-single_checkbox>
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_services_cash_on_delivery"}
						<div class="grid dhl_service dhl_paket dhl_paket_tag dhl_paket_intl dhl_paket_at dhl_paket_connect">
							<div class="span3"><label for="gkv_cashondelivery">{$txt.gkv_cashondelivery}</label></div>
							<div class="span9">
								<input type="number" name="cashondelivery" id="gkv_cashondelivery" min="0.00" max="100000" step="0.01" value="{if $is_cod}{$cod_amount}{/if}">
								{$order->info['currency']}
								<button id="cod_helper" class="btn btn-xs" data-cod_amount="{$cod_amount}"><i class="fa fa-arrow-left" aria-hidden="true"></i> {$cod_amount} {$order->info['currency']} {$txt.gkv_cod_helper}</button>
							</div>
						</div>
					{/block}
					{block name="admin_geschaeftskundenversand_form_single_form_services_additional_insurance"}
						<div class="grid dhl_service dhl_paket dhl_paket_tag dhl_paket_intl dhl_europaket dhl_kurier_tag dhl_kurier_wunsch dhl_paket_at dhl_paket_connect dhl_paket_at_intl extd-view">
							<div class="span3"><label for="gkv_additionalinsurance">{$txt.gkv_additionalinsurance}</label></div>
							<div class="span9">
								<input type="checkbox" name="additionalinsurance" id="gkv_additionalinsurance" value="{$insurance_amount}" data-single_checkbox>
								<span data-gx-widget="tooltip_icon" data-tooltip_icon-type="info">{$txt.gkv_additionalinsurance_note}</span>
							</div>
						</div>
					{/block}
				{/block}
				
				{* ======================================================================================================= *}
				
				{block name="admin_geschaeftskundenversand_form_single_form_submit_wrapper"}
					{block name="admin_geschaeftskundenversand_form_single_form_submit_wrapper_only_if_codeable"}
						<div class="grid">
							<div class="span3"><label for="gkv_only_if_codeable">{$txt.gkv_only_if_codeable}</label></div>
							<div class="span9">
								<input type="checkbox" name="only_if_codeable" value="1" checked="checked" data-single_checkbox>
							</div>
						</div>
					{/block}
					<div class="grid">
						<div class="span3">
						</div>
						<div class="span9">
						</div>
					</div>
					{block name="admin_geschaeftskundenversand_form_single_form_submit_wrapper_submit"}
						<div class="grid">
							<div class="span9">
								&nbsp;
							</div>
							<div class="span3">
								<input type="submit" value="{$txt.gkv_create_label}" class="pull-right">
							</div>
						</div>
					{/block}
				{/block}
			</form>
		{/block}
	</div>
{/block}
