{load_language_text section="google_categories_administration"}

{block name="admin_google_categories_administration"}
	<table width="100%" class="gx-configuration">
		<tbody><tr>
			<td class="remove-border">
				{block name="admin_google_categories_administration_table"}
					<table width="100%">
					<tbody>
						<tr>
							<td class="remove-border">
								<input type="text" class="text button_edit" value="{$txt.button_edit}" />
								<input type="text" class="text select" value="{$txt.select_categorie}" />
								{block name="admin_google_categories_administration_table_delete"}
									<div class="google_category_list">
										<span class="hidden" >
											<input type="checkbox" class="checkbox delete-checkbox" name="delete_list[]" />
											{$txt.button_delete}
										</span>
									</div>
								{/block}
								{block name="admin_google_categories_administration_table_add_button"}
									<div class="google_category_list_add_button">
										<a href="#" class="btn">{$txt.button_category_add}</a>
									</div>
								{/block}
								{block name="admin_google_categories_administration_table_add_box"}
									<div class="google_category_list_add_box">
										<input type="text" name="category_string" class="category_string " readonly="readonly" />
										<div class="google_category_select_boxes"></div>
										<div class="control-group">
											<a href="#" class="btn add btn-add">{$txt.button_add}</a>
											<a href="#" class="btn cancel btn-cancel">{$txt.button_cancel}</a>
										</div>
									</div>
								{/block}
							</td>
						</tr>
					</tbody></table>
				{/block}
			</td>
		</tr>
	</tbody></table>
{/block}