{load_language_text section="imagemap_editor"}

{block name="admin_image_mapper_wrong_browser"}
	<div class="lightbox_package_container">
		{block name="admin_image_mapper_wrong_browser_lightbox_border_top"}
			<div class="lightbox_package_border">
				<b class="lightbox_border_1"></b>
				<b class="lightbox_border_2"></b>
				<b class="lightbox_border_3"></b>
				<b class="lightbox_border_4"></b>
			</div>
		{/block}
		{block name="admin_image_mapper_wrong_browser_wrapper"}
			<div class="lightbox_package_wrapper">
				{block name="admin_image_mapper_wrong_browser_wrapper_heading"}
		            <div class="lightbox_package_header pageHeading">Image-Mapper</div>
				{/block}
				{block name="admin_image_mapper_wrong_browser_wrapper_close"}
					<div class="lightbox_package_close"></div>
				{/block}
				{block name="admin_image_mapper_wrong_browser_wrapper_content"}
					<div class="lightbox_package_content">
						<p>{$txt.unsupported_browser_message}</p>
					</div>
				{/block}
			</div>
		{/block}
		{block name="admin_image_mapper_wrong_browser_lightbox_border_bottom"}
			<div class="lightbox_package_border">
				<b class="lightbox_border_4"></b>
				<b class="lightbox_border_3"></b>
				<b class="lightbox_border_2"></b>
				<b class="lightbox_border_1"></b>
			</div>
		{/block}
	</div>
{/block}