{load_language_text section='lightbox_buttons'}

{block name="admin_lightbox_container"}
	{block name="admin_lightbox_container_content"}
		<div>
			{$content_data.lightbox_content}
		</div>
	{/block}

	{block name="admin_lightbox_container_error"}
		<div class="lightbox_content_error"> </div>
	{/block}

	{if $content_data.buttons_show}
		{block name="admin_lightbox_container_buttons"}
			<div class="button_container">
				{block name="admin_lightbox_container_buttons_left"}
					<div class="button_left_container">
						{foreach key=button_text item=button_classes from=$content_data.buttons_left}
							<a href="#" onclick="return false;" class="btn {foreach item=button_class from=$button_classes} {$button_class}{/foreach}">{$txt.$button_text}</a>
						{/foreach}
						<div class="clear_both"> <!-- &nbsp; --> </div>
					</div>
				{/block}
				{block name="admin_lightbox_container_buttons_right"}
					<div class="button_right_container">
						{foreach key=button_text item=button_classes from=$content_data.buttons_right}
							<a href="#" onclick="return false;" class="btn {foreach item=button_class from=$button_classes} {$button_class}{/foreach}">{$txt.$button_text}</a>
						{/foreach}
						<div class="clear_both"> <!-- &nbsp; --> </div>
					</div>
				{/block}
				<div class="clear_both"> <!-- &nbsp; --> </div>
			</div>
		{/block}
	{/if}
	<div class="clear_both"> <!-- &nbsp; --> </div>
	
	{if is_array($content_data.parameters)}
		{block name="admin_lightbox_container_javascript"}
			<script type="text/javascript">
				{literal}
					if( typeof t_lightbox_parameters == "undefined" )
					{
						t_lightbox_parameters = new Array();
					}
					var t_lightbox_identifier;
				{/literal}
				t_lightbox_identifier = "{$content_data.parameters.lightbox_identifier}";
				
				{literal}
					t_lightbox_parameters['_' + t_lightbox_identifier] = new Array();
				{/literal}
				
				{foreach key=parameter_key item=parameter_value from=$content_data.parameters}
					t_lightbox_parameters['_' + t_lightbox_identifier]["{$parameter_key}"] = "{$parameter_value}";
				{/foreach}
			</script>
		{/block}
	{/if}
	{if $content_data.javascript_section}
		{block name="admin_lightbox_container_javascript2"}
			<script type="text/javascript" src="../gm_javascript.js.php?page=Section&amp;globals=off&amp;section={$content_data.javascript_section}&amp;lightbox_identifier={$content_data.parameters.lightbox_identifier}"></script>
		{/block}
	{/if}
{/block}