{load_language_text section="lightbox"}
{load_language_text section="lightbox_buttons" name="buttons"}

{block name="admin_lightbox_progress"}
	<div class="lightbox_progress">
		{block name="admin_lightbox_progress_message"}
			<div style="text-align: center; font-size: 11px;">
				{block name="admin_lightbox_progress_message_text"}
					<div class="message">{$content_data.lightbox_message}</div>
					<br />
					<span class="job">{$txt.process_is_starting}</span>
				{/block}
				{block name="admin_lightbox_progress_message_progress"}
					<div class="progress_bar">
						<div class="progress_marker"> <!-- &nbsp; --> </div>
					</div>
					<span class="progress_text">---</span>
				{/block}
				<br />
			</div>
		{/block}
	
		{block name="admin_lightbox_progress_buttons"}
			<div class='button_container'>
				{block name="admin_lightbox_progress_buttons_left"}
					<div class='button_left_container'>
					</div>
				{/block}
				{block name="admin_lightbox_progress_buttons_right"}
					<div class='button_right_container'>
						<a href="#" class="admin_button red cancel" onclick="return false;">{$buttons.cancel}</a>
						<a href="#" class="admin_button green close" onclick="return false;" style="display: none;">{$buttons.close}</a>
					</div>
				{/block}
				<div class='clear_both'> <!-- &nbsp; --> </div>
			</div>
		{/block}
	</div>
{/block}