{block name="admin_shipcloud_unconfigurednote"}
	<h2>##unconfigured_heading</h2>
	
	<p>##unconfigured_intro</p>
	
	<p><a href="{$sc_link}" target="_new">##unconfigured_shipcloud_linktext</a></p>
	
	<p><a href="{$config_link}">##unconfigured_config_linktext</a></p>
{/block}