{* --------------------------------------------------------------
	shipcloud_multilabellist.html 2016-06-13
	Gambio GmbH
	http://www.gambio.de
	Copyright (c) 2015 Gambio GmbH
	Released under the GNU General Public License (Version 2)
	[http://www.gnu.org/licenses/gpl-2.0.html]
	--------------------------------------------------------------
*}

{block name="admin_shipcloud_multilabellist_v2"}
	<div class="" id="sc_labellist_container" data-gx-widget="checkbox">
		{if $shipments}
			{block name="admin_shipcloud_multilabellist_v2_form"}
				<form action="" method="POST" id="sc_pickup">
					<input type="hidden" name="page_token" value="{$page_token}">
					{block name="admin_shipcloud_multilabellist_v2_table"}
						<table class="labellist">
							{block name="admin_shipcloud_multilabellist_v2_table_thead"}
								<tr class="">
									<th>
										<input class="pickup_checkbox_all" type="checkbox" data-single_checkbox>
									</th>
									<th>##order</th>
									<th>##created_at</th>
									<th>##carrier_and_service</th>
									<th>##carrier_tracking_no</th>
									<th>##shipment_price</th>
									<th style="min-width: 275px"></th>
								</tr>
							{/block}
							{foreach from=$shipments item=shipment key=orders_id}
								{block name="admin_shipcloud_multilabellist_v2_table_row"}
									<tr class="">
										{if $shipment->error_message}
											<td class="">&nbsp;</td>
											<td class="">{$shipment->orders_id}</td>
											<td colspan="5" class="sc_multilabel_error">{$shipment->error_message}</td>
										{else}
											<td class="">
												<input class="pickup_checkbox" type="checkbox" name="pickup_shipments[]" value="{$shipment->shipments.0->id}/{$shipment->shipments.0->carrier}" data-single_checkbox>
											</td>
											<td class="">{$orders_id} ({$shipment->shipments.0->to->last_name}, {$shipment->shipments.0->to->first_name})</td>
											<td class="">{$shipment->shipments.0->created_at}</td>
											<td class="">{$shipment->shipments.0->carrier}/{$shipment->shipments.0->service}</td>
											<td class="">{$shipment->shipments.0->carrier_tracking_no}</td>
											<td class="numeric_cell">{$shipment->shipments.0->price|string_format:"%.2f"}</td>
											<td class="">
												<div class="btn-group">
													<a class="btn remove-margin-bottom label-link" href="{$shipment->shipments.0->label_url}" target="_new">##label</a>
													<a class="btn remove-margin-bottom" href="{$shipment->shipments.0->tracking_url}" target="_new">##tracking</a>
												</div>
											</td>
										{/if}
									</tr>
								{/block}
							{/foreach}
						</table>
					{/block}
		
					{block name="admin_shipcloud_multilabellist_v2_toolbar"}
						<div class="labellist-toolbar">
							{block name="admin_shipcloud_multilabellist_v2_toolbar_pickup_time"}
								<div class="pull-right pickup_time">
									##pickup_time:
									##pickup_between
									<input
										name="pickup_earliest"
										type="text"
										value="{$pickup_earliest}"
										placeholder="YYYY-MM-DD HH:MM"
										data-gx-widget="datetimepicker"
										data-datetimepicker-lang="de"
										data-datetimepicker-format="Y-m-d H:i"
										data-datetimepicker-day-of-week-start="1"
										data-datetimepicker-min-date="{$pickup_mindate}"
										data-datetimepicker-max-date="{$pickup_maxdate}"
										>
									##pickup_and
									<input
										name="pickup_latest"
										type="text"
										value="{$pickup_latest}"
										placeholder="YYYY-MM-DD HH:MM"
										data-gx-widget="datetimepicker"
										data-datetimepicker-lang="de"
										data-datetimepicker-format="Y-m-d H:i"
										data-datetimepicker-day-of-week-start="1"
										data-datetimepicker-min-date="{$pickup_mindate}"
										data-datetimepicker-max-date="{$pickup_maxdate}"
										>
								</div>
							{/block}
							{block name="admin_shipcloud_multilabellist_v2_toolbar_buttons"}
								<div class="btn-group">
									<button id="download_labels" class="btn btn-default">##download_labels</button>
									<button id="order_pickups" class="btn btn-default">##order_pickups</button>
								</div>
							{/block}
							<div id="status-output" class="initially-hidden"></div>
							<div id="pickup_result" class="initially-hidden"></div>
							<div id="download_result" class="initially-hidden"></div>
						</div>
					{/block}
				</form>
			{/block}
		{else}
			{block name="admin_shipcloud_multilabellist_v2_no_shipments"}
				##no_shipments
			{/block}
		{/if}
	</div>
{/block}
