{* --------------------------------------------------------------
	shipcloud_form_single.html 2018-01-18
	Gambio GmbH
	http://www.gambio.de
	Copyright (c) 2015 Gambio GmbH
	Released under the GNU General Public License (Version 2)
	[http://www.gnu.org/licenses/gpl-2.0.html]
	--------------------------------------------------------------
*}

{block name="admin_shipcloud_form_single"}
	<div class="gx-container" id="sc_single_container" data-is_configured="{$isConfigured}">
		{block name="admin_shipcloud_form_single_form"}
			<form id="sc_single_form" action="#" method="POST" class="grid">
				<input type="hidden" name="orders_id" value="{$orders_id}">
				{block name="admin_shipcloud_form_single_receiver"}
					<fieldset class="span6 with-padding-right">
						{block name="admin_shipcloud_form_single_receiver_heading"}
							<div class="heading">##receiver_data</div>
						{/block}
						{block name="admin_shipcloud_form_single_receiver_company"}
							<div class="control-group">
								<label>##label_to_company</label>
								<input type="text" name="to[company]" value="{$to.company}">
							</div>
						{/block}
						{block name="admin_shipcloud_form_single_receiver_firstname"}
							<div class="control-group">
								<label>##label_to_first_name</label>
								<input type="text" name="to[first_name]" value="{$to.first_name}">
							</div>
						{/block}
						{block name="admin_shipcloud_form_single_receiver_lastname"}
							<div class="control-group">
								<label>##label_to_last_name</label>
								<input type="text" name="to[last_name]" value="{$to.last_name}">
							</div>
						{/block}
						{block name="admin_shipcloud_form_single_receiver_care_of"}
							<div class="control-group">
								<label>##label_to_care_of</label>
								<input type="text" name="to[care_of]" value="{$to.care_of}">
							</div>
						{/block}
						{block name="admin_shipcloud_form_single_receiver_street"}
							<div class="control-group">
								<label>##label_to_street</label>
								<input class="price_value" type="text" name="to[street]" value="{$to.street}">
							</div>
						{/block}
						{block name="admin_shipcloud_form_single_receiver_streetnumber"}
							<div class="control-group">
								<label>##label_to_street_no</label>
								<input class="price_value" type="text" name="to[street_no]" value="{$to.street_no}">
							</div>
						{/block}
						{block name="admin_shipcloud_form_single_receiver_city"}
							<div class="control-group">
								<label>##label_to_city</label>
								<input class="price_value" type="text" name="to[city]" value="{$to.city}">
							</div>
						{/block}
						{block name="admin_shipcloud_form_single_receiver_zip"}
							<div class="control-group">
								<label>##label_to_zip_code</label>
								<input class="price_value" type="text" name="to[zip_code]" value="{$to.zip_code}">
							</div>
						{/block}
						{block name="admin_shipcloud_form_single_receiver_country"}
							<div class="control-group">
								<label>##label_to_country</label>
								<input class="price_value" type="text" name="to[country]" value="{$to.country}">
							</div>
						{/block}
						{block name="admin_shipcloud_form_single_receiver_phone"}
							<div class="control-group">
								<label for="to_phone">##label_to_phone</label>
								<input id="to_phone" type="text" name="to[phone]" value="{$to.phone}">
							</div>
						{/block}
						{block name="admin_shipcloud_form_single_receiver_email"}
							<div class="control-group">
								<label>##notification_email</label>
								<input type="text" name="notification_email" value="{$notification_email}">
							</div>
						{/block}
						{block name="admin_shipcloud_form_single_receiver_weight"}
							<div class="control-group">
								<label>##shipping_weight</label>
								{$order_weight} kg
							</div>
						{/block}
					</fieldset>
				{/block}
		
				{block name="admin_shipcloud_form_single_package"}
					<fieldset class="span6">
						{block name="admin_shipcloud_form_single_package_heading"}
							<div class="heading">##package_data</div>
						{/block}
						{block name="admin_shipcloud_form_single_package_individual_values"}
							<div class="control-group">
								<label>##template</label>
								<select name="package_template" id="sc_package_template">
									<option value="-1">##individual_values</option>
									{foreach from=$package_templates.packages item=ptemplate key=pt_id}
									<option
										value="{$pt_id}"
										{if $pt_id == $default_package_template}selected="selected"{/if}
										data-weight="{$ptemplate.weight}"
										data-height="{$ptemplate.height}"
										data-width="{$ptemplate.width}"
										data-length="{$ptemplate.length}">
										{$ptemplate.name}
									</option>
									{/foreach}
								</select>
							</div>
						{/block}
						{block name="admin_shipcloud_form_single_package_weight"}
							<div class="control-group">
								<label>##package_weight</label>
								<input class="price_value template_value" type="number" min="0.001" max="100" step="0.001" name="package[weight]" value="{$package.weight}">
							</div>
						{/block}
						{block name="admin_shipcloud_form_single_package_dimensions"}
							<div class="control-group">
								<label>##package_dimensions</label>
								<input class="price_value template_value package_dimensions" type="number" min="1" max="200" name="package[length]" value="{$package.length}">
								<input class="price_value template_value package_dimensions" type="number" min="1" max="200" name="package[width]" value="{$package.width}">
								<input class="price_value template_value package_dimensions" type="number" min="0.1" max="200" step="0.1" name="package[height]" value="{$package.height}">
							</div>
						{/block}
						{block name="admin_shipcloud_form_single_package_type"}
							<div class="control-group">
								<label>##package_type</label>
								<select class="package_type" name="package[type]">
									<option value="parcel">##package_type_parcel</option>
									<option value="parcel_letter">##package_type_parcel_letter</option>
									<option value="letter">##package_type_letter</option>
									<option value="books">##package_type_books</option>
									<option value="bulk">##package_type_bulk</option>
								</select>
							</div>
						{/block}
						{block name="admin_shipcloud_form_single_package_declared_value"}
							<div class="control-group add-margin-top-24">
								<label>##package_declared_value</label>
								<div class="grid remove-padding remove-margin">
									<div class="span6 amount">
										<input type="number" step="0.01" name="package[declared_value][amount]" value="{$package.declared_value.amount}">
									</div>
									<div class="span6 remove-padding">
										<input type="text" name="package[declared_value][currency]" value="{$package.declared_value.currency}">
									</div>
								</div>
							</div>
						{/block}
						{if $is_cod == true}
							{block name="admin_shipcloud_form_single_package_cod_value"}
								<div class="control-group carrier-specific carrier-dhl">
									<label>##cod_value</label>
									<div class="grid remove-padding remove-margin">
										<div class="span6 amount">
											<input type="number" step="0.01" name="cod[amount]" value="{$cod.amount}">
										</div>
										<div class="span6 remove-padding">
											<input type="text" name="cod[currency]" value="{$cod.currency}">
										</div>
									</div>
								</div>
							{/block}
						{/if}
						{block name="admin_shipcloud_form_single_package_service"}
							<div class="control-group">
								<label>##service</label>
								<select class="price_value" name="service">
									<option value="standard" {($service == 'standard') ? 'selected' : ''}>##service_standard</option>
									<option value="returns" {($service == 'returns') ? 'selected' : ''}>##service_returns</option>
									<option value="one_day" {($service == 'one_day') ? 'selected' : ''}>##service_one_day</option>
									<option value="one_day_early" {($service == 'one_day_early') ? 'selected' : ''}>##service_one_day_early</option>
									<option value="same_day" {($service == 'same_day') ? 'selected' : ''}>##service_same_day</option>
								</select>
							</div>
						{/block}
						{block name="admin_shipcloud_form_single_package_description"}
							<div class="control-group">
								<label>##package_description</label>
								<input type="text" maxlength="50" name="description" class="" value="{$description}">
							</div>
						{/block}
						{block name="admin_shipcloud_form_single_pickup"}
							<div class="control-group">
								<label>##pickup_time ##pickup_between</label>
								<input
										style="max-width: 42%"
										name="pickup[pickup_time][earliest]"
										type="text"
										value="{$pickup_earliest}"
										placeholder="YYYY-MM-DD HH:MM"
										data-gx-widget="datetimepicker"
										data-datetimepicker-lang="de"
										data-datetimepicker-format="Y-m-d H:i"
										data-datetimepicker-day-of-week-start="1"
										data-datetimepicker-min-date="{$pickup_mindate}"
										data-datetimepicker-max-date="{$pickup_maxdate}"
								>
								##pickup_and
								<input
										style="max-width: 42%"
										name="pickup[pickup_time][latest]"
										type="text"
										value="{$pickup_latest}"
										placeholder="YYYY-MM-DD HH:MM"
										data-gx-widget="datetimepicker"
										data-datetimepicker-lang="de"
										data-datetimepicker-format="Y-m-d H:i"
										data-datetimepicker-day-of-week-start="1"
										data-datetimepicker-min-date="{$pickup_mindate}"
										data-datetimepicker-max-date="{$pickup_maxdate}"
								>
							</div>
							{if $preselected_carriers.preselected_carriers['gls']}
								{block name="admin_shipcloud_form_single_v2_gls24h"}
								<div class="control-group carrier_gls">
									<label for="gls_guaranteed24h">##service_gls_24h</label>
									<input
										id="gls_guaranteed24h"
										type="checkbox"
										name="carrier_specific[gls][gls_guaranteed24service]"
										value="gls_guaranteed24service"
										data-single_checkbox="">
								</div>
								{/block}
							{/if}
						{/block}

						{block name="admin_shipcloud_form_single_package_table"}
							<table data-gx-widget="checkbox">
								{block name="admin_shipcloud_form_single_package_table_thead"}
									<thead>
										<tr>
											<th>&nbsp;</th>
											<th>##carrier</th>
											<th>##price</th>
											<th>&nbsp;</th>
										</tr>
									</thead>
								{/block}
								{block name="admin_shipcloud_form_single_package_table_tbody"}
									<tbody>
										{foreach from=$carriers item=carrier}
											{if $preselected_carriers.preselected_carriers[$carrier->name] == 1}
												{block name="admin_shipcloud_form_single_package_table_row"}
													<tr>
														<td>
															<input
																{if $checked_carriers.checked_carriers[$carrier->name] == 1}checked="checked"{/if}
																type="checkbox"
																name="quote_carriers[]"
																value="{$carrier->name}"
																id="quote_carrier_{$carrier->name}"
																data-single_checkbox
																>
														</td>
														<td><label for="quote_carrier_{$carrier->name}">{$carrier->display_name}</label></td>
														<td><div id="sc_quote_{$carrier->name}" class="sc_quote">&nbsp;</div></td>
														<td><input class="create_label" type="submit" name="{$carrier->name}" value="##create_label"></td>
													</tr>
												{/block}
											{/if}
										{/foreach}
									</tbody>
								{/block}
							</table>
						{/block}
						<input type="hidden" name="carrier" value="">
					</fieldset>
				{/block}
			</form>
		{/block}
	</div>
{/block}
