{load_language_text section="withdrawal"}
{load_language_text section="buttons" name="button"}

{block name="admin_withdrawal_overview"}
	{block name="admin_withdrawal_overview_javascript"}
		{literal}
			<script type="text/javascript">
				$(document).ready(function()
				{
					$('.withdrawal_row').click(function()
					{
						var t_url = window.location.href.replace(/&id=[\d]+/g, '');
						t_url = t_url.replace(/\?id=[\d]+/g, '?');
						t_url = t_url.replace(/#.*$/g, '');
						t_url = t_url.replace(/&search_result_page=true/g, '');
						t_url = t_url.replace(/search_result_page=true/g, '');
						if(t_url.search('\\?') === -1)
						{
							window.location.href = t_url + '?id=' + $(this).attr('id').replace('withdrawal_id_', '');
						}
						else if(t_url.substr(t_url.length - 1, 1) === '?')
						{
							window.location.href = t_url + 'id=' + $(this).attr('id').replace('withdrawal_id_', '');
						}
						else
						{
							window.location.href = t_url + '&id=' + $(this).attr('id').replace('withdrawal_id_', '');
						}
					});
					
					$('.page_dropdown').change(function()
					{
						var t_url = window.location.href.replace(/&id=[\d]+/g, '');
						t_url = t_url.replace(/\?id=[\d]+/g, '?');
						t_url = t_url.replace(/&page=[\d]+/g, '');
						t_url = t_url.replace(/page=[\d]+/g, '');
						t_url = t_url.replace(/&search_result_page=true/g, '');
						t_url = t_url.replace(/search_result_page=true/g, '');
						t_url = t_url.replace(/#.*$/g, '');
						if(t_url.search('\\?') === -1)
						{
							window.location.href = t_url + '?page=' + $(this).val();
						}
						else if(t_url.substr(t_url.length - 1, 1) === '?')
						{
							window.location.href = t_url + 'page=' + $(this).val();
						}
						else
						{
							window.location.href = t_url + '&page=' + $(this).val();
						}
					});
				});
			</script>
		{/literal}
	{/block}
	
	{block name="admin_withdrawal_overview_heading"}
		<div style="float: right; position: relative; top: -40px;" class="pageSubHeading orders_form">
			<form name="search" action="withdrawals.php" method="get">
				{$txt.order_id}: <input type="text" name="order_id" value="{if $content_data.ORDER_ID != 0}{$content_data.ORDER_ID}{/if}" />
				<input type="hidden" name="search_result_page" value="true" />
			</form>
		</div>
	{/block}

	{block name="admin_withdrawal_overview_outer_table"}
		<table width="100%" cellspacing="0" cellpadding="0" border="0" class="gx-container">
			<tr>
				<td valign="top">
					{block name="admin_withdrawal_overview_inner_table"}
						<table width="100%" cellspacing="0" cellpadding="2" border="0" class="gx-modules-table left-table gx-compatibility-table">
							{block name="admin_withdrawal_overview_inner_table_thead"}
								<thead>
									<tr class="dataTableHeadingRow">
										{block name="admin_withdrawal_overview_inner_table_thead_ths"}
											<th class="dataTableHeadingContent" style="width: 80px">{$txt.date}</th>
											<th class="dataTableHeadingContent" style="width: 300px">{$txt.customer}</th>
											<th class="dataTableHeadingContent" style="width: 90px">{$txt.order_id}</th>
											<th class="dataTableHeadingContent" style="width: 50px">{$txt.number}</th>
											<th class="dataTableHeadingContent" style="min-width: 100px"></th>
										{/block}
									</tr>
								</thead>
							{/block}
							{block name="admin_withdrawal_overview_inner_table_tbody"}
								<tbody>
									{foreach key=withdrawal_id item=withdrawal from=$content_data.withdrawals}
										{block name="admin_withdrawal_overview_inner_table_row"}
											<tr class="dataTableRow withdrawal_row{if $content_data.WITHDRAWAL_ID == $withdrawal->get_withdrawal_id()} dataTableRowSelected active{/if}" id="withdrawal_id_{$withdrawal->get_withdrawal_id()}">
												{block name="admin_withdrawal_overview_inner_table_tds"}
													<td class="dataTableContent">{$withdrawal->get_date_created_formatted()}</td>
													<td class="dataTableContent">
														{if $content_data.withdrawal_links[$withdrawal_id].customer_details_link}
														<a href="{$content_data.withdrawal_links[$withdrawal_id].customer_details_link}">
														{/if}
															{$withdrawal->get_customer_name()}
														{if $content_data.withdrawal_links[$withdrawal_id].customer_details_link}
														</a>
														{/if}
													</td>
													<td class="dataTableContent numeric_cell">
														{if $content_data.withdrawal_links[$withdrawal_id].order_details_link}
														<a href="{$content_data.withdrawal_links[$withdrawal_id].order_details_link}">
														{/if}
															{$withdrawal->get_order_id()}
														{if $content_data.withdrawal_links[$withdrawal_id].order_details_link}
														</a>
														{/if}
													</td>
													<td class="dataTableContent numeric_cell">
														<a href="{$content_data.withdrawal_links[$withdrawal_id].withdrawal_details_link}">
															{$withdrawal->get_withdrawal_id()}
														</a>
													</td>
													<td class="dataTableContent"></td>
												{/block}
											</tr>
										{/block}
									{/foreach}
								</tbody>
							{/block}
						</table>
					{/block}
				</td>
			</tr>
		</table>
	{/block}
	
	{block name="admin_withdrawal_overview_pagination"}
		<table class="gx-container paginator table-paginator left-table">
			<tr>
				<td class="pagination-control">
					{block name="admin_withdrawal_overview_pagination_number_of_withdrawals"}
						<div class="display-info">
							{$content_data.number_of_withdrawals}
						</div>
					{/block}
					{if $content_data.PAGES_COUNT > 1}
						{block name="admin_withdrawal_overview_pagination_pages"}
							<div class="page-number-information">
								{if $content_data.PAGE > 1}
									<a class="splitPageLink" href="{$content_data.PREV_PAGE_HREF}"><<</a>
								{else}
									<<
								{/if}
				
								{$txt.navigation_page}
				
								<form>
									<select class="page_dropdown" name="page">
										{section name=pages start=1 loop=$content_data.PAGES_COUNT+1 step=1}
										<option value="{$smarty.section.pages.index}"{if $smarty.section.pages.index == $content_data.PAGE} selected="selected"{/if}>{$smarty.section.pages.index}</option>
										{/section}
									</select>
								</form>
				
								{$txt.navigation_page_of} {$content_data.PAGES_COUNT}
				
								{if $content_data.PAGE < $content_data.PAGES_COUNT}<a class="splitPageLink" href="{$content_data.NEXT_PAGE_HREF}">>></a>{else}>>{/if}
							</div>
						{/block}
					{/if}
				</td>
			</tr>
		</table>
	{/block}
	
	<div class="hidden">
		{if $content_data.WITHDRAWAL_ID > 0}
			{block name="admin_withdrawal_overview_configuration_box"}
				<div class="gx-configuration-box gx-container">
					<div class="configuration-box-content">
						{block name="admin_withdrawal_overview_configuration_box_form"}
							<form id="configuration-box-form" action="withdrawals.php?page={$content_data.PAGE}{if $content_data.ORDER_ID != 0 && $content_data.WITHDRAWALS_COUNT > 1}&order_id={$content_data.ORDER_ID}{/if}" method="post">
								{block name="admin_withdrawal_overview_configuration_box_heading"}
									<div class="configuration-box-header">
										{block name="admin_withdrawal_overview_configuration_box_heading_title"}
											<h2>
												{if $content_data.ACTION == 'delete'}
													{$txt.delete_heading}
												{else}
													{$txt.withdrawal_nr} {$content_data.WITHDRAWAL_ID}
												{/if}
											</h2>
										{/block}
									</div>
								{/block}
				
								{block name="admin_withdrawal_overview_configuration_box_body"}
									<div class="configuration-box-body">
										<div class="configuration-box-form-content">
											{block name="admin_withdrawal_overview_configuration_box_body_content"}
												{if $content_data.WITHDRAWALS_COUNT > 0}
													{if $content_data.ACTION == 'delete'}
														<p>{$txt.delete_confirm}</p>
													{/if}
												{/if}
											{/block}
										</div>
									</div>
								{/block}
				
								{block name="admin_withdrawal_overview_configuration_box_footer"}
									<div class="configuration-box-footer">
										<div class="button-container bottom-save-bar-content">
											{if $content_data.ACTION == 'delete'}
												{block name="admin_withdrawal_overview_configuration_box_footer_buttons_delete"}
													<form action="" method="post">
														<input type="hidden" name="id" value="{$content_data.WITHDRAWAL_ID}" />
														<input type="hidden" name="page_token" value="{$content_data.PAGE_TOKEN}" />
														<input class="btn btn-primary" type="submit" name="delete" value="{$button.delete}" />
														<a class="btn" href="withdrawals.php?id={$content_data.WITHDRAWAL_ID}{if $content_data.ORDER_ID != 0}&order_id={$content_data.ORDER_ID}{/if}&page={$content_data.PAGE}">{$button.canel}</a>
													</form>
												{/block}
											{else}
												{block name="admin_withdrawal_overview_configuration_box_footer_buttons_no_delete"}
													<a class="btn btn-primary" href="{$content_data.BUTTON_EDIT_HREF}">{$button.edit}</a>
													<a class="btn" href="{$content_data.BUTTON_DELETE_HREF}">{$button.delete}</a>
												{/block}
											{/if}
										</div>
									</div>
								{/block}
							</form>
						{/block}
					</div>
				</div>
			{/block}
		{/if}
	</div>
	{if $content_data.WITHDRAWALS_COUNT == 0}{$txt.no_withdrawals_hint}{/if}
{/block}