{load_language_text section="withdrawal"}
{load_language_text section="orders" name="orders"}
{load_language_text section="admin_general" name="admin_general"}
{load_language_text section="buttons" name="buttons"}

{block name="admin_withdrawal_details"}
	{if $content_data.withdrawal->get_withdrawal_id() > 0}
		{block name="admin_withdrawal_details_wrapper"}
			<div class="withdrawal_details gx-container breakpoint-large" data-gx-controller="withdrawals/withdrawals_main_controller">
			
				{block name="admin_withdrawal_details_content"}
					<div class="content grid" style="margin-bottom: 0;">
						<!-- Customer -->
						{block name="admin_withdrawal_details_customer"}
							<div class="span6">
								<div class="frame-wrapper info box-with-min-height" style="margin-bottom: 24px;">
									{block name="admin_withdrawal_details_customer_heading"}
										<div class="frame-head info">
											<label class="title pull-left">{$txt.customer_data}</label> {if $content_data.customer_details_link}
											<label class="head-link pull-right"> <a href="{$content_data.customer_details_link}">
												<i class="fa fa-fw fa-user"></i> {$txt.open_customer_details} </a> </label> {/if}
										</div>
									{/block}
									{block name="admin_withdrawal_details_customer_content"}
										<div class="frame-content">
											<!-- Address -->
											<div class="grid">
												<div class="span6">
													{block name="admin_withdrawal_details_customer_address_label"}
														<span class="key-title">
															{$admin_general.CATEGORY_ADDRESS}
														</span>
													{/block}
												</div>
												<div class="span6">
													{block name="admin_withdrawal_details_customer_address_content"}
														{$content_data.withdrawal->get_customer_gender()}<br />
														{$content_data.withdrawal->get_customer_name()}<br />
														{$content_data.withdrawal->get_customer_street_address()}<br />
														{$content_data.withdrawal->get_customer_postcode()}
														{$content_data.withdrawal->get_customer_city()}<br />
														{$content_data.withdrawal->get_customer_city()}<br />
														{$content_data.withdrawal->get_customer_country()}<br /><br />
													{/block}
												</div>
											</div>
											<!-- E-Mail -->
											<div class="grid">
												<div class="span6">
													{block name="admin_withdrawal_details_customer_email_label"}
														<span class="key-title">
															{$admin_general.ENTRY_EMAIL_ADDRESS}
														</span>
													{/block}
												</div>
												<div class="span6">
													{block name="admin_withdrawal_details_customer_email_content"}
														{$content_data.withdrawal->get_customer_email()}
													{/block}
												</div>
											</div>
										</div>
									{/block}
								</div>
							</div>
						{/block}
						<!-- Order -->
						{block name="admin_withdrawal_details_order"}
							<div class="span6">
								<div class="frame-wrapper box-with-min-height" style="margin-bottom: 24px;">
									{block name="admin_withdrawal_details_order_heading"}
										<div class="frame-head">
											<label class="title pull-left">{$txt.order_data}</label> {if $content_data.order_details_link}
											<label class="head-link default pull-right"> <a href="{$content_data.order_details_link}">{$txt.open_order_details}</a>
											</label> {/if}
										</div>
									{/block}
									{block name="admin_withdrawal_details_order_content"}
										<div class="frame-content">
						
											<!-- Ordered on -->
											{block name="admin_withdrawal_details_order_content_ordered_on"}
												<div class="grid">
													<div class="span6">
														{block name="admin_withdrawal_details_order_content_ordered_on_label"}
															<span class="key-title">
																{$txt.ordered_on_short}:
															</span>
														{/block}
													</div>
													<div class="span6">
														{block name="admin_withdrawal_details_order_content_ordered_on_content"}
															{if $content_data.withdrawal->get_order_date() == "1970-01-01 00:00:00"} - {else}
															{$content_data.withdrawal->get_order_date_formatted()} {/if}
														{/block}
													</div>
												</div>
											{/block}
						
											<!-- Delivered on -->
											{block name="admin_withdrawal_details_order_content_delivered_on"}
												<div class="grid">
													<div class="span6">
														{block name="admin_withdrawal_details_order_content_delivered_on_label"}
															<span class="key-title">
																{$txt.delivered_on_short}:
															</span>
														{/block}
													</div>
													<div class="span6">
														{block name="admin_withdrawal_details_order_content_delivered_on_content"}
															{if $content_data.withdrawal->get_delivery_date() == "1970-01-01 00:00:00"} - {else}
															{$content_data.withdrawal->get_delivery_date_formatted()} {/if}
														{/block}
													</div>
												</div>
											{/block}
						
											<!-- Withdrawal data -->
											{block name="admin_withdrawal_details_order_content_withdrawal_data"}
												<div class="grid">
													<div class="span6">
														{block name="admin_withdrawal_details_order_content_withdrawal_data_label"}
															<span class="key-title">
																{$txt.withdrawal_date}:
															</span>
														{/block}
													</div>
													<div class="span6">
														{block name="admin_withdrawal_details_order_content_withdrawal_data_content"}
															{if $content_data.withdrawal->get_withdrawal_date() == "1970-01-01 00:00:00"} - {else}
															{$content_data.withdrawal->get_withdrawal_date_formatted()} {/if}&nbsp;({$content_data.withdrawal->get_date_created_formatted()})
														{/block}
													</div>
												</div>
											{/block}
						
											<!-- Order ID -->
											{block name="admin_withdrawal_details_order_content_order_id"}
												<div class="grid"
												     style="border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5; padding: 12px 0; margin: 12px 0;">
													<div class="span6" style="padding-top: 4px;">
														{block name="admin_withdrawal_details_order_content_order_id_label"}
															<span class="key-title">
																{$txt.order_id}:
															</span>
														{/block}
													</div>
													<div class="span6 remove-padding">
														{block name="admin_withdrawal_details_order_content_order_id_input"}
															<input type="text"
															       name="withdrawal_order_id"
															       value="{$content_data.withdrawal->get_order_id()}"
															       style="width: 100%;" /> <input type="hidden"
															                                       name="page_token"
															                                       value="{$content_data.PAGE_TOKEN}" />
														{/block}
													</div>
												</div>
											{/block}
											
						
											<!-- Save button -->
											{block name="admin_withdrawal_details_order_buttons"}
												<div style="margin-top: 12px;">
													{block name="admin_withdrawal_details_order_buttons_submit"}
														<a class="btn pull-right js-save-order-id">{$buttons.save}</a>
													{/block}
													<!-- <a class="button pull-right" style="position: relative; top: 19px; left: 6px;" href="#" onclick="return;" id="save_order_id">{$buttons.save}</a> -->
													{block name="admin_withdrawal_details_order_buttons_confirm_message"}
														<span class="save_order_id_confirm"></span>
													{/block}
												</div>
											{/block}
										</div>
									{/block}
								</div>
							</div>
						{/block}
					</div>
				{/block}
			
				<!-- Withdrawal -->
				{block name="admin_withdrawal_details_withdrawal"}
					<div class="content grid" style="margin-bottom: 0;">
						<div class="span12">
							<div class="frame-wrapper">
								{block name="admin_withdrawal_details_withdrawal_heading"}
									<div class="frame-head">
										<label class="title pull-left">{$txt.withdrawal}</label>
									</div>
								{/block}
								{block name="admin_withdrawal_details_withdrawal_content"}
									<div class="frame-content">
										<span>
											{$content_data.withdrawal->get_withdrawal_content()|escape:html|nl2br}
										</span>
									</div>
								{/block}
							</div>
						</div>
					</div>
				{/block}
			
				<!-- Created by -->
				{block name="admin_withdrawal_details_created_by"}
					<div style="margin-top:24px;">
						<span>
							{if $content_data.withdrawal->get_created_by_admin()}
								{$txt.created_by_admin}
							{else}
								{$txt.created_by_customer}
							{/if}
						</span>
					</div>
				{/block}
			
				<!-- Back button -->
				{block name="admin_withdrawal_details_back_button"}
					<div style="margin-top: 24px;" class="bottom-save-bar-content">
						<a style="display: inline-block; margin-left: 0" type="button" href="javascript:history.go(-1)" class="btn"><i
								class="fa fa-reply"></i> {$buttons.back}</a>
					</div>
				{/block}
			</div>
		{/block}
	{else}
		{block name="admin_withdrawal_details_invalid_id"}
			<p>{$txt.invalid_withdrawal_id}</p>
			<br /> <a type="button" href="javascript:history.go(-1)" class="button">{$buttons.back}</a>
		{/block}
	{/if}
{/block}