{load_language_text section="google_shopping"}
{load_language_text section="admin_buttons" name="admin_buttons"}

{block name="admin_google_shopping_schemes_modals_delete_scheme"}
	<div class="delete-scheme modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				{block name="admin_google_shopping_schemes_modals_delete_scheme_header"}
					<div class="modal-header">
						{block name="admin_google_shopping_schemes_modals_delete_scheme_close_button"}
							<button type="button" class="close" data-dismiss="modal" aria-label="{$admin_buttons.BUTTON_CLOSE}">
								<span aria-hidden="true">&times;</span>
							</button>
						{/block}
						{block name="admin_google_shopping_schemes_modals_delete_scheme_header_title"}
							<h4 class="modal-title">{$txt.delete_scheme_modal_title}</h4>
						{/block}
					</div>
				{/block}
				{block name="admin_google_shopping_schemes_modals_delete_scheme_body"}
					<div class="modal-body">
						<p>{$txt.delete_scheme_modal_message}</p>
						<form class="form-horizontal">
							<fieldset class="scheme-data">
								<div class="form-group">
									<label class="col-md-2">{$txt.general_label_profile_name}:</label>
									<div class="col-md-10 scheme-name form-text"></div>
								</div>
							</fieldset>
						</form>
					</div>
				{/block}
				{block name="admin_google_shopping_schemes_modals_delete_scheme_footer"}
					<div class="modal-footer">
						{block name="admin_google_shopping_schemes_modals_delete_scheme_footer_cancle"}
							<button type="button" class="btn btn-default" data-dismiss="modal">{$admin_buttons.BUTTON_CANCEL}</button>
						{/block}
						{block name="admin_google_shopping_schemes_modals_delete_scheme_footer_delete"}
							<button type="button" class="btn btn-primary confirm">{$admin_buttons.BUTTON_DELETE}</button>
						{/block}
					</div>
				{/block}
			</div>
		</div>
	</div>
{/block}