/* 
	Content Manager Edit
    ========================================================================== 

	Contains specific styling for the new content manager edit pages. 
	
*/

$border-color-light: #E4E4E4;

.content-manager-form {
	fieldset {
		padding: 0 15px;
		
		.form-group {
			margin-bottom:  0;
			padding-top:    $padding-small;
			padding-bottom: $padding-small;
			
			label {
				padding-top: ($padding-small/2);
				font-weight: normal;
			}
			
			&:nth-child(odd) {
				background-color: #F9F9F9;
			}
			
			&:nth-child(even) {
				background-color: #FFFFFF;
			}
			
			&.product-content-form-internal-name {
				background-color: #FFFFFF;
			}
			
			.error {
				.form-control {
					border-color: #E66554;
					
					&:focus {
						box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(230, 101, 84, 0.6);
						outline:    none;
					}
				}
				
				.error-message {
					color:       #E66554;
					display:     block;
					padding-top: 12px;
					white-space: nowrap;
				}
			}
		}
		
		.button-container {
			margin: 24px -15px 0 0;
		}
	}
	
	.panel {
		margin-top: 24px;
		
		.product-link-list {
			list-style: none;
			padding:    0;
			
			.product-link {
				margin-bottom: 24px;
				
				label {
					text-align:  left;
					font-weight: normal;
				}
			}
		}
	}
	
	.tab-content {
		margin-top: 24px;
	}
	
	.product-link-list {
		.product-link {
			border-bottom: 1px solid $border-color-light;
			
			.form-group {
				background-color: transparent;
			}
		}
	}
	
	.frame-wrapper {
		border:        1px solid #E5E5E5;
		border-radius: 2px;
		margin:        24px -15px;
		
		&.default {
			margin-bottom: 30px;
			border:        1px solid #E7E7E7;
			border-radius: 2px;
			
			.frame-head {
				background-color: #E7E7E7;
				padding:          8px 24px;
				border-bottom:    1px solid #E7E7E7;
				
				label {
					font-weight: bold;
					color:       $text-color-light;
				}
			}
		}
		
		.frame-head {
			background-color: $border-color-light;
			padding:          8px 24px;
			height:           36px;
			
			div {
				&.grid {
					margin-top: -5px;
				}
			}
		}
		
		.frame-content {
			padding: 24px;
			
			button {
				margin-top: 14px;
			}
			
			.catalog-selection-data {
				padding: 0 24px;
			}
			
			.catalog-selector-remove {
				font-size: 24px;
				color:     #737373;
			}
			
			.form-group {
				background-color: transparent;
				
				&:not(:first-child) {
					border-top: 1px solid $border-color-light;
				}
			}
		}
	}
}

.content-manager-type-selection-content {
	&:not(.product-contents-forms) {
		margin-top: 30px;
	}
}