{* 
	DataTables Header Template 
	
	This template will use the $content.columns variable which contains the serialized column definitions, 
	in order to generate the table filtering row of the thead element.
	 
	You can extend this template and add custom filtering actions by filling the "filter-actions" block.
*}

{load_language_text section="admin_quick_edit" name="admin_quick_edit"}

{block name="admin_quick_edit_partial_overview_datatables_filtering_row"}
	<tr role="row" class="filter">
		{block name="admin_quick_edit_partial_overview_datatables_filtering_row_ths"}
			<th data-column-name="checkbox">{* Empty Cell *}</th>
		
			{foreach $content.columns as $column}
				<th data-column-name="{$column.name}">
					{if $column.type == 'number'
					|| ($column.type == 'string' && $column.source == '' && $column.options|@count == 0)}
						<input type="text" class="{$column.name} form-control" title="{$column.tooltip.filter}" />
					{elseif $column.name == 'category' && $column.options != ''}
						<select class="{$column.name} form-control" multiple="multiple"
								data-multi_select-categoryinstance>
							{foreach $column.options as $option}
								<option value="{$option.id}">{$option.value}</option>
							{/foreach}
						</select>
					{elseif $column.type == 'string' && $column.options != ''}
						<select class="{$column.name} form-control" multiple="multiple"
								data-multi_select-instance>
							{foreach $column.options as $option}
								<option value="{$option.id}">{$option.value}</option>
							{/foreach}
						</select>
					{/if}
				</th>
			{/foreach}
		
			<th data-column-name="actions">
				{* Filter Actions *}
				<button class="btn apply-filters">{$admin_quick_edit.BUTTON_FILTER}</button>
				<button class="btn reset-filters">{$admin_quick_edit.BUTTON_RESET}</button>
		
				{* Custom Filter Action Block *}
				{block name="filter-action"}{/block}
		
				{* Pagination Length Controls *}
				{include file="get_usermod:quick_edit/partial/overview/datatables_page_length.html"}
			</th>
		{/block}
	</tr>
{/block}