{* 
	DataTables Header Template 
	
	This template will use the $content.columns variable which contains the serialized column definitions, 
	in order to generate the table headings row of the thead element.
*}
{load_language_text section="admin_quick_edit" name="admin_quick_edit"}

{block name="admin_quick_edit_partial_overview_datatables_heading_row"}
	<tr role="row">
		<th data-column-name="checkbox"><input type="checkbox" class="overview-bulk-selection" /></th>
	
		{foreach $content.columns as $column}
			<th data-column-name="{$column.name}">{$column.title}</th>
		{/foreach}
	
		<th data-column-name="actions">
			<div class="page-mode form-inline">
				<div class="form-group pull-left">
					<label class="control-label">{$admin_quick_edit.TEXT_MODE}</label>
					<select class="select-page-mode form-control">
						<option value="filter-mode" selected>{$admin_quick_edit.TEXT_FILTER_MODE}</option>
						<option value="edit-mode">{$admin_quick_edit.TEXT_EDIT_MODE}</option>
					</select>
				</div>
			</div>
			{include file="get_usermod:quick_edit/partial/overview/datatables_page_navigation.html"}
		</th>
	</tr>
{/block}