{block name="module_head_head_additional_html_array_first" prepend}
    {if $content_data.google_analytics_enabled && $content_data.google_analytics_tracking_code}
        {if $content_data.google_analytics_dev_mode_enabled}
            <script async src='https://www.googletagmanager.com/gtag/js?id={$content_data.google_analytics_tracking_code}'></script>
        {else}
            <script defer src='{$content_data.google_analytics_ec_plugin_js_file}'></script>
            <script defer src='{$content_data.google_analytics_analytics_js_file}'></script>
            <script defer src='{$content_data.google_analytics_gtag_js_file}'></script>
        {/if}

        <script>
	        // check if analytics opt put cookie already exists
	        var gaDisable = 'ga-disable-{$content_data.google_analytics_tracking_code}';

	        if (document.cookie.indexOf(gaDisable + '=true') > -1) {
		        window[gaDisable] = true;
	        }

	        function gaOptOut() {
		        document.cookie = gaDisable + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
		        window[gaDisable] = true;
		        console.log('Disabled Google-Analytics Tracking');
	        }

	        function checkGaOptOutAnchor() {
		        if (location.hash.substr(1) === 'gaOptOut') {
			        gaOptOut();
		        }
	        }

	        checkGaOptOutAnchor();
	        window.addEventListener('hashchange', checkGaOptOutAnchor);

	        // gtag js snippet
	        window.dataLayer = window.dataLayer || [];

	        function gtag() {
		        dataLayer.push(arguments);
	        }

            gtag('js', new Date());
            gtag('config', '{$content_data.google_analytics_tracking_code}', { 'anonymize_ip': {if $content_data.google_analytics_anonymize_ip_enabled}true{else}false{/if} });
        </script>
    {/if}
{/block}