{extends file="get_usermod:layouts/main/layout.html"}

{block name="content"}
	{load_language_text section="admin_quick_edit" name="admin_quick_edit"}
	
	{block name="admin_quick_edit_overview"}
		<div class="quick-edit overview">
			{block name="admin_quick_edit_overview_toolbar"}
				<div class="toolbar">
					<i class="fa fa-cogs fa-lg" data-toggle="modal" data-target=".settings.modal"></i>
				</div>
			{/block}
	
			{block name="admin_quick_edit_overview_table"}
				<table class="table table-main table-striped table-row-{$content.active_row_height}"
					   data-gx-controller="quick_edit/overview/init quick_edit/overview/events quick_edit/overview/filter
					                       quick_edit/overview/edit quick_edit/overview/tooltips
					                       quick_edit/overview/actions quick_edit/overview/state"
					   data-gx-widget="single_checkbox switcher multi_select"
					   data-gx-extension="datatable_checkbox_mapping datatable_fixed_header datatable_custom_sorting
										  datatable_fixed_row_actions datatable_loading_spinner datatable_responsive_columns
										  datatable_custom_pagination datatable_normalize_overflow datatable_default_actions"
					   data-init-active-columns="{$content.active_columns}"
					   data-init-page-length="{$content.page_length}"
					   data-single_checkbox-selector=".overview-bulk-selection"
					   data-switcher-selector=".convert-to-switcher"
					   data-datatable_checkbox_mapping-row-selection=".overview-row-selection"
					   data-datatable_checkbox_mapping-bulk-selection=".overview-bulk-selection"
					   data-datatable_checkbox_mapping-bulk-action=".overview-bulk-action"
					   data-datatable_default_actions-row="{$content.default_row_action}"
					   data-datatable_default_actions-bulk="{$content.default_bulk_action}"
					   data-resize-layout="draw.dt">
					{block name="admin_quick_edit_overview_table_thead"}
						<thead>
							{include file="get_usermod:quick_edit/partial/overview/datatables_heading_row.html"}
							{include file="get_usermod:quick_edit/partial/overview/datatables_filtering_row.html"}
							{include file="get_usermod:quick_edit/partial/overview/datatables_editing_row.html"}
						</thead>
					{/block}
					{block name="admin_quick_edit_overview_table_tbody"}
						<tbody>
							{* Content will be loaded dynamically (quick_edit/overview/init.js) *}
						</tbody>
					{/block}
				</table>
			{/block}
	
			{* Button Dropdown *}
			{block name="admin_quick_edit_overview_dropdown"}
				<div class="overview-bulk-action btn-group dropdown">
					{block name="admin_quick_edit_overview_dropdown_buttons"}
						<button type="button" class="btn btn-default disabled">{* Dynamic Content *}</button>
						<button type="button" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
							<span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
						</button>
					{/block}
					{block name="admin_quick_edit_overview_dropdown_ul"}
						<ul class="dropdown-menu">
							{* Dynamic Content *}
						</ul>
					{/block}
				</div>
			{/block}
	
			{* Include Modal Templates *}
			{include file="get_usermod:quick_edit/modals/downloads.html"}
			{include file="get_usermod:quick_edit/modals/properties.html"}
			{include file="get_usermod:quick_edit/modals/settings.html"}
			{include file="get_usermod:quick_edit/modals/special_prices.html"}
			{include file="get_usermod:quick_edit/modals/graduated_prices.html"}
		</div>
	{/block}
{/block}

{block name="bottom_save_bar"}
	{* Button Print Inventar Document *}
	{if $content.pdf_creator_installed}
	<button type="button"
	        class="btn btn-default create-inventory-list"
	        data-toggle="modal"
	        data-target=".downloads.modal">
		{$admin_quick_edit.BUTTON_INVENTORY_DOCUMENT_CREATE}
	</button>
	{/if}
{/block}