{extends file="get_usermod:layouts/main/partial/tooltip.html"}

{block name="content"}
	{block name="admin_orders_tooltips_trackings_links"}
		<div class="tracking-links">
			{foreach $tracking_links as $tracking_link}
				{block name="admin_orders_tooltips_trackings_links_link"}
					<div class="tracking-link">
						<a href="{$tracking_link.url}" target="_blank">{$tracking_link.service} #{$tracking_link.code}</a>
					</div>
				{/block}
			{/foreach}
		</div>
	{/block}
{/block}