{extends file="../../../../../admin/html/content/layouts/main/layout.html"}

{block name="content"}
	{load_language_text section="module_center_module"}
	{load_language_text section="admin_buttons" name="admin_buttons"}

	<div class="col-md-5 form-configuration"
		 data-gx-extension="visibility_switcher"
		 data-visibility_switcher-rows=".hide-icon"
		 data-visibility_switcher-selections=".icon-col">
		{block name="module_center_module_ampify_configuration_form"}
			<form id="ampify-configuration" class="form-horizontal" action="admin.php?do=AmpifyModuleCenterModule/Process" method="POST">
				<fieldset data-gx-widget="switcher">

					{block name="module_center_module_ampify_configuration_form_legend"}
						<legend>{$txt.ampify_legend_configuration}</legend>
					{/block}

					{block name="module_center_module_ampify_configuration_form_activate_module_switcher"}
						<div class="form-group">
							{block name="module_center_module_ampify_configuration_form_activate_module_switcher_label"}
								<label for="ampify_active" class="col-md-4 control-label">{$txt.ampify_label_module_active}</label>
							{/block}

							{block name="module_center_module_ampify_configuration_form_activate_module_switcher_control"}
								<div class="col-md-7">
									<input class="form-control" id="ampify_active" type="checkbox" name="AMPIFY_ACTIVE" value="1" {if $content.config.AMPIFY_ACTIVE} checked{/if}>
								</div>
							{/block}
						</div>
					{/block}

					{block name="module_center_module_ampify_configuration_form_ampify_token_input"}
						<div class="form-group hide-icon">
							{block name="module_center_module_ampify_configuration_form_ampify_token_input_label"}
								<label for="ampify_key" class="col-md-4 control-label">{$txt.ampify_label_key}</label>
							{/block}

							{block name="module_center_module_ampify_configuration_form_ampify_token_input_field"}
								<div class="col-md-7{if $content.errors.key} has-error{/if}">
									<input value="{$content.config.AMPIFY_KEY}" class="form-control" id="ampify_key" type="text" name="AMPIFY_KEY">
								</div>
							{/block}

							{block name="module_center_module_ampify_configuration_form_ampify_token_input_tooltip"}
								<span class="col-md-1 icon-col" data-gx-widget="tooltip_icon" data-tooltip_icon-type="info">
									{$txt.ampify_tooltip_key_hint}
								</span>
							{/block}
						</div>
					{/block}
	
				</fieldset>

				{block name="module_center_module_ampify_configuration_form_button_container"}
					<div class="btn-container pull-right">
						<button type="submit" class="btn btn-primary">{$admin_buttons.BUTTON_SAVE}</button>
					</div>
				{/block}
			</form>
		{/block}
	</div>
{/block}