/* 
	Action List
    ========================================================================== 

	Default styling for action icons which are included in a ".action-list" container element 
	as shown in the following example:
	
	<div class="action-list"> 
		<a href="mail.php">
			<i class="fa fa-envelope"></i>
		</a>
		<!-- Place more actions ... ->
	</div>
	
*/

.action-list {
	a {
		text-decoration: none;			
	}
	
	.fa {
		color:     $text-color-light;
		cursor:    pointer;
		font-size: 2 * $font-size-base;
		
		&:hover {
			color: $brand-primary;
		}
		&.warning:hover {
			color: $brand-warning;
		}
		&.danger:hover {
			color: $brand-danger;
		}
	}
}