/* 
	Button Groups
    ========================================================================== 

	Additional styling for the Bootstrap button groups so that they match the Gambio Admin style. 
	
	bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_button-groups.scss

*/

.btn-group {
	&.dropdown, &.dropup {
		.btn {
			&:not(.dropdown-toggle) {
				width:         120px;
				text-overflow: ellipsis;
				overflow:      hidden;
			}
			
			&.dropdown-toggle {
				min-width: 33px;
			}
		}
	}
}

.submit-button-group {
	&.dropdown, &.dropup {
		.btn {
			&:not(.dropdown-toggle) {
				width: inherit;
			}
		}
	}
}

