/* 
	Configuration Box
    ========================================================================== 

	The configuration box component can be used for module pages where the right  
	sidebar with configuration options is required (e.g. Module Center). 
	
*/

.configuration-box {
	min-width:        242px;
	position:         absolute;
	top:              87px;
	right:            0;
	left:             78.6%;
	bottom:           48px;
	padding:          $padding-large;
	margin:           0;
	background-color: $well-bg;
	border-left:      1px solid $border-color;
	color:            $text-color;
	
	.configuration-box-content {
		min-width: 194px;
		max-width: 364px;
		
		.configuration-box-header {
			display:       inline-block;
			width:         100%;
			margin-bottom: $margin-large;
			
			.configuration-box-title {
				margin:         0;
				color:          $brand-primary;
				text-transform: initial;
				font-weight:    normal;
				@include font(18px);
				
				& * {
					padding: 0;
					margin:  0;
				}
			}
		}
		
		.configuration-box-body {
			padding:       0;
			margin-bottom: $margin-large;
			text-align:    left !important;
		}
		
		.configuration-box-footer {
			display: inline-block;
			width:   100%;
			padding: 0;
			
			.button-container {
				.btn {
					display:     inline-block;
					float:       right;
					height:      31px;
					line-height: normal;
				}
			}
		}
	}
}