/* 
	Toolbars
    ========================================================================== 

	Styling for toolbar components.
	
*/

.toolbar {
	text-align:    right;
	margin-bottom: $margin-large;
	display:       block;
	
	* {
		cursor: pointer;
	}
}