/* 
	Editor Widget
    ========================================================================== 

	Additional styling for the editor wrapper markup. 
	
*/

.editor-wrapper {
	& > div {
		overflow: auto;
		
		.editor-switch {
			float: right;
		}
	}
	
	.CodeMirror {
		overflow: hidden;
		border: 1px solid $border-color;
	}
}