/*
	Responsive Filemanager
    ==========================================================================

	Styles for the repsonsive filemanager widget.

*/

$input-border-color: #B6B6B6;

.input-group {
	&.responsive-file-manager {
		input {
			border-right:               1px solid $input-border-color;
			border-bottom-right-radius: 0;
			border-top-right-radius:    0;
			
			&:active, &:focus {
				border-color: $brand-primary;
			}
		}
		
		.input-group-btn {
			&:last-child {
				.btn {
					min-width:         75px;
					border-color:      $input-border-color;
					border-left-width: 0;
					margin-left:       0;
					
					&:hover {
						border-color: $input-border-color;
					}
					
					&:active, &:focus {
						border-color: $brand-primary;
					}
				}
			}
		}
	}
}