/*
	Tabs
    ==========================================================================

	Styles for the jQueryUi tabs widget.

*/

$tab-border-radius: 4px;
$padding-small-half: $padding-small / 2;

.ui-tabs {
	padding: 0;

	.tab-headline-wrapper {
		overflow: auto;

		a {
			display:                 inline-block;
			float:                   left;
			background:              $border-color;
			color:                   $text-color-light;
			padding:                 $padding-small-half ($padding-small + $padding-small-half) $padding-small-half;
			margin-right:            $padding-small-half;
			text-decoration:         none;
			border-top-left-radius:  $tab-border-radius;
			border-top-right-radius: $tab-border-radius;

			&.active {
				background: $brand-primary;
				color:      $text-color-tooltip;
			}
		}

	}

	.tab-content-wrapper {
		padding: $padding-large;
		border:  1px solid $border-color;
	}
}
