{load_language_text section="buttons" name="btn"}

{block name="admin_orders_modals_bulk_error"}
	<div class="bulk-error modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				{block name="admin_orders_modals_bulk_error_header"}
					<div class="modal-header">
						{block name="admin_orders_modals_bulk_error_header_close"}
							<button type="button" class="close" data-dismiss="modal" aria-label="{$admin_buttons.BUTTON_ClOSE}">
								<span aria-hidden="true">&times;</span>
							</button>
						{/block}
						{block name="admin_orders_modals_bulk_error_header_title"}
							<h4 class="modal-title">{$orders.HEADING_BULK_PDF_ERROR}</h4>
						{/block}
					</div>
				{/block}
				
				{block name="admin_orders_modals_bulk_error_body"}
					<div class="modal-body">
						{block name="admin_orders_modals_bulk_error_body_invoice_message"}
							<div class="invoices-message hidden">
								{$orders.TEXT_BULK_PDF_ERROR|sprintf:$content.max_amount_invoices_bulk_pdf:$content.bulk_settings_url nofilter}
							</div>
						{/block}
						{block name="admin_orders_modals_bulk_error_body_packing_slips_message"}
							<div class="packing-slips-message hidden">
								{$orders.TEXT_BULK_PDF_ERROR|sprintf:$content.max_amount_packing_slips_bulk_pdf:$content.bulk_settings_url nofilter}
							</div>
						{/block}
					</div>
				{/block}
				
				{block name="admin_orders_modals_bulk_error_footer"}
					<div class="modal-footer">
						{block name="admin_orders_modals_bulk_error_footer_close"}
							<button type="button" class="btn btn-default" data-dismiss="modal">{$btn.close}</button>
						{/block}
					</div>
				{/block}
			</div>
		</div>
	</div>
{/block}