{* Orders Delete Modal *}

{load_language_text section="admin_buttons" name="admin_buttons"}

{block name="admin_orders_modals_delete"}
	<div class="delete modal fade" tabindex="-1" role="dialog" data-gx-controller="orders/modals/delete">
		<div class="modal-dialog">
			<div class="modal-content">
				{block name="admin_orders_modals_delete_header"}
					<div class="modal-header">
						{block name="admin_orders_modals_delete_header_close"}
							<button type="button" class="close" data-dismiss="modal" aria-label="{$admin_buttons.BUTTON_ClOSE}">
								<span aria-hidden="true">&times;</span></button>
						{/block}
						{block name="admin_orders_modals_delete_header_title"}
							<h4 class="modal-title">{$orders.TEXT_INFO_HEADING_MULTI_DELETE_ORDER}</h4>
						{/block}
					</div>
				{/block}
	
				{block name="admin_orders_modals_delete_body"}
					<div class="modal-body">
						{block name="admin_orders_modals_delete_body_text"}
							<p>{$orders.TEXT_INFO_MULTI_DELETE_INTRO}</p>
						{/block}
		
						<br>
		
						{block name="admin_orders_modals_delete_body_form"}
							<form class="form-horizontal" data-gx-widget="single_checkbox">
								<fieldset>
									{* Selected Order IDs *}
									{block name="admin_orders_modals_delete_body_form_selected_order"}
										<div class="form-group">
											{block name="admin_orders_modals_delete_body_form_selected_order_label"}
												<label class="col-md-7">{$orders.TEXT_SELECTED_ORDERS}</label>
											{/block}
											{block name="admin_orders_modals_delete_body_form_selected_order_input"}
												<div class="col-md-5 selected-orders">
													{* Dynamic Content *}
												</div>
											{/block}
										</div>
									{/block}
			
									{* Re-stock Products *}
									{block name="admin_orders_modals_delete_body_form_restock_products"}
										<div class="form-group">
											{block name="admin_orders_modals_delete_body_form_restock_products_label"}
												<label for="re-stock" class="col-md-7">{$orders.TEXT_INFO_RESTOCK_PRODUCT_QUANTITY}</label>
											{/block}
											{block name="admin_orders_modals_delete_body_form_restock_products_input"}
												<div class="col-md-5">
													<input type="checkbox" class="re-stock" />
												</div>
											{/block}
										</div>
									{/block}
			
									{* Re-ship Products *}
									{block name="admin_orders_modals_delete_body_form_reship_products"}
										<div class="form-group">
											{block name="admin_orders_modals_delete_body_form_reship_products_label"}
												<label for="re-ship" class="col-md-7">{$orders.TEXT_INFO_RESHIPP}</label>
											{/block}
											{block name="admin_orders_modals_delete_body_form_reship_products_input"}
												<div class="col-md-5">
													<input type="checkbox" class="re-ship" />
												</div>
											{/block}
										</div>
									{/block}
			
									{* Re-activate Product *}
									{block name="admin_orders_modals_delete_body_form_reactivate_products"}
										<div class="form-group">
											{block name="admin_orders_modals_delete_body_form_reactivate_products_label"}
												<label for="re-activate" class="col-md-7">{$orders.TEXT_INFO_REACTIVATEARTICLE}</label>
											{/block}
											{block name="admin_orders_modals_delete_body_form_reactivate_products_input"}
												<div class="col-md-5">
													<input type="checkbox" class="re-activate" />
												</div>
											{/block}
										</div>
									{/block}
								</fieldset>
							</form>
						{/block}
					</div>
				{/block}
	
				{block name="admin_orders_modals_delete_footer"}
					<div class="modal-footer">
						{block name="admin_orders_modals_delete_footer_cancel"}
							<button type="button"
									class="btn btn-default"
									data-dismiss="modal">{$admin_buttons.BUTTON_CANCEL}</button>
						{/block}
						{block name="admin_orders_modals_delete_footer_delete"}
							<button type="button" class="btn btn-danger delete">{$admin_buttons.BUTTON_DELETE}</button>
						{/block}
					</div>
				{/block}
			</div>
		</div>
	</div>
{/block}