{load_language_text section="buttons" name="buttons"}
{load_language_text section="admin_buttons" name="admin_buttons"}
{load_language_text section="orders" name="orders"}

{block name="admin_orders_modals_settings"}
	<div class="settings modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				{block name="admin_orders_modals_settings_header"}
					<div class="modal-header">
						{block name="admin_orders_modals_settings_header_close"}
							<button type="button" class="close" data-dismiss="modal" aria-label="{$btn.close}">
								<span aria-hidden="true">&times;</span>
							</button>
						{/block}
						{block name="admin_orders_modals_settings_header_title"}
							<h4 class="modal-title">{$admin_orders.SETTINGS}</h4>
						{/block}
					</div>
				{/block}
				{block name="admin_orders_modals_settings_body"}
					<div class="modal-body"
						 data-gx-widget="switcher"
						 data-gx-controller="orders/modals/settings"
						 data-settings-default-column-settings="{','|implode:$content.default_column_settings}"
						 data-settings-user-id="{$_SESSION.customer_id}">
		
						{block name="admin_orders_modals_settings_body_form"}
							<form class="form-horizontal order-settings">
								{block name="admin_orders_modals_settings_body_form_columns"}
									<fieldset class="settings-group">
										{block name="admin_orders_modals_settings_body_form_columns_legend"}
											<legend>{$admin_orders.COLUMNS}</legend>
										{/block}
										
										{block name="admin_orders_modals_settings_body_form_columns_container"}
											<ul class="settings">
												{* Iterate over each available columns and set the sorting and visibility. *}
												{foreach $content.columns as $column}
													<li id="setting-{$column.name}">
														<div class="form-group">
															{block name="admin_orders_modals_settings_body_form_columns_container_label"}
																<label for="setting-value-{$column.name}" class="col-xs-6">{$column.title}</label>
															{/block}
															{block name="admin_orders_modals_settings_body_form_columns_container_input"}
																<div class="col-xs-3 col-sm-2">
																	<input type="checkbox" id="setting-value-{$column.name}" class="form-control" />
																</div>
															{/block}
															{block name="admin_orders_modals_settings_body_form_columns_container_sort_handle"}
																<div class="col-xs-3">
																	<span class="sort-handle">
																		<i class="fa fa-caret-up"></i>
																		<i class="fa fa-caret-down"></i>
																	</span>
																</div>
															{/block}
														</div>
													</li>
												{/foreach}
											</ul>
										{/block}
									</fieldset>
								{/block}
			
								{block name="admin_orders_modals_settings_body_form_row"}
									<fieldset class="settings-group">
										{block name="admin_orders_modals_settings_body_form_row_legend"}
											<legend>{$admin_orders.ROW}</legend>
										{/block}
				
										{block name="admin_orders_modals_settings_body_form_row_contaner"}
											<div class="form-group">
												{block name="admin_orders_modals_settings_body_form_row_label"}
													<label for="setting-value-row-height" class="col-xs-6 col-md-6 row-height">{$admin_orders.ROW_HEIGHT_LABEL}</label>
												{/block}
												{block name="admin_orders_modals_settings_body_form_row_input"}
													<div class="col-xs-4">
														<select id="setting-value-row-height" class="SelectBox form-control">
															{* Iterate over each selectable row height. *}
															{foreach $content.row_heights as $row_height}
																<option value="{$row_height}">{$admin_orders['ROW_HEIGHT_'|cat:$row_height|upper]}</option>
															{/foreach}
														</select>
													</div>
												{/block}
											</div>
										{/block}
										
										{block name="admin_orders_modals_settings_body_form_tooltip_container"}
											<div class="form-group">
												{block name="admin_orders_modals_settings_body_form_tooltip_label"}
													<label for="setting-value-display-tooltips" class="col-xs-6 col-md-6 row-height">{$admin_orders.DISPLAY_TOOLTIPS_LABEL}</label>
												{/block}
												{block name="admin_orders_modals_settings_body_form_tooltip_input"}
													<div class="col-xs-3 col-sm-2">
														<input type="checkbox" id="setting-value-display-tooltips" class="form-control" />
													</div>
												{/block}
											</div>
										{/block}
									</fieldset>
								{/block}
			
								{block name="admin_orders_modals_settings_body_footer"}
									<fieldset class="modal-footer">
										{block name="admin_orders_modals_settings_body_footer_reset"}
											<a href="#" class="reset-action pull-left">{$admin_buttons.BUTTON_RESET_TO_DEFAULT_SETTINGS}</a>
										{/block}
										{block name="admin_orders_modals_settings_body_footer_cancel"}
											<button type="button" class="btn btn-default" data-dismiss="modal">{$buttons.cancel}</button>
										{/block}
										{block name="admin_orders_modals_settings_body_footer_save"}
											<button type="button" class="btn btn-primary submit-button">{$buttons.save}</button>
										{/block}
									</fieldset>
								{/block}
							</form>
						{/block}
					</div>
				{/block}
			</div>
		</div>
	</div>
{/block}