{* --------------------------------------------------------------
	itrk_configuration.html 2016-11-10
	Gambio GmbH
	http://www.gambio.de
	Copyright (c) 2015 Gambio GmbH
	Released under the GNU General Public License (Version 2)
	[http://www.gnu.org/licenses/gpl-2.0.html]
	--------------------------------------------------------------
*}
{load_language_text section="itrecht"}

{block name="admin_module_center_itrk_info"}
	{block name="admin_module_center_itrk_info_heading"}
		<div class="main">
			<table style="margin-bottom:5px" border="0" cellpadding="0" cellspacing="0" width="100%">
				{block name="admin_module_center_itrk_info_heading_tab_config_page"}
					<tr class="dataTableHeadingRow">
						<td class="dataTableHeadingContentText" style="width:1%; padding-right:20px; white-space: nowrap">
							<a href="{$url_config_page}">{$txt.tab_config_page}</a>
						</td>
					</tr>
				{/block}
				{block name="admin_module_center_itrk_info_heading_tab_info_page"}
					<tr class="dataTableHeadingRow">
						<td class="dataTableHeadingContentText" style="width:1%; padding-right:20px; white-space: nowrap">
							{$txt.tab_info_page}
						</td>
					</tr>
				{/block}
			</table>
		</div>
	{/block}
		
	{block name="admin_module_center_itrk_info_wrapper"}
		<div class="gx-container itrk-info breakpoint-small">
			{block name="admin_module_center_itrk_info_style"}
				<style>
				.itrk-info h1, .itrk-info h2, .itrk-info h3 { color: #0C6EC6; }
				.itrk-info h1 { padding-top: 1ex; }
				.itrk-info p.final { font-weight: bold; }
				.itrk-info .itrk-badges { text-align: center; }
				.itrk-info .itrk-badges img { height: 100px; }
				.itrk-info .subscribe-now { text-align: center; }
				.itrk-info img.itrk-logo { margin: 0 1.5em 0 0; float: left; }
				</style>
			{/block}
		
			{block name="admin_module_center_itrk_info_content"}
				<img class="itrk-logo" src="html/assets/images/modules/itrk/itrk.jpg">
				<h1>Schützen Sie Ihr Online-Business vor Abmahnungen – vollautomatisch bei voller Flexibilität</h1>
				<p>Die AGB-Schnittstelle der IT-Recht Kanzlei für Gambio hält Ihre Rechtstexte stets aktuell und abmahnsicher und ermöglicht Ihnen dadurch die volle Konzentration auf Ihr Business.</p>
				
				<h2>Die Leistungs-Highlights unseres AGB-Service:</h2>
				<ul>
					<li>Abmahnsichere Allgemeine Geschäftsbedingungen</li>
					<li>Inklusive Widerrufsbelehrung, Datenschutzerklärung und Impressum</li>
					<li>Komfortabel Einbinden mit der AGB-Schnittstelle</li>
					<li>Automatische Überwachung und Aktualisierung</li>
					<li>Volle Kostenkontrolle</li>
					<li>Jederzeit monatlich kündbar</li>
				</ul>
				
				<h2>AGB-Prüfzeichen und Datenschutz-Signet als vertrauensbildende Maßnahme</h2>
				<p>Nutzen Sie – ohne weitere Kosten – unser AGB-Prüfzeichen und das Datenschutz-Signet um Ihren Kunden zu zeigen, dass Ihre Rechtstexte den aktuellsten rechtlichen Rahmenbedingungen entsprechen und Ihnen der rechtskonforme  Schutz der Kundendaten wichtig ist.</p>
				<p class="itrk-badges">
					<img src="html/assets/images/modules/itrk/gepruefte_agb.jpg">
					<img src="html/assets/images/modules/itrk/qds-codex.jpg">
				</p>
				
				<h2>So funktionierts:</h2>
				<p>In unserem Mandantenportal, für das Sie nach der Buchung der AGB für Gambio mit AGB-Schnittstelle freigeschaltet werden, können Sie Ihre gebuchten Rechtstexte mit wenigen Klicks (Ja- Nein-Auswahl) an Ihren Unternehmungsstatus  und Ihre Produktpalette und seine Besonderheiten anpassen.</p>
				<p>Das Ergebnis sind bedarfsgerechte AGB und Rechtstexte, die Sie dann mit der AGB-Schnittstelle komfortabel in Ihren Gambio Shop einbinden können.</p>
				<p>Ab dann überwacht die AGB-Schnittstelle Ihre Rechtstexte und aktualisiert diese bei Bedarf automatisch.</p>
				
				<h2>Selbstverständlich - Anwaltliche Haftung</h2>
				<p>Wie andere Rechtsanwaltskanzleien haften auch wir im Rahmen der gesetzlichen Bestimmungen für die Abmahnsicherheit der Rechtstexte</p>
				<p class="final">Jetzt buchen und Ihren Gambio-Shop dauerhaft rechtssicher gestalten</p>
				<p class="subscribe-now">
					<a class="btn btn-primary" href="http://www.it-recht-kanzlei.de/Service/rechtstexte_fuer_onlineshops.php?partner_id=77">Jetzt buchen</a>
				</p>
			{/block}
		</div>
	{/block}
{/block}

