{load_language_text section="module_center"}
{load_language_text section="buttons" name="button"}

{block name="admin_module_center"}
	<div class="gx-container" data-gx-controller="module_center/module_center">
		{block name="admin_module_center_table"}
			<table class="gx-modules-table left-table remove-margin">
				{block name="admin_module_center_table_thead"}
					<thead>
						<tr>
							{block name="admin_module_center_table_thead_ths"}
								<th>{$txt.module_name}</th>
								<th style="width: 250px">{$txt.module_status}</th>
								<th style="width: 100px"></th>
							{/block}
						</tr>
					</thead>
				{/block}
				
				{block name="admin_module_center_table_tbody"}
					<tbody>
						{foreach item=module from=$modules->getArray()}
							{block name="admin_module_center_table_row"}
								<tr class="dataTableRow{if $module->getName() == $smarty.get.module} active{/if}" data-gx-extension="link" data-link-url="#{$module->getName()}">
									{block name="admin_module_center_table_row_tds"}
										<td class="dataTableContent">{$module->getTitle()}</td>
										<td class="dataTableContent">
											<span class="badge badge-success {if $module->isInstalled()}active{/if}">{$txt.module_status_installed}</span>
										</td>
										<td class="dataTableContent"></td>
									{/block}
								</tr>
							{/block}
						{/foreach}
					</tbody>
				{/block}
			</table>
		{/block}
	
		{block name="admin_module_center_configuration_container"}
			<div class="gx-configuration-box gx-container">
				<div class="configuration-box-content">
					{block name="admin_module_center_configuration_container_header"}
						<div class="configuration-box-header">
							{block name="admin_module_center_configuration_container_header_title"}
								<h2></h2>
							{/block}
						</div>
					{/block}
		
					{block name="admin_module_center_configuration_container_body"}
						<div class="configuration-box-body">
							{block name="admin_module_center_configuration_container_body_description"}
								<div class="configuration-box-description">
									<p></p>
								</div>
							{/block}
							{block name="admin_module_center_configuration_container_body_form"}
								<div class="configuration-box-form"></div>
							{/block}
						</div>
					{/block}
		
					{block name="admin_module_center_configuration_container_footer"}
						<div class="configuration-box-footer bottom-save-bar-content">
							<form action="#" method="post">
								{block name="admin_module_center_configuration_container_footer_buttons"}
									<div class="button-container">
										<button name="install" value="install" class="btn btn-primary hidden pull-right">{$button.install}</button>
										<a href="#" class="btn btn-primary btn-edit pull-right">{$button.edit}</a>
										<button name="uninstall" value="uninstall" class="btn hidden pull-right">{$button.uninstall}</button>
									</div>
								{/block}
								<input type="hidden" name="module" value="" />
							</form>
						</div>
					{/block}
				</div>
			</div>
		{/block}
		{block name="admin_module_center_destroy"}
			<div id="module-center-confirmation-dialog" class="hidden" style="display: none;">
				<form class="grid" name="delete_module" method="post" action="admin.php?do=ModuleCenter/Destroy">
					<fieldset class="span12">
						<p class="modal-info-text"></p>
						<input type="hidden" name="module" value="" />
					</fieldset>
				</form>
			</div>
		{/block}
	</div>
{/block}