{block name="admin_module_center_protectedshops_info"}
	{block name="admin_module_center_protectedshops_info_style"}
		<style>
			div.psinfo { margin-bottom: 3em; }
			div.psinfo div.row2 div.head { font-size: 1.8em; font-weight: bold; }
			div.psinfo div.row2 img { margin-top: .6em; }
			div.psinfo div.row2text { width: calc(100% - 36px); }
			div.psinfo div.row3 div.borderbox { border: 1px solid #ccc; padding: 1em; min-height: 26em; }
			div.psinfo div.row3 div.gridcell { height: 100%; }
			div.psinfo div.psul {
				width: 33%;
				display: inline-block;
				vertical-align: top;
			}
			div.psinfo div.psli {
				background-image: url("html/assets/images/modules/protectedshops/ok.png");
				background-repeat: no-repeat;
				padding-left: 30px;
				min-height: 4em;
			}
		</style>
	{/block}
	
	{block name="admin_module_center_protectedshops_info_heading"}
		<div class="main">
			<table style="margin-bottom:5px" border="0" cellpadding="0" cellspacing="0" width="100%">
				{block name="admin_module_center_protectedshops_info_heading_config_tab_info"}
					<tr class="dataTableHeadingRow">
						<td class="dataTableHeadingContentText" style="width:1%; padding-right:20px; white-space: nowrap">
							##config_tab_info
						</td>
					</tr>
				{/block}
				{block name="admin_module_center_protectedshops_info_heading_config_tab_configuration"}
					<tr class="dataTableHeadingRow">
						<td class="dataTableHeadingContentText" style="width:1%; padding-right:20px; white-space: nowrap">
							<a href="{$url_config}">##config_tab_configuration</a>
						</td>
					</tr>
				{/block}
			</table>
		</div>
	{/block}
	
	{block name="admin_module_center_protectedshops_info_wrapper"}
		<div class="gx-container">
			<div class="psinfo">
				<div class="grid">
					<div class="span3" style="text-align: center; min-width: 300px;">
						<img src="html/assets/images/modules/protectedshops/logo.png">
					</div>
					<div class="span6">
						Als offizieller Partner von Gambio bietet Ihnen Protected Shops die Möglichkeit innerhalb 15 Minuten rechtssicher online zu verkaufen. Mit Haftungsübernahme und automatischen Updates bei Gesetzesänderungen.
					</div>
					<div class="span3" style="text-align: center;">
						<a href="http://www.protectedshops.de/partner/gambio?sPartner=Gambio" target="_blank"><img src="html/assets/images/modules/protectedshops/Button.png" alt="Jetzt absichern!"></a>
					</div>
				</div>
				<div class="grid row2">
					<div class="span3">
						<img class="pull-left" src="html/assets/images/modules/protectedshops/schutzpaket_icon.png">
						<div class="pull-right head row2text">Individuelle Rechtstexte</div>
						<div class="pull-right row2text">AGB, Widerrufsbelehrung, Datenschutzerklärung, Impressum, Bezahlarten,
						Ver&shy;sand&shy;kosten&shy;er&shy;klärung erstellt durch Rechts&shy;text&shy;kon&shy;figurator.</div>
					</div>
					<div class="span3">
						<img class="pull-left" src="html/assets/images/modules/protectedshops/haftungsuebernahme_icon.png">
						<div class="pull-right head row2text">Haftungs&shy;über&shy;nahme</div>
						<div class="pull-right row2text">Haftungs&shy;über&shy;nahme&shy;garan&shy;tie für die erstellten Rechts&shy;texte von Protected Shops - Schutz vor Abmahnungen und Kosten.</div>
					</div>
					<div class="span3">
						<img class="pull-left" src="html/assets/images/modules/protectedshops/update_icon.png">
						<div class="pull-right head row2text">Update Flatrate</div>
						<div class="pull-right row2text"> Zeitnahe Aktualisierung der Rechtstexte bei neuen rechtlichen Anforderungen. Kostenfrei während der gesamten Laufzeit.</div>
					</div>
					<div class="span3">
						<img class="pull-left" src="html/assets/images/modules/protectedshops/regenschirm_icon.png">
						<div class="pull-right head row2text">In 15 Minuten geschützt</div>
						<div class="pull-right row2text"> Fragebogen für individuelle Geschäftsmodelle und Situationen generiert SOFORT rechtssichere AGB, Impressum, Widerrufsbelehrung, etc.</div>
					</div>
				</div>
				<div class="row3 grid" style="">
					<div class="span9 gridcell" style="">
						<div class="borderbox">
							<div style="font-size: 2.5em; margin-bottom: 1em; text-align: center;">So einfach funktioniert die rechtliche Absicherung:</div>
							<div class="psul">
								<div class="psli">Geeignetes Schutzpaket auswählen bei www.protectedshops.de.</div>
								<div class="psli">Dort den Fragebogen im Rechtstextkonfigurator durchlaufen.</div>
								<div class="psli">Unter dem Menüpunkt „Schnittstellen“ den Bereich „Übersicht Shop-IDs“ auswählen.</div>
								<div class="psli">Entsprechende ShopID kopieren.</div>
							</div>
							<div class="psul">
								<div class="psli">Auf dieser Seite unten im Feld „ShopId“ die ShopID einfügen.</div>
								<div class="psli">„Format und Aktualisierungsintervall“ einstellen und „Einstellungen speichern“.</div>
								<div class="psli">„Dokumente den Zielseiten” zuordnen und speichern.</div>
							</div>
							<div class="psul">
								<div class="psli">
									Innerhalb weniger Minuten sind Sie nun vor Abmahnungen Ihrer Rechtstexte geschützt!<br>
									<img src="html/assets/images/modules/protectedshops/feature2-image-1.png">
								</div>
							</div>
						</div>
					</div>
					<div class="span3 gridcell" style="min-width: 26em;">
						<div class="borderbox" style="text-align: center;">
							<span style="font-size: 2em; line-height: 3;">Für Gambio-Kunden</span><br>
							<span style="font-size: 4em; line-height: 1;">2 MONATE</span><br>
							<span style="font-size: 6em; line-height: 1;">GRATIS</span><br>
							<a href="https://www.protectedshops.de/partner/gambio?sPartner=Gambio" target="_blank"><img style="margin: 2em auto;" src="html/assets/images/modules/protectedshops/Button.png" alt="Jetzt absichern!"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	{/block}
{/block}