{* --------------------------------------------------------------
	shipcloud_configuration_package_templates.html 2017-03-23
	Gambio GmbH
	http://www.gambio.de
	Copyright (c) 2017 Gambio GmbH
	Released under the GNU General Public License (Version 2)
	[http://www.gnu.org/licenses/gpl-2.0.html]
	--------------------------------------------------------------
*}

{block name="admin_module_center_shipcloud_configuration_package_templates"}
	{block name="admin_module_center_shipcloud_configuration_package_templates_heading"}
		<div class="main">
			<table style="margin-bottom:5px" border="0" cellpadding="0" cellspacing="0" width="100%">
				{if $tab_urls.info}
					{block name="admin_module_center_shipcloud_configuration_package_templates_heading_config_tab_info"}
						<tr class="dataTableHeadingRow">
							<td class="dataTableHeadingContentText" style="width:1%; padding-right:20px; white-space: nowrap">
								<a href="{$tab_urls.info}">##config_tab_info</a>
							</td>
						</tr>
					{/block}
				{/if}
				{block name="admin_module_center_shipcloud_configuration_package_templates_heading_config_tab_default"}
					<tr class="dataTableHeadingRow">
						<td class="dataTableHeadingContentText" style="width:1%; padding-right:20px; white-space: nowrap">
							<a href="{$tab_urls.default}">##config_tab_default</a>
						</td>
					</tr>
				{/block}
				{block name="admin_module_center_shipcloud_configuration_package_templates_heading_config_tag_package_templates"}
					<tr class="dataTableHeadingRow">
						<td class="dataTableHeadingContentText" style="width:1%; padding-right:20px; white-space: nowrap">
							##config_tab_package_templates
						</td>
					</tr>
				{/block}
			</table>
		</div>
	{/block}
		
	{block name="admin_module_center_shipcloud_configuration_package_templates_add_package_template"}
		<div class="gx-container create-new-wrapper left-table">
			<div class="create-new-container pull-right">
				<a class="btn btn-success add-package-template">
					<i class="fa fa-plus"></i>
					##add_package_template
				</a>
			</div>
		</div>
	{/block}
		
	{block name="admin_module_center_shipcloud_configuration_package_templates_wrapper"}
		<div class="gx-container" id="sc_package_templates" data-gx-controller="shipcloud/package_template_controller">
			<!-- Package Templates -->
			{block name="admin_module_center_shipcloud_configuration_package_templates_table"}
				<table class="gx-modules-table left-table no-footer">
					{block name="admin_module_center_shipcloud_configuration_package_templates_table_thead"}
					<tr class="dataTableHeadingRow gx-container">
						{block name="admin_module_center_shipcloud_configuration_package_templates_table_thead_ths"}
							<td class="dataTableHeadingContent" style="width: 300px">##package_template_name</td>
							<td class="dataTableHeadingContent" style="width: 70px">##package_template_weight</td>
							<td class="dataTableHeadingContent" style="width: 70px">##package_template_length</td>
							<td class="dataTableHeadingContent" style="width: 70px">##package_template_width</td>
							<td class="dataTableHeadingContent" style="width: 70px">##package_template_height</td>
							<td style="min-width: 70px"></td>
						{/block}
					</tr>
					{/block}
			
					{if empty($configuration.packages.packages)}
						{block name="admin_module_center_shipcloud_configuration_package_templates_table_no_package_templates"}
							<tr class="gx-container no-hover">
								<td colspan="6" class="text-center">##no_package_templates</td>
							</tr>
						{/block}
					{else}
						{foreach from=$configuration.packages.packages item=package key=package_id}
							{block name="admin_module_center_shipcloud_configuration_package_templates_table_row"}
								<tr
									class="sc_package_template_{$package_id} dataTableRow gx-container {if $package_id == $configuration.default_package}default_package{/if}"
									data-gx-extension="link"
									data-link-url="#{$package_id}">
									{block name="admin_module_center_shipcloud_configuration_package_templates_row_tds"}
										<td class="dataTableContent">{$package.name}</td>
										<td class="dataTableContent numeric_cell">{$package.weight}</td>
										<td class="dataTableContent numeric_cell">{$package.length}</td>
										<td class="dataTableContent numeric_cell">{$package.width}</td>
										<td class="dataTableContent numeric_cell">{$package.height}</td>
										<td></td>
									{/block}
								</tr>
							{/block}
						{/foreach}
					{/if}
				</table>
			{/block}
		</div>
	{/block}
	
	<div class="hidden">
		{$configuration_box}
	</div>
{/block}