{* --------------------------------------------------------------
    shipcloud_package_template_configuration_box.html 2016-02-08
    Gambio GmbH
    http://www.gambio.de
    Copyright (c) 2015 Gambio GmbH
    Released under the GNU General Public License (Version 2)
    [http://www.gnu.org/licenses/gpl-2.0.html]
    --------------------------------------------------------------
*}

{block name="admin_module_center_shipcloud_package_template_configuration_box"}
    {block name="admin_module_center_shipcloud_package_template_configuration_box_package_details"}
        <div class="box-content package-details">
            {block name="admin_module_center_shipcloud_package_template_configuration_box_package_details_weight"}
                <div class="grid">
                    <div class="span4">##package_template_weight:</div>
                    <div class="span8 package-weight"></div>
                </div>
            {/block}
        
            {block name="admin_module_center_shipcloud_package_template_configuration_box_package_details_length"}
                <div class="grid">
                    <div class="span4">##package_template_length:</div>
                    <div class="span8 package-length"></div>
                </div>
            {/block}
        
            {block name="admin_module_center_shipcloud_package_template_configuration_box_package_details_width"}
                <div class="grid">
                    <div class="span4">##package_template_width:</div>
                    <div class="span8 package-width"></div>
                </div>
            {/block}
        
            {block name="admin_module_center_shipcloud_package_template_configuration_box_package_details_height"}
                <div class="grid">
                    <div class="span4">##package_template_height:</div>
                    <div class="span8 package-height"></div>
                </div>
            {/block}
        </div>
    {/block}
    
    {block name="admin_module_center_shipcloud_package_template_configuration_box_package_details_package_form_data"}
        <div class="box-content package-form-data hidden">
            {block name="admin_module_center_shipcloud_package_template_configuration_box_package_details_package_form_data_name"}
                <div class="grid">
                    <div class="span5">
                        ##package_template_name
                    </div>
                    <div class="span7">
                        <input class="package_id_input" type="hidden" name="package[id]" value=""/>
                        <input class="package_name_input input-small" type="text" name="package[name]" value=""/>
                    </div>
                </div>
            {/block}
            {block name="admin_module_center_shipcloud_package_template_configuration_box_package_details_package_form_data_weight"}
                <div class="grid">
                    <div class="span5">
                        ##package_template_weight
                    </div>
                    <div class="span7">
                        <input class="package_weight_input input-small" type="number" min="0.001" max="100" step="0.001" name="package[weight]" value=""/>
                    </div>
                </div>
            {/block}
            {block name="admin_module_center_shipcloud_package_template_configuration_box_package_details_package_form_data_length"}
                <div class="grid">
                    <div class="span5">
                        ##package_template_length
                    </div>
                    <div class="span7">
                        <input class="package_length_input input-small" type="number" min="1" max="200" name="package[length]" value=""/>
                    </div>
                </div>
            {/block}
            {block name="admin_module_center_shipcloud_package_template_configuration_box_package_details_package_form_data_width"}
                <div class="grid">
                    <div class="span5">
                        ##package_template_width
                    </div>
                    <div class="span7">
                        <input class="package_width_input input-small" type="number" min="1" max="200" name="package[width]" value=""/>
                    </div>
                </div>
            {/block}
            {block name="admin_module_center_shipcloud_package_template_configuration_box_package_details_package_form_data_height"}
                <div class="grid">
                    <div class="span5">
                        ##package_template_height
                    </div>
                    <div class="span7">
                        <input class="package_height_input input-small" type="number" min="0.1" max="200" step="0.1" name="package[height]" value=""/>
                    </div>
                </div>
            {/block}
            {block name="admin_module_center_shipcloud_package_template_configuration_box_package_details_package_form_data_use_as_default"}
                <div class="grid is_default_input_row">
                    <div class="span5">
                        ##use_as_default_template
                    </div>
                    <div class="span7" data-gx-widget="checkbox">
                        <input class="is_default_input" type="checkbox" name="default_template" value="" data-single_checkbox>
                    </div>
                </div>
            {/block}
        </div>
    {/block}
        
    {block name="admin_module_center_shipcloud_package_template_configuration_box_delete_confirmation"}
        <div class="box-content delete-confirmation">
            ##delete_template_confirmation
        </div>
    {/block}
{/block}