{* --------------------------------------------------------------
	shipcloud_info.html 2017-06-14
	Gambio GmbH
	http://www.gambio.de
	Copyright (c) 2017 Gambio GmbH
	Released under the GNU General Public License (Version 2)
	[http://www.gnu.org/licenses/gpl-2.0.html]
	--------------------------------------------------------------
*}
{load_language_text section="shipcloud"}

{block name="admin_module_center_shipcloud_info"}
	{block name="admin_module_center_shipcloud_info_wrapper1"}
		<div class="main">
			{block name="admin_module_center_shipcloud_info_heading"}
				<table style="margin-bottom:5px" border="0" cellpadding="0" cellspacing="0" width="100%">
					{block name="admin_module_center_shipcloud_info_heading_config_tab_info"}
						<tr class="dataTableHeadingRow">
							<td class="dataTableHeadingContentText" style="width:1%; padding-right:20px; white-space: nowrap">
								{$txt.config_tab_info}
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_info_heading_config_tab_default"}
						<tr class="dataTableHeadingRow">
							<td class="dataTableHeadingContentText" style="width:1%; padding-right:20px; white-space: nowrap">
								<a href="{$tab_urls.default}">{$txt.config_tab_default}</a>
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_info_heading_config_tab_package_templates"}
						<tr class="dataTableHeadingRow">
							<td class="dataTableHeadingContentText" style="width:1%; padding-right:20px; white-space: nowrap">
								<a href="{$tab_urls.package_templates}">{$txt.config_tab_package_templates}</a>
							</td>
						</tr>
					{/block}
				</table>
			{/block}
		</div>
	{/block}
		
	{block name="admin_module_center_shipcloud_info_wrapper2"}
		<div class="gx-container shipcloud-info breakpoint-large">
			{block name="admin_module_center_shipcloud_info_iframe_style"}
				<style>
				iframe.embedded { border: none; width: 100%; min-height: 360em; }
				</style>
			{/block}
		
			{block name="admin_module_center_shipcloud_info_iframe"}
				<iframe class="embedded" src="{$info_url}"></iframe>
			{/block}
		</div>
	{/block}
{/block}