{* --------------------------------------------------------------
	shipcloud_configuration.html 2018-02-14
	Gambio GmbH
	http://www.gambio.de
	Copyright (c) 2017 Gambio GmbH
	Released under the GNU General Public License (Version 2)
	[http://www.gnu.org/licenses/gpl-2.0.html]
	--------------------------------------------------------------
*}

<style>
	button.webhook-action { margin: 0 !important; }
</style>

{block name="admin_module_center_shipcloud_configuration"}
	{block name="admin_module_center_shipcloud_configuration_heading"}
		<div class="main">
			<table style="margin-bottom:5px" border="0" cellpadding="0" cellspacing="0" width="100%">
				{if $tab_urls.info}
					{block name="admin_module_center_shipcloud_configuration_heading_config_tab_info"}
						<tr class="dataTableHeadingRow">
							<td class="dataTableHeadingContentText" style="width:1%; padding-right:20px; white-space: nowrap">
								<a href="{$tab_urls.info}">##config_tab_info</a>
							</td>
						</tr>
					{/block}
				{/if}
				{block name="admin_module_center_shipcloud_configuration_heading_config_tab_default"}
					<tr class="dataTableHeadingRow">
						<td class="dataTableHeadingContentText" style="width:1%; padding-right:20px; white-space: nowrap">
							##config_tab_default
						</td>
					</tr>
				{/block}
				{block name="admin_module_center_shipcloud_configuration_heading_config_tab_package_templates"}
					<tr class="dataTableHeadingRow">
						<td class="dataTableHeadingContentText" style="width:1%; padding-right:20px; white-space: nowrap">
							<a href="{$tab_urls.package_templates}">##config_tab_package_templates</a>
						</td>
					</tr>
				{/block}
			</table>
		</div>
	{/block}
	
	{block name="admin_module_center_shipcloud_configuration_form"}
		<form id="buttonform" action="" method="POST">
			<input type="hidden" name="pageToken" value="{$page_token}">
		</form>
		<form action="{$form_action}" method="POST" class="gx-container" id="sc_configuration" data-gx-controller="shipcloud/shipcloud_config_controller">
			<input type="hidden" name="pageToken" value="{$page_token}">
			<!-- Credentials -->
			{block name="admin_module_center_shipcloud_configuration_form_credentials"}
				<table class="gx-configuration gx-configuration-table breakpoint-small">
					{block name="admin_module_center_shipcloud_configuration_form_credentials_title"}
						<tr>
							<th colspan="2">##credentials</th>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_credentials_api_key_live"}
						<tr>
							<td class="dataTableContent_gm" style="width: 200px !important;">##api_key_live</td>
							<td class="dataTableContent_gm">
								<input class="input-default"
								       type="text"
								       name="configuration[api-key/live]"
								       value="{$configuration.api_key_live}"/>
								{if $configuration.api_key_live == ''}
									<span class="fa-pull-right" data-gx-widget="tooltip_icon" data-tooltip_icon-type="info">
										<a href="{$boarding_url}" target="_new">##unconfigured_shipcloud_linktext</a>
									</span>
								{/if}
							</td>
						</tr>
					{/block}
				</table>
			{/block}
		
			<!-- Miscellaneous Settings -->
			{block name="admin_module_center_shipcloud_configuration_form_miscellaneous_settings"}
				<table class="gx-configuration gx-configuration-table breakpoint-small">
					{block name="admin_module_center_shipcloud_configuration_form_miscellaneous_settings_title"}
						<tr>
							<th colspan="2">##misc_settings</th>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_miscellaneous_settings_api_key_sandbox"}
						<tr>
							<td class="dataTableContent_gm" style="width: 200px !important;">##api_key_sandbox</td>
							<td class="dataTableContent_gm">
									<input type="text" class="input-default" name="configuration[api-key/sandbox]" value="{$configuration.api_key_sandbox}">
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_miscellaneous_settings_mode"}
						<tr>
							<td class="dataTableContent_gm">##mode</td>
							<td class="dataTableContent_gm">
								<div data-gx-widget="checkbox">
									<input type="radio" name="configuration[mode]" value="live" title="Live" {($configuration.mode == 'live') ? 'checked' : ''}/>
									<input type="radio" name="configuration[mode]" value="sandbox" title="Sandbox" {($configuration.mode == 'sandbox') ? 'checked' : ''}/>
								</div>
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_miscellaneous_settings_debug_logging"}
						<tr>
							<td class="dataTableContent_gm">##debug_logging</td>
							<td class="dataTableContent_gm">
								<div data-gx-widget="checkbox">
									<input type="radio" name="configuration[debug_logging]" value="1" title="1" {($configuration.debug_logging == '1') ? 'checked' : ''}/>
									<input type="radio" name="configuration[debug_logging]" value="0" title="0" {($configuration.debug_logging == '0') ? 'checked' : ''}/>
								</div>
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_miscellaneous_settings_api_timeout"}
						<tr>
							<td class="dataTableContent_gm">##api_timeout</td>
							<td class="dataTableContent_gm">
								<input type="number" min="2" max="300" name="configuration[api-timeout]" value="{$configuration.api_timeout}">
								<span class="fa-pull-right" data-gx-widget="tooltip_icon" data-tooltip_icon-type="info">
									##api_timeout_tt
								</span>
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_miscellaneous_settings_parcel_service"}
						<tr>
							<td class="dataTableContent_gm">##parcel_service</td>
							<td class="dataTableContent_gm">
								<select name="configuration[parcel_service_id]">
									<option value="0" {if $configuration.parcel_service_id == '0'}selected="selected"{/if}>##parcel_service_none</option>
									{foreach from=$parcel_services item=parcel_service}
										<option value="{$parcel_service->getId()}" {if $parcel_service->getId() == $configuration.parcel_service_id}selected="selected"{/if}>
											{$parcel_service->getName()}
										</option>
									{/foreach}
								</select>
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_miscellaneous_settings_order_status_after_label"}
						<tr>
							<td class="dataTableContent_gm">##order_status_after_label</td>
							<td class="dataTableContent_gm">
								<select name="configuration[order_status_after_label]">
									<option value="-1" {if $configuration.order_status_after_label == '0'}selected="selected"{/if}>##do_not_change</option>
									{foreach from=$orders_statuses item=orders_status}
										<option value="{$orders_status->orders_status_id}" {if $orders_status->orders_status_id == $configuration.order_status_after_label}selected="selected"{/if}>
											{$orders_status->orders_status_name}
										</option>
									{/foreach}
								</select>
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_miscellaneous_settings_notify_customer"}
						<tr>
							<td class="dataTableContent_gm">##notify_customer</td>
							<td class="dataTableContent_gm">
								<div data-gx-widget="checkbox">
									<input type="radio" name="configuration[notify_customer]" value="1" title="1" {($configuration.notify_customer == '1') ? 'checked' : ''}/>
									<input type="radio" name="configuration[notify_customer]" value="0" title="0" {($configuration.notify_customer == '0') ? 'checked' : ''}/>
								</div>
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_miscellaneous_settings_prefill_email"}
						<tr>
							<td class="dataTableContent_gm">##prefill_email</td>
							<td class="dataTableContent_gm">
								<div data-gx-widget="checkbox">
									<input type="radio" name="configuration[prefill_email]" value="1" title="1" {($configuration.prefill_email == '1') ? 'checked' : ''}/>
									<input type="radio" name="configuration[prefill_email]" value="0" title="0" {($configuration.prefill_email == '0') ? 'checked' : ''}/>
								</div>
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_miscellaneous_settings_prefill_phone"}
						<tr>
							<td class="dataTableContent_gm">##prefill_phone</td>
							<td class="dataTableContent_gm">
								<div data-gx-widget="checkbox">
									<input type="radio" name="configuration[prefill_phone]" value="1" title="1" {($configuration.prefill_phone == '1') ? 'checked' : ''}/>
									<input type="radio" name="configuration[prefill_phone]" value="0" title="0" {($configuration.prefill_phone == '0') ? 'checked' : ''}/>
								</div>
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_miscellaneous_settings_declared_value_min"}
						<tr>
							<td class="dataTableContent_gm">##declared_value_min</td>
							<td class="dataTableContent_gm">
								<input type="number" min="1" max="100000" name="configuration[declared_value/minimum]" value="{$configuration.declared_value_min}">
								<span class="fa-pull-right" data-gx-widget="tooltip_icon" data-tooltip_icon-type="info">
									##declared_value_tt
								</span>
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_miscellaneous_settings_declared_value_max"}
						<tr>
							<td class="dataTableContent_gm">##declared_value_max</td>
							<td class="dataTableContent_gm">
								<input type="number" min="1" max="100000" name="configuration[declared_value/maximum]" value="{$configuration.declared_value_max}">
								<span class="fa-pull-right" data-gx-widget="tooltip_icon" data-tooltip_icon-type="info">
									##declared_value_tt
								</span>
							</td>
						</tr>
					{/block}
				</table>
			{/block}
		
			<!-- sender -->
			{block name="admin_module_center_shipcloud_configuration_form_sender"}
				<table class="gx-configuration gx-configuration-table breakpoint-small">
					{block name="admin_module_center_shipcloud_configuration_form_sender_title"}
						<tr>
							<th colspan="2">##sender</th>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_sender_from_company"}
						<tr>
							<td class="dataTableContent_gm">##from_company</td>
							<td class="dataTableContent_gm">
								<input class="input-default" type="text" name="configuration[from/company]" value="{$configuration.from_company}">
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_sender_from_firstname"}
						<tr>
							<td class="dataTableContent_gm">##from_first_name</td>
							<td class="dataTableContent_gm">
								<input class="input-default" type="text" name="configuration[from/first_name]" value="{$configuration.from_first_name}">
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_sender_from_lastname"}
						<tr>
							<td class="dataTableContent_gm">##from_last_name</td>
							<td class="dataTableContent_gm">
								<input class="input-default" type="text" name="configuration[from/last_name]" value="{$configuration.from_last_name}">
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_sender_from_street"}
						<tr>
							<td class="dataTableContent_gm">##from_street</td>
							<td class="dataTableContent_gm">
								<input class="input-default" type="text" name="configuration[from/street]" value="{$configuration.from_street}">
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_sender_from_streetnumber"}
						<tr>
							<td class="dataTableContent_gm">##from_street_no</td>
							<td class="dataTableContent_gm">
								<input class="input-default" type="text" name="configuration[from/street_no]" value="{$configuration.from_street_no}">
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_sender_from_city"}
						<tr>
							<td class="dataTableContent_gm">##from_city</td>
							<td class="dataTableContent_gm">
								<input class="input-default" type="text" name="configuration[from/city]" value="{$configuration.from_city}">
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_sender_from_zip_code"}
						<tr>
							<td class="dataTableContent_gm">##from_zip_code</td>
							<td class="dataTableContent_gm">
								<input class="input-default" type="text" name="configuration[from/zip_code]" value="{$configuration.from_zip_code}">
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_sender_from_country"}
						<tr>
							<td class="dataTableContent_gm">##from_country</td>
							<td class="dataTableContent_gm">
								<input class="input-default" type="text" name="configuration[from/country]" value="{$configuration.from_country}">
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_sender_from_phone"}
						<tr>
							<td class="dataTableContent_gm">##from_phone</td>
							<td class="dataTableContent_gm">
								<input class="input-default" type="text" name="configuration[from/phone]" value="{$configuration.from_phone}">
							</td>
						</tr>
					{/block}
				</table>
			{/block}
		
			<!-- Cod Account -->
			{block name="admin_module_center_shipcloud_configuration_form_cod_account"}
				<table class="gx-configuration gx-configuration-table breakpoint-small">
					{block name="admin_module_center_shipcloud_configuration_form_cod_account_title"}
						<tr>
							<th colspan="2">##cod_account</th>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_cod_account_bank_account_holder"}
						<tr>
							<td class="dataTableContent_gm" style="width: 200px !important;">##bank_account_holder</td>
							<td class="dataTableContent_gm">
								<input class="input-default" type="text" name="configuration[cod-account/bank_account_holder]" value="{$configuration.cod_bank_account_holder}"/>
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_cod_account_bank_name"}
						<tr>
							<td class="dataTableContent_gm">##bank_name</td>
							<td class="dataTableContent_gm">
								<input class="input-default" type="text" name="configuration[cod-account/bank_name]" value="{$configuration.cod_bank_name}"/>
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_cod_account_bank_account_number"}
						<tr>
							<td class="dataTableContent_gm">##bank_account_number</td>
							<td class="dataTableContent_gm">
								<input class="input-default" type="text" name="configuration[cod-account/bank_account_number]" value="{$configuration.cod_bank_account_number}"/>
							</td>
						</tr>
					{/block}
					{block name="admin_module_center_shipcloud_configuration_form_cod_account_bank_code"}
						<tr>
							<td class="dataTableContent_gm">##bank_code</td>
							<td class="dataTableContent_gm">
								<input class="input-default" type="text" name="configuration[cod-account/bank_code]" value="{$configuration.cod_bank_code}"/>
							</td>
						</tr>
					{/block}
				</table>
			{/block}

			<!-- webhook -->
			{if ($configuration.mode == 'live' && $configuration.api_key_live != '') ||
			($configuration.mode == 'sandbox' && $configuration.api_key_sandbox != '')}
				{block name="admin_module_center_shipcloud_configuration_form_webhook"}
					<table class="gx-configuration gx-configuration-table breakpoint-small">
						{block name="admin_module_center_shipcloud_configuration_form_webhook_title"}
							<tr>
								<th colspan="2">##webhook</th>
							</tr>
						{/block}
						{block name="admin_module_center_shipcloud_configuration_form_webhook_status"}
							<tr>
								<td class="dataTableContent_gm">##webhook_status</td>
								<td class="dataTableContent_gm">
									{if $configuration.webhook_id}
										##webhook_registered<br>{$configuration.webhook_id}<br>
									{else}
										##webhook_not_registered
									{/if}
								</td>
							</tr>
						{/block}
						{block name="admin_module_center_shipcloud_configuration_form_webhook_action"}
							<tr>
								<td class="dataTableContent_gm">&nbsp;</td>
								<td class="dataTableContent_gm">
									{if $configuration.webhook_id}
										<button form="buttonform" class="btn webhook-action" name="delete_webhook" formaction="{$delete_webhook_action}">##delete_webhook</button>
									{else}
										<button form="buttonform" class="btn webhook-action" name="register_webhook" formaction="{$register_webhook_action}">##register_webhook</button>
									{/if}
								</td>
							</tr>
						{/block}
						{if $configuration.webhook_id}
							{block name="admin_module_center_shipcloud_configuration_form_webhook_orderstatus_label_created"}
								<tr>
									<td class="dataTableContent_gm">##order_status_webhook_label_created</td>
									<td class="dataTableContent_gm">
										<select name="configuration[webhook/order_status_tracking_label_created]">
											<option value="-1" {if $configuration.webhook_order_status_tracking_label_created == '-1'}selected="selected"{/if}>##do_not_change</option>
											{foreach from=$orders_statuses item=orders_status}
												<option value="{$orders_status->orders_status_id}" {if $orders_status->orders_status_id == $configuration.webhook_order_status_tracking_label_created}selected="selected"{/if}>
													{$orders_status->orders_status_name}
												</option>
											{/foreach}
										</select>
									</td>
								</tr>
							{/block}
							{block name="admin_module_center_shipcloud_configuration_form_webhook_orderstatus_picked_up"}
								<tr>
									<td class="dataTableContent_gm">##order_status_webhook_picked_up</td>
									<td class="dataTableContent_gm">
										<select name="configuration[webhook/order_status_tracking_picked_up]">
											<option value="-1" {if $configuration.webhook_order_status_tracking_picked_up == '-1'}selected="selected"{/if}>##do_not_change</option>
											{foreach from=$orders_statuses item=orders_status}
												<option value="{$orders_status->orders_status_id}" {if $orders_status->orders_status_id == $configuration.webhook_order_status_tracking_picked_up}selected="selected"{/if}>
													{$orders_status->orders_status_name}
												</option>
											{/foreach}
										</select>
									</td>
								</tr>
							{/block}
							{block name="admin_module_center_shipcloud_configuration_form_webhook_orderstatus_transit"}
								<tr>
									<td class="dataTableContent_gm">##order_status_webhook_transit</td>
									<td class="dataTableContent_gm">
										<select name="configuration[webhook/order_status_tracking_transit]">
											<option value="-1" {if $configuration.webhook_order_status_tracking_transit == '-1'}selected="selected"{/if}>##do_not_change</option>
											{foreach from=$orders_statuses item=orders_status}
												<option value="{$orders_status->orders_status_id}" {if $orders_status->orders_status_id == $configuration.webhook_order_status_tracking_transit}selected="selected"{/if}>
													{$orders_status->orders_status_name}
												</option>
											{/foreach}
										</select>
									</td>
								</tr>
							{/block}
							{block name="admin_module_center_shipcloud_configuration_form_webhook_orderstatus_out_for_delivery"}
								<tr>
									<td class="dataTableContent_gm">##order_status_webhook_out_for_delivery</td>
									<td class="dataTableContent_gm">
										<select name="configuration[webhook/order_status_tracking_out_for_delivery]">
											<option value="-1" {if $configuration.webhook_order_status_tracking_out_for_delivery == '-1'}selected="selected"{/if}>##do_not_change</option>
											{foreach from=$orders_statuses item=orders_status}
												<option value="{$orders_status->orders_status_id}" {if $orders_status->orders_status_id == $configuration.webhook_order_status_tracking_out_for_delivery}selected="selected"{/if}>
													{$orders_status->orders_status_name}
												</option>
											{/foreach}
										</select>
									</td>
								</tr>
							{/block}
							{block name="admin_module_center_shipcloud_configuration_form_webhook_orderstatus_delivered"}
								<tr>
									<td class="dataTableContent_gm">##order_status_webhook_delivered</td>
									<td class="dataTableContent_gm">
										<select name="configuration[webhook/order_status_tracking_delivered]">
											<option value="-1" {if $configuration.webhook_order_status_tracking_delivered == '-1'}selected="selected"{/if}>##do_not_change</option>
											{foreach from=$orders_statuses item=orders_status}
												<option value="{$orders_status->orders_status_id}" {if $orders_status->orders_status_id == $configuration.webhook_order_status_tracking_delivered}selected="selected"{/if}>
													{$orders_status->orders_status_name}
												</option>
											{/foreach}
										</select>
									</td>
								</tr>
							{/block}
							{block name="admin_module_center_shipcloud_configuration_form_webhook_orderstatus_awaits_pickup_by_receiver"}
								<tr>
									<td class="dataTableContent_gm">##order_status_webhook_awaits_pickup_by_receiver</td>
									<td class="dataTableContent_gm">
										<select name="configuration[webhook/order_status_tracking_awaits_pickup_by_receiver]">
											<option value="-1" {if $configuration.webhook_order_status_tracking_awaits_pickup_by_receiver == '-1'}selected="selected"{/if}>##do_not_change</option>
											{foreach from=$orders_statuses item=orders_status}
												<option value="{$orders_status->orders_status_id}" {if $orders_status->orders_status_id == $configuration.webhook_order_status_tracking_awaits_pickup_by_receiver}selected="selected"{/if}>
													{$orders_status->orders_status_name}
												</option>
											{/foreach}
										</select>
									</td>
								</tr>
							{/block}
							{block name="admin_module_center_shipcloud_configuration_form_webhook_orderstatus_canceled"}
								<tr>
									<td class="dataTableContent_gm">##order_status_webhook_canceled</td>
									<td class="dataTableContent_gm">
										<select name="configuration[webhook/order_status_tracking_canceled]">
											<option value="-1" {if $configuration.webhook_order_status_tracking_canceled == '-1'}selected="selected"{/if}>##do_not_change</option>
											{foreach from=$orders_statuses item=orders_status}
												<option value="{$orders_status->orders_status_id}" {if $orders_status->orders_status_id == $configuration.webhook_order_status_tracking_canceled}selected="selected"{/if}>
													{$orders_status->orders_status_name}
												</option>
											{/foreach}
										</select>
									</td>
								</tr>
							{/block}
							{block name="admin_module_center_shipcloud_configuration_form_webhook_orderstatus_delayed"}
								<tr>
									<td class="dataTableContent_gm">##order_status_webhook_delayed</td>
									<td class="dataTableContent_gm">
										<select name="configuration[webhook/order_status_tracking_delayed]">
											<option value="-1" {if $configuration.webhook_order_status_tracking_delayed == '-1'}selected="selected"{/if}>##do_not_change</option>
											{foreach from=$orders_statuses item=orders_status}
												<option value="{$orders_status->orders_status_id}" {if $orders_status->orders_status_id == $configuration.webhook_order_status_tracking_delayed}selected="selected"{/if}>
													{$orders_status->orders_status_name}
												</option>
											{/foreach}
										</select>
									</td>
								</tr>
							{/block}
							{block name="admin_module_center_shipcloud_configuration_form_webhook_orderstatus_exception"}
								<tr>
									<td class="dataTableContent_gm">##order_status_webhook_exception</td>
									<td class="dataTableContent_gm">
										<select name="configuration[webhook/order_status_tracking_exception]">
											<option value="-1" {if $configuration.webhook_order_status_tracking_exception == '-1'}selected="selected"{/if}>##do_not_change</option>
											{foreach from=$orders_statuses item=orders_status}
												<option value="{$orders_status->orders_status_id}" {if $orders_status->orders_status_id == $configuration.webhook_order_status_tracking_exception}selected="selected"{/if}>
													{$orders_status->orders_status_name}
												</option>
											{/foreach}
										</select>
									</td>
								</tr>
							{/block}
							{block name="admin_module_center_shipcloud_configuration_form_webhook_orderstatus_not_delivered"}
								<tr>
									<td class="dataTableContent_gm">##order_status_webhook_not_delivered</td>
									<td class="dataTableContent_gm">
										<select name="configuration[webhook/order_status_tracking_not_delivered]">
											<option value="-1" {if $configuration.webhook_order_status_tracking_not_delivered == '-1'}selected="selected"{/if}>##do_not_change</option>
											{foreach from=$orders_statuses item=orders_status}
												<option value="{$orders_status->orders_status_id}" {if $orders_status->orders_status_id == $configuration.webhook_order_status_tracking_not_delivered}selected="selected"{/if}>
													{$orders_status->orders_status_name}
												</option>
											{/foreach}
										</select>
									</td>
								</tr>
							{/block}
							{block name="admin_module_center_shipcloud_configuration_form_webhook_orderstatus_destroyed"}
								<tr>
									<td class="dataTableContent_gm">##order_status_webhook_destroyed</td>
									<td class="dataTableContent_gm">
										<select name="configuration[webhook/order_status_tracking_destroyed]">
											<option value="-1" {if $configuration.webhook_order_status_tracking_destroyed == '-1'}selected="selected"{/if}>##do_not_change</option>
											{foreach from=$orders_statuses item=orders_status}
												<option value="{$orders_status->orders_status_id}" {if $orders_status->orders_status_id == $configuration.webhook_order_status_tracking_destroyed}selected="selected"{/if}>
													{$orders_status->orders_status_name}
												</option>
											{/foreach}
										</select>
									</td>
								</tr>
							{/block}
							{block name="admin_module_center_shipcloud_configuration_form_webhook_orderstatus_notification"}
								<tr>
									<td class="dataTableContent_gm">##order_status_webhook_notification</td>
									<td class="dataTableContent_gm">
										<select name="configuration[webhook/order_status_tracking_notification]">
											<option value="-1" {if $configuration.webhook_order_status_tracking_notification == '-1'}selected="selected"{/if}>##do_not_change</option>
											{foreach from=$orders_statuses item=orders_status}
												<option value="{$orders_status->orders_status_id}" {if $orders_status->orders_status_id == $configuration.webhook_order_status_tracking_notification}selected="selected"{/if}>
													{$orders_status->orders_status_name}
												</option>
											{/foreach}
										</select>
									</td>
								</tr>
							{/block}
							{block name="admin_module_center_shipcloud_configuration_form_webhook_orderstatus_unknown"}
								<tr>
									<td class="dataTableContent_gm">##order_status_webhook_unknown</td>
									<td class="dataTableContent_gm">
										<select name="configuration[webhook/order_status_tracking_unknown]">
											<option value="-1" {if $configuration.webhook_order_status_tracking_unknown == '-1'}selected="selected"{/if}>##do_not_change</option>
											{foreach from=$orders_statuses item=orders_status}
												<option value="{$orders_status->orders_status_id}" {if $orders_status->orders_status_id == $configuration.webhook_order_status_tracking_unknown}selected="selected"{/if}>
													{$orders_status->orders_status_name}
												</option>
											{/foreach}
										</select>
									</td>
								</tr>
							{/block}
							{block name="admin_module_center_shipcloud_configuration_form_webhook_orderstatus_autoconfigure"}
								<tr>
									<td class="dataTableContent_gm">##orderstatus_autoconfigure</td>
									<td class="dataTableContent_gm">
										<button form="buttonform" class="btn webhook-action" name="orderstatus_autoconfigure" form="clickonly" formaction="{$orderstatus_autoconfig_action}">
											##orderstatus_autoconfigure
										</button>
									</td>
								</tr>
							{/block}
						{/if}
					</table>
				{/block}
			{/if}

			{if $carriers}
				<!-- carriers preselection -->
				{block name="admin_module_center_shipcloud_configuration_form_carriers_preselection"}
					<table class="gx-configuration gx-configuration-table breakpoint-small">
						{block name="admin_module_center_shipcloud_configuration_form_carriers_preselection_thead"}
							<thead>
								<tr>
									{block name="admin_module_center_shipcloud_configuration_form_carriers_preselection_thead_ths"}
										<th>##carrier</th>
										<th>##display_carrier</th>
										<th>##checked_carrier</th>
									{/block}
								</tr>
							</thead>
						{/block}
						{block name="admin_module_center_shipcloud_configuration_form_carriers_preselection_body"}
							<tbody>
								{foreach from=$carriers item=carrier}
									{block name="admin_module_center_shipcloud_configuration_form_carriers_preselection_row"}
										<tr data-gx-widget="tooltip">
											{block name="admin_module_center_shipcloud_configuration_form_carriers_preselection_row_tds"}
												<td class="dataTableContent_gm configuration-label"><label for="preselected_carrier_{$carrier->name}">{$carrier->display_name}</label></td>
												<td class="dataTableContent_gm">
													<input
														type="checkbox"
														name="preselected_carriers[]"
														value="{$carrier->name}"
														id="preselected_carrier_{$carrier->name}"
														{if $preselected_carriers.preselected_carriers[$carrier->name] == '1'}checked="checked"{/if}
													>
												</td>
												<td class="dataTableContent_gm">
													<input
														type="checkbox"
														name="checked_carriers[]"
														value="{$carrier->name}"
														id="checked_carrier_[$carrier->name]"
														{if $checked_carriers.checked_carriers[$carrier->name] == '1'}checked="checked"{/if}
													>
												</td>
											{/block}
										</tr>
									{/block}
								{/foreach}
							</tbody>
						{/block}
					</table>
				{/block}
			{/if}
			
			{block name="admin_module_center_shipcloud_configuration_buttons"}
				<div class="add-margin-top-24 breakpoint-small">
					<div class="pull-right">
						{block name="admin_module_center_shipcloud_configuration_buttons_submit"}
							<input type="submit" value="##save_settings" class="btn btn-primary">
						{/block}
					</div>
				</div>
			{/block}
		</form>
	{/block}
{/block}
